[2011-11-15 19:29] dpavlin opened #1 "linux/einkfb.h - missing or unimplemented?"
Should I start writing one? :-)

debian-armel:~/kindlepdfviewer# make
gcc -O2 -Ilua/src -Imupdf/ -DEMULATE_EINKFB_FILE='"/tmp/displayfifo"' -DEMULATE_EINKFB_W=824 -DEMULATE_EINKFB_H=1200   -c -o kpdfview.o kpdfview.c
In file included from kpdfview.c:28:
einkfb.h:28:26: error: linux/einkfb.h: No such file or directory
make: **\* [kpdfview.o] Error 1

[2011-11-15 21:42] hwhw commented on #1
good catch. It's from the amazon kernel sources and I included it in my toolchain. I forgot about it. Will check its licence ASAP and include it - or create a Makefile target that will download it. I'll keep the issue open until such a thing is in place.

[2011-11-15 22:26] dpavlin commented on #1
Thanks, I already had it on disk :-) Great reader, BTW Caching pages and mupdf renderer really make it a joy.

[2011-11-15 22:28] dpavlin opened #2 "mupdf gamma to implement contrast"
In my experiments with mupdf's pdfdraw:

https://github.com/dpavlin/k3libre/blob/master/pdf2fb.sh

I found gamma option incredibly useful to change contrast of page. I'm somewhat C/lua newbie, so would you mind wrapping it into lua?

[2011-11-16 01:02] hwhw commented on #2
yeah, up to now I didn't even know about this function :-) I added a lua interface for it to the drawcontext (DC). you can set gamma correction via dc:setGamma(1.4) or similar. Still untested, since I'm not in reach of my Kindle right now :-) so I leave this open until tested.

[2011-11-16 16:28] hwhw commented on #2
ok, implemented _and_tested. works faster than I thought, about a few tens of msecs.

[2011-11-16 16:28] #2 closed, assigned to nobody

[2011-11-16 16:29] hwhw commented on #1
thanks. the caching was just a quick try, but it worked out veeeery well.
more on topic: I've included einkfb.h now.

[2011-11-16 16:29] #1 closed, assigned to nobody

[2011-11-26 15:54] dpavlin opened #9 "serializing lua state of current document (zoom, pan, etc)"
Serializing state of document would be useful for last read page tracking, but also for different zoom levels or pans for odd/even pages in pdfs which have different layout.

I'm lua newbie and it seems there are a lot of ways to dump serialize lua data, do you have any ideas about that?

[2011-11-28 20:56] hwhw commented on #9
Hi,

I didn't yet look into it and don't have very much experience regarding this. Lua doesn't have serialization primitives AFAIK, it is a very tight language with a very small standard library. However, I'll bet that there are serialization libraries readily available.

As for storing serialized state information, I thought about using a sqlite interface for Lua. That's the beauty of having Lua

[2011-11-28 21:31] dpavlin commented on #9
On Mon, Nov 28, 2011 at 12:56:28PM -0800, HW wrote:

At first sight, using SQLite for storing page meta-data seems like overkill, but if I share my goal of replacing Kindle reader, making annotations and full-text search[1] which comes with SQLite makes a perfect sense.

I think that model of one meta-data file per original document is correct one (like existing Kindle's pdr files for each pdf), s

[2011-11-28 23:14] hwhw commented on #9
Well, there's full-text, there might be annotations at some point, maybe some fancy "store password" functionality - I've chosen Lua for the ease of prototyping using it, so I though SQLite might roughly follow this line by offering a lot of flexibility.

I concur that metadata per-file is the way to go. Some long-term goal of mine would be to allow the use of crypto-filesystems (via FUSE) to prov

[2011-12-23 22:37] #9 closed, assigned to nobody

[2012-02-15 08:20] houqp opened #12 "failed to build ft.o because of lacking required head file."
When building, it complains: ft.c:21:22: error: ft2build.h: No such file or directory

The thridparty has been updated, so

FREETYPEDIR=$(MUPDFDIR)/thirdparty/freetype-2.4.4

should be changed to:

FREETYPEDIR=$(MUPDFDIR)/thirdparty/freetype-2.4.8

[2012-02-27 20:35] #12 closed, assigned to nobody

[2012-02-27 20:35] hwhw commented on #12
Fixed by yourself, thanks :-)

[2012-02-28 08:38] houqp opened #17 "suggestion for using table serialization in settings module"
hi HW,

please refer to:
http://www.mobileread.com/forums/showpost.php?p=1979888&postcount=73

any comments on this post?

[2012-02-29 18:03] hwhw commented on #17
Yep, read that :-) I agree. SQLite just was the first hammer that got near me, so I took it. At that point I still wasn't sure whether per-file data storage is a good idea at all. I'm still not definitely decided on that. The monolithic approach (a single DB for all documents) has its charme, too. But speed is a good argument here.

In the back of my head I also had a vague idea of using the datab

[2012-03-01 05:31] houqp commented on #17
I think per-file data storage is better for storing book settings. Not just faster to parse, but also easier to maintain. For instance, when user wants to delete a book, they only need to delete the whole folder.

And you are right, single DB has its charm. The native system is super fast in searching. I don't know how they made it.

An other solution might be using these two approaches at the sam

[2012-03-02 00:56] dpavlin commented on #17
I'm all for human-readable serialization per-document. This would allow us to store annotations (once we have them ;-) in same file and allow easy transfer to other device or machine.

[2012-03-03 16:18] houqp opened #24 "the current set zoom feature works not so well for file with large page size"
I found this when testing the djvu file in my computer. The original per-page size is very large, thus after setzoom, its zoom factor turned out to be 0.148515.

Now if I zoom that page with altmode set, the zoom factor is added by 0.1, which makes the page about 70% larger. This step is too large that it somehow make the zoom feature unusable for this kind of files.

Any ideas for deterministic z

[2012-03-03 16:32] houqp commented on #24
I come up with a workaround:
https://github.com/houqp/kindlepdfviewer/commit/84d6bfe3f8ad7bd851b48a82074d6606268a599b

But I think maybe it is a little bit dirty :-(

[2012-03-03 17:40] dpavlin commented on #24
I think that concept of calculating zoom step based on page size is good one.

[2012-03-03 17:50] dpavlin opened #25 "page:getUsedBBox() sometimes return invalid values"
On some pages, getUsedBBox return 0.01,0.01 -0.01,-0.01which breaks fit to content and two column zoom factor by increasing it to 60.

Example file: http://bsdmag.org/system/articles/attachment1s/14274/original/FreeBSD_Portability_With_VMware_BSD_04_2011.pdf

This file contains huge bitmap backgrounds and works really bad with this pdf viewer, partly because of our memory limits. But bounding box

[2012-03-04 11:40] houqp opened #26 "try to add a unireader class to minimize code duplication"
I just added a unireader class so pdfreader and djvureader can act as a subclass of it. This makes adding new reader easier and shorcuts can be unified. For details, please refer to this branch:
https://github.com/houqp/kindlepdfviewer/tree/unireader

I am not very familiar with Lua, so not sure whether this is a good idea. Any suggestions?

[2012-03-04 11:41] houqp commented on #25
seems like a bug in muPDF?

[2012-03-04 12:44] dpavlin opened #28 "write access to repository needed to close issues in commit messages"
I experimented with closing issues using commit messages, and according to https://github.com/features/projects/issues I need write access to repository. This way I create two issues, one for bug itself and another for pull request and that just clutter issue tracker.

https://github.com/features/projects/issues

Close and Reference with Commit Messages

Issues know all about commits. By using a f

[2012-03-04 12:51] hwhw commented on #26
I think it's a pretty good suggestion indeed. It helps to fledge out the format-dependent bits and leaves the interface logic in the unireader class. I would be ready to pull it, I'd say.

[2012-03-04 12:52] #25 closed, assigned to nobody

[2012-03-04 12:53] hwhw commented on #28
I would be very willing to give you and dave write access. You've already invested so much work, it's quite amazing.

[2012-03-04 12:57] hwhw commented on #28
Well, I've not found that config option here in github yet :-) Errm, and it seems to work nevertheless: In the moment I commit a relevant pull request, the ticket gets indeed closed. Nice.

[2012-03-04 12:57] houqp commented on #26
Great! Since this branch is based on the djvu branch, I will fire a pull request once I got djvu support stablized :-)

[2012-03-04 13:06] houqp commented on #28
Wow, this feature is cool! Never know github has this.

[2012-03-04 14:11] dpavlin commented on #28
I would guess that you have to add us as collaborators under https://github.com/hwhw/kindlepdfviewer/admin/collaboration

[2012-03-04 14:14] hwhw commented on #28
well, let's see :-) done that now.

[2012-03-04 14:20] houqp commented on #28
Got it. Thx hw. Just create djvu branch so other can work directly on it.

[2012-03-04 14:42] hwhw opened #29 "Speed optimizations"
I've just switched the default CFLAGS in the Makefile to stop outputting debug symbol information (not performance relevant, but doesn't make much sense when optimizing) - and more importantly switched over to "-O3". The former "-O0" lead to the horrible performance regarding bitmap scaling since a fz_mul255 wasn't properly inlined then - which made for lots and lots of function calls. "-O2" is al

[2012-03-04 14:50] dpavlin commented on #26
I pushed last two patches to djvu branch. With them, I compiled first version which runs on my DXG. Good work, houqp. Should we just merge it to master and continue there? :-)

[2012-03-04 15:24] houqp commented on #26
I am ok with the merge :-)

[2012-03-04 16:37] hwhw commented on #26
I'd say go on then. The fewer loose ends, the better :-)

[2012-03-04 16:54] hwhw commented on #17
I've switched over. Also disabled compiling of SQLite for now, we can add it back when we need it later. The serializer is self-written, since I found none with a proper license (and did not like the output of some which had a proper license). It's quite simple, but it should work OK for our purposes.

[2012-03-05 01:58] #26 closed, assigned to nobody

[2012-03-05 01:59] houqp commented on #24
workaround added to master

[2012-03-05 01:59] #24 closed, assigned to nobody

[2012-03-05 05:25] houqp commented on #17
Just use it to save jump stack, works like a charm! Now I can edit these settings with Vim. :-)

[2012-03-05 06:00] houqp commented on #29
This change rocks!!!!!!!

It  used 20s to render one of my test fileone page previously. Now it can be rendered in 3s!

[2012-03-05 07:18] houqp opened #32 "suggestions for epub library?"
After added epub, I will be able to read all my books in kindle :-)

Any suggestions for which epub library to use? I just found one written in C:
http://sourceforge.net/projects/ebook-tools

It is also the epub backend for Okular.

[2012-03-05 12:01] hwhw commented on #17
Closing for now, we can re-open this issue when, well, issues arise :-)

[2012-03-05 12:01] #17 closed, assigned to nobody

[2012-03-05 12:14] hwhw commented on #32
I think it doesn't render. It is an approach to parse the structure, but when it comes to Hypertext support, we'd want a good rendering backend.

I'm not entirely sure if this really fits in this reader. Then, of course, it would be nice. But that will probably mean to use something like Webkit anyway. This might be a job for coolreader for now. Well, I'm not sure.

PS: What I've thought about bef

[2012-03-05 12:24] hwhw commented on #32
Well, since I was mentioning Coolreader: its CREngine supports EPub... It's C++, so it will be slightly more complicated to integrate, but that _might_ even work. It wouldn't add major new dependencies and it does the rendering on its own... I think it would be a good fit. But maybe we should slow down a bit :-)

[2012-03-05 13:02] houqp commented on #32
Oops, I forget that it does not render. You are right, CREngine is a better alternative.

Yes, we should slow down, djvu support is not complete yet. I am just in curious :)

[2012-03-05 15:15] dpavlin opened #34 "return to file chooser from opened document"
It seems that Alt+Back now exists reader, just like Home does. I would love to have ability to return to file chooser without restarting reader.

Maybe shift+Home could bring file chooser instead of exiting?

[2012-03-05 15:23] houqp commented on #34
If Alt+Back behaviors the same as 'Home', then maybe this shortcut can just be removed.

[2012-03-05 15:37] hwhw commented on #34
Hi, wasn't on purpose. The reader ought to return a boolean to the file chooser that tells whether to continue running. I think I have just messed up and made a typo or something. Will look into that.

[2012-03-05 17:45] dpavlin commented on #34
closeDocument return is one to blame :-)

[2012-03-05 17:49] dpavlin commented on #34
Alt+Back now exits reader (to be honest I don't understand why since it doesn't touch keep_running which _should_ still be true after break), and Home gets you back to file chooser.

[2012-03-05 18:11] hwhw commented on #34
Err, it does? because I've just written a small fix -- the unireader integration sucked up some parts of the exit logic (not in unireader code, but rather in the openFile() in reader.lua)

[2012-03-05 18:47] dpavlin opened #35 "implement manual page crop"
Some pdf files have bounding boxes totally wrong. djvu doesn't have it at all. Before I started using this reader, I was cropping pdfs manually to provide better experience, but now I can code that in lua :-)

Idea is to provide manual margins (with option to specify different ones for odd and even pages) and use that instead of page:getUsedBBox values. This would make two-column mode and all fit-

[2012-03-05 18:51] dpavlin commented on #34
Damn. I had similar changes locally, but they where intermingled with lot of print debugs so I didn't commit them :-)

[2012-03-05 19:03] #34 closed, assigned to nobody

[2012-03-05 23:11] traycold opened #37 "compilation issue"
when making the project (in EMULATE_READER mode), i have to lauch make three time, since it goes in error the first two times. I don't know if it's an issue of my specific environment, or something wrong with makefile.

[code]

[2012-03-05 23:18] hwhw commented on #37
Hm, funny issue you have there. And I have absolutely no idea how to approach it... needless to say that I certainly do not have these problems...

[2012-03-06 01:20] houqp commented on #37
Make complains `make: *** [input.o] Error 1` and you still got `input.o` compiled?

[2012-03-06 01:38] houqp commented on #35
Great feature.

I crop pdfs manually before sending to kindle too, which is tedious.

Just one suggestion. It will be better if it supports cropping for even pages and odd pages separately.

[2012-03-06 01:48] dpavlin commented on #37
I compile with following snippet:

pdf=$1
test -z "$pdf" && pdf=~/Downloads/pdf/
file kpdfview | grep Intel || make clean cleanthirdparty
EMULATE_READER_W=600 EMULATE_READER_H=800 EMULATE_READER=1 make kpdfview
./reader.lua -d emu $pdf

and cross-compile with following one:

export PATH=/home/dpavlin/t61p/k3libre/x-tools-glib2.5/arm-kindle-linux-gnueabi/bin/:$PATH
file kpdfview | grep ARM || make

[2012-03-06 01:54] dpavlin commented on #35
I would probably just save cropping in local file setting and use last available odd or even crop. If coupled with user interface for "recall crop from page xx" it would provide easy way to define cropping I think.

This crop data can afterwards be used to crop pdf on desktop to perfect shape :-)

[2012-03-06 02:09] houqp commented on #37
Just a little bit OT.

Maybe we should introduce autotools to make remote build possible. This will be handy for switching between local and crosscomplie builds. I find it quite CPU and TIME wasting to keep building this two version from scratch :P

[2012-03-06 03:58] houqp commented on #37
um... this happen to me today after I pulled down latest codes. Fix added to my pull request.

[2012-03-06 08:16] traycold commented on #37
Just to be more precise about the snippet i posted:
- I'm referring to compilation in mode `EMULATE_READER=1`;
- I also launched `clean` before make;
- after third launch of `make` i'm indeed able to successfully exeture kpdfview in emulation mode;
- this issue doesn't occur when compiling for kindle; i use scratchbox, set up for `arm` to do this (thus i posted my little mod on `Makefile`, to use

[2012-03-06 09:24] houqp opened #39 "djvu support is broken in 3.2.1 firmware"
ELiNK reports that djvu files cannot be opened in 3.2.1 firmware. When selected a book, kpdfview exits and launchpad displays "Success!".

Do any of you has a 3.2.1 firmware for testing?

[2012-03-06 12:34] houqp opened #41 "Shoule we add a new zoom mode or change current fit to content mode?"
Currently, fit to content width/height mode is not so useful for my k3. Every time I press the shortcut, it is zoomed, but offset is set to the middle of the page. But what I want is to read from the beginning. And I cannot use other keys to navigate inside the page. I am kind of trapped in the middle.

I think a more useful mode will be something like this:

zoom to fit content width, set offset

[2012-03-06 13:47] dpavlin commented on #41
We could turn on navigation rather easy, but I would agree that it would make sense that zoom to page/content width should position view on top of page. @hwhw do you agree with me?

[2012-03-06 13:49] dpavlin commented on #29
@hwhw how did you find inline problem? Do you run some kind of profiler on code?

[2012-03-06 15:57] hwhw commented on #41
Makes perfect sense to me. In fact, centering makes no sense :-) I guess it's a leftover from the time when only zooming was implemented, but navigation wasn't. Which reminds me: I wanted to implement a better pre-caching for zoomed pages. But I'll open another issue for that.

[2012-03-06 16:01] hwhw commented on #29
Yep. I did run gprof. And then I was surprised to find fz_mul255 among the functions that got called most often.

In order to compile with gprof, you have to add "-pg" to the compiler options. Note that your toolchain and the corresponding sysroot must match closely since the profiling API has changed a bit between glibc version, if I got that correctly. A binary compiled with "-pg" will then dump

[2012-03-06 21:30] traycold commented on #37
hi, the issue is fixed after commit by **houqp**

[2012-03-06 21:30] #37 closed, assigned to nobody

[2012-03-06 22:02] traycold commented on #39
I opened a DJVU document on my Kindle DXG updated on firmware 3.2.1 without any problem, building with latest sources as of now.

[2012-03-06 22:49] houqp commented on #39
That's strange. Then what might cause crash? Custom hacks? Maybe we need debug dump in the program to help testing.

Close this issue for now.

[2012-03-06 22:49] #39 closed, assigned to nobody

[2012-03-06 23:42] traycold opened #43 "move third-party git checkouts into submodules"
Was: Should we include a git pull when compiling third party libs?

Since mupdf, djvulibre and luafilesystem are cloned from their git repositories with target `fetchthirdparty`, I think adding a `git pull` statement within target `makethirdparty` could help having more consistent builds (at least, not dependend on when last executed target `fetchthirdparty`)

[2012-03-07 09:44] dpavlin commented on #43
That would make makethirdparty tareget dependent on network, which is unfortunate because we call it when switching from emulation mode to cross-compile which would introduce additional network delay and it would break build when not connected to network.

[2012-03-07 10:05] traycold commented on #43
you're right.
So maybe another approach could be: in target fetchthirdparty, specify the exact commit we want to use, and not just HEAD, when cloning repos. So we are sure that everyone that builds the project, independently by the time it execute the target fetchthirdparty, will get the same code of the third-part libraries.
From time to time, someone may update the Makefile to move to a more rec

[2012-03-07 10:29] dpavlin commented on #43
We should switch to git submodules for third-party git checkout because it already provides ability to checkout exact git version (even on simple clone of our repository).

[2012-03-07 10:42] houqp commented on #43
submodule +1

[2012-03-07 10:54] hwhw commented on #43
Yep, totally in favor. +1.

[2012-03-07 10:57] hwhw commented on #28
I would like to invite traycold to be a collaborator, too. What about the others? And traycold, would you like to have access?

After all, it's git, so damage can be done only temporary and a revert will all make good again :-)

[2012-03-07 11:16] houqp commented on #28
second that. welcome traycold :)

[2012-03-07 13:01] dpavlin commented on #28
traycold++

[2012-03-07 13:06] dpavlin commented on #28
@traycold: I think that your repostory started as fork of djvu branch, which might explain huge number of files on each of your pull request. If that is still a problem, you can delete your local master branch and checkout again hwhw's (origin) with something like this:

[code]

[2012-03-07 14:10] traycold commented on #28
thanks for the tip, i will try it

thank you all! i will gladly try and contribute as much as possible to this project. So my answer is yes, even if in the near future, until i get quite confident with git, i will try not to mess too much with your repo :-) Anyway i may help you to manage "administrative tasks" like closing issues, and so on

[2012-03-07 14:13] hwhw commented on #28
Great :-) So I'll close this issue for now, I intend to reuse it for collaboration-related stuff :-)

[2012-03-07 14:13] #28 closed, assigned to nobody

[2012-03-07 14:53] houqp commented on #41
mode added, close for now

[2012-03-07 14:53] #41 closed, assigned to nobody

[2012-03-07 15:02] dpavlin commented on #28
If you want to have another pair of eyes on your code, just submit pull request as you did before. That's kind of peer-review for source before it lends in master, and I noticed that @houqp doesn't push directly to master, while I mostly do. But, now that you have write permission you can also merge pull requests if they look good to you :-)

[2012-03-07 15:08] traycold commented on #28
thanks for your tip, i will indeed follow your suggestion

[2012-03-07 15:13] houqp commented on #28
Well, I sometimes do directly push to master, but only for little fixes. :)

[2012-03-07 15:32] houqp opened #46 "any plan for new release?"
We have added lots of new stuffs in the reader and the change log in wiki now has one page long. :) It's amazing.

Among all the changes, I think the new `settings` module should be delivered to end users as soon as possible, otherwise, with older version, they will have many sqlite DBs generated in their book folders, which will not be used by the new version from now.

I suggestion once we stopp

[2012-03-07 16:06] houqp opened #47 "Non-ascii characters in djvu file name crashes kpdfviewer"
eLiNK has found the causes the crash in issue #39. Please see his message below:

If I run kindlepdfviewer from ssh, everything goes fine. But when I run it with launchpad, it crashes when trying to open a djvu file from file browser.

I guess this bug might affect file name with characters from other languages as well. Just checked with Chinese file name and it crashes too.

Pdfs are not affected

[2012-03-07 18:35] hwhw commented on #47
Ah. It's djvulibre. Somehow they decided to put an abstraction for URLs in place. They fitted regular files somehow half-baked into that model (sorry, no offense meant) and thus have a distinction for UTF-8 based file names.

On the kindle we have UTF8 based file names. So I guess it's just a matter of replacing ddjvu_document_create_by_filename(...) by ddjvu_document_create_by_filename_utf8(...).

[2012-03-07 18:45] hwhw commented on #46
Yep, I think a new release would be a good idea. Some thoughts on whether we need a migration path for the old .kpdfview SQLite files? I've just chosen .kpdfview.lua - it's quite long for a suffix, but it makes reasonably clear what it's for. I think we can get away with a short instruction to clean up the old files, I do not think we need to migrate data. Opinions?

The amount of work and new fea

[2012-03-08 03:02] houqp opened #51 "90 degree rotation support"

[2012-03-08 03:06] houqp opened #52 "settings dialogues"

[2012-03-08 03:13] houqp commented on #46
I think the long suffix if fine, users will not care about it anyway :)

Agree that no need for data migration. Instructions on Wiki will be enough. For those really lazy users, we can just add a clean up function.

I have added these two features to issue page and tagged with `Feature`. If anyone would like to implement those features, please assign relevant issues to yourself to notify others. H

[2012-03-08 03:34] houqp commented on #47
Um... Just tried the fix, it did not fix the crash. I don't understand why these utf-8 file name does not crash the reader when the reader is invoked from command line. What is the difference between running the reader in command line and with launchpad?

[2012-03-08 03:57] houqp commented on #43
I cannot build after pulled submodule changes. I removed the original directories and do a submodule init, then make fetchthridpart.

When compiling, it complains:

[code]

I have to some how manually do following changes in mupdf:

[code]

What's happenning here?

[2012-03-08 10:57] hwhw commented on #47
Hm, if I have to guess I'd say it's probably an environment variable then. But then I really need to analyze it carefully, i.e. insert some debug output...

[2012-03-08 11:00] hwhw commented on #43
We were faster than the muPDF code itself :-) http://git.ghostscript.com/?p=mupdf.git;a=commitdiff;h=e7bb1c4937593c95065dbbbdd7eb15a73996c470
(we need to push the tag we want at least up to this commit)

[2012-03-08 11:29] houqp commented on #47
Ha, you are right! Just checkout the environment variables. ;-P

Fix added in my pull request.

[2012-03-08 11:45] houqp commented on #43
Thanks for the Tip HW :)

Fixed added to pull request.

[2012-03-08 11:46] #47 closed, assigned to nobody

[2012-03-08 12:48] houqp commented on #51
I will give it a try :)

[2012-03-08 13:06] #43 closed, assigned to dpavlin

[2012-03-08 15:23] dpavlin commented on #35
I have plan to also implement cropping which isn't based on currently visible area, but on separate top/bottom, left/right margins but that shouldn't block next release #46

[2012-03-08 15:54] houqp commented on #35
That might be better indeed.

[2012-03-08 16:33] houqp commented on #46
OK, I guess I will stop adding new features and focus on fixing stuffs before the new release.

[2012-03-08 17:30] hwhw opened #54 "Update to Lua 5.2"
Lua has gotten new features since I have introduced it here. See http://www.lua.org/versions.html#5.2 for notes.

I'm a bit hesitant to include it right now, but will do after the next release-ready version.

[2012-03-08 17:38] hwhw commented on #54
This is a much more thorough overview: http://lua-users.org/wiki/LuaFiveTwo

[2012-03-08 17:52] houqp commented on #54
looks nice :)

[2012-03-08 18:02] hwhw commented on #54
I think the destructors for userdata might be relevant for us. Otherwise probably not so much. Although switching to the generational GC _might_ improve speed - but that would be really minimal.

[2012-03-08 20:34] dpavlin opened #55 "Self-documenting keyboard shortcuts"
Motivation:
- inline documentation for keyboard shortcuts within code itself (for easy maintenance, instead of wiki which we would need to render to pdf to somehow provide as help file in reader)
- provide menu from which users can review shortcuts or select them if they are on device without keyboard (I had Kindle 4 without keyboard in my handles, and it took me a while to figure out that even if

[2012-03-08 23:14] hwhw commented on #55
Oh, the reader, errr, works on the K4NT? Nice. OK, then we really want something like that. Probably, we'll want everything that has a shortcut in a menu as well.

I'm not sure whether we really need that if/then/else. I guess we can use a function like you proposed to generate dynamic Lua code that we can loadstring(). Although that would already be an optimization. We might just replace that if/

[2012-03-09 00:33] houqp commented on #55
Ha, also curious whether the readers works in K4 :)

Just a little note.  Since shortcuts is every where (readers, menus, filechoosers), we might need to put all these into a separate module that focus on handling key events.

If we can have this kind of module, we can even just register handler functions to key combo in that inputloop module. Then on every key event, we just need to pass the `ev`

[2012-03-09 11:42] dpavlin commented on #55
I didn't actually _run_ reader on K4NT, mostly because my time with device was limited to several hours, so I just managed to get ssh access in diag mode and then I run out of time (and then noticed missing keys ;-)

[2012-03-09 11:51] houqp commented on #55
LOL. Does K4NT has a 8bbp or 4bbp framebuffer?

[2012-03-09 12:55] hwhw opened #56 "caching of rendered tiles out of shape"
The mechanism which is used to save rendered tiles should probably get adapted to the current state of things regarding zooming/panning (and later also: rotating). When zoomed, I'd like to render full pages (up to a certain size, at least). Then display only excerpts of those rendered tiles. I think currently, we're re-rendering each time we pan on zoomed pages. Also, pre-caching the next page doe

[2012-03-09 13:11] houqp commented on #56
Will you work on this fix? Seems that it cannot be done without touching C codes?

[2012-03-09 13:17] hwhw commented on #56
Well, it can, it's only relevant for the Lua side. But I'll do it anyway. Weekend is near and I should be able to spend some hours on the code :-)

[2012-03-09 13:23] traycold commented on #55
just a thought about the issue: if we implement a function like
`define_shortcut(key, modifier, function_to_call, help_message)`
then, we may be able to solve the issue of providing a sort of help page, and at the same time we wouldn't not modify the input_loop whenever a new feature (shortcut) is introduced; since the input loop would just determine if there is an action do to based of a table (o

[2012-03-10 00:00] dpavlin commented on #55
@traycold your approach seems similar to @hwhw but you propose to split key and modifier in two arguments? We could probably parse string for modifiers so they are quite similar.

My original suggestion included ev because I envisioned it being inside if/then/end constructs, so it was required to record exact event for later replay from menu. In your or @hwhw approach, we can generate events, so j

[2012-03-10 00:56] hwhw commented on #55
I had a short try today and noticed that this would imply some general changes to input handling as a whole. I'll happily hack on this. However, I think we should stabilize first and do a release, tag that version, and then move on with things like this. Maybe I'll start in a branch.

[2012-03-10 00:59] houqp commented on #55
+1 for document on top of code.

[2012-03-10 01:01] hwhw commented on #55
haha, I think our replys crossed :-) I vote for next.

[2012-03-10 01:02] dpavlin commented on #55
+1 for next release (together with menu to select options without keyboard ;-)

[2012-03-10 01:05] houqp commented on #55
Yes, I just noticed  it. You beat me this time :)

[2012-03-10 01:07] houqp commented on #55
@traycold

@hwhw

You guys should talk over before the hacking. Otherwise we will have two branches. ;P

[2012-03-10 09:15] houqp commented on #46
I just went through the issue page. All the new features are not intended to be included in current release, so I guess we can do a release in this weekend?

BTW, what will be the version number for this release? ;-p

Oh, one more thing, the download hits in the download page suddenly jumped from 40+ to 60. I don't know why.

[2012-03-10 09:24] traycold commented on #55
hi @hwhw, I'm also working on this, i'm committing a working proof-of version (still with half commands/shortcuts already encoded with the new way) on my repo, so feel free to have a look and in case i could make a pull request, when the branch is created on original repo. In any case, even we will never use it, I consider this useful (and funny, too!) for me as a lua-exercise (I just discovered l

[2012-03-10 09:37] traycold commented on #55
Just some small comments on my code: it should be easy to replicate the same behaviour also on other user interface pages (like: filechooser), just modifying the input loop and defining the commands.
Moreover, it should be pretty easy to create a sort of on-line help (let's say, with shortcut H), that will list all the commands and the shortcuts. I also foresaw the possibility of "command-groups",

[2012-03-10 11:43] houqp commented on #55
looks good :)

Finally, no more if elseif else end.

EDIT:
I think we need to come to an agreement on one coding styles. I have seen 3 or 4 styles in our code.

[2012-03-10 14:29] houqp opened #58 "Memory usage control needed"
eLiNK reports that the kpdfview causes his kindle DXG reboot (framework restart) after some page turns. The reboot can always be reproduced by serval page turn in files with large images. I saw his top command output and found that his kindle is ran out of memory:

[code]

This is the snapshot after the reboot, so I guess reader.lua consumed more memnory before the reboot. I suspect the reboot is

[2012-03-10 15:25] houqp opened #59 "Bug in panning with alt key"
Seems that alt key is very different from shift key. When you press alt key alone, it will not generate alt key press event. And when you press alt key with following keys, it will not generate alt key events too:
- Q-P (only numbers, not combinations of alt+char)
- fiveway keys (only fiveway key events, no alt key event)

This leads to a bug in panning. When we use alt + fiveway to pan, it should

[2012-03-10 16:32] dpavlin commented on #55
I'm one to blame for nonCamelCaps functions since I find underscores easier to read. I can adapt, I hope.

[2012-03-10 16:54] houqp commented on #55
The [LuaStyleGuide](http://lua-users.org/wiki/LuaStyleGuide) did not specify a particular form for function name, but as a former Pythoner, I found underscores easier to read too.

I am also ok with camelCaps since it saves more line spaces ;P

[2012-03-10 23:40] hwhw commented on #55
I'm fine with any style, but I'm easily distracted, too. I have no clear preferences and in my (half-)day job, I have to work within a jungle of styles (or the lack thereof). So: underscores are fine to me. But: what style will result in the least amount of needed fixes in the code? :-)

[2012-03-10 23:49] dpavlin commented on #58
When you have DXG with only 128 Mb of RAM you get used to out of memory problems ;-)

On more serious note, we used to stop Kindle framework in launchpad script, but I removed it some time ago because it introduces huge delay on enter and exit since we have to stop/start Kindle framework which seem very like reboot.

I was playing today with sending signals to ckvm (which seems to be Sun's embedde

[2012-03-11 00:04] dpavlin opened #60 "DjVu TOC support contributed on mobileread forum"
Germanc contrbuted diff which implement DjVu TOC at:

http://www.mobileread.com/forums/showpost.php?p=1999308&postcount=143

I tested it with single DjVu with TOC I have and it seems to work well. I asked Germanc for full name and e-mail address for correct attribution in git commit via PM before I commit it to repository.

[2012-03-11 00:38] dpavlin commented on #59
Good catch!

My first thought was to suggest Q-P keys as configurable steps for panning, but then I tried that on Kindle and it doesn't seem intuitive. After pressing a few more keys here is one possible alternative to pan step change:
1. we record last fiveway direction
2. if next event is from fiveway with shift in _same_ direction we _increase_ step to double size and move
3. if next event is f

[2012-03-11 01:01] dpavlin commented on #60
Pull request in #61

[2012-03-11 01:01] #60 closed, assigned to nobody

[2012-03-11 01:50] houqp commented on #59
I found this bug when I was trying to manual crop my book in djvu. And I found it some how impossible to move the main content to the center of the screen just with 100 pixels and 50 pixels move. When I want to try 20 pixels with alt key, the bug jumped out. I guess 20 pixels wont help in some situations too.

This do solve the problem of "oh, I scrolled too much", but I am afraid decreasing step

[2012-03-11 02:03] houqp commented on #55
We are a little bit OT here. Not just functions' names but also variables'. I opened another issue for discussion on styles :)

[2012-03-11 02:12] houqp commented on #58
Oh, that's bad. This makes kpdfview some how unusable for viewing image based pdfs.

Geekmaster said in KT, they have real time garbage collection that prevents the reboot.

If we can turn kpdfview into an opensource kindle OS, then we don't need to worry about all these. ;P

[2012-03-11 02:48] houqp opened #62 "Coding Styles"
The cleanup work should leave to next release I think.

I went through the Lua wiki and following guidances relavent to our project:
- Booleans

It can be helpful to prefix Boolean values or functions used as predicates with is, such as is_directory rather than directory
- Function naming
  camelCap
- Variable naming
  - All variables should use underscores: offset_x
  - global variables should be

[2012-03-11 03:48] houqp commented on #62
For current code, should be camelCap. :)

But given the better readability of underscores, it might reduce potential  bug in future.

[2012-03-11 11:58] dpavlin commented on #62
- tabs for indenting

[2012-03-11 12:00] dpavlin commented on #58
We could ask user opening large pdf file if he wants to turn off Amazon's OS to get more memory I guess.

[2012-03-11 14:00] houqp commented on #58
Yep, I can't come up with better one.

[2012-03-12 23:13] hwhw commented on #56
I just committed a new implementation. However, I'm almost certain that this might have introduced bugs that weren't there before (or that didn't manifest). Please try and report (or, of course, fix) :-)

[2012-03-13 00:16] Germanc commented on #56
It is segfaulting with a lot of files, and there is some weird rendering on top of others (http://imgur.com/1hrBu). Also the right last pixels are repeated on the left (http://imgur.com/7Ku01). Both on emu mode and on the kindle

EDIT: it's segfaulting in line 442 (fb.bb:blitFrom(bb, dest_x, dest_y, offset_x, offset_y, width, height))

[2012-03-13 17:06] hwhw commented on #56
Ah, well, I was almost certain I lost the overview of all the different cases. Maybe it was a wrong decision to tackle that before release :-( I'll play with the patches that were sent (thanks a lot!). But I see that in the end I'd like to have all the layouting code much better abstracted. I would go as far as to say that we need abstractions for points and rectangles, eliminating lots of fine-gr

[2012-03-13 17:07] hwhw commented on #56
And as for why it segfaults: this is probably due to incomplete boundary checks in the C code. I'll insert more cases there that will error out when input parameters are not in the expected constraints. My guess is on the negative value cases.

[2012-03-14 00:05] houqp commented on #62
Since other developers are not so enthusiastic on changing style for function name, I suggest we stick to camelCap and use underscores for variable name (which is what most of current code does). Any comments?

[2012-03-14 12:47] houqp commented on #56
If I were you, I would rewrite the cache strategy too :) I think speed is the most important factor and it will make me feel very uncomfortable if an out of shape cache strategy is delivered to end user ;P

After about half a day of reading (testing), I would say so far the cache system works fine and no crashes happen to me.

Sounds cool! Hope the release can be out soon, there are lots of change

[2012-03-14 16:01] hwhw commented on #62
works for me :-)

[2012-03-16 06:51] houqp commented on #29
Should we strip kpdfview for releases?

[2012-03-16 14:45] houqp opened #67 "handle corruted item in TOC"
Some TOC comes with item that has no page number. Refer to discussion under this commit: https://github.com/hwhw/kindlepdfviewer/commit/c8f87d5661208896a0529b020dae3448b53b85a9

[2012-03-16 15:20] houqp opened #68 "Propose for changing menu item shortcut `Sym` to `/`"
I guess the `Sym` short cut is added for DXG? Would it be better to use `/` instead of `sym`?

[2012-03-16 15:58] #56 closed, assigned to hwhw

[2012-03-16 15:58] hwhw commented on #56
I'll close this one for now.

[2012-03-16 16:03] hwhw commented on #46
Should we release now so we can go on? I see already some loose ends growing...

As for a version number: I'm not quite sure. For what I expected to happen half a year ago, this would definitely earn a "1.0". But then this might mislead some people. We might still aim for the "playful" people - and thus call it "0.9"? Ah, this might make no sense either. I think my vote is on date-based release sc

[2012-03-16 19:46] traycold commented on #46
+1 to relase now: i think there is nothing really blocking as of now, and also the reader could already be used by a general audience (well, probably the fact thay have already rooted the kindle means they are in any case on the geek-side) wihout particular issue. Moreover, the more people use a recent version, the more easily other issues (if any!) could be discovered and fixed.

And also +1 for

[2012-03-17 00:28] houqp commented on #46
GOGOGO! Can't wait for the release ;P

Also agree that kindlepdfviewer is not mature enough for 1.0 release, so 2012.03 seems more appropriate.

[2012-03-17 01:48] houqp commented on #62
I suggest if there is still no objection after the release, we should start cleaning up our code in next release.

[2012-03-18 23:53] hwhw commented on #46
I just tagged v2012.03, updated the Wiki download page and edited the mobileread forum thread. Thank you all very much! It's a real pleasure.

[2012-03-18 23:53] #46 closed, assigned to nobody

[2012-03-19 08:42] traycold opened #69 "sharing point for problematic media"
as referenced on comments for commit c8f87d5661208896a0529b020dae3448b53b85a9, it may be useful if we have a common point where we may shere "problematic meda", i.e. documents that causes issues on kpdfview. For instance they don't open at all; causes crash of application; don't render correctly; have problems with toc; and so on.

Since i didn't find any better place (and i'm a bit lazy to deal w

[2012-03-19 11:29] houqp commented on #69
Nice.

[2012-03-19 12:05] houqp commented on #69
BTW, my dropbox account is the E-mail address on my github profile :)

[2012-03-19 12:46] traycold commented on #69
check your mail, you should have the invite to join the shared folder "kdpfview"

[2012-03-19 13:02] houqp commented on #69
got it :)

[2012-03-19 16:13] houqp commented on #69
@traycold  I just created a internal use only folder, which should be a more appropriate place to hold books like `DSVP.pdf`. But I don't know how to restrict the access to that folder from public. I cann't find any relevant button in the web UI. Can you help me set this up?

[2012-03-19 16:29] traycold commented on #69
hi @houqp, sorry I thought it was a "free" document. Anyway: I changed the public link mentioned above (I also updated the first post) with a link that points to "problematicMedi (public)" (and now the previous link has been disabled). So now to access all folder within "kpdfview" dropbox folder, you need to login into dropbox, and have r/w access.

There is a "link" panel in dropbox web interface

[2012-03-19 16:48] houqp commented on #69
Thanks for the changes :)

I will add one more heavy memory usage pdf file to the internal folder.

[2012-03-19 16:55] houqp commented on #69
Yes, for copyright reason ;P

[2012-03-19 17:28] hwhw opened #70 "Page rotation wrong"
vmonkey reported a bug on mobileread forums with rotated PDF pages:
http://www.mobileread.com/forums/showpost.php?p=2009485&postcount=166

This probably affected all PDFs where pages specified an individual rotation setting. Result was a "blank" page because the page got rotated out of view. You could "rotate it in" with J/K, but this does not properly (re-)calculate bounding box and isn't really

[2012-03-19 17:29] #70 closed, assigned to nobody

[2012-03-20 02:53] houqp commented on #58
memory usage for MuPDF can be now controlled thanks to commit 14b26a4aebd5c95aab5d7b245e9055b2abd4c9ff, now all we need to do is to add a configurable entry in .reader.kpdfview.lua :)

[2012-03-22 01:14] traycold commented on #58
hi guys, with commit e2e5af1c6135f846a0995e45cff0a73bc5a2063d on my fork I addes some debug code to better understand memory usage by muPdf. Wrapping default malloc/realloc/free it's possible to log the allocated memory by muPdf for rendering of PDF documents.
As you can see playing with the value of cachesize, it seems to me that this value is not strictly respected by muPdf (at least, not when t

[2012-03-23 11:18] DVK251 opened #72 "Add support for local links in PDF files"
I think it will be useful to add support for local links in PDF files. I don't mean a links which point to another pdf files or Internet URLs. I mean links which points to other pages of the original document. It is handy thing when reading books which contain endnotes.

[2012-03-23 11:30] hwhw commented on #72
Agreed. And I also had a look. I was waiting for houqp to submit the djvu highlighting - I want to implement it for PDFs, too. When we have cursor handling, adding support for links is the next step. Actually it isn't very hard :-) And it seems I'll have some time to work on it over the weekend.

[2012-03-23 11:54] houqp commented on #58
wow, nice try :)

Hope that "leaking" cache size control can beat that reboot ;P

[2012-03-23 14:41] houqp commented on #55
Just noticed one thing, the command need a multiple key event to one function call API, so key events like "KEY_PGFWD" and "KEY_LPGFWD" can be mapped to the same action. Same thing also applies to "KEY_HOME" and "ALT+KEY_BACK" event.

BTW, in previous design, HOME key is used to exist reader with one key press ;P

[2012-03-26 16:12] houqp commented on #32
I just went through CREngine's API, and wanna give it a try ;P

[2012-03-26 16:17] hwhw commented on #32
More than welcome, of course. I'm going to be quite busy with other things during this week, I hope to get back coding on kindlepdfviewer next weekend.

[2012-03-26 18:51] dpavlin commented on #58
This seems very interesting. I was thinking about using http://www.canonware.com/jemalloc/ mostly after watching https://www.facebook.com/photo.php?v=696488619305 but never got pass source checkout. Do you think it would make sense to pursue this further? (not me, if at all possible :-)

[2012-03-26 18:57] dpavlin commented on #58
@traycold would you mind submitting pull request before we go off-topic? ;-)

[2012-03-26 19:54] dpavlin commented on #69
I'm dpavlin@gmail.com at dropbox.

[2012-03-26 20:04] dpavlin commented on #62
I can't decide if link to this issue should go into README.TXT, should we move it to wiki and include link to that or
create new file DEVELOPMENT.TXT in repository and distribution (and my slight preference is last one). What do you think?

Should we also provide information how to build cross compiler toolchain?

[2012-03-26 20:14] dpavlin commented on #67
I'm under impression that this problem is no longer issue. Am I mistaken? Can we close it @houqp ?

[2012-03-26 20:49] hwhw commented on #62
I'm all for that DEVELOPMENT.TXT. It should contain links, a short explanation of the "two stages" of development, i.e. Lua programming only (only an editor needed), or Lua+C(++), for which a toolchain is needed.

That said, I have made further experiences with the toolchain. When using a rather new toolchain, say a newer Sourcery one, there's the problem with not-matching libstdc++ and libgcc. Bu

[2012-03-27 03:26] houqp commented on #62
+1 for DEVELOPMENT.TXT

[2012-03-27 03:41] houqp commented on #67
Um.. seems that there is still no code to handle TOC entry without page number. I think it can be closed as long as kpdfview can correctly fix the TOC in one of the book that traycold has (refer the the comment in c8f87d5661208896a0529b020dae3448b53b85a9).

[2012-03-27 03:43] houqp commented on #55
I think this issue can be closed?

[2012-03-27 06:24] traycold commented on #58
just submitted the pull-request!

[2012-03-27 06:38] houqp commented on #32
Should I write Lua module directly in C++ or write a C compatible CREngine wrapper first?

[2012-03-27 07:40] dpavlin opened #75 "search inside document"
Implement search (probably on / key ;-) in pdf and djvu files. Hopefully, we can reuse some of highlighting code for it.

This was requested by eLiNK at http://www.mobileread.com/forums/showpost.php?p=2018785&postcount=182

[2012-03-27 07:42] houqp commented on #75
I hope to use `/` key too, but we don't have that in K3 ;P

[2012-03-27 13:09] hwhw commented on #32
Whatever fits best, I think. As long as it renders to BlitBuffer compatible data, it will interoperate with the rest. Another layer of abstraction would not gain a lot, I think. So C++ would be fine. And there's already C++ code that we depend on. Maybe, at some point in the future, we can modulize everything a bit so that one could e.g. chose to use only some dedicated part of the software.

It m

[2012-03-27 13:11] hwhw commented on #75
BTW, the mupdf app included in mupdf has a nice example of an implementation of text search (including finding the coordinates). That's what I intend to use as blueprint for implementing the content-based functionality.

[2012-03-27 13:12] hwhw commented on #55
I agree. At least, for the moment. But I would prefer new tickets when other issues arise.

[2012-03-27 13:12] #55 closed, assigned to traycold

[2012-03-27 13:43] houqp commented on #32
Modularization looks good :)

OK, then I will try using C++ module first (Haven't touched C++ codes for one years ;P). I just coded a ugly working demo and will clean it up tommorow.

It seems that CREngine is not able to make use of the built-in font from MuPDF, either I have to patch it or I might missed something. It will be better if these fonts are external resources.

[2012-03-28 15:32] traycold commented on #67
@houqp : you are right (i.e.: no code in kpdfview to handle corrected TOC); but on the other end, in my case actually was the TOC to be broken (i used a pdf split/merge tool to generate that document); probably, it's not possible in normal situations that a TOC having pages without page numbers may exist.
Moreover, even in that case, kpdfview doesn't crash, just jumped to page 1 when an item witho

[2012-03-28 15:46] houqp commented on #67
OK, so let's close it :)

[2012-03-28 15:46] #67 closed, assigned to nobody

[2012-03-28 16:46] houqp opened #77 "need help from integrating crengine library"
I am not familiar with cmake and get stuck in the build system :(

Since we are now using freetype, I think it's better to keep using it as the font engine in CREngine. By default, CREngine enables Fontconfig. To disable it, we need to set the `USE_FONTCONFIG` macro to 0. But CREngine uses a global `crsetup.h` header to define macros and since this file is part of upstream, I cannot change its con

[2012-03-28 23:01] dpavlin commented on #77
I spend way too much time trying to implement GUI=KINDLEPDFVIEWER target and failing to compile crengine without gui propery. So I decided to hard-code @houqp hack into make fetchthirdparty to provide some help in bootstrap.

My eventual goal is patch to crengine's CMakeLists.txt or new DEVICE_NAME definition which can be submitted upstream or patched on the fly like we had for mupdf.

Android cre

[2012-03-29 00:57] houqp commented on #77
I am for patching to upstream.

[2012-03-29 13:24] houqp commented on #77
We also need to update the jpeg library used by CREngine to release 8d, to keep up with MuPDF.

[2012-03-29 13:58] artemstorozhuk opened #78 "Shortuct for refreshing page"
Hi,

It would be great to have shortcut for refreshing page (like in CoolReader). I've seen such method in API.
Or is it possible for program to refresh page after each leaf (like in default pdf reader in kindle)?

Thanks.

[2012-03-29 14:29] houqp commented on #78
Thanks for the report.

One workaround for this could be editing the `unireader.lua` file. Goto the definition of `Unireader:showMenu` function and you can see following code:

[code]

Change that `1` to `0`. Now everytime you double press the `menu` key, kindlepdfviewer will do a full screen refresh.

Yes, again, you can achieved this by editing `unireader.lua`. At about line 25, you can find a a

[2012-03-30 18:29] dpavlin opened #79 "memory handing and problems"
there are too many memory knobs as described by our problem to communicate correct settings on mobileread forum http://www.mobileread.com/forums/showpost.php?p=2023375&postcount=194

Right now, we in `unireader.lua` we have:

[code]

but we also have in `pdfreader.lua`:

[code]

It seems to me that we need to do `grep MemFree /proc/meminfo` as sane default value (in lua, somehow :-) and then assig

[2012-03-31 00:03] houqp opened #80 "cache size control for DJVU"
Hi,

I just found that djvulibre also provides API for cache size control(starts from ddjvuapi.h line 220). Hope somebody can take a look and add a knob in our code.

[2012-03-31 00:06] houqp commented on #79
Are you referring to change the default value on the fly(before every document open) or just before kindlepdfview starts?

[2012-03-31 00:55] dpavlin commented on #79
I think that getting free memory has to be done in lua, before first document is loaded, but re-distribution between buffers of that value should be done on each document open (for change between pdf and djvu #80 for example)

Even better, we can also check document size on open, and it's really massive ask user if they want to stop kindle framework to gain additional memory.

[2012-03-31 01:06] houqp commented on #79
That will some how make the memory cache uncontrollable by users. So we need a very intelligent auto cache setting system if take this approach.

Also I notice that it is hard to predict memory usage according to file size. One of the file in our share point is only 3M, but still can leads to reboot. And another 100M pdf file of mine consumes less memory than that one. :(

[2012-03-31 07:24] vdp commented on #79
Here is an interesting observation in respect to the memory issues I am experiencing...
I increased "cache_max_memsize" to 15MB and "cache_item_max_pixels" to 5MB from their default values of 5MB and 2MB respectively. Then I open a file (the behavior is the same no matter whether it's a DJVU or PDF) and zoom in at "sufficiently" high magnification level. Then I cycle between two pages back and for

[2012-03-31 12:48] houqp commented on #80
Sorry that I didn't notice you are working on this before I sent #81

[2012-03-31 13:03] dpavlin commented on #32
Argh. I thought it will include relevant comment and not only pull request pointer.

It's segfaults on start. I'm missing fonts, which should be in ./fonts if I'm not mistaken. Where do I get them?

[2012-03-31 13:21] houqp commented on #32
damn it, I also replied to #81. :p

Yes, you need to put fonts in `./fonts` directory.

[2012-03-31 13:28] #80 closed, assigned to dpavlin

[2012-03-31 13:32] houqp commented on #79
nice catch @vdp!

[2012-03-31 13:36] #78 closed, assigned to houqp

[2012-03-31 17:25] houqp commented on #79
Just fixed a bug in pull request #84. The GC circle seems too long and before it do a collection, the size for biltbuffer userdata has already exceed the `cache_max_memsize`. (Actually, I have never seen a collection by watching output of `collectgarbage("count")`).

[2012-03-31 18:19] dpavlin commented on #32
I'm probably compiling it wrong:

[code]

Do you have any special tweaks for building epub branch other than things commited?

[2012-03-31 19:01] dpavlin commented on #79
@vdp can you try https://github.com/downloads/dpavlin/kindlepdfviewer/kindlepdfviewer-b4bf2e5.zip

This includes @houqp fix #84 and memory usage on menu key. It seems to work nice in my limited testing on DXG.

[2012-04-01 00:40] houqp commented on #32
um... I think there is no special tweaks...

Could you set the `DEBUG_CRENGINE` macro in `cre.cpp` and run it again? It dumps more information. CREngine does not check NULL pointers in many places and often causes segfault in unexpected places.

Also make sure that required css files are put in `data` directory.

[2012-04-01 08:25] vdp commented on #79
Thank you very much @houqp and @dpavlin !
I am using the repo HEAD now, which I assume is not much different from the _zip_ which @dpavlin is referencing above.
For me the problem seems to be solved for all practical purposes. I mean I am not absolutely sure that there are no more leaks, but if there are any they are quite minor. I successfully turned about 150 or so pages in both DJVU and PDF. Be

[2012-04-01 09:12] houqp commented on #79
@vdp , we owe you a lot for the testing work and the `interesting observation` :)

Just one more note, seems that djvulibre and mupdf uses cachesize differently. Given the same cachesize, djvu will consume more memory. So the default cachse size for djvu is 10M, while mupdf is 64M. So if the memory usage is too high for you when reading djvu, you may want set two different document cache size for

[2012-04-01 13:06] vdp commented on #79
Thanks, I will take this into account if I run into RAM-related issues with DJVU.

[2012-04-01 16:00] houqp commented on #77
OK, I just managed to force CREngine use the same jpeglib as mupdf does with dirty hacks.

Firstly, use the headers from mupdf's thirdparty by modifying the `CMakeList.txt` in `crengine`:

[code]

Then link `mupdf/build/debug/libjpeg.a` with kpdfview.

When you open a epub file with jpeg images, you will receive a segfaul. After some debuging, I found that the segfault is caused by line 40-42 in `

[2012-04-01 17:43] artemstorozhuk opened #85 "Bug with screensaver"
Hi,

I found interesting bug accosiated with showing screensaver:
1) Rotate image on 90 degrees;
2) Move slider to go to the sleep mode.

After doing this I see something like this:
![After doing this I see something like this.](http://img638.imageshack.us/img638/7183/img20120331112128.jpg)

And after moving slider again:
![And after moving slider again.](http://img36.imageshack.us/img36/8833/img2

[2012-04-02 01:25] houqp commented on #85
Thanks for the report. You may want to look at this reply for some more explanation:
http://www.mobileread.com/forums/showpost.php?p=2016711&postcount=175

In short, current version of kindlepdfviewer does not support screen saver yet. We will fix this in next release. For now, if you want to go to screen saver, please remember to rotate the screen back ;P.

[2012-04-02 04:01] houqp commented on #77
Finally, I decide to use CMake to build all the needed libraries from CREngine (refer to the new commit in my branch). Now no dirty hacks needed for the build environment.

I think the last step towards a successful integration of CREngine into kpview is to fix the segfault pointed out in my previous comment.

[2012-04-02 15:23] houqp commented on #58
can we close this now?

[2012-04-02 16:08] dpavlin commented on #58
Sure. It seems that #79 is followup to this one.

[2012-04-02 16:08] #58 closed, assigned to nobody

[2012-04-03 09:18] houqp opened #86 "Power slide event capturing"
I have been playing with this for a whole afternoon and with little progress. :(

Well, some how I did find a ugly way to capture the event:

use `lipc-wait-event  -s 0 com.lab126.powerd goingToScreenSaver,outOfScreenSaver` to capture the event. Then parse the return value and simulate a event to our inputloop.

This does work for the purpose of event capturing, but it can not hold a exclusive acc

[2012-04-03 19:04] houqp commented on #77
Just found out that though my dirty hack get rid of the segfault, it makes all the images in the book disappeared. :(

EDIT: ok, now fixed

[2012-04-04 12:26] houqp commented on #77
Finally, I managed to compile a arm binary with crereader. Now my kindle can read epubs. :)  But the dirty hack patch make me very uncomfortable.

[2012-04-04 13:28] houqp opened #87 "Wrong TOC title encoding in some DjVu files"
eLiNK reports that one of his djvu book's TOC is not displayed correctly. I uploaded the test file to our DropBox share point  and renamed to toc_title_encoding.djvu.

Some TOC titles in this book contains German umlauts like ä which is not displayed in our reader. After some debugging, I noticed that those German umlauts are not represented in UTF8. For instance, ä is represented as 0xE4 not 0xC3

[2012-04-04 14:10] traycold commented on #87
hi, here follow a quick survey regarding the rendering of umlauts on TOC, using various readers:
- [JavaDjVu](http://javadjvu.foxtrottechnologies.com/): [pure java] umlauts displayed correctly;
- [WinDjView](http://sourceforge.net/projects/windjview/): [based on djvulibre] umlauts displayed correctly;
- [djview](http://djvu.sourceforge.net/djview4.html): [based on djvulibre, actually official djvu

[2012-04-04 14:27] houqp commented on #87
Wow, thanks for the survey :)

Now it is very likely that the bug lies in ddjvuapi.cpp. WinDjView uses low-level APIs from djvulibre, not those defined in ddjvuapi.cpp.

[2012-04-04 20:17] dpavlin commented on #87
In perl, we usually turn magic bit and strings becomes utf-8. It seems that lua doesn't care according to http://lua-users.org/wiki/LuaUnicode and from the codes, it seems that 0xE4 is iso-8859-1 (latin1) encoding.

We are using `ddjvu_document_get_outline` from `libdjvu/ddjvuapi.cpp` but only encoding specific call in that API is `ddjvu_document_create_by_filename_utf8` so we can assume that libd

[2012-04-04 20:40] dpavlin commented on #86
We could stop framework with `kill -STOP <backquote>cat /var/run/cvm.pid<backquote>` and suspend ourselves with `echo "mem" >/sys/power/state` just like `/etc/init.d/framework` does. Would that help?

[2012-04-05 00:39] houqp commented on #87
I tried to create a toc with ä (using djvused) and ddjvu_document_get_outline does returned a correct utf8 encoding. I also tried to create toc with Asian Characters and the encoding is correct too. But my system is using UTF8 as locale.

The spec says toc text should be stored in UTF8. Probably the text of toc in this file is stored in latin1?

LOL

We we might need to hack `ddjvu_document_get_ou

[2012-04-05 01:31] houqp commented on #86
Except from writing `/sys/power/state`, are there anything else the framework does for power management? Maybe we could resume the framework on event occur to let it handle the power management and screen saver drawing?

[2012-04-05 13:36] houqp commented on #86
I happened to find the file `drivers/char/luigi_button.c` in the released kernel source. Looks like the driver for the power slider.

Edit:
`cat /proc/misc` does lists the `luigibutton` device.

[2012-04-05 13:54] houqp commented on #86
Maybe we can pull events from the power button with ioctl on `/dev/pmic`?

[2012-04-06 14:31] houqp opened #89 "Place for storing highlights?"
Just notice that Amazon store the PDF's annotation and highlights in a seperate PDR file. Should we follow this approach? Currently, for djvu, we store highlight in book's setting files which may grow large and unmanageable for users if there are too many highlights.

[2012-04-06 14:56] dpavlin commented on #89
I like the fact that we store highlights together with other data in lua file. This could allow someone to write tool which turns it back to pdf annotations on laptop for example :-)

I had a look at http://code.google.com/p/kindle-annotations/wiki/PDRFileFormat and even wrote some code at https://github.com/dpavlin/k3libre/blob/master/pdr-dump.pl and it seems to me that PDR compatibility would be

[2012-04-07 02:58] houqp commented on #89
I love storing data in Lua too :)  Actually, I mean storing highlight data in another Lua file ;P

Yes, nice to bring PDR read support. Hope the highlight support in MuPDF can be implemented in the near future.

[2012-04-07 11:10] hwhw commented on #89
Well, having a total of three files for a single document is a bit verbose, I think. But then - I would not really care.

Highlighting for muPDF is something I would like to tackle as soon as I'm in front of my development PC again.

[2012-04-07 11:19] hwhw commented on #77
I'll also look into this tomorrow. jpeglib's API changed a tad bit.

This is outstanding, awesome work.

[2012-04-07 11:19] houqp commented on #89
Agree, I will just close it. Let's split it when it become a bottleneck in the future. After all, I am just imaging it ;P

[2012-04-07 11:19] #89 closed, assigned to nobody

[2012-04-07 11:51] dpavlin commented on #77
I just opened my first epub :-)

@houqp great work, do you think we can merge this in master?

[2012-04-07 12:01] houqp commented on #77
Glad to hear that :)

I think it is not ready to be merged into master yet because I am doing some major rewrite now :P I finally find that it is not a good idea to use percent in side document as absolute position pointer. I am replacing it with XPointer. Hopefully, I can get it done and merge your changes before I go to bed tonight. :)

[2012-04-07 13:41] dpavlin commented on #77
No rush, I was just asking :-)

I have one more problem with `make customupdate`:

[code]

What is especially strange is that adding `-v` helps:

[code]

However that also copies a _lot_ of files, including device skins which we don't need, if I'm not mistaken.

[2012-04-07 15:45] houqp commented on #77
That's wired, I don't have that error here. Can you always reproduce it?

Yes you are right, I think, for now, we only need those css files. All the rest should be ignored on copying.

[2012-04-08 00:24] houqp commented on #32
Closing this for now, follow up discussion about CREngine should go into #77.

[2012-04-08 00:24] #32 closed, assigned to houqp

[2012-04-08 06:41] houqp commented on #62
I suggest prefixing global variables with `G_` (or anything else). For instance, `width` and `height` can be written as `G_width` and `G_height`. Currently, the choose method of filechooser and selectmenu all have a `height` argument , which overwrites and is very likely to be confused with the global `height` defined in `reader.lua`.

Also global prefixing can warn developers so they might think

[2012-04-08 11:29] hwhw commented on #62
This is a good idea. I like it much more than, say, drop all globals into a single table. I thought about this, but I like those prefixed globals better, I think.

[2012-04-09 10:43] hwhw commented on #86
I've changed it a bit now and spawn the new process from within kpdfview via fork(). I reused the code you wrote in slider_watcher, since I really like the hackyness of the event emulation :-)
Worked very well for me. This should probably also be incorporated in other event loops.
While working on the code in input.c, I also enabled "waiting forever" in select().

[2012-04-09 11:29] dpavlin commented on #77
Should we use Kindle's ttf fonts instead of shipping our own (I must admit, I prefer Kindle ones ;-)

Since we are installed on `/mnt/us`, we can't just symlink to `/usr/java/lib/fonts` but `mount --bind /usr/java/lib/fonts /mnt/us/kindlepdfviewer/fonts/` works nicely. I looked into `luaopen_cre` but other than environment variable, I don't have clean way to pass font path in. You might have bette

[2012-04-09 11:43] hwhw commented on #77
I'm just in the course of factoring out the linking of fonts by mupdf. Then, we can distribute those fonts ourselves (at least the Droid fonts) and can build on this and also include these and the platform's fonts. I would rather prefer to not mounting stuff, the cleanup can be a mess since mounts essentially are machine state that doesn't get cleaned up if it isn't explicitly done.

[2012-04-09 12:35] dpavlin commented on #77
No need to mount staff, it should be enough to replace our hard-coded `./fonts` with environment lookup.

But, I will wait for you to finish refactoring :-)

[2012-04-09 14:26] houqp commented on #86
Good job, fork looks cleaner. :)

I am closing this issue for now.

[2012-04-09 14:26] #86 closed, assigned to nobody

[2012-04-09 18:10] hwhw opened #96 "font handling changed"
I just commited a larger patch that introduces a new approach to fonts. I hope I got everything in order. Unfortunately, some local Makefile changes of mine (toolchain settings) got in the mix, so I fixed that on the go and made it more flexible. I hope I haven't broken too much stuff - please tell me if I did...

[2012-04-09 19:12] hwhw commented on #77
Instead, I now implemented bind-mounting... that's because we add our own fonts on top.

[2012-04-10 06:23] houqp commented on #96
So far so good :)

Will be better if you put the commit log (538940baf78527137a1151f1408140e3d1b53932) in document.

[2012-04-10 08:51] #51 closed, assigned to houqp

[2012-04-10 12:53] hwhw opened #98 "Auto-rotation on KDX"
There are bug reports about auto-rotation on the KDX (the K3 doesn't have such a feature). I'm not sure if we can do anything about it. We could e.g. poll rotation state? Maybe there's also a lipc-event upon auto-rotation?

[2012-04-10 13:03] houqp commented on #98
If there is a lipc-event then we should be able to capture it by:
`( echo "com.lab126.hal" && lipc-probe -l ) | grep -v org.freedesktop.DBus | lipc-wait-event -mtl "*"`

But I don't have a DXG ;P

[2012-04-10 14:08] houqp opened #99 "Refresh screen shortcut is not working"
When you press `shift+R`, there is no refresh.

[2012-04-10 17:39] dpavlin commented on #96
With invalid font configuration (e.g. old fonts directory which doesn't point to mupdf/fonts and doesn't have all fonts referenced in code) reader segfaults. It's not show-stopper, just a quick note.

I like new build system, btw :-)

[2012-04-10 19:24] hwhw commented on #96
Maybe we should switch over to using mupdf/fonts instead when creating the customupdate ZIP file?

[2012-04-10 23:01] Germanc commented on #96
When launching in emu mode this happen:

#! Font scfont (./fonts/droid/DroidSansMono.ttf) not supported: freetype error
#! Font infont (./fonts/droid/DroidSansMono.ttf) not supported: freetype error
#! Font hpkfont (./fonts/droid/DroidSansMono.ttf) not supported: freetype error
#! Font hfont (./fonts/droid/DroidSans.ttf) not supported: freetype error
#! Font pgfont (./fonts/droid/DroidSans.ttf) no

[2012-04-11 01:02] houqp commented on #96
Or link these fonts in to `./fonts` directory on fetchthirdparty? This can help setup proper emu environment for developers too.

[2012-04-11 09:01] hwhw commented on #96
I think we need a meaningful error message for the above error....
That said, linking mupdf/fonts to fonts is already in the Makefile, I think. I switched the variable over that points to the font folder. So it's hitting developers who already have a symlink there and who didn't update it. Hmmmm....

[2012-04-11 09:24] houqp commented on #96
Oh, I did not notice that the linking is already here, sorry ;P

Then I am for the meaningful error message.

[2012-04-11 14:23] dpavlin opened #102 "configurable line-spacing in crengine"
I did a quick grep over crengine source code, and it seems that they are modifing CSS values to get configurable line space (I'm basing this assumption on code from `crengine/crengine/src/lvtinydom.cpp`.

We should probably have to do something similar, since Linux Journal epubs seem to have too little line spacing to be comfortable read...

I don't have a clear idea where to start, but hopefully

[2012-04-11 20:57] hwhw opened #103 "PDF highlighting: engine now in unireader"
I've just checked in PDF highlighting. Bad thing however is that it is still buggy. And I really hope I did not break djvu highlighting. A quick check showed it was still working. But please test extensively.

I still have to fully grasp the highlighting code. I found some rough edges that were DJVU specific and tried to flesh them out. But PDF highlighting still does not work correctly regarding

[2012-04-11 22:10] dpavlin commented on #103
Great work. It works nicely with pdfs which have real text in them, but when I tried our `test/2col.pdf` or `test/tall.pdf` I got:

[code]

I'm not quite sure how to correctly check if that first element exists, so this is just a report :-)

[2012-04-12 01:19] houqp commented on #102
Following your guidance, I also took a look at lvtinydom and I found two interesting methods in **_lxmlDocBase**_ class:

[code]

**_lxmlDocBase**_ is the base class of **_ldomDocument**_ and In `cre.cpp`, we stores a pointer to a **_ldomDocument**_ instance in CreDocument structure on document open. So I suspect these two methods might be usefull for adjusting line height.

Or we can use the `get

[2012-04-12 02:14] houqp commented on #103
WOW, that's fast!

The segfault pointed out by @dpavlin is caused by reference of null pointer `ptr->text`, is this null pointer expected?

Zoomming is not supported in DjVu neither ;P Current highlighting code should only work in FIT_TO_CONTENT_WIDTH mode, if it works in other mode, then we are just lucky. :)

If needed, we can discuss re-designing the structure for text table returned by getPage

[2012-04-12 09:18] dpavlin commented on #103
What are your objections to current structure? It seems to me that we can implement search #75 using `getText` so I'm fine with current structure.

[2012-04-12 09:42] houqp commented on #103
I am OK with that structure because I am not the one who is hacking on PDF highlight support ;P

This structure is designed for DjVu highlight and fits to djvulibre's API, but I am not sure whether it still fits to MuPDF's.

[2012-04-12 12:36] hwhw commented on #103
I think the current structure is OK. However, at some point (I think after next release) I'd like to allow for a "reformatter". That is a tool that takes the text as returned by getText() and re-calculates lines and order of words. But we should wait with that for now, I think, and use the order in which the muPDF/djvulibre engines return the words.

The concept of "spans" in MuPDF is very similar

[2012-04-12 12:37] hwhw commented on #103
Oh, and I forgot this: I think I know why it segfaults when there is no text. Even "ptr" will probably be zero in that case. Will commit a fix soon.

[2012-04-12 14:37] houqp commented on #103
Seems that this can only be fixed by reformatter. :)

Agree, unireader.lua has grown into a 2000+ lines. It's not friendly to new developers anymore and might become a maintainace nightmare in the future if we don't clean it up.

Ha, I am very excited about the new release :)

[2012-04-12 15:48] houqp opened #106 "Still select time out in waitForEvent"
Following is my crash.log for going into screen saver after a period of time:

[code]

It is strange that the NULL argument is not blocking the select system call forever. Also I don't understand why there is no select time out when running kpv in ssh (even with previous version that does not pass NULL to select).

[2012-04-12 18:42] hwhw commented on #106
I guess the energy management on the kindle is tampering with open input file descriptors or sending signals to our process. Error 4 is EINTR (according to <asm-generic/errno-base.h>), so the system call got interrupted.

While not a really nice solution, I guess for now we can get away by catching errors from input.waitForEvent() and just retrying.

[2012-04-12 19:02] hwhw commented on #106
Hopefully, 57d769e0ae06cdfa8fe9fefa7fab69c25c42baab fixes this for now.

[2012-04-13 07:25] #106 closed, assigned to nobody

[2012-04-13 17:33] #96 closed, assigned to nobody

[2012-04-13 17:33] dpavlin commented on #96
I think we can close this one.

[2012-04-13 17:49] hwhw commented on #103
So far so good. The fix I promised is commited. For now, I'm closing this one. However, API changes in MuPDF will force me to tackle this matter again.

[2012-04-13 20:12] hwhw opened #109 "Release 2012.04?"
Hi,

what do you think, should we release 2012.04 soon?

I'd like to add in a key config for launchpad to restart the framework. But that's it for now. Everything else has time until after release, I think. What do you think?

[2012-04-13 20:14] hwhw commented on #72
So now we have highlighting support even for PDFs. I'd like to wait with the local links until after release, though.

[2012-04-13 21:49] dpavlin commented on #109
I think we need some kind of "info" box before slow operations on device (after select file, after search term entry, etc)... In all places where nothing will happen for more than 1s on screen.

We could use same dialog for "no TOC found", "no text for highlight", "no jumpmarks" and so on. Something small in the middle of the screen (using dimRect ;-) might be one possible solution. It should be s

[2012-04-13 22:21] dpavlin commented on #109
We are also leaving child process hanging after fork. I noticed that I can't re-install reader because kpdfview binary was busy. Should we kill child in `closeInputDevices` and waitpid?

[2012-04-13 22:41] hwhw commented on #109
Yes, I think so. We should note the PID of the child upon fork() and then kill & wait as you said. I'll give it a try right now.

[2012-04-13 22:43] hwhw commented on #102
I took the freedom and introduced an interface for lxmlDocBase->setDefaultInterlineSpace() in e4841e88c4aec0243f97666219997441807f6ab0. In the same turn I prepared an interface for "setStyleSheet" - but that is untested. In CREngine, line spacing can now be set via Alt+PgUp/Down, where Shift+PgUp/Down is left for font size setting.

[2012-04-13 23:13] hwhw commented on #109
Added that in 30228890885a34ca470b35238a27598bd9dad914 - however, a lipc-wait-event process is still left dangling until next screensaver/power cycle. No idea right now - I'll see if I find time for that this weekend, but my time is likely limited.

[2012-04-14 02:13] houqp commented on #102
Great work. I am closing this issue now :)

[2012-04-14 02:13] #102 closed, assigned to nobody

[2012-04-14 06:27] #99 closed, assigned to nobody

[2012-04-14 07:15] houqp commented on #85
Ok, following @hwhw 's instruction, I found that this fix only works well under portrait mode, when we enter kindlepdfviewer in landscape mode, sometimes I get a blank screen in screen saver. @hwhw even reports that he can reproduce the cluttered screen in this way (I only managed to reproduce it once ;P ).

I guess this is caused by the race between the framework and kindlepdfviewer on power slid

[2012-04-14 07:19] houqp commented on #109
Can't agree more with the info box.

I am OK with the release as long as #85 is fixed :)

[2012-04-14 12:42] dpavlin commented on #103
I also have strange problem with pdf highlighting: it works on emulator, but doesn't on device it doesn't and returns "no text in current view!" although getText does return content but it looks strange:

In emulator:

[code]

and on Kindle:

[code]

Y coordinates seem to be flipped. I don't see any calls to `screenOffset` on Kindle, am I calling it correctly in `UniReader`?

Example pdf: http://h

[2012-04-14 12:48] houqp commented on #103
I don't have time to test on kindle device yet, but a quick guess might be the negative y?

[2012-04-14 12:52] houqp commented on #103
On emu mode, _findFirstWordInView gives me this on the second page:

[code]

Did you get your debug info from the same page?

[2012-04-14 12:57] houqp commented on #103
To tell you the truth, the highlight in PDF is not working on my kindle too ;P

I noticed it yesterday, but haven't have time to look into it yet, very likely to be caused by same issue you found.

[2012-04-14 13:15] dpavlin commented on #103
So this is blocker for #109

[2012-04-14 14:06] dpavlin commented on #103
I tried to replace `fz_identity` param of `fz_run_page` with `ctm = fz_scale(1, 1);` but it didn't help. Maybe @hwhw will know better solution :-)

[2012-04-14 16:40] hwhw commented on #103
I'll look into it now. Maybe a signedness / store length issue? Might have gotten a type wrong or something.

[2012-04-14 17:18] hwhw commented on #103
I cannot reproduce. It works flawlessly here. (I did the full clean & recompile approach)

Now I am a bit lost...

[2012-04-14 17:54] hwhw commented on #103
I vote for a compiler bug for now. Personally I'm using Sourcery's 2011.09-70 toolchain, which has gcc-4.6.1.

[2012-04-14 23:30] dpavlin commented on #103
I'm trying to duplicate that enviroment (and document that :-), but I'm getting following error on device:

[code]

I'm compiling with:

[code]

[2012-04-15 00:06] hwhw commented on #103
Yep, sorry, I should have added that that I also use such a staticlibstdcpp setting - and a full sysroot. Sorry, the latter is a bit harder to create, it won't be easy to replicate that. That sysroot has older glibc (and more important: glibc headers).

I have a sysroot directory for my kindle toolchain which basically contains /lib, /usr/lib, /usr/include for a kindle environment. Libraries are s

[2012-04-15 00:11] hwhw opened #112 "Widget framework"
Hi,

to allow for easily creating Dialogs and Menus, I have started a Widget framework.
It's this commit: b6d75b84ecb315b9df15312e0f876bc0d571c56d

The commit message contains example code.

I think I like to migrate other dialogs over to use a Widget based interface when release is done.

I plan to add an implementation for message boxes and similar stuff.

The nice thing about it is that it can

[2012-04-15 00:36] hwhw commented on #112
An example is the creation of the InfoMessage dialog. It is in dialog.lua, and a first use case is the error reporting when opening a document fails (in reader.lua).

[2012-04-15 00:51] hwhw opened #113 "Kindle 4 NonTouch and Kindle Touch support"
This is far off for now, but I want to keep my ideas on this somewhere:

For supporting the other newer Kindles, we (or, hopefully, someone else who actually owns such a device) will need to do the following:
- adapt to different framebuffer. This is easier as it sounds when we keep it simple. I suggest to leave all blitbuffers at 4bpp. Only change two things: On framebuffer setup, create a shadow

[2012-04-15 01:12] houqp commented on #103
Oh... that's a tough one. I think we need to write a guide for toolchian setup after the new release :(

[2012-04-15 01:22] houqp commented on #112
OMG, I love this one. I wish there is a '+1' button on github :P

[2012-04-15 02:07] houqp opened #114 "Adjustable scrollbars"
Refer to http://www.mobileread.com/forums/showpost.php?p=2042845&postcount=239

[2012-04-15 02:11] houqp opened #115 "Screen margin in all modes"
Refer to http://www.mobileread.com/forums/showpost.php?p=2042845&postcount=239

[2012-04-15 10:54] dpavlin commented on #112
@hwhw +1 this is great

[2012-04-15 11:01] dpavlin commented on #112
I tried to add message to filesearcher and failed.

[code]

And when I run it:

[code]

What am I doing wrong? (aside from fact that it InfoMessage should go into setPath probably ;-)

[2012-04-15 11:11] dpavlin commented on #112
I'm getting same SIGSEGV if I try to add it to `crereader.lua` increase/decrease line spacing (which can be slow on device) so I'm **really** doing something wrong.

[2012-04-15 11:43] hwhw commented on #112
OK, this is probably something about the mupdfimg implementation I added. Does it work when you comment out the ImageWidget in the InfoMessage dialog?

Ah well, and we need to add the resource directory to the customupdate building. It did not yet test how it fails when the image simply isn't there (but I think this isn't the problem here).

[2012-04-15 11:44] houqp commented on #112
That's strange, because your patch does not cause segfault in PC. :(

EDIT:
Um.. suddenly, I found many segfults now, and its quite random. I am looking at it.

[2012-04-15 12:20] houqp commented on #112
OK, seems that it is caused by mupdfimg. The segfault disappeared after commenting out the ImageWidget. It is because of my broken toolchain?

EDIT:
The strange part is I can trigger the same segfault even in code that calls no API in mupdf, for instance, invoke a none-empty jump history menu.

[2012-04-16 20:54] #112 closed, assigned to nobody

[2012-04-16 21:01] hwhw commented on #112
I think I fixed it. There was that double-free bug, and then there also was a wrong order of parameters for fz_convert_pixmap. I have no idea how this could have worked before. But believe me, it did here :-)

[2012-04-17 01:57] houqp commented on #112
Yes, no more segfault here. Great job!

[2012-04-17 02:18] houqp opened #120 "Suggestion for introducing API entry in configuration files"
Given the possibility that we might have to introduce in-compatible entry changes in our `*kpdfview.lua` files in the future, I suggest we add an API number entry in every configuration files so we can detect what version the user is using and update to latest version accordingly.

[2012-04-17 03:03] houqp commented on #103
The highlight support works in my kindle with latest code now. I guess we can close this now? @dpavlin, can you double check this?

[2012-04-17 03:30] houqp opened #121 "Regarding debug output wrapper"
I am inclined to use a debug output wrapper to print debug information instead of use print directly.

In this way, we can disable all these debug prints in release (users don't care about these output anyway) and even add a debug mode to redirect the debug log to a file.

[2012-04-17 03:31] houqp commented on #109
Are there anybody still working on new features?

[2012-04-17 09:05] dpavlin commented on #121
This was my original idea when I wrote dump, so I'm all for it :-)

[2012-04-17 09:08] dpavlin commented on #112
@hwhw ++ geat work

[2012-04-17 09:15] houqp commented on #121
Ha, then will you take this task?

[2012-04-17 09:37] dpavlin commented on #103
It indeed does. Even coordinates are correct now :-)

Did you notice that highlight always position cursor **behind** first word on page? Shouldn't it be before it?

[2012-04-17 09:39] dpavlin commented on #109
Left page turning keys on K3 don't do anything

[2012-04-17 09:41] dpavlin commented on #120
I would stick 2011.04 into version (floating point number which will grow, so easy checking for updates) but on the other hand, I would also love to have git commit from which it was built visible somewhere in reader (together with version) so we can get more precise bug reports against versions.

[2012-04-17 09:46] dpavlin commented on #121
I would love to have something like debug("message", var, " message ", var2, ...) which would check with type(var) and print tables using dump. Does this make sense?

[2012-04-17 09:48] houqp commented on #109
Fixed

[2012-04-17 09:51] houqp commented on #121
looks yummy. This issue has been assigned to you ;)

[2012-04-17 09:57] houqp commented on #120
Ha, the commit version reminds me the idea of the Lab page in kpdfviewer, in which users can choose to turn on/off experimental features and look for technical related information like memory usage and some other hacky stuff. This page might be a good place to hold that commit version.

[2012-04-17 10:06] houqp commented on #103
Fixed. :) closing for now.

[2012-04-17 10:06] #103 closed, assigned to nobody

[2012-04-18 02:16] houqp commented on #121
Thanks @dpavlin , closing for now.

[2012-04-18 02:17] #121 closed, assigned to dpavlin

[2012-04-18 08:17] kljohann commented on #59
However on 2012.03 if I use Alt+> or Alt+< first and then press Alt+five way it works correctly. I have not looked at the source though so this is only what I'm experiencing.

[2012-04-18 10:43] houqp commented on #59
Are you using K3 or DXG? In my K3, five moves in in same distance as Alt+fiveway.

[2012-04-18 12:58] kljohann commented on #59
I'm using a K3 too and alt+five way pans by a shorter distance when used immediately after alt+>. But maybe this is a bug and the alt modifier is not reset properly?

[2012-04-18 13:10] hwhw commented on #109
I think we should release very soon. More and more people are trying out the software, and besides new features there are important fixes in the coming release.

Note that we can always do a 2012.04.1 - if needed.

[2012-04-18 13:22] kljohann commented on #59
I checked again and I am not able to reproduce this anymore without keeping alt pressed the whole time which makes this behavior explainable. Sorry for making noise.

[2012-04-18 13:48] houqp commented on #85
I hop the fixes in new release solve this bug, closing for now

[2012-04-18 13:48] #85 closed, assigned to houqp

[2012-04-18 13:58] houqp opened #125 "Regarding highlight records"
There is still one more thing that I am not sure about current highlight implementation:

When we are selecting highlights, we select word by word, but when we are  saving it, words are concatenated into lines. That means we are losing information here, i.e., we cannot easily reconstruct the original words from book settings (Yes, we still can since we got the offset of lines).

I adopted this app

[2012-04-18 14:00] houqp commented on #109
Yes, I am for the frequent release strategy instead of just doing major upgrade. I am OK with the release as long as you guys say OK to #125 ;P

[2012-04-18 14:30] hwhw commented on #125
Somehow I like the "line" approach. It just feels natural to select a span and the selection goes into a single text.

However, we might want precise information when we add exporting later. So I'm not completely sure yet.

[2012-04-18 14:30] hwhw commented on #109
I'm fine with #125, the highlighting can go through an evolution later, I think.

[2012-04-18 14:52] dpavlin commented on #109
Release++ Let's make people happy with all improvements :-)

[2012-04-18 14:53] dpavlin commented on #125
I would also prefer lines, but real test would be desktop application which returned notes to pdf (or something similar). But, it shouldn't stop release 2012.04 :-)

[2012-04-18 14:59] houqp commented on #125
The original text information can be recovered with some computation, so it might not cause too much trouble even on exporting I think. Since you guys are happy with this, I am closing this for now.

[2012-04-18 14:59] #125 closed, assigned to nobody

[2012-04-18 15:00] houqp commented on #109
#125 closed, @hwhw, when do you plan to do the release with your magical tool-chain?

[2012-04-18 16:20] houqp commented on #109
OK, just one more note before I go to sleep :)

All those UIs (filechooser, helppage, etc) which are not using commands module to handle key events will cause striped screen on screen saver.

[2012-04-18 16:27] hwhw commented on #109
I'm doing a release ZIP file now, will be in the Downloads soon. In about 18h, I'll update the Download page and update the thread on MobileRead. So we have a small time window to test ourselves.

The optimization of the screensaver handling will have to wait until next (minor?) release.

[2012-04-19 02:37] houqp commented on #109
@kljohann just found a bug in jump and bookmark feature ;P

EDIT: I just found some other bugs too, I think we will need a minor release soon. I think next time when we do major release, we can release a beta version first, so active users can help us find bugs.

[2012-04-19 07:11] hwhw commented on #109
Nah, I'll do a new ZIP for 2012.04 in a few hours and announce it then. I'll move the tag.

But of course we could do minor releases. Nothing wrong with that at all!

I'm not so sure if the concept of "Beta versions" will work. Our users will start to all use the Beta versions - so they are just "another versions". And we are probably not enough developers to really work in a strict separation of

[2012-04-19 08:07] houqp commented on #109
I am for the minor release, since some of the users already downloaded the 2012.04 release. :)

I see. For me, the advantage of beta is to warn people that new features are likely to have bugs so they won't be too suprised when seeing that some part of the software is not working. But you are right anyway, we are short of hackers ;P

[2012-04-19 12:42] dpavlin commented on #109
Maybe users could get used to "it's free software - if it breaks you get to keep both parts" and just push periodical zips, just like @houqp does?

I'm more-or-less always running git master version, and aside from short period of instability (which we could mitigate by not building new zip) I think reader is stable enough to have it build automatically from each commit :-)

If we add auto update

[2012-04-19 13:06] hwhw commented on #109
I've just published and announced 2012.04.1!

Thanks a bunch guys, I'm still having fun - despite doing actual productive work :-P You really rock, I learned to love GitHub and learned a bunch of stuff while working on this.

I think it's one of the fastest, yet easily adapted readers out there. And I use it a lot myself, so it's not just the programming part, but also the "using it" part that is

[2012-04-19 13:06] #109 closed, assigned to nobody

[2012-04-19 13:17] houqp commented on #109
Congratulations to all :)

I think even an update feature that works in wifi is useful.

I am using it exclusively now, except for mobi format. And I often find myself pressing `N` when wanting to do highlights in native reader ;P

[2012-04-19 14:00] houqp opened #127 "Handle USB plug in/out events"
http://www.mobileread.com/forums/showpost.php?p=2048992&postcount=281
framework should be resumed on these two events.

[2012-04-19 15:41] kljohann opened #128 "Left page keys are not bound"
There are several places where `KEY_PG…` is used without also checking for `KEY_LPG…`, for example in:

[code]

[2012-04-19 18:13] dpavlin commented on #128
`helppage.lua` need rewrite to new event system, and I don't particularly like our usage of `addGroup` for page keys in `unireader.lua` because it's dense code, hard to read and easy to miss adding shortcuts :-)

@houqp I took a quick look at all menu/select like parts of our code, and (at first) it seems to me that there is quite a lot of code duplication there. Do you think it would be doable to

[2012-04-19 19:05] hwhw commented on #128
I'm on a similar mission right now. I'm further tuning and trying how to make the presentation layer (which I named "Widget") interact with a event handler system. I think in a day I have fleshed something out and will be happily accept comments.

Re-entrance in the program flow is indeed a matter here. Thus the separation of Presentation and Layout. It's a bit difficult: I want to allow widgets t

[2012-04-20 02:23] houqp commented on #128
Thanks for the report @kljohann , should be fixed in my pull request ;)

I will move the discussion of our new presentation layer and input loop to a new issue.

[2012-04-20 02:23] #128 closed, assigned to nobody

[2012-04-20 02:27] houqp opened #130 "Discussion thread for UI framework rewrite"
OK, I created this issue for discussion on the design of our new UI framework, so we don't need to hijack #128 ;P

PS: we are somehow using the issue tracker as our mail list now. :)

[2012-04-20 02:28] houqp commented on #130
**_First post from @dpavlin :**_

helppage.lua need rewrite to new event system, and I don't particularly like our usage of addGroup for page keys in unireader.lua because it's dense code, hard to read and easy to miss adding shortcuts :-)

@houqp I took a quick look at all menu/select like parts of our code, and (at first) it seems to me that there is quite a lot of code duplication there. Do you

[2012-04-20 02:29] houqp commented on #130
**_Second post from @hwhw :**_

I'm on a similar mission right now. I'm further tuning and trying how to make the presentation layer (which I named "Widget") interact with a event handler system. I think in a day I have fleshed something out and will be happily accept comments.

Re-entrance in the program flow is indeed a matter here. Thus the separation of Presentation and Layout. It's a bit diff

[2012-04-20 03:43] houqp commented on #130
Seems that everyone, including me, is not happy with the duplication of input loop. I am totally agree with the single input loop approach.

Following is my thoughts on how to maintain a single input loop:

We can have multiple widgets running at the same time, but only one of them is active, i.e. responding to user input. The active widget will register[1] its commands to the main input loop. Wit

[2012-04-20 07:11] dpavlin commented on #130
I'm looking forward to new widget system, @hwhw has done great work so far.

[2012-04-20 08:14] houqp opened #131 "Zip format support"
NuPogodi reports that crengine can read zipped Fb2, I also hope that zipped HTML(html with its imges) can be supported too. Since I often save web pages and read it in my kindle.

[2012-04-20 13:53] eLiNK2gl commented on #131
Actually, in his edited message he mentions that the mobi files are supported as well.
Just in case, it was overlooked.

[2012-04-20 14:45] eLiNK2gl commented on #67
it looks like the pdf2djvu (http://code.google.com/p/pdf2djvu/) creates djvu files, which are somewhat problematic.
The Pdf & Djvu Bookmarker (http://sourceforge.net/projects/djvubookmarker/) reports there are no page numbers attached to the TOC entries but the WinDjView (http://windjview.sourceforge.net/) handles them just fine.

Such files crash the kpdfviewer upon calling the TOC.
The message f

[2012-04-21 04:04] houqp opened #132 "Offset calculation messed up in unireader."
Not sure whether I am right or not, but following is what I observed when trying to fix a bug in highlight feature:
- when we are rendering pages, the origin point is the upper left corner of the page to render. So the points inside the page all have negative offset, while points above the page have positive y offset and the same goes for points on the left side of the page. (refer to calculation

[2012-04-21 04:22] houqp opened #134 "obsolete configuration entry clean up"
Now we have some changes in our configuration files, it will be better if we can have a feature to clean up those obsolete entries in the future.

For now, this page is used to mark all these changes:
- jumpstack - > jump_history
- globalzoommode -> globalzoom_mode

[2012-04-21 11:19] vdp commented on #115
Hi,
I think there will be different opinions about the margins and scrollbars. It depends on the particular document, but in many cases I for one wouldn't like to loose precious screen space for margins or non-essential UI elements. Ideally this could be a configurable option.

[2012-04-21 11:53] houqp commented on #115
Yes, completely agree with you. It must be configurable, otherwise, we will end up to be another sucking reader like the native one.

[2012-04-22 19:48] hwhw commented on #130
I have it finally fleshed out. I hope it proves to be working. For sure I left some nice little bugs for you to find later :-)

What I would like is to discuss the approach I have chosen.

In order to inform you about the code, I would suggest to look at "wtest.lua" (which is an example program using the new UI features), and run it with the "kpdfviewer" executable.

There are a whole lot of new t

[2012-04-22 19:48] hwhw commented on #130
Oh, and it's branch new_ui_code :-)

[2012-04-23 09:54] dpavlin commented on #130
I just did a quick glance through code and new `event_map` approach seems very nice :-)

Widget code is also easy to read, which I like very much, but I found a problem with scheduling: I decreased `scheduleIn` timeout to 3 seconds, and added seconds to os.date, but widget doesn't seem to refresh every 3 seconds if I don't generate events in-between. I will have to take a deeper look in code to fi

[2012-04-23 14:08] hwhw commented on #130
Yes, you are right, scheduling is currently broken because waiting for input for a certain time span is currently broken, too: it is working with a _signed_ integer which holds the time to wait as in us units. And 2^31 us are a mere 2.1s.... I think the C code should also take two parameters, one for the seconds, one for the us. Or properly work on double precision values (which Lua uses internall

[2012-04-23 14:14] hwhw commented on #130
As for the concurrency: It will be a bit of hard work. At the first look, it's threading, not process forking. Although we could also work with a forked process - it's indeed a bit easier to fit in... Now that I think longer about it, I think I see what you mean and it is indeed quite nice. However, it won't be easy to fit this in with the emulation layer. But maybe the other way around: Spawn a t

[2012-04-23 20:30] hwhw commented on #130
Task management had a bug. I think it is working now.

[2012-04-24 03:08] houqp commented on #130
Great work, I am playing with it now :)

[2012-04-24 04:28] houqp opened #137 "page number counting in djvu"
This bug is reported by eLiNK. Jump in djvu by TOC menu leads to one page ahead of the correct one.

I notice that although the page counting in djvulibre library starts from 0, all of the TOC in my djvu books starts from 1. I don't have much djvu books here, so I am not sure whether it is a bug or it is just my books have corrupted TOC. Can you further check this with your djvu books?

[2012-04-24 04:32] houqp opened #138 "release 2012.04.2"
I suggest we do a minor and stable release before we switch to the new UI framework. We have already fixed a couple of bugs now.

[2012-04-24 08:53] dpavlin commented on #138
I agree.

[2012-04-24 08:57] dpavlin commented on #137
I have just a few documents which are djvu and have TOC, and it seems that we are jumping one page too far. Nice example file is DjVu3Spec.djvu

[2012-04-24 08:59] dpavlin commented on #130
Great! I like idea of separate rendering process, but that also can wait until we rewrite reader to use widgets.

[2012-04-24 09:11] #137 closed, assigned to nobody

[2012-04-24 09:12] houqp commented on #137
Oh, how can I ignored `DjVu3Spec.djvu`! Fix commited. :)

[2012-04-24 09:29] hwhw commented on #138
Yep, I agree, too. I think the new UI framework is something like a new major release, since it will involve major changes. Don't let that slow down work in the current code - that is also needed. Taking everything to a new UI framework (what I created is only a suggestion for now!) will take a while. I think I will tend to invest time into slow migration. We can do the work parallel in the separa

[2012-04-25 12:57] eLiNK2gl opened #142 "incessant cursor movement while pressing and holding a five-way key"
Hi,

this issues was originally mentioned at http://www.mobileread.com/forums/showpost.php?p=1879699&postcount=17.
It could be used in the file chooser, in the highlighting mode and in the input box.

Doable?

[2012-04-25 22:57] hwhw commented on #142
Yes, probably. I'll experiment with it a bit.

[2012-04-26 02:32] houqp commented on #138
I think the minor release is ready now.

[2012-04-27 12:55] hwhw commented on #138
Would be OK for me. I'll do it in approx. 5 hours if noone objects.

[2012-04-27 13:47] eLiNK2gl commented on #35
I just would like to make a suggestion as to the possible implementation. Feel free to ignore it if it does not fit into your framework.

Currently shift or alt are to be used in combination with the five-way to pan around.
It is considered by many (me including) as too imprecise.

So, I thought that maybe the following idea would fill the bill.
By, say, pressing 'P' you enter a special panning mo

[2012-04-27 16:07] dpavlin commented on #138
Sure, we'll run out of 2012.04 version otherwise :-)

[2012-04-27 18:21] dpavlin commented on #142
Device and emulator do generate all three event types:

[code]

So simple change from `ev.value == EVENT_VALUE_KEY_PRESS` to `ev.value ~= EVENT_VALUE_KEY_RELEASE` in `UniReader:inputLoop` generate repeated events for all keys (including fiveway), but I'm afraid that repeat rate is a little bit too fast.

However, it's nice effect to see how fast we can refresh e-ink screen, and it does scroll pret

[2012-04-27 18:23] #77 closed, assigned to nobody

[2012-04-27 18:26] hwhw commented on #142
Funny, I did insert them but didn't bother playing with them. I think an easy filter on a certain number of EVENT_VALUE_KEY_REPEATs would be easy to implement. I'll give this a fast try before releasing.

[2012-04-27 18:43] dpavlin commented on #131
zip is added in commit a89c88f40f9069ef8485ae217d362aeb3410daee two new formats, few lines of code :-)

[2012-04-27 18:47] dpavlin commented on #142
OOH, fast refresh is nice combined with partial screen refresh to browse over pages... It's closest possible feature to flipping real book, and it looks nice :-)

[2012-04-27 20:38] hwhw commented on #142
luckily, I got distracted :-P so we didn't do duplicate work (and you did it all...). great! I'll be home again in about half an hour and will test. I think this could go into release, couldn't it?

[2012-04-27 21:16] dpavlin commented on #142
sure :-)

[2012-04-27 21:39] dpavlin commented on #142
I didn't put it in `helppage.lua` and `selectmenu.lua` because I don't think that it makes sense.

[2012-04-27 21:46] #142 closed, assigned to dpavlin

[2012-04-27 22:04] hwhw opened #148 "Compile glue code as dynamic libraries"
I added an experimental branch "dynlib_test" that introduces the Makefile target "libraries" (plus some dependent targets) and allows to compile the C glue code as dynamically insertable libraries. The glue code itself can remain unchanged for that. It's working up to some point, I think it breaks because those dynamic libraries will contain redundant statically compiled libraries themselves - I t

[2012-04-27 22:11] hwhw commented on #142
I'm not so sure with selectmenu, but for now I'm fine with leaving this as-is, since selectmenu isn't used nearly as often as the other parts you cared for already.

[2012-04-27 22:25] hwhw commented on #138
Released! Thanks a lot!

[2012-04-27 22:25] #138 closed, assigned to hwhw

[2012-04-28 00:48] houqp commented on #131
Seems that it still does not support bundled HTML files, i.e. if it opens a zipped website, it cannot properly find the required image files.

[2012-04-28 01:07] houqp commented on #148
Looks cool :)

[2012-04-29 17:29] dpavlin commented on #35
@eLiNK2gl would you give it a try? I did variant of your idea which shows ruler with multiple steps which cover all alphabetic keyboard. I hope that you like it anyway :-)

[2012-04-29 18:41] dpavlin commented on #132
I have somewhat related problem: it seems that djvu documents have coordinates of bounding boxes shifted by 10 or so pixels down. I assume that I'm calculating screenOffset wrong for djvu. @houqp do you have any idea why?

[2012-04-30 02:36] houqp commented on #132
@dpavlin I cannot reproduce it here. By saying bounding boxes, are you referring to the self.cur_bbox calculated in unireader:setzoom() ?

[2012-04-30 07:21] eLiNK2gl commented on #35
actually, I liked it quite a lot. A very nice implementation.
But I think the choice of font size for the lettering would be criticized.

[2012-04-30 07:37] houqp commented on #35
Why? Too small?

[2012-04-30 07:42] eLiNK2gl commented on #35
yes.
But maybe the time has come for me to think about using glasses while reading. :)

[2012-04-30 10:41] dpavlin commented on #132
If you select bounding box manually, it seems to work, but when you show it using `X` it's shifted down. It seems to be problem with `DjVu3Spec.djvu` but it doesn't show on all djvu files (to be honest, I have just 3, and 2 of them show this behavior). I will have to download more of them to give it proper test :-)

[2012-04-30 12:58] houqp commented on #132
AHa, I managed to reproduce it now. It is related to this issue. Previously, `getRectInScreen` is introduced as a helper function for highlight feature. And in the highlight mode, the bbox for djvu file is not the same as pdf because the coordinate in djvulibre starts from the left-bottom. That's why we need to overwrite this function in djvureader.

Now when you use it for the manually crop, the

[2012-04-30 14:19] dpavlin commented on #79
I managed to parse `/proc/meminfo` using code like

[code]

I think it would be save to use `MemFree` as start value and then divide it to `cache_max_memsize` and `cache_document_size`. My real question is what to do with settings variables? Should we just decrease them to value really available and treat them as maximums? Is 8/5 Mb split value we want to keep?

[2012-04-30 14:53] houqp commented on #79
Here is my two cents.

I think we should respect users' choices, i.e. use `cache_max_memsize` and `cache_document_size` as the real value if specified by user in `.reader.kpdfview.lua`. That means user can have complete control over the cache system.

We can add a `max_cache_max_memsize` and `max_cache_document_size` in `.reader.kpdfview.lua` as the maximums limit if needed.

[2012-04-30 18:04] dpavlin commented on #132
@houqp you rock :-) Now I understand what you meant by "overwrite function" :-)

[2012-04-30 18:54] dpavlin commented on #79
I would like to simplify current configuration, not to introduce two more configuration variables :-)

But we _could_ decrease user supplied values if there isn't enough memory?

This seem like better solution that OOM killer which looks very scary to users, especially on DXG where memory is tight:

[code]

In fact, I might need to add in Cached to MemFree just to get _some_ reasonable amount in D

[2012-04-30 21:18] eLiNK2gl opened #158 "partial visualization of a page in the zoom_to_fit_page_width mode (landscape)"
Hi,

there's a bug in the landscape mode.
To reproduce:
1) turn a page (pdf or djvu) counterclockwise
2) select the zoom_to_fit_page_width mode (press 's')

As a result, only the middle part of the page is shown.
Pressing the forward/backward buttons jumps to the next page.

[2012-05-01 02:08] houqp commented on #79
Ok, that makes sense. I would suggest we try it out first :)

[2012-05-01 06:29] houqp commented on #132
OOPS, just noticed that commit a672cf4 is incompatible with previous highlight settings for dvju. So if we read previous setting files for djvu books, the highlight will be displayed in the wrong position. Maybe it's time to use setting API(#120) to handle this incompatibility.

[2012-05-02 22:20] #35 closed, assigned to dpavlin

[2012-05-03 06:03] vmonkey commented on #158
Agree, however for me it seems not so easily reproducible - for one of my files this happens only on 5th page, on others not.

[2012-05-03 08:49] eLiNK2gl commented on #158
Hmm, on my KDXG I have this problem with every single file (I checked 7 files in total).
I'll do a clean install of the last release and report back.

[2012-05-03 11:39] eLiNK2gl commented on #158
Have done the clean install, the problem persists.

[2012-05-03 20:34] dpavlin commented on #158
I can reproduce this is emulator using

[code]

since we don't really have screen rotation under SDL (which I should appreciate, @hwhw hint, hint ;-)

[2012-05-03 20:46] dpavlin commented on #158
From reading code, it seems that @eLiNK2gl, @vmonkey are expecting behavior which is `ZOOM_FIT_TO_CONTENT_WIDTH` and bound to `shift`+`s` instead of just `s`, which is `ZOOM_FIT_TO_PAGE_WIDTH`

I was under impression that page zoom modes don't mess with previous/next keys while content zoom modes do, so I don't think this is really a bug. Maybe a documentation update?

[2012-05-03 20:49] dpavlin opened #163 "release 2012.05.xx"
If #158 is resolved are we for last release of old code-base? (remember to replace xx with date :-)

[2012-05-03 20:54] hwhw commented on #158
I hope that I can get back to the code this weekend. New Laptop over here, I need to fiddle a bit to get everything running again. And SDL rotation is on my list. Maybe even custom resizing, too, but that would not be easy to integrate into the software for now.

[2012-05-03 20:54] dpavlin commented on #163
Sigh, we should probably address #134 and #120 before release...

[2012-05-03 21:10] dpavlin commented on #158
I would love to implement continuous pages mode, but it seems I will be quite busy during next few weeks, so I can't promise anything... I still have to dig into new ui branch, so I can wait, no problem :-)

[2012-05-03 21:13] dpavlin commented on #158
This code is not really intended for merge, but might show nicely how to debug reader by instering debug statement here and there...

[2012-05-04 01:06] houqp commented on #163
And the last comment in #132 :)

[2012-05-04 01:17] houqp commented on #158
That's it. The problem here is it necessary to make these fit to page mode work like fit to content mode?

Aha, I also want to bring highlight support from crengine and play with the new UI framework. But I am on travel tomorrow for a couple of weeks. I only have a netbook with me on the road, so I guess I won't have time for coding ;P

[2012-05-04 05:11] vmonkey commented on #158
I am not sure if this issue was understood correctly. So I will try to explain it once more.

1) Open this file: http://ubuntuone.com/3M757qU3CAVLjuZiGtAeYv
2) Because it is not readable in portrait mode, do a rotation using J.
3) Since I now want to have the page larger, I just press S and then navigate inside the page using fiveway. Everything works. To get to next page I use > button.
4) On the

[2012-05-11 15:21] dracodoc commented on #115
I support the configurable margin option. The current design did use every last pixel, but the edge could be shadowed by the screen holder.

I also would like to have the option to make the margin border invisible. Right now the pdf often have a gray border in fit page view and other views. I think these gray areas are distracting and useless. The original pdf reader will just display them as invi

[2012-05-11 15:41] dracodoc opened #164 "problems with go to screensaver behaviour"
It seemed that if I use the power slider in file browser mode, the DXG will go to a sleep mode with current display. Because there is no prompt nor it is the screen saver, I thought the reader just lost response! Another slide of power switch, it back to normal again.

So I think when user use the power slider in file browser mode, it should either go to screen saver or give some prompt that it ha

[2012-05-11 18:47] dracodoc opened #165 "suggestions on UI on different cases"
1. In fit page mode, the unused area of screen is displayed as gray border. I'd like it change to less intrusive ways, like 4 small cross at 4 corners.
2. In fit width mode, there is no indication that whether there is area not shown above or below. I suggest 2 small downward arrows at the two sides of the bottom if there is content left below, and upward arrows on sides of top if there is content

[2012-05-14 13:40] hwhw commented on #164
Yep, filechooser is not sleep-save at the moment. But it should have presented the screensaver picture, I think. At least _with_ the framework running.

Without the framework, maybe we should present a screensaver image ourselves. But it should go into the sleep mode, I think.

Think of the sleep mode as being a more platform-like event, the framework will just present a nice image when that happe

[2012-05-14 13:43] hwhw commented on #165
I'm not in favor of changing key assignments now, I think. Rather I'd like to have this fully configurable later. The same goes for the border style. For PDFs, I like gray borders, but I can see that not everyone will like it that way. Also, gray is more "flashy" upon screen updates.

As for the rest: those are valid assumptions. However, I will put my energy into the overhauled next version, I th

[2012-05-14 13:50] hwhw opened #166 "NuPogodi patch: How to integrate?"
Hi,

here @NuPogodi published a patch: http://www.mobileread.com/forums/showpost.php?p=2080025&postcount=380
It has some nice things, however, it's not easy to separate the new functionality and I'm having a hard time figuring out how to integrate it... Ideas?

[2012-05-14 16:46] houqp commented on #166
Um... maybe we can create an other branch for his patched version so we can do some reviewing and gradually integrate the changes. It will be a lot better if we can persuade him to join us in github :)

[2012-05-16 15:48] dpavlin commented on #166
I tried to checkout version on which this patch is based and copy all changed files over to create branch with changes. However, since most of code also does some re-indenting this created large and wrong diff. Then I tried to make diff -w (which should at least ignore white-space changes) but that patch failed to git apply (although it was generated by git itself).

[2012-05-16 22:25] dracodoc commented on #165
I fully understand your priorities. Another suggestion:
If it possible to have a key for "previous/next bookmarked page"? I bookmark a lot in reading, then I would input notes to computer after finishing the book. In original software, I have to click a bookmark, read it, back to bookmark list, move to next bookmark, click again, .... If there is some key like shift+> to jump to next bookmarked pa

[2012-05-17 03:00] houqp commented on #165
In theory, it is very easy to implement. But in practice, I can't come up with a good shortcut for it. If you want to use `shift+>` for this feature, I can send a dirty hack patch to you.

[2012-05-17 03:10] dracodoc commented on #165
Thanks a lot!

I didn't notice that shift + > is already used for zooming, so maybe we can use "." "/"? If single key is possible, I'd like to have "." for previous bookmarked page, and "/" for next bookmarked page. If key combination is needed, we can use shift + ".", "/". Of course the best solution is the user customizable keys.

In this way the patch don't have to disable the zoom feature, may

[2012-05-17 07:59] eLiNK2gl commented on #165
an alternative would be to enable a navigation mode (which could be useful both for jumping through bookmarks or selecting hyperlinks). Upon entering such a mode, the user could use shift + > or <.

[2012-05-18 19:25] dracodoc opened #168 "grayed area in column mode"
I'm reading a 2 column pdf (which is a Acrobat OCRed cleanscan file). In column mode, when I press down with the five way rocker, the lower part of column have the upper area(6 lines) grayed. If I press up, the higher part of column have the lower area grayed too, even at first the higher part was displayed correctly. Press F again will back to left corner and reset the page, and the gray area wil

[2012-05-18 20:50] dpavlin commented on #168
You can use ssh and dd to take screenshots. Example of such script is https://github.com/dpavlin/k3libre/blob/master/ssh-screenshot.sh

I did tweak margin code quite a few times, and I only graying I can reproduce with current master is in shift+F mode, on 600*800 screen when I press down fiveway twice on first page. But, I'm not sure if that is effect you are describing.

[2012-05-18 21:01] dracodoc commented on #168
I took some pics and uploaded here, start from this one
https://picasaweb.google.com/lh/photo/YvRKG2nNIGf2KLVXSbIYyNMTjNZETYmyPJy0liipFm0?feat=directlink

https://picasaweb.google.com/lh/photo/zBv56FYoGOkKhzS-wvLBytMTjNZETYmyPJy0liipFm0?feat=directlink

https://picasaweb.google.com/lh/photo/KsP0eYlIkVcQIxM6BCmpWtMTjNZETYmyPJy0liipFm0?feat=directlink

https://picasaweb.google.com/lh/photo/uR1WwlEKo

[2012-05-18 21:25] dpavlin commented on #168
Oh, now I understand. It's behaving as it should :-) Idea behind gray-out part of screen to to mark part of page which you already seen so that's why this part is always grayed out.

Shift+R will just refresh e-ink display while entering and exiting menu will redraw whole page and reset grayed out margin. I find difference useful if I want to remove grayed out part.

[2012-05-18 21:36] dracodoc commented on #168
OK, got it. Actually I thought about this when I first saw it. However when I move back to previous view by press up, the lower part of upper column was gray-out too. I think here it should be displayed as fully normal, because this gray part should at least displayed as normal in one of two views.
https://picasaweb.google.com/lh/photo/uR1WwlEKoxwoAYygBPq7wdMTjNZETYmyPJy0liipFm0?feat=directlink

S

[2012-05-18 22:27] dpavlin commented on #168
Current code simply displays already displayed part as grayed out. Implementing graying that you suggest would involve some kind of additional storage which would record last move so we can detect this special case (up/down) and would introduce additional code complexity while violating original design of "always show already visible part as grayed out".

Having said that, I'm of course biased tow

[2012-05-18 23:19] hwhw commented on #130
I've just commited a first approach to a reader widget. It only has paging, panning, zooming, rotation for now. And I did only an implementation for PDF documents. I'll need to do an overview of this, I guess...

Also, I've restructured the source directory. In the end I would like a mostly clean base directory, all the glue code should also go into a "backend" directory or similar.

[2012-05-19 00:10] dracodoc commented on #168
OK, I can accept current design. At first I was confused about the gray part because it appeared in previous view too. Knowing the meaning of it I can understand and accept it.

[2012-05-19 00:10] #168 closed, assigned to nobody

[2012-05-19 22:55] dpavlin commented on #163
9de055eb5d881efa3e8a3dbd6ce7372bb6cc6744 is important fix, but it will go in with @NuPogodi changes I guess...

[2012-05-20 00:13] #166 closed, assigned to nobody

[2012-05-20 00:20] dpavlin commented on #132
@hpouqp could you write code along the lines of f55654f03ee29251b7a8830a407a5747a3602152 ?

I don't have any djvu files with highlight saved :-)

[2012-05-20 00:25] #158 closed, assigned to nobody

[2012-05-20 02:19] houqp commented on #132
@dpavlin Yes, of course :) But I will not be able to get back to my development PC before Wed. ;p

[2012-05-20 02:59] houqp commented on #130
Great work @hwhw ! It looks really nice :) Cant wait to play with it...

[2012-05-20 12:31] #120 closed, assigned to dpavlin

[2012-05-20 12:31] #134 closed, assigned to dpavlin

[2012-05-21 14:37] aliabbasjp opened #171 "note taking feature"
note taking feature will make this a complete replacement for kindle os!

[2012-05-21 14:39] aliabbasjp opened #172 "cursor granularity"
It becomes very difficult to highlight text as one needs to move the cursor one line \word at a time testing your patience! . I suggest a solution to increase the granularity of the cursor movement such that it becomes very easy to directly access any spot on the screen using just 2 key presses. This can be done by mapping the screen to a 9x10 grid and assigning the first two rows of the keyboard

[2012-05-22 06:51] houqp commented on #172
Agree with you. Feeling lucky that I bought a K3 instead of K4 :)

I have another idea (stolen from Vim):

Use the numeric keys (1, 2, 3, 4) to indicate how many times to repeat for a motion. For instance, when you press `W` ( or 2) then press `down`, the cursor will move two lines downward.

Which one do you think is better?

[2012-05-24 07:00] aliabbasjp commented on #172
i guess grid solution is more intuitive and UI friendly since it takes on 2 key presses  to go to any location!

but what the developer thinks about this issue?

[2012-05-24 10:16] eLiNK2gl commented on #172
houqp is the developer (aka as dave2008).
Actually, I like both approaches. Still, I'm wondering if having a grid over your page is really that convenient from the practical point of view and can be implemented as inobtrusive as possible so that it does not become a distraction factor.

What is clear though, is that the cursor performance should be improved as well.
It is currently very slow. E.g.

[2012-05-24 15:24] houqp commented on #172
Maybe we can implement both and leave the choice to users :)

Yes, cursor performance is bad, I will open another issue for it.

[2012-05-24 15:25] houqp opened #175 "cursor performance needs to be improved"
The moving speed is too slow.

[2012-05-24 17:34] aliabbasjp commented on #172
you can also have a transparent grid with indexes displayed  on the screen itself in the highlight mode which would allow the user to move to the correct cell . This will improve the usability. More ever this method is more intuitive on multi col docs.
please see :http://en.wikipedia.org/wiki/Fitts%27s_law

[2012-05-26 16:34] houqp opened #176 "kite support"
refer to:
http://www.mobileread.com/forums/showpost.php?p=2090800&postcount=465

[2012-05-26 19:19] geekmaster commented on #113
The 8-bit framebuffer devices require that the bottom 4 bits contain a copy of the top four bits, as can be seen in the gpl source code. They are really just 4bpp, so it is easier that it may look. To display more than 16 shades of gray, images are dithered down to 4bpp. You can see that by copying the framebuffer while a picture is displayed, then do a histogram analysis on it. You will see that

[2012-05-27 03:47] th0mass commented on #113
Please start a donation thread on mobileread to enable us to donate to buy a Touch and a Kindle4NT for developers (seperate accounts for each would be more appropriate)

[2012-05-27 12:59] houqp commented on #130
I have a question, how to rewrite part of ReaderPaging for a specific format?

Now page forward/backward keys only trigger gotoPage method. however, for crengine, we don't go to pages, but offset within documents or xpointers. It seems that all format related code are moved to document modules?

[2012-05-27 13:25] hwhw commented on #130
I would say we should add another navigator that is used in place of ReaderPaging for documents that aren't paged. This is how I planned it to do. I hope it works...

[2012-05-27 13:29] houqp commented on #130
OK, I will wait for your work :)

[2012-05-27 14:24] hwhw commented on #130
I did not mean to do it myself, though :-) That was just an awkward way to express that I was _thinking_ about it that way... So go ahead if you want! I hope to spend some hours on the code, too, but there's still more than enough to do :-)

[2012-05-27 14:46] houqp commented on #130
ha, the fact is I will have to go travel tomorrow for 4 days. So I will be away from my development laptop again. :)

[2012-05-27 15:44] #132 closed, assigned to houqp

[2012-05-28 05:09] houqp commented on #163
Ready for the release?

[2012-05-28 10:20] dpavlin commented on #163
I think that @hwhw can use magic toolchain to compile release version :-)

[2012-05-28 11:47] hwhw commented on #163
Yep, will do so in a few hours (around 22pm here in CEST - GMT+2)

[2012-05-28 17:16] dpavlin commented on #163
Sigh, I totally ignored last code dump from @NuPogodi http://www.mobileread.com/forums/showpost.php?p=2094819&postcount=477 see #178

[2012-05-28 18:10] hwhw commented on #176
I've integrated it into main branch.

[2012-05-28 18:11] #176 closed, assigned to nobody

[2012-05-28 19:46] hwhw commented on #175
commit ab400b97ac1b0aa60a55b1419f00ccc2e470da51 should have made it a bit faster by refreshing only the cursor part of the screen

[2012-05-28 19:51] hwhw commented on #113
Well, I think it will only make sense when the new_ui_code branch becomes the new main branch. There is still some way to go for that. The old code base will be hard to adapt to the changed input devices. As for a donated device: I'm not really volunteering. I think I can get the K4NT to run without much hassle, geekmaster already pointed out the main aspects. Rather, we need to add menus instead

[2012-05-28 21:22] dracodoc opened #179 "navigation in mobi"
The current help page said [1..0] will jump to key*10% location. I tried many times before I realized I need to use "alt+Q" for number 1. I think the description here should be more clear.

Besides, the 10% jump is still too rough for a big book. Why can't we have a jump dialog just like pdf page input?
1. input G, have a input box
2. input number to jump to xx%, the least unit is 1%. This is smal

[2012-05-28 21:39] dracodoc commented on #179
I also found the mobi support on this file have some problems. The mobi was converted from html by calibre.
https://www.box.com/s/27e2b9dbe61445888e44
1. There is a table of content in original viewer, but kindlepdfviewer cannot find table of content.
2. Certain italic and bold word was treated as a single line. In 46.45% of mobi, kindlepdfviewer treat "New Yorker" as a single line, but if you rea

[2012-05-28 23:25] dracodoc commented on #179
I don't want to open another issue, so I just post these under this issue because I think they are somewhat connected.
1. epub seemed ignored the paragraph indent. No matter how much I set it, it just the same.
2. can we have a user configurable default font for epub, mobi? I like certain font, but I need to choose it for every epub, mobi every time.

[2012-05-28 23:32] hwhw commented on #163
Released!

[2012-05-28 23:32] #163 closed, assigned to hwhw

[2012-05-29 06:58] aliabbasjp commented on #172
the cursor performance has worsened in the new release!

[2012-05-29 06:59] aliabbasjp commented on #175
the cursor behavior is better but still  unpredictable as it tends to race past the desired target.

[2012-05-29 07:13] aliabbasjp opened #180 "dictionary feature"
The only thing to complete this would be a dictionary lookup as supported by kindleos, what can be done to implement this feature?

[2012-05-29 07:21] aliabbasjp opened #181 "page number offset"
mostly the pdf books begin numbering after some 20 pages of introduction, toc etc. What is needed is a correct alignment between the physical page number and the true page number. An offset value shoud be stored in the filename.lua file that would be added every time a page goto function is evaluated.

eg :pdf file xx.pdf starts page numbering from page 12 as reflected in its TOC hence offset stor

[2012-05-29 08:33] dpavlin commented on #180
That would be nice, but dictionaries are in `/opt/amazon/dict` as `azw` files (mobi with DRM) which coolreader doesn't support.

[2012-05-29 09:25] hwhw commented on #175
Well, I _did_ a short test and it worked as before, I think. Can you give a more detailed description of that erratic behaviour? Is it just that it jumps between lines, not really in the reading direction? That would be because of the PDF's content. We don't sort the words into lines, muPDF does - and it does not invest lots of logic but rather takes data as it comes from the PDF.

[2012-05-29 09:43] aliabbasjp commented on #175
well the cursor races past the desired target and it becomes difficult to align cursor if the target is far away, Aliabbas Jabirali Petiwalaay

---

 From: HW reply@reply.github.com
To: aliabbasjp aliabbas_aa@yahoo.com
Sent: Tuesday, 29 May 2012 2:55 PM
Subject: Re: [kindlepdfviewer] cursor performance needs to be improved (#175)

Well, I _did_ a short test and it worked as before, I think. Can yo

[2012-05-29 09:54] aliabbasjp commented on #180
we can either strip the DRM protection or use open dictionaries like stardict??

[2012-05-29 11:52] houqp commented on #180
Hei, crengine already supports dictionary look up feature. It can read open format dictionaries like those used by stardict and probably some other formats (I did not check it yet). So this feature is already there and all we need is time to write a lua wrapper for it.

[2012-05-30 09:14] hwhw commented on #179
I guess that a lot of these problems are upstream issues in CREngine, but I'll take a closer look when I manage to find some time for that :-)

The problem that lines might be cut in half is hard to overcome, I think. Again this would need a very close look on the bindings of CREngine.

[2012-05-31 21:40] dracodoc opened #182 "battery level drop quickly"
If I let the kindle dx go to screensaver in file browser mode, the battery level didn't change overnight.
However, if it go to screensaver in reading mode, the battery level dropped from 49% to 39% in 8 hours. This is definitely not right.

[2012-05-31 21:44] dracodoc commented on #182
After 5 mins, the battery level dropped to 7% and need to be charged immediately.

[2012-06-01 02:20] dracodoc commented on #182
After a full reboot and new install, it seemed OK now. Maybe the problem I met came from the fact that I didn't reload launchpad in last installation?

[2012-06-01 02:20] #182 closed, assigned to nobody

[2012-06-01 14:56] desowin opened #183 "Image format support"
Implement reader for common image formats. In image viewer use the next button to move between subsecquent image files from given directory.

[2012-06-01 19:55] dracodoc commented on #181
Acrobat have a function called logic page number does this. You can "Numbering pages" with acrobat, and acrobat will recognize these page numbers.

kpdf just need to recognize this logic page number, but I'm not sure if it is supported in the pdf library.

[2012-06-02 08:58] houqp opened #184 "Default font setting for crereader"
refer to: http://www.mobileread.com/forums/showpost.php?p=2099809&postcount=513

[2012-06-02 15:25] dracodoc commented on #179
I found kpdf is quite slow to open certain mobi or epub. It took about 1 minute to open this mobi and its epub version every time. The original software can open the mobi immediately.

https://www.box.com/s/42bc8e9df7cbe11a6126
https://www.box.com/s/59a86614ef552d3f86de

This could also be the problem of the CREngine.

The file is about 2 M which include 180 pic files. I deleted all pic files and

[2012-06-02 20:41] hwhw opened #185 "Glyphcache deadlock in main branch"
The glyphcache is doing something wrong. It's deadlocking at some point because it's not properly decrementing the usage tracker. I am hunting it down now. Also, the max_age was ridiculously high. The whole cache logic is somewhat half-baked. Maybe I integrate what I wrote for the new_ui_code branch.

[2012-06-02 21:10] #185 closed, assigned to hwhw

[2012-06-02 21:12] hwhw commented on #185
I hesitated to integrate the new code. The bug was quite simple: Upon cache clean-up, which is done when listing fonts, the current_usage value wasn't reset to 0, so it would eventually go over the maximum while the cache is actually empty.

[2012-06-02 21:53] #184 closed, assigned to nobody

[2012-06-02 22:19] hwhw commented on #179
I've analysed this a bit and it's indeed CREngine. I didn't go much further, but the time is mostly spend in
doc->text_view->LoadDocument(file_name);
and also
doc->text_view->Render();

It's quite a big document, and I think the culprit is that CREngine is going through it at least once to determine the resulting length.

[2012-06-02 22:27] dracodoc commented on #179
I think the document is not too big compare to normal books, especially every chunk of html is less than 200k. CREngine should not need to go through all the length to open certain position, so this is a problem of CREngine. The original software can open them immediately.

Another possibility is the epub was converted by calibre which include a complex css. But the mobi need same time to be opene

[2012-06-02 22:41] hwhw commented on #179
Implemented jump-to-percent input box as suggested in commit 22ce736e112fa7e760b517b90e4a42636f50b32b
I think we should open a new issue for the long document loading time. However, I'm not sure how we could approach that, though. I'll close _this_ issue for now.

[2012-06-02 22:41] #179 closed, assigned to nobody

[2012-06-02 22:44] hwhw commented on #179
Oh, sorry, I read your reply afterwards. I was mainly talking about that the document will fill ~2k+ pages. It doesn't depend on its file structure, I think. It's just that CREngine takes its time. That will be a profiling job to be done.

[2012-06-02 22:48] hwhw commented on #181
Hm, I think those "logical numbers" are text based. Plus, they are allowed to repeat, I think. Well, I will have to check that.

Maybe a hotkey to mark "page 1" and store this with the document settings would be a good way to implement our own approach? Will need to think about this a bit.

[2012-06-02 22:51] hwhw commented on #175
OK, so it's too fast now :-) Hm, it's probably the key repeat vs display speed. We probably should implement our own repeat handling here...

[2012-06-03 00:21] dracodoc commented on #179
Thanks for the jumping feature! This could be the only one not depend on CREngine, so the other issues I mentioned may have to be put to later on the list, that's alright for me.

[2012-06-03 00:23] dracodoc commented on #181
Maybe it's simpler to implement with a marker in book.lua file than recognize logic page number. However there are more points other than just marking page 1. For example, user may want to jump to table of contents to know which page he need to go, so there must be at least 2 set of page numbers because the page of table contents always appear before the page 1 of content. Sometimes the logic page

[2012-06-03 00:51] hwhw opened #186 "switch to LuaJIT?"
I've just tested LuaJIT in place of Lua, and it is working quite well. What do you think about a switch? It would provide a great speedup, although it is probably not worth doing it only to get some speed in edge cases.

It opens up further possibilities, like replacing our C glue code by FFI bindings. However, this is nothing we should tackle now, I guess. For now, LuaJIT is just "a faster Lua" a

[2012-06-03 01:07] dpavlin commented on #186
I'm all for it. GDB debugging is probably more important to me than speedup :-)

[2012-06-03 01:11] houqp commented on #164
This has been fixed by @NuPogodi's patches

[2012-06-03 01:11] #164 closed, assigned to nobody

[2012-06-03 12:21] Verci opened #187 "Help section page number"
Hi to all, I discovered a little bug using KPV; it's just a small thing, btw.

In Reading Mode, pressing H to go to the Help Page, going to the 2nd one, then pressing Back to return to the book, then pressing Home to return to File Browser and finally pressing H to go the File Browser Help page (it is only one), you are been redirect to the 2nd page of this section, but it's wrong because the page

[2012-06-03 13:04] #187 closed, assigned to nobody

[2012-06-03 13:04] houqp commented on #187
thanks for the report, it is fixed now :)

[2012-06-03 14:32] houqp commented on #186
+1 for switch :)

I am interested in the performance of FFI bindings.

[2012-06-03 17:26] dracodoc opened #189 "file changes not updated if connected to pc in screen saver"
1. kindle dx went to screen saver in kpdf.
2. connect dx to pc, move some files to kindle
3. eject kindle, disconnect kindle
4. quit kpdf with home button, there will be a flash of the usb connected screen then back to kindle home screen, but the file changes was not recognized in kindle home screen.
5. restart amazon framework will solve the problem.

So kpdf handled the whole process correctly,

[2012-06-04 08:31] eLiNK2gl commented on #175
Well, the real problem is you cannot have the cursor under control (the same for page turns).
Ideally, the cursor starts moving as the user engages a key of the five way and stops shorty after the key has been released.

Currently, it just goes on and on.
The same is true for page turns. They keep turning long after one has released the page forward/backward button.

[2012-06-04 08:38] houqp commented on #175
@eLiNK2gl, I think all these are caused by what @hwhw  mentioned, the key repeat is too fast, i.e. holding down one key generates too much key press events. So it is very likely that implement our own repeat handling will solve the problem.

I just tried the cursor movement in native system, it also has the same issue.

[2012-06-04 12:16] hwhw commented on #186
I did the switch. Yes, FFI is quite interesting and should be _really_ fast, even faster than the C glue code.
However, first experiments with the gdb integration failed here. Will investigate more.

I took the liberty to switch debug() to Debug() (against our naming convention, but it's a special case anyway) to avoid clashing with the "debug" package. Under Lua, it just worked (TM), LuaJIT howev

[2012-06-04 12:16] #186 closed, assigned to hwhw

[2012-06-05 23:13] dracodoc commented on #165
I prefer not to have a navigation mode because when user jumped to a bookmarked page he may want to look at the page before or after that page, then go on to next bookmarked page.

At least for me, the shift > is never used, so it's totally fine for me to assign this key to bookmark navigation when the new version give us the user customized keys.

[2012-06-05 23:24] dracodoc opened #190 "continuous reading mode or "scroll" mode"
In acrobat reader you can "enable scrolling" in page display, which will connect all pdf pages into a continuous flow. This mode can be very useful in reader too, because it's very often the pdf page aspect ratio is not as same as the reader screen aspect ratio, that means:
1. in fit page mode, there will be gray area in sides, lots of screen wasted. And the font could be too small in this mode.
2

[2012-06-06 09:34] hwhw commented on #190
I agree that it would be nice to have.

That said, implementation is not that easy as it might occur at first. Some things off my head:
- logic of what to render and display: at least two pages might come into play, possibly more for lower zoom levels.
- page width differences between pages. Actually, a quite common case. This leads to
- horizontal navigation (vertical is obvious, horizontal is a

[2012-06-06 13:20] dracodoc commented on #190
Yes it could be quite complex. I think we can divide the feature into different cases, some of them are easier to do.
1. use some key to scroll next screen in fit page width or fit content width mode instead of using five-way to move bit by bit. This could be done quite easily, right?

2.I think the scanned pdf can be postponed because that would be more complex and it can be solved by other softw

[2012-06-06 16:38] houqp opened #193 "reader configuration file renaming"
@dracodoc reports the old `.reader.kpdfview.lua` file is not working any more. I just did a check and found that the file has been changed to `settings.reader.lua`.

Is it an accident? If not, we need to add some code for backward compatibility.

[2012-06-07 06:24] Dmitriusan commented on #190
I think, the a big and common issue is pagination in fit-to-content mode.
     Maybe, the simplest solution would be using a Space Bar, for example, to move viewport down through the rendered page on 1 screen. When page end is reached, part of page is displayed and free space is filled by gray. Pressing Space Bar once more moves viewport to the beginning of new page. So that we can focus on readin

[2012-06-07 10:31] dpavlin opened #194 "on-screen keyboard should default to lowercase chars and support shift"
With recent changes in our on-screen keyboard it always starts with capital letters as default. It makes it suboptimal in my opinion, because I first have to switch to lowercase letters to enter anything.

I'm writing this issue instead of providing patch because I did try to modify layout in inputbox.lua, but failed to make it default to lowercase chars. In the process we also lost ability to ent

[2012-06-07 10:35] houqp commented on #194
Agree, I also prefer lowercase as default layout ;P

[2012-06-07 11:13] houqp commented on #194
Just figured out a dirty hack: change the argument from nil to 3 in following line:
https://github.com/hwhw/kindlepdfviewer/blob/master/inputbox.lua#L341

As for shift support, I think it is better left to @NuPogodi....

[2012-06-07 11:40] ghost commented on #194
That's correct place, but it would be better to write here self:addCharCommands(self.layout) and set the default value in the header as InputBox = { ... layout = 3...}. In this case, you may eventually set any (!!) default layout with the external calls like someBox = InputBox{ layout =XX }
The shift support? Do you mean the simultaneous Shift+Char = Capitalized Char? I'll think about it... But I'

[2012-06-07 13:06] dpavlin commented on #194
I played a bit with a code and it seems to me that shiftmode has true for lowercase and false for uppercase chars... Shouldn't it be other way around?

[2012-06-07 13:08] dpavlin commented on #194
I would expect for Shift+Char to produce capital letter. We could probably use alt for shortcuts but we would have to make than consistent between file-chooser and other reader implementations.

[2012-06-07 13:33] ghost commented on #194
ATM, the shiftmode=false does result to the 2nd layout, shiftmode=true > the 3rd one. This arrangement (and the comments as well) remains just for historical reasons since from the very beginning I typed the small chars in the 2nd layout, the capitals were in the 3rd (i.e. vice versa). Then I've toggled the layouts (in the way like they are now) just to make small chars & digits to be the neighbor

[2012-06-08 14:01] dracodoc commented on #190
I found this app based on mupdf support continuous mode, maybe you can take it as a reference:
http://repo.or.cz/w/llpp.git
llpp — A very fast PDF reader based off of MuPDF, that supports continuous page scrolling, bookmarking, and text search through the whole document

[2012-06-08 14:35] #127 closed, assigned to nobody

[2012-06-08 14:40] dpavlin commented on #194
My current solution for default lowercase chars include changing `shiftmode = true` in https://github.com/hwhw/kindlepdfviewer/blob/master/inputbox.lua#L41

@NuPogodi is that OK? Can I submit that change for master?

[2012-06-08 15:04] houqp commented on #113
Surprising to see @geekmaster and @th0mass here. :)

I managed to get a K4NT today. Hopefully, I can help with the framebuffer part and have KPV properly running on K4NT. As for our new UI framework, it is still far from mature ;)

[2012-06-08 15:42] dracodoc commented on #189
It has been fixed by houqp's patch. The new process is much better and make sense now.

[2012-06-08 15:42] #189 closed, assigned to nobody

[2012-06-08 16:52] ghost commented on #194
You may select default lowercase layout either via integer 'layout' or via its bits (shiftmode, symbolmode & utf8mode). The former requires to write self:addCharCommands(self.layout) in line 341 & layout = 3 in line 39, the latter should work if the rest of code remains "as-is" Both methods are quite acceptable.

[2012-06-10 05:27] tchaikov commented on #179
@dracodoc , sure, you may want to file an issue to CREngine . it is actively developed at sf.net . and it is using sf's own bug tracking system at http://sourceforge.net/tracker/?group_id=191284&atid=936756 . i did a quick search for `slow` and `speed` . seems no one has raised this issue before.

[2012-06-10 14:41] dracodoc commented on #179
I thought about this before, so I downloaded the coolreader for windows and tried it. Maybe because PC is much more powerful, it don't have the speed issue. Then it's not easy for other people to reproduce the issue in pc.

[2012-06-11 12:14] hwhw commented on #113
Slowly we're getting there. The new_ui_code branch is pretty much in shape now, a lot of details are fleshed out. But we still need to port a lot of the functionality the main branch already has.

And maybe I need to start to think about touch input...

[2012-06-12 03:21] houqp opened #205 "Alternative menu designs for new ui framwork"
To better make use the limited keys we have in K4, maybe we need to try some other menu design, for instance:
http://www.mobileread.com/forums/showthread.php?p=2109396#post2109396

Of course, users should have the freedom to switch between the designs :)

[2012-06-12 15:46] dracodoc commented on #179
I tried coolreader in kindle from here
http://www.mobileread.com/forums/showthread.php?t=148850

Open a 800K epub took it 7-8 seconds, but the second time opening it took just 2 seconds. While kpdf will need a full 25 seconds to open the same book every time.

So it seemed not a issue of CRengine itself.

[2012-06-12 16:00] dracodoc opened #206 "slow at open some epub/mobi"
This issue was mentioned before in
https://github.com/hwhw/kindlepdfviewer/issues/179

That issue included multiple issues so it was closed because some of them were solved.

kpdf is slow at opening certain epub/mobi. It took 1 min to open this 2M epub or mobi every time. The original software can open the mobi immediately.

https://www.box.com/s/42bc8e9df7cbe11a6126
https://www.box.com/s/59a86614

[2012-06-12 16:11] houqp commented on #206
Wow, good to know that it is not a upstream bug :) There must be something wrong with our Lua glue code...

[2012-06-12 16:26] houqp opened #207 "ready for release 2012.06.xx?"
There are some nice fixes after the release 2012.05 and it seems that there won't be too much new changes in the old UI code base.

[2012-06-12 16:51] hwhw commented on #179
Hm, we probably use a newer version of CREngine, though. But I also think the paged vs. the continuous display might also contribute to the matter. Really, the time is spent in the both CREngine calls. We probably use CREngine differently - obvious for the paged vs. continuous, but there might be other differences. We even might compile different parts or use different compilation setups. Not easy

[2012-06-12 16:53] hwhw commented on #207
Maybe we can track some of the performance issues with CREngine down. But I think next weekend would be a good date for another release, yes.

[2012-06-12 17:45] dracodoc commented on #179
So it's more complicated than I thought... Though coolreader for kindle do provide a good reference.
It's a important issue but not emergent for me.
I opened another issue for this problem since the #179 has been closed and it included multiple issues..

[2012-06-13 14:17] #194 closed, assigned to nobody

[2012-06-14 16:08] dracodoc commented on #206
I'm thinking maybe coolreader created some cached file after the first time opening a book. There are some pdb file in cached directory under cr3 directory, maybe that's why it can open book much quicker after the first time.

[2012-06-25 17:15] th0mass commented on #113
Any progress? (especially for Touch)

[2012-06-26 08:03] houqp commented on #113
I think platform related code for K4 should have been finished. In fact I have already read some webpages in my K4 :) But it only has very limited features. Now we are gradually porting features to the new UI framework.

As for Touch, it seems that none of the developers has the device yet.

[2012-06-27 08:53] eLiNK2gl opened #214 "Long file names are cut off in the info window"
Hi,

there is an issue with long files names.
If you've got a file name of the type: Author_ThisIsAVeryVeryVeryVeryVeryLongArticleName–SomeDescription(Journal)_nnp_year.pdf

In the info window (which gets called up by pressin 'I'), the file name is shown on three rows as follows:
Author_
ThisIsAVeryVeryVeryVeryVeryLongArticleName–SomeDescription(Jo
nnp_year.pdf

Thus, some part of the name is cut

[2012-06-27 09:02] eLiNK2gl opened #215 "No conversion to 8bpp takes place while making screenshot"
Screenshots are made in raw format.
Thus, a conversion is necessary to some wide spread formats (like jpg or png).
But the raw files are in 4bpp and there is no (known) software, which can tackle 4bits per pixel.

P.S.: The file k3rawto8bpp.exe (in kindlepdfviewer\screenshots) serves to address the issue and could be used in Windows.

[2012-06-27 09:08] eLiNK2gl opened #216 "search word (non-latin) is not shown in the 'Search Results' window"
while searching for file names using non-latin alphabet (e.g. Russian), the search word is not shown in the 'Search Results' window.
Only blanks are shown.

[2012-06-27 09:23] eLiNK2gl opened #217 "Djvu: make it crisp please ..."
the quality of text rendering in djvu files is currently sub par compared to pdf files.
The text (especially in small font) looks blurry and of low quality.
Viewing the files in WinDjView on PC is very comfortable.

[2012-06-27 09:31] eLiNK2gl opened #218 "search word is 'lost'"
calling up the search function again reveals no search word (i.e. pressing 'S' button, while being in the 'search results' window), which is a regression from previous versions.
It would be better if the old search would be shown.

[2012-06-27 09:39] eLiNK2gl opened #219 "improvement for the Rename function."
being in the file browser, it is possible to rename a file by pressing SHIFT  + R combination.
It would be desirable to show the old name in the rename window as a suggestion (currently nothing is shown).
(in case one wants to do only minor modifications to the file name).

The combination SHIFT + Del should remove the name from the rename input box (already implemented).

[2012-06-27 15:01] ghost commented on #216
Changing tfont (in kpdf-settings) by something that supports cyrillic glyphs (say, ["tfont"] = "droid/DroidSansBold.ttf") should help гиганту мысли. BTW, not only search patterns, but also the path (in the header of filechooser.lua) that includes cyrillic characters should be properly shown with a proper font.

[2012-06-27 18:13] aliabbasjp opened #220 "pdf highlight"
Why is the highlight not preserved in pdfs across readers? Can anyone please add this feature+note taking too

[2012-06-28 07:21] eLiNK2gl commented on #216
Indeed. But standing on the shoulders of real giants I would expect a more general solution :)
Provided there is a  font that comprises all non-latin characters (?).

[2012-06-28 07:29] eLiNK2gl commented on #220
you mean why are annotations not saved directly into pdf files?
If I'm not mistaken there was a discussion on mobileread that it would be difficult to accomplish on the kindle.

A workaround would be to write a program (in Windows, Linux) that takes highlight information from corresponding lua files and adds to the pdf file on your computer.

The following project seems to be abandoned -> http://c

[2012-06-28 07:55] dpavlin commented on #215
FWIW, here is script which converts framebuffer dump into pgm: https://github.com/dpavlin/k3libre/blob/master/fb2pgm.pl

[2012-06-28 17:46] vvs commented on #113
Hurray for basic K4 (No-Touch) support! How to try it out? I'm willing to be beta tester, if you need it :)

[2012-06-29 10:49] ghost commented on #215
I've once tested the Lua-based convertions (both 4bpp.raw > 8bpp.raw and 4bpp.raw > 8bpp.pgm) and has been definitely disappointed by too large Kindle3 CPU-time (2.5-3s) needed for it. This value should be appox. twice as large for KDX(G) because of larger number of pixels. Besides, such a convertion duplicates the filesize so that one also has to compress the output screenshot - for example, os.e

[2012-07-02 07:42] aliabbasjp commented on #220
so can someone integrate that code with kpdfv ?

[2012-07-02 07:43] aliabbasjp opened #221 "3g access for kpdfv"
Is it possible for kpdfv to connect to kindles's 3g and download news etc as a daemon like calibre feature?, which api is responsible for 3g access?

[2012-07-02 12:32] dpavlin commented on #221
3G connectivity includes secret handshake with Amazon's proxy server which probably depends on keys which are available only in Amazon's Java stack, so there is no easy way to get 3G connectivity (and it would be violation of license even if we could do it).

However, wifi does work, and we had idea about using it to auto-update reader. There is currently no code for this, so patches are welcomed

[2012-07-02 13:14] aliabbasjp commented on #221
so cant we just use amazons local kindle interface and pass thru the handshake protocol? i.e cant we use the kindle browser api for 3g connectivity?

[2012-07-03 12:59] dpavlin commented on #221
There are some tricks to send URL to browser, but they seem to work only for newer version of OS (or I wasn't able to find anything for K3). There is such mechanism since you can open URL from Amazon reader in Amazon browser, but I don't have any info how to use it.

[2012-07-03 13:42] aliabbasjp commented on #221
Thanks a lot Dobrica, can you point to such links?

[2012-07-03 14:43] dpavlin commented on #221
Unfortunately, I didn't collected them because I didn't have need for information about device that I don't have :-(

I can now see how short-sighted that was. I'm quite sure that it was on mobileread forum, and that involved one of lipc commands and `com.lab126.*` namespace, but I couldn't find it again when I tried today.

[2012-07-04 02:55] dracodoc opened #222 "gravity sensor in kindle DX interfere with kpdf"
If the gravity sensor is on(default on after every reset), and the kindle DX was rotated, kpdf will display messed screen. Sometimes I can quit kpdf to original software, sometimes I can't and have to reset.

Is it possible to disable the gravity sensor before kpdf launches in the Shift-P-D command? I usually keep it off, but every reset will turn it on and I don't always remember to turn it off.

[2012-07-04 13:57] dpavlin commented on #221
I found a thread which claims it's not possible on K3: http://www.mobileread.com/forums/showthread.php?t=173560

[2012-07-06 20:13] tigran123 commented on #217
I suspect the reason for this is that the rendering is done always with DDJVU_RENDER_COLOR in djvu.c:handle().

To handle this issue in libdjvu (a djvu viewer I wrote for Hanlin/Lbook V3 "ancient" ereaders) I set the rendering mode to MASKONLY if it is a JB2 bitonal DjVu and to COLOR otherwise, like this:

   if (page_type == DDJVU_PAGETYPE_BITONAL)
        djvu_render_mode = DDJVU_RENDER_MASKONLY

[2012-07-06 20:20] tigran123 commented on #217
I forgot to mention how to use the above testfile.zip --- it contains a djvu and pdf versions of exactly the same high quality bitonal data. Viewing the PDF file (and adjusting gamma appropriately) results in very crisp, high contrast image. But viewing the djvu file (with whatever value of gamma --- irrelevant) shows a very grey, low contrast text on the page.

[2012-07-23 19:51] kfigiela commented on #221
It is pretty easy to get proxy keys (at least on Kindle 3) as described on http://lickitung.it.cx/page/tether.html they're in `/var/local/java/prefs/cookies/`.

[2012-07-25 14:03] dracodoc opened #225 "wall charger charging cause "go into usb mode" msg"
In file browser or reading mode, plug in wall charger will activate "go into usb mode" msg, and the screen have some messed up displays. kpv still accept input, thus can open file or turn page, then the display will mess up again when the charger is disconnected.

So kpv need to separate pc usb connection and wall charger charging events, either ignore charger event or display some info then refre

[2012-08-25 03:45] Aaron2Ti opened #226 "Using arrow keys for pre/next page when reading pdf"
When reading pdf the arrow keys can't move the cursor(there's no cursor at all), so I feel
it might be good to remap the arrow keys to turn pre/next page, because they're easier to
type than '<' or '>'.

so could be: "UP or LEFT" means "Pre Page", "DOWN or RIGHT" means "Next Page"

[2012-08-25 14:11] houqp commented on #226
Hi @Aaron2Ti , the cursor only appears in highlight mode, which can be triggered by pressing `n`.

In normal reading mode, arrow keys(I assume you refer to the five-way key) actually are used to move the viewing area around inside current page.

Do you mean that you want to use five-way keys to handle page turning and overwrite their default binding?

[2012-08-25 18:22] dracodoc commented on #226
"because they're easier to type than '<' or '>'."
I think most people would think page down button is easier to use than five way key, and the five way key in kindle is known to be fairly fragile, easy to develop problems.

Unless you are thinking '<' as the symbol '<', not the page up button? There is no '<' symbol in kindle DX keyboard at least.

[2012-08-25 18:23] dracodoc commented on #226
And I believe there will be user customizing key binding in new version, so you will be able to adjust it in way you like.
Before the new version, you can also try to mess with the key mapping in the lua file as a dirty hack.

[2012-08-26 00:42] Aaron2Ti commented on #226
@houqp Hi, thanks for your notes, I didn't know the highlight mode or moving view area for pdf.

And yes, I want to use the five-way key to handle page turning, I feel we could overwrite the default binding or just leave it there.

To me, the scenario is I always use briss to crop the pdf book to fit the DX's screen, so I didn't have to move the viewing area, the most things I do is 'Page Down', a

[2012-08-26 00:44] dracodoc commented on #226
You can edit key.lua in kpf directory to remap page down button to five way down.

[2012-08-26 00:55] Aaron2Ti commented on #226
@dracodoc Thanks for your cool instruction of lua hack, I'll definitely give it a try.

re: '<' and '>', I meant 'page up/down' buttons.

Most times I only need 'Page down' when reading pdf books, not sure when DX has such a big page down button, and I feel it's a but tighter than other small buttons. and the 5 way key works sensitively, just need a slightly snap.

Besides, when holding the 'Page

[2012-08-26 01:02] houqp commented on #226
OK, I see. Just as @dracodoc said. Currently, hacking unireader.lua is fastest way to achieve your goal. You can try following patch:

[code]

[2012-08-26 01:06] Aaron2Ti commented on #226
@houqp wow, thank you

[2012-08-26 01:32] houqp commented on #226
Welcome, lua is pretty easy to hack. So happy hacking :)

[2012-08-26 01:32] #226 closed, assigned to nobody

[2012-08-26 08:42] dpavlin commented on #226
@Aaron2Ti just a quick question: why are you croping pdf using briss? We have automatic zoom to bounding box of document, and you can also change bounding box in reader itself. To be honest, my main motivation for contribution to this reader was to get rid of briss step in reading pdfs on Kindle, so I'm interested how we are failing in that :-)

[2012-08-26 12:30] dpavlin commented on #75
@houqp how hard would it be to implement getText for crengine?

[2012-08-26 17:44] dpavlin commented on #217
@tigran123 would you mind submitting pull request for this code? I'm having trouble attributing code to you since you don't have any commits in repository :-)

[2012-08-26 18:13] dpavlin commented on #218
This bug is fixed with 1c6421dc3f4ebb18f089456c59c0ea563e25514f

[2012-08-26 21:08] tigran123 commented on #217
I just looked in the release announced on the-ebook.org and the code for render_mode support was committed wrongly, namely in the UniReader:toggle_render_mode() function we should have:

self.render_mode = 1 - self.render_mode
    self:clearCache()
    self.doc:cleanCache()
    self:redrawCurrentPage()
    showInfoMsgWithDelay("New render_mode = "..self.render_mode, 1000, 1)
    self:redrawCurrent

[2012-08-26 21:18] tigran123 commented on #217
Oops, small correction --- obviously there is NO NEED to redraw the page TWICE. Only ONCE is more than enough! :)

[2012-08-27 01:58] houqp commented on #75
@dpavlin , I think crengine already supports text searching, so it might be even easier to do the searching highlight task with its built in methods. We can pass all the searching and highlight jobs to the engine and simply output the render result.

The problem here is we need to get familiar with its API... And I am completely run out of free time here.

[2012-08-27 02:04] houqp commented on #218
Can we close this now?

[2012-08-27 06:06] #218 closed, assigned to nobody

[2012-08-27 09:49] dpavlin commented on #217
Thanks for correction, does code attached to #229 look OK to you now?

[2012-08-27 19:09] dpavlin commented on #217
latest master has chagnes correctly contributed to @tigran123 with nice commits. Thanks a lot for going through hurdles of first github contribution :-)

[2012-08-27 19:09] #217 closed, assigned to nobody

[2012-08-27 20:59] dpavlin opened #230 "mupdf stopped shipping all Droid font variants"
This makes build fail on clean machine.

We at least have to have

ln -s /usr/share/fonts/truetype/droid/DroidSans-Bold.ttf fonts/droid/DroidSansBold.ttf

[2012-08-28 19:54] ghost commented on #194
I've just uploaded new version of INPUTBOX:LUA to my repo https://github.com/NuPogodi/kindlepdfviewer.
If someine is going to use inpubox also as calculator, one needs to introduce minor changes to HELPPAGE.LUA (so I've also refreshed this file in my repository).
Alternatively, both lua-files and the description of all changes is uploaded elsewhere http://rghost.net/40063033
I hope that that shoul

[2012-08-28 20:07] ghost opened #232 "Updated version of inputbox.lua with Shift+Key support, helppage, calculator, etc."
@dpavlin  I've just uploaded new version of INPUTBOX:LUA to my repo https://github.com/NuPogodi/kindlepdfviewer.
If someone is still going to use inpubox also as calculator, one needs to introduce minor changes to HELPPAGE.LUA (so I've also refreshed this file in my repository).
Alternatively, both lua-files and the description of all changes is uploaded elsewhere http://rghost.net/40063033
Please

[2012-08-28 21:06] dpavlin commented on #232
@NuPogodi thanks a lot. This is great improvement to inputbox, and I hope to use it to implement note-taking functionality in future.

I mostly copy-pasted this explanation to commit message (where it should really be for future reference because this issue will get closed) and merged to master.

[2012-08-28 21:07] dpavlin commented on #232
@NuPogodi could you plese do `git pull origin master` in your checkout to be in sync with current development?

[2012-08-28 21:24] dpavlin commented on #75
I added crengine search with #231, but we'll probably need to use mpdf API for search to gain more performance.

[2012-08-28 22:06] ghost commented on #215
I've written and compiled few executables that save the framebuffer content to various graphic formats - namely, screen2bmp, screen2tiff, screen2pgm & screen2png. So, the lua-code (previously included in screen.lua) might be readily replaced by simple calling of os.execute(lfs.currentdir().."/screenshots/screen2xxx")
The c-sources & compiled executables are uploaded here http://rghost.net/40064856

[2012-08-29 06:47] ghost commented on #214
Seems to be fixed by minor corrections to function renderUtf8Multiline(...)
https://github.com/NuPogodi/kindlepdfviewer/blob/master/rendertext.lua

[2012-08-29 12:25] tigran123 commented on #190
IMHO, this feature is not really needed and will complicate the code unnecessary, thus inviting bugs. Instead, the users should be encouraged to learn how to use the main crowning feature of kindlepdfviewer (namely, the manual bbox assignment via Shift-X for odd and even pages). This will solve all the problems you mention. In fact, one could throw away all the existing "zoom" etc features as unne

[2012-08-29 13:42] #214 closed, assigned to nobody

[2012-08-29 13:46] dpavlin commented on #225
@NuPogodi it seems that you fixed this with 925678b1ce0f7b3050cf83771f0bdf705c49c46b but commit message is miss-leading.

I will merge it to master as soon as I get back home to test it with real Kindle (as opposed to emulator)

[2012-08-29 13:48] dpavlin commented on #190
I have found manual zooming quite useful when you are trying to see detail of picture or some small part of page, so I wouldn't remove it completely, but I would suggest to use Shift-X, after all that's why I implemented it :-)

[2012-08-29 13:55] dpavlin commented on #215
While I do see benefit of separate utility to do screen-shots (which might be useful outside kpdfviewer) I'm wondering do we need to introduce another dependency since we already have libpng as dependency.

I would love to hear other opinions on this...

If would make sense to make screen-shot keyboard shortcut at one single place.

[2012-08-29 13:57] dracodoc commented on #190
I beg to differ.
Almost ANY feature will complicate the code, unless your code is already complicated unnecessarily and the new feature actually involve a rewrite. "inviting bugs"? If you are afraid of bugs, the only safe way is no code, no bugs.

I can understand your concern of "inviting bugs" from the feature you don't wanted.

Anyway, can you elaborate and educate me how to use Shift-X to solv

[2012-08-29 13:59] eLiNK2gl commented on #214
confirmed

P.S.: tested on https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-29-Aug-2012.zip

[2012-08-29 14:03] dpavlin commented on #220
@aliabbasjp project which you are pointing at depends on huge Java pdf library, so porting it is not feasible, at least for me.

If I'm not mistaken Kindle's pdf viewer is saving annotations in .pdr file and not .pdf itself.

Note-taking would be useful feature to add, but we would first need some way to export our highlights so that they are useful outside reader itself.

[2012-08-29 14:05] houqp commented on #225
no, it seems that aside from adding screenshot shorcut, NuPogodi manually applied some of my previous changes, not with git pull, so git also treats them as new code.

[2012-08-29 14:13] eLiNK2gl commented on #232
Shift + key does not work on KDXG.
ALT + first row letters (for 1,2, etc) work only in uppercase layout.

P.S.: tested on https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-29-Aug-2012.zip

[2012-08-29 14:19] eLiNK2gl commented on #219
The old name in the rename window is still not shown.

P.S.: tested on https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-29-Aug-2012.zip

[2012-08-29 14:53] eLiNK2gl opened #234 "Back key has no visible effect on the input box"
The input box, which shows up if you call the text search function (pressing ''.'),  does not disappear upon pressing the BACK key. So you need to renew a page manually.

P.S.: tested on https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-29-Aug-2012.zip

[2012-08-29 16:47] tigran123 commented on #190
I was being more generic than specific (i.e. specific to the problem you mention) when I spoke of Shift-X. Namely, "very generally speaking", one can achieve very comfortable level of reading by carefully tuning the bbox using Shift-X to any particular book (or Shift-F for books typeset in two columns). Also, "very generally speaking" (i.e. from very long experience of not only reading books, but

[2012-08-29 17:13] dracodoc commented on #190
So Shift-X didn't solve my problem?

1.If you did read my first post, point 2, moving screen by bits is not desirable.

2.For a pdf file with certain aspect ratio which can be comfortably read with fit content width but are too long in height, there WILL be empty space for the second screen for EVERY page, not "hopefully very few".

3.This scroll mode is available in numerous other software, asked

[2012-08-29 17:36] ghost commented on #232
1. No suggestions about the problem with Shift + key on KDX. I have no possibility to test & to fix it - do it by yourself.
2. Try to delete outdated file 'mykeyboard.lua' from the folder with kpdfview & repeat Alt+Q..P test.

[2012-08-29 19:36] tigran123 opened #235 "Multi-level TOC in PDF and DjVu files should not be expanded."
If a book contains a large multi-level outline tree (aka "bookmarks" or "TOC") it will be very hard to navigate if it is fully expanded (as is the case with kindlepdfviewer at present). For example, if you look at this file (http://www.bibles.org.uk/The-British-Study-Edition-of-the-Urantia-Papers.pdf.zip) it contains four Parts, each Part contains many numbered Papers, each Paper contains  6-15 nu

[2012-08-29 20:11] ghost commented on #235
[QUOTE]A separate small problem is that pressing 'T' to get the TOC should also position you to the current place in the tree, not to the beginning.[/QUOTE]
I added this feature to my version of unireader.lua just before the release in May, but it was somehow disappeared in the released version.
[CODE]
function UniReader:showToc()
    if not self.toc then
        -- build toc if needed.
        se

[2012-08-29 20:21] ghost commented on #234
[code]

[2012-08-29 20:36] dpavlin commented on #232
Could you try: https://github.com/downloads/dpavlin/kindlepdfviewer/kindlepdfviewer-20fae93.zip

it seems that @tigran123 build doesn't include latest changes, which is mostly while I like git sha1 in filename because it's easier to find out from which code distribution is built.

[2012-08-29 20:49] dpavlin commented on #235
This is my fault. As a punishment, I will document whole process of pull request, so that @NuPogodi will forgive me I hope :-)

Update: I moved it to wiki: https://github.com/hwhw/kindlepdfviewer/wiki/PullRequest so it can be used by future developers new to git. Hope it helps...

[2012-08-29 20:52] dpavlin commented on #235
@tigran123 consider yourself assigned to this task, but @hwhw will have to add you (and @NuPogodi) as project members so we can record this in issue tracker :-)

[2012-08-29 20:57] tigran123 commented on #232
I have justed tested my build on KDXG and it works absolutely fine, i.e. Shift+key uppercases it and Alt+Q...P enters the number, as expected. Tested on exactly the same build as eLINK2gl.

[2012-08-29 21:19] tigran123 commented on #235
Ok, thank you, I will get on with it. But to do it properly --- theory first! I.e. I will quickly finish reading "Programming in Lua" book while browsing the *.lua files of kindlepdfviewer --- this is why I needed crengine to display plain text files as just that --- and there seems to be no way to force this via txt.css, but in the proper/standalone CoolReader I can do this with a single tick in

[2012-08-30 03:44] houqp commented on #75
Good job dpavlin :)

[2012-08-30 04:42] #234 closed, assigned to nobody

[2012-08-30 05:38] eLiNK2gl commented on #232
@tigran123  you are right.
In fact, I tested @dpavlin's development build all the time as your zipped file (b/o its internal structure) cannot be used for the prescribed installation procedure (i.e. copying to /customupdates and installing by pressing shift + shift + I).

[2012-08-30 05:41] eLiNK2gl commented on #219
As it seems I tested @dpavlin's development build all the time as @tigran123's zipped file cannot be used for the prescribed installation procedure (i.e. copying to /customupdates and installing by pressing shift + shift + I).

The issue can be closed now.
Sorry for the confusion.

[2012-08-30 07:34] tigran123 commented on #232
@eLINK2gl I assume you are talking about the old kpdfview-update.zip (downloaded from http://www.bibles.org.uk) and NOT about the kindlepdfviewer-29-Aug-2012.zip downloaded from github, because the latter has exactly the same structure as the official build .zip files and should be installable via launchpad's shift-shift-I procedure.

[2012-08-30 07:41] dpavlin commented on #219
@eLiNK2gl thanks for verifying issue

[2012-08-30 07:41] #219 closed, assigned to nobody

[2012-08-30 08:05] tigran123 opened #236 "Next-page stops working after panning in fit page width and fit content modes."
The file test/tall.pdf is only a single page which is probably why this bug was not noticed before, so you need to do something like "pdftk tall.pdf tall.pdf tall.pdf tall.pdf cat output tall4p.pdf" and test on tall4p.pdf to reproduce it.
1. Open tall4p.pdf on page 1
2. Press Shift-S to switch to "fit content width" (or S for "fit page width" --- results are the same)
3. Use joypad to pan the view

[2012-08-30 08:08] tigran123 commented on #236
Just wanted to add that the bug is reproducible on other tall files too, not just the above artificially constructed tall4p.pdf. I.e. I originally noticed it while reading normal books.

[2012-08-30 08:36] dpavlin commented on #190
No need for harsh words, we are just volunteers with limited time on our hands, so excuse our attitude.

I would really love to have continuous scroll mode, probably together with two-page mode and thumbnails of all pages which all would require quite a bit of logic we currently don't have.

Having said that, I don't have ETA for this features, but we'll keep this issue opened and have it in mind

[2012-08-30 09:02] dpavlin commented on #236
I had similar dilemma when implementing two column mode, but I decided not to change prev/next keys meaning and leave them for page flipping always to have consistent behavior of page keys in all modes.

However, crengine is behaving in the way you are describing (next page gives you next part of document) and I can see benefits of both approaches.

To make thing even more interesting, if we had c

[2012-08-30 11:45] tigran123 commented on #236
The behaviour of prev/next keys is not always "flip to the prev/next page". If you pan the view down a bit (using 5-way controller down) then the behaviour of "next" switches to "flip to the next page", but _before_ panning the behaviour of "next" is "pan down one screen full".

The "next" page should reset to top of next page only if there is nothing more to be displayed on the current page. But

[2012-08-30 12:01] eLiNK2gl commented on #232
@tigran123 I am talking about kindlepdfviewer-29-Aug-2012.zip from the git webpage. It has one more level inside the zip file than necessary.

[2012-08-30 12:14] eLiNK2gl commented on #220
I do not see any need to port that application at all.
The application is a standalone and because it is written in Jave can be used under Windows, Linux and most probably MacOS.
I can ask the author if he is interested in making adjustments to his program. But first, kpdfviewer should be able to export notes.

[2012-08-30 12:55] tigran123 commented on #232
@eLiNK2gl  Ah, yes, you are absolutely right. Mea culpa. The next one will have the correct structure.

[2012-08-30 13:17] dpavlin commented on #236
I totally agree that it doesn't make much sense.

Part of the problem is that reader is modal -- it's in `ZOOM_FIT_TO_CONTENT_WIDTH` or `ZOOM_FIT_TO_CONTENT_WIDTH_PAN` mode and user doesn't have any indication in which mode it is.

So, when reader switches from `ZOOM_FIT_TO_CONTENT_WIDTH_PAN` to `ZOOM_FIT_TO_CONTENT_WIDTH` on fiveway press, it's enough to press just `Shift+S` (without need for `A`

[2012-08-30 13:22] dracodoc commented on #190
dpavlin, I definitely didn't mean anything harsh to you. I myself wrote some small applications in my spare time before, so I totally understand volunteer software authors have limited time and his own priorities.

You may notice I've submitted lots of bug reports and feature requests, but I never push or request a ETA. It have been some time from last update, but I can totally understand, and cur

[2012-08-30 13:23] dpavlin commented on #220
Highlights are saved in `kindlepdfviewer/history/mungled-name-of-original-document.lua` folder together with file settings. It's lua syntax but it should be possible to parse it within Java code I think.

Since we don't have arbitrary notes attached to highlights (yet) we are not exporting those, although I would love to implement Amazon Kindle reader compatible format for it once we have note-tak

[2012-08-30 13:24] dpavlin commented on #232
`make customupdate` should produce distribution zip without any additional efforts :-)

[2012-08-30 13:28] dpavlin commented on #190
Don't worry about it, I just wanted to bring ball down a little in this conversation :-)

[2012-08-30 13:31] tigran123 commented on #232
Thanks, that's cool! :)

[2012-08-30 13:42] tigran123 commented on #236
Thank you, I get it now.

Ok, in that case, yes, maybe we could do this:
1. When we press Shift-S after having panned with a fiveway the view should not be reset to the top but stay where it is.
2. As you say, some kind of indicator (but where to put it? space is so precious...) should tell us which mode we are in.

I would be against using any space that could otherwise be used for the useful dat

[2012-08-30 14:21] ghost opened #237 "Some corrections to crereader.lua"
https://github.com/NuPogodi/kindlepdfviewer/blob/master/crereader.lua
# List of changes
1. Used another way to find original position in the document after changing its length (i.e. changing fontface, fontweight, interline spacing, etc.) The old method was based on storing & restoring the percentage: it was not always exact. Now the Xpointer is used instead of percents: it takes just a little bit

[2012-08-30 15:09] dpavlin commented on #237
@NuPogodi is there anything I can do to help you submit changes as pull requests? This way I have to do `git cherry-pick` of your commit and then resolve conflict and bother you again to take a look if I did mistake...

[2012-08-30 15:11] dpavlin commented on #237
On related note, fast navigation is really nice, and we should probably add it for mupdf and djvu also :-)

[2012-08-30 15:12] dpavlin commented on #232
I think we can close this issue

[2012-08-30 15:12] #232 closed, assigned to dpavlin

[2012-08-30 15:23] dpavlin commented on #236
AD 1: that would make sense. After playing around with multi-page tall file, I think we should also do positioning on top/bottom of page when you press prev/next page as you suggested before.

AD 2: FWIW, I also dislike indicators which take space, but showing it for 2 seconds after page refresh and/or when you press menu might be good enough solution. I'm thinking about drawing it with xor, so ch

[2012-08-30 20:44] houqp commented on #190
Actually, I agree with both @dracodoc and @tigran123. I myself use 'Shift+X' and two column mode a lot, and so far, all my ebooks can be read comfortably with the help of these two features. But in some books, the bottom of the current page is related to the top of next page. In this case, scroll mode might be quite helpful for readers. However, in some other cases, like reading comic, scroll mode

[2012-08-30 20:46] houqp commented on #230
Should we ship Droid font by ourselves? I guess this command does not work in Mac.

[2012-08-30 20:47] dracodoc commented on #190
Well said houqp!

[2012-08-31 14:09] ghost commented on #236
Just info: I use a bit another way to see which zoom-mode is active. Since I always forget which hotkey is responcible for which mode, I just replaced 8 hotkeys (i.e. A, ^A, S, ^S, D, ^D, F and ^F) by the menu where autoselected item points to self.globalzoom_mode. If I do not want to switch reader to another mode, I just press Back.

self.commands:add(KEY_M, MOD_ALT, "M",
        "select zoom mod

[2012-08-31 18:26] ghost commented on #237
Added one more minor correction... Pull request sent...

[2012-09-01 08:39] tigran123 commented on #235
In my example `origin` is upstream hwhw's repository and `dpavlin` is my copy on github.

However if you forked repository and check it out, origin will point to your repository and not hwhw's.

I will expand explanation to (hopefully) cover this better

[2012-09-01 13:28] #237 closed, assigned to nobody

[2012-09-01 13:40] tigran123 commented on #235
Oops, did I close this accidentally??? Sorry! Reopening as it was closed by mistake --- this is FAR from being done yet! :)

[2012-09-01 23:52] tigran123 opened #241 "Very easy to crash the viewer via calculator."
I really like the calculator feature added recently --- the functionality, the nice keyboard layout switching etc.

But it is very easy to crash the application by entering something like "os.exit()" or even things like "A/B" in calculator input box. Now, the question is: is it possible to trap the errors of the build-in interpreter so that it doesn't terminate the entire viewer, but results in a

[2012-09-02 01:03] houqp commented on #241
Maybe you can try using `pcall` function? It is used in `keys.lua` and some other places in KPV.

[2012-09-02 09:52] tigran123 opened #242 "Feature: allow multiple font directories in FONTDIR."
Currently the location for fonts is taken (see font.lua) either from the environment variable FONTDIR or (if not set) is hardcoded as "./fonts".

Now, every kindlepdfviewer installation probably has CoolReader installed as well, and therefore plenty of nice compatible fonts in "../cr3/fonts". So, if we could include this location in FONTDIR (as a semicolon-separated list) in kpdf.sh script, then w

[2012-09-02 22:01] tigran123 commented on #241
@houqp I don't think I understood how you suggest to use pcall function to trap the errors in the interpreter.

[2012-09-02 22:09] tigran123 commented on #241
Ah, I see, I just looked at the article "Passing a Language through the Eye of a Needle" by the author of Lua and it discusses the use of pcall for constructing protected environment.

[2012-09-02 22:20] dpavlin commented on #242
This is great idea. Multiple fonts dirs would also help #230 since we could ship droid fonts and include them only if they are not already on system (to prevent duplicates)

[2012-09-03 01:49] houqp commented on #242
Except for `../cr3/fonts`, what other dirs can we make use of? We need to make a list first :)

[2012-09-03 10:45] eLiNK2gl opened #245 "search and highlight feature crashes kpdfviewer"
while using search and highlight feature (press '.') on one of my files, kpdfviewer crashes repeatedly after several runs with the following error description from the crash.log 'Segmentation fault'.

Another crash (pressing 'home' whlile the search and highlight mode was aparently still active. Meaning before the message how many hits have been found is shown) 'kpdfview: fitz/base_context.c:23: f

[2012-09-03 10:59] eLiNK2gl commented on #245
crashes also under https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-95be71c.zip
But it took me longer.

[2012-09-03 13:33] ghost commented on #241
The calculator is a typical example of interpretator of commands typed by user in inputbox. It is called by command
if pcall(function () f = assert(loadstring("r = tostring("..s..")")) end) then ... end
so it somewhat blocks the potential user stupidity. But nobody may give 100%-guarantee that user may enter here something that results to crash. The one and the only method is to use calculator for

[2012-09-03 21:19] dpavlin commented on #245
I'm quite sure that it's a problem with highlight code on which search in pdf depends.

Since it's in mupdf cod-epath, I wonder if upgrading mupdf to latest version would fix it.

[2012-09-03 21:40] dpavlin opened #248 "Simplify keyboard shortcuts, use menu key for main operations"
On several occasions I tried to explain how to use reader to new users, and concluded that current keyboard shortcuts are overly complex to explain in one go. Other developers seem to agree, since we just merged simpler user interface for zoom mode on `M` key.

My problem with current implementation is that it's key on main keyboard and I would love to have something similar under menu key.
It's n

[2012-09-03 21:51] dpavlin commented on #242
`../fbKindle/qtKindle/lib/fonts/` is one additional directory on my kindle, but we can also run `find /mnt/us -name '*.ttf'` and include them all if we really want to :-)

[2012-09-03 22:24] houqp commented on #248
Yes, complete agree with you. For non-geek users, having all operations moved to menu is the best choice.  What's more, for K4, menu is the only choice...

As for multi-level menus, it is already supported in the new ui branch, and it is quite usable now. When I still have a K4 one month ago, I used this menus to managed all the operations.

So why not focus more on porting current features to the

[2012-09-04 09:04] tigran123 commented on #248
I understand the wisdom of the long-term approach of @houqp .
However, I personally consider K4 hardware (both touch and non-touch) a step backward, i.e. a degradation in comparison to Kindle 3 (aka "Kindle Keyboard"). I realize that we cannot influence Amazon's decisions, but still, to focus all efforts on K4 development just because Amazon happens to believe that that is where it can make money,

[2012-09-04 14:47] dpavlin commented on #245
I can see same message

[code]

when I **exit** reader, but I can't trigger it using emulator (or x86 native compile). I will try it on real device later today.

[2012-09-04 18:11] houqp commented on #59
solved by #247, close for now

[2012-09-04 18:11] #59 closed, assigned to nobody

[2012-09-05 00:03] houqp commented on #248
aha, I see your point :) After using my friends K4NT for a month, I also agree that it is a big step backward compared to K3.... Without keyboard, it just sucks... KTOUCH comes with screen keyboards, which might somehow solve this issue. I haven't tired with TOUCH yet, so can't comment on it.

OK, actually, the reason I prefer to work on the new ui code base is not mainly because I want to bring s

[2012-09-05 08:02] tigran123 opened #249 "Lua Questions"
Strictly speaking, this is not an "issue" as such, but we do not have a separate Developers Forum at present, so I thought I'd create this "issue" where one could ask (and answer too) questions about KPV design, Lua programming tricks, etc.

And here is my first question: why if I write the code like this:

[code]

it fails with the error: "bad argument #2 to 'insert' (number expected, got string)

[2012-09-05 11:52] ghost commented on #249
curmenu_titles[#curmenu_titles+1] = self:cleanUpTocTitle(v.title)

[2012-09-05 12:20] tigran123 commented on #249
Ok, thanks, that is also the method recommended by the author of Lua (as of version 5.1) --- and it works fine, thank you.

I wonder why we don't do it all the time, instead of table.insert().

[2012-09-05 12:33] ghost commented on #249
table.insert(curmenu_titles, #curmenu_titles+1, self:cleanUpTocTitle(v.title))

[2012-09-05 14:13] houqp commented on #249
That's strange... Can you always reproduce it?

[2012-09-05 14:58] tigran123 commented on #249
Yes, here are two lines --- the one commented out works:

[code]

the second line produces an Lua error:

[code]

[2012-09-05 14:58] tigran123 commented on #249
Oops, closed by mistake, re-opening.

[2012-09-05 16:35] dpavlin commented on #248
To be honest, I had two days of soul searching before submitting this issue. I'm totally aware that we should move to new_ui branch (and to be honest, I consider current master as cleaning house for new_ui), but somehow, I always get drawn to master, just to add this simple feature or that.

[2012-09-05 17:05] tigran123 commented on #248
Does new_ui branch build easily and run in emulator? Or are there special instructions and extra pre-requisites on thirdparty software?

[2012-09-05 18:16] houqp commented on #248
@dpavlin , feel exactly the same :) after all, we put so many efforts in it.

@tigran123, it should be easy to run in emulator, since we just re-write the lua code. No big changes in C code except for 8bpp framebuffer support, which have nothing to do with the emulator.

So if you want to play with it, just checkout the new-ui branch in HW's repo.

The biggest problem here is the lua code is compl

[2012-09-05 21:05] tigran123 commented on #249
Here is my next question: how do I add a table local to a document, i.e. re-initialized on each open? I tried to do this by simply adding to UniReader environment, like this (after the line "toc = nil"): `toc_cview = {}` and added the code `self.toc_cview = nil` to UniReader:inputLoop() right after `self.toc = nil`. So, I expect it to _not_ persist across opening/closing the file. However, very st

[2012-09-05 22:06] tigran123 commented on #249
I see what is going on --- no race conditions, just Tigran not knowing how to manipulate Lua tables properly :)
Basically, I didn't expect that after `self.table = nil` the value of `#self.table` can be non-zero, that is all. I expected it either to generate an error or be zero, but in actual fact it remained the same as before the assignment `self.table = nil`. The solution to my problem is simpl

[2012-09-05 23:02] houqp commented on #249
OK, for the first question, it turns out to be a bug in `self:cleanUpTocTitle`
method. ;p

Internally, `self:cleanUpTocTitle` calls `string:gsub`. But `gsub` actually has two return values. (refer to [this page](http://lua-users.org/wiki/StringLibraryTutorial)) That's why using concatenation works.

Maybe we should do something like the following?

[code]

[2012-09-06 08:25] tigran123 commented on #249
Yes, why not. Also, concerning the second question, it seems a bit inconsistent for Lua to treat simple tables (a=nil, #a generates an error) and tables inside environments/objects (self.a = nil, #self.a does not generate an error) differently.

[2012-09-06 15:12] tigran123 commented on #249
Btw, shouldn't it rather be:

[code]

[2012-09-07 04:41] houqp commented on #249
@tigran123, You are right :) Since it is your idea, could you include this patch in your pull request?

[2012-09-07 04:49] houqp commented on #249
As for the second question, following is what I got from the lua prompt:

[code]

Seems that I cannot reproduce the inconsistent?

[2012-09-07 09:55] tigran123 commented on #249
@houqp Ok, I will do (I already included it in my multilevel TOC changes). Btw, concerning the latter --- I am totally rewriting them because last night I simply saw (yes, while asleep :) a beautiful algorithm for converting an array of depths to a tree. It is so simple and efficient that it is worth spending a day to rewrite everything (my current attempt was quite inefficient, because to replace

[2012-09-07 10:03] tigran123 commented on #249
Btw, those curious about my algorithm can see it here:

http://www.bibles.org.uk/depths-to-tree.lua

[2012-09-07 13:26] tigran123 opened #253 "Returning back from "Document Info" causes a crash."
Run "reader.lua ." and then select any file, then press "Right" to show "Document Information", then press "Back". The program will terminate with the following error message on the terminal:

[code]

Tested in the emulator on the current master tree plus the change infont -> infofont in dialog.lua and tfont->tface in HelpPage:show().

[2012-09-07 14:41] dpavlin commented on #253
It seems that `FileInfo:init` never gets called, allthough it doesn't make sense... Init gets called, but `self:addAllCommands()` never gets invoked allthouh `self.commands` is `{}` and `not {}` if false and not true.

[code]

[2012-09-07 14:52] dpavlin commented on #253
Replacing if with `if #self.commands == 0 then` fixes this problem and this seem like lua way to check if table is empty, but I'm also lua newbie, so I'm not completely sure. @houqp is our local lua expert, I'm afraid :-)

[2012-09-07 15:09] tigran123 commented on #253
Aha, I encountered the difference between "if not table" and "if #table == 0" in my multilevel TOC code already. The first happens after "table=nil", i.e. when table does not exist, while the second after "table = {}", i.e. when it exists as an object, but contains zero initialized elements.

[2012-09-07 16:18] houqp commented on #253
@tigran123 is right :)

An alternative fix can be change following:

[code]

to:

[code]

Since the empty table is useless, why not just set it to nil ;P

[2012-09-07 16:24] houqp commented on #253
As for @dpavlin 's question ,  Indeed, `#tablename` is should be used with care on table empty check. It will ignore entries whose key is not a number:

[code]

[2012-09-07 16:32] houqp commented on #253
BTW, this bug also supports my urge on developing on the new UI branch. ;P

In the new ui code base, you don't need to copy commands related code in every widget, all the key bindings and key events stuffs are handled (or hided) by the  UI module. Thus avoiding bugs of these kind. So when you are writing a widget, you only need to focus on high level design.

[2012-09-07 16:48] houqp commented on #249
looks cool! :)

We need to rebuild the parent and children table every time we make changes on the nodes, right?

[2012-09-07 17:13] tigran123 commented on #249
Thank you.

No, we only need to build the parent and children tables _once_, right after the physical fillToc() returns us a valid self.toc.

After that we only change `toc_cview[]` ("current view of TOC") using the static (for a given document) information about parents and children. These two tables (parent a simple one with no holes (but possibly zeros) and children a table of tables with nil=h

[2012-09-07 17:44] ghost commented on #253
I've looked at my not crashing version of fileinfo.lua and found out that  self.commands are defined in the FileInfo-header as nil. So I made one more unnecessary mistake (like missed parenthesis) by manual searching & editing the code via http-interface. Next time I'll just remove the whole text and replace it with the new one. I'm so sorry.

[2012-09-07 22:54] houqp commented on #249
Aha, I see. That's a lot more efficient  :)

[2012-09-07 22:58] houqp commented on #253
Yes, remove the whole text is a better way to add your changes if you use the web interface. However, doing it with Git command line or GUI tools can save you a lot of efforts and time. Anyway, hope you a good holiday :)

[2012-09-08 18:21] dracodoc commented on #206
I looked at the creader.lua. It seemed kpv always use local style sheet instead of the built in css from the epub book. I'm not sure if this is desired. Will there be some performance problem if the local css have something mismatch with the epub?

I replaced the epub.css with cr3.css, the time to open one epub seemed reduced a little bit, probably because the cr3.css is simpler.

[2012-09-09 00:15] houqp commented on #206
um... to check this out, maybe we need to doing some profiling on crengine to see whether it is spending most of the time on CSS parsing.

[2012-09-09 00:41] tigran123 opened #256 "Feature: allow deleting bookmarks."
The subject says it all: it should be possible to delete a bookmark. Not only because potentially one can fill up storage with bookmarks :) but, more importantly, for a psychological reason: users are less likely to use any feature if it cannot be undone. I use bookmarks a lot in CoolReader but I don't create them in KPV because I cannot remove them.

Anyway, I volunteer to work on this issue, so

[2012-09-09 01:19] houqp commented on #256
Go ahead @tigran123 , many people, including me, need this feature :)

[2012-09-09 06:04] eLiNK2gl commented on #245
caught both errors again.
under '6a1de042f4'.

[2012-09-09 10:40] dpavlin commented on #206
I have been playing with coolreader on Android a bit, and I can see a (small, but Android device is much faster) difference when using internal document CSS (which we do now) and ignoring it.

I also noticed that ignoring document CSS is only way to make font size usable -- on DXG Linux Journal epub always have fonts too small to be readable, and our font size selector seems to change just default

[2012-09-09 11:16] dpavlin commented on #253
This one is fixed, we can move to #259 now :-)

[2012-09-09 11:16] #253 closed, assigned to nobody

[2012-09-09 11:19] tigran123 commented on #235
Solved by the pull request #255 so I am closing this issue.

[2012-09-09 11:19] #235 closed, assigned to nobody

[2012-09-09 12:01] dpavlin commented on #245
I still cannot reproduce this, not even on DXG. I tried searching newey 20 times or so and my search wrapped around few times (for context, I'm referring to same document with which @eLiNK2gl has problems).

But, I'm suspecting that you are running out of memory or have memory fragmentation issues. On which device are you running it? Does rebooting it increase number of searchers which are require