[2012-09-09 13:20] dracodoc commented on #206
dpavlin, thanks for the explanation!
As I mentioned earlier, I guessed it's the method coolreader in DX used: cache the layouted document after first time opening, so coolreader can open the document much faster later.

[2012-09-09 13:45] houqp commented on #206
Confirm that @dpavlin 's patch (3fe518979c11fa7aebf16eae8e6a008479ca567c) works. Now we have a instance open on the second run!!!!

[2012-09-09 14:22] dpavlin commented on #206
@dracodoc can you test lastest build? https://github.com/downloads/dpavlin/kindlepdfviewer/kindlepdfviewer-af53a78.zip

[2012-09-09 15:59] dracodoc commented on #206
I tested this build, the time needed for the second time opening is much less!
However, this cache seemed cannot be kept between kpv sessions. Once I quit kpv and start kpv again, the opening time of epub come back to the longer one.

Of course if the cache was to be saved in file, there need to be some more housekeeping work, like deleting the cache when deleting the book. However most epub/mobi

[2012-09-09 16:19] dracodoc opened #261 "Need some configuration methods for different configurations in future"
At the earlier stage the possible user preferred configurations are not much and simple, so it's acceptable for user to directly edit lua files to change some settings, like global refresh.  They may not be preferred by every user, so it cannot be applied to builds directly.

However, there have been some more preferred changes on certain configurations now, it's not easy to apply them manually fo

[2012-09-09 17:00] dracodoc commented on #165
This update is about a minor issue and is related the suggestion I made here before, so I'm not opening a new issue separately.

I noticed the 0829 build will show the gamma level when changing gamma, which is very helpful. However it could be time consuming to adjust gamma for multiple steps, even after I modified the popup dialog time delay.

I suggest not to pop up a dialog every time adjusting

[2012-09-09 18:01] tigran123 commented on #261
I had a look at your unireader.patch; I agree that 2000ms for those bookmark messages is far too long. However, your suggested value of 50ms is too little. In my current pull request #263 I have reduced the value to one and a half second, which is a bit better than two seconds, but long enough to be noticed by the user (50ms wouldn't be noticed).

[2012-09-09 18:09] dracodoc commented on #261
The actual value is not important, in my case the 50ms setting will not make the whole dialog disappear in 50ms, the dx refresh rate is simply not that fast, so it is probably same as 300 ms, but I didn't bother to change it. I can image a K3 user could have a different result, and there probably would be other users that doesn't mind to have a little longer delay time.

The patch file is meant to

[2012-09-09 18:58] tigran123 commented on #256
Solved by the pull request #263 so closing this issue.

[2012-09-09 18:58] #256 closed, assigned to nobody

[2012-09-09 19:55] dpavlin commented on #206
The cache is kept between sessions, but on restart reader has to seed in-memory cache from file again. Cache files are in `/mnt/us/kindlepdfviewer/cr3cache` so you can check that cache files are preserved between restarts. crengine does all that handling and file expiration for us.

[2012-09-09 20:37] tigran123 opened #265 "Feature: PDF reflow."
Even though the standard Amazon PDF viewer does not support pdf reflow, most other ebook readers do: for example, Sony PRS-505 (if I remember the model number correctly, I gave it away as present ages ago), Hanlin V3, Hanvon n516 (aka "Azbuka") and Nook Touch Glowlight.

Therefore, it would be a great addition to KPV features if it could support PDF reflow. Although reflow is useless for scientifi

[2012-09-09 22:49] dracodoc commented on #206
I checked that folder, it seemed that crengine only keep the last epub cache, so if user opened more than 1 file, only the last cache is saved. Have you looked at the coolreader in kindle (not in android)? If I remember correct, coolreader in kindle don't have this limit, and on restart the reading cache should be also faster than first time open too. I've uninstalled coolreader a long time ago, s

[2012-09-10 01:23] dracodoc commented on #206
I installed coolreader for kindle again, verified that:
1. coolreader can cache more than one books. The cache index and cache looks just the same with kpv, but there are multiple cache files.
2.coolreader loading cache in new session is fast, about 2 seconds.

[2012-09-10 08:49] eLiNK2gl commented on #245
@dpavlin, I've got KDXG here. I thought running out of memory would result in the restart of the Kindle framework (?), which is not the case here.

Sometimes I go  searching through the book twice and experience no crashes. Sometimes, it suffices to do 3-4 searches.
This morning the kpdfviewer hung up completely while using the search function and I had the feeling before that it occasionaly freez

[2012-09-10 11:46] dpavlin commented on #206
@dracodoc thanks for your efforts in debugging this issue. 100 bytes of cache size really isn't enough, so I increased it to 64Mb. I will build it later today when this change lands into master.

[2012-09-10 13:27] dracodoc commented on #206
You are welcome!
Thanks for your effort!

[2012-09-10 14:03] eLiNK2gl opened #269 "kpdfviewer crashed using jump history"
while navigating though the jump history (shift + B) in a pdf file, the kpdfviewer crashed with the following error message:

"lua config error: ./unireader.lua:1693: bad argument #1 to 'ipairs' (table expected, got nil)"

[2012-09-10 14:48] houqp commented on #269
Could you tell us which version are you using? I can't find a way to reproduce in latest code.

[2012-09-10 15:52] eLiNK2gl commented on #269
@houqp '397d3aa037'
By navigating I meant calling up the jump history (Shift + B), selecting an item and pressing 'Enter'.

[2012-09-10 16:22] tigran123 commented on #269
Oh, line 1693 points to my code in UniReader:findTOCpos(). I will investigate, leave it to me.

[2012-09-10 16:26] tigran123 commented on #269
@eLiNK2gl I just tested it on a PDF file and cannot reproduce it. Can you please tell me which steps you performed to cause this to happen?

[2012-09-10 16:28] tigran123 commented on #269
@eLiNK2gl 'Enter' is not a valid key for menus, unless you are using KDXG with long enough menus to reach it as a shortcut. On a K3 pressing 'Enter' in a menu will cause nothing to happen, which is (and always was) the expected behaviour.

[2012-09-10 16:32] tigran123 commented on #269
Also, that code is never called from jump history, but only from "show table of contents" function, i.e. "T". Are you sure you were not navigating Table of Contents?

[2012-09-10 16:58] dpavlin commented on #265
I thought about reflow a lot, and it's not easy problem. Most we can get is data for highlight which includes words with coordinates (or even smaller chunks, depedning on pdf producer).

Then we would need to generate some format which we can re-flow, probably generating html for crengine.

It might work, but to be honest, I yet have to see pdf reflow which really works well, so I'm somewhat skept

[2012-09-10 17:03] tigran123 commented on #265
Yes, I understand. At best we'll be able to do the same as pdftotext command.
I remember on Hanlin V3 I used pdf reflow to read very nice typeset PDF files of Rudolf Steiner's books which were too big for Hanlin V3's 6" screen. Now, Kindle has exactly the same 6" screen size, but with kindlepdfviewer's Shift-X function one can read those very same books nicely on it, even in portrait mode. This is

[2012-09-10 17:40] eLiNK2gl commented on #269
hmm... now I am not so sure.

Actually, I was going to test the bookmarking feature but mixed it up and called the jump history instead.
By 'Enter' I meant the middle key of the five-way.

I could have unintentionally pressed some other button.
But I was not looking at the dispay at the moment. Just saw afterwards that the kpdfviewer crashed.
(It would be probably the only reasonable explanation)

[2012-09-10 17:59] tigran123 commented on #269
@eLiNK2gl  No problem at all. If you can reproduce it again please tell me the exact steps and I will try to fix it.

[2012-09-10 18:05] tigran123 commented on #269
Ah, I think I have reproduced it now. The sequence of steps is this:
1. Open some PDF file on a page other than 1.
2. Go to page 1 manually (via "G" command enter "1")
3. Press "T" to get TOC, the crash follows:

lua config error: ./unireader.lua:1694: bad argument #1 to 'ipairs' (table expected, got nil)

Line number 1694 in my code is the same as 1693 in the one you are running because I just ad

[2012-09-10 18:14] tigran123 commented on #269
Ok, I know why this is happening. The self.toc is not nil even though we never entered showToc(). It was populated via some other callers of fillToc(). So, as a result, our call (via "T") of "Show Table of Contents" function skips the required initialization of self.toc_curidx_to_x and crashes findTOCpos() function.

Ok, I am going to the swimming pool now (can't keep my daughter waiting for too l

[2012-09-10 20:46] tigran123 commented on #230
I was going to ask: why do we need to bind /usr/java/lib/fonts to ./fonts/hosts in kpdf.sh? I mean, is this just to add to the font selection available to the user or are any of those fonts actually used internally in KPV?

As far as I can see from grepping *.lua sources, we only use DroidSand and DroidSansMono font faces. Is this not correct? So, in principle we could ship just these two fonts an

[2012-09-10 20:54] tigran123 commented on #215
@dpavlin IMHO, the Lua code which @NuPogodi wrote for making screenshots in bmp format is perfectly adequate (btw, the other format function can be safely deleted --- bmp is more than adequate and can be converted on the computer to any other format if needed).

Therefore, I would vote _against_ invoking external utilities (even very simple ones) and would prefer to rely on the Lua code for making

[2012-09-10 21:41] tigran123 commented on #269
The fix is in the pull request #272 so I am closing this issue.

[2012-09-10 21:41] #269 closed, assigned to tigran123

[2012-09-11 03:36] houqp commented on #269
You have a lovely daughter :)

[2012-09-11 03:41] houqp commented on #248
The good news and as well as bad news is today I accidentally dropped my kindle 3 on to the floor and broke the eink screen.... Now I have to wait for my kindle paperwhite. And this gives me one more reason to focus on the new ui branch... Hope I can managed to get some free time to hack when I received my new kindle...

[2012-09-11 08:12] eLiNK2gl opened #273 "kpdfviewer crashing while closing a book"
error: "kpdfview: fitz/base_context.c:23: fz_free_context: Assertion `ctx->error->top == -1' failed.
Aborted"

1) opened a book
2) pressed 'H'
3) pressed 'forward' to go to the second page
4) pressed 'Back' to exit the shortcut page
5) pressed 'Alt + Back' to close the book

[2012-09-11 09:40] tigran123 commented on #248
@houqp May I ask what is "kindle paperwhite"? Google-ing for it brings the Kindle Fire page, but surely you are not replacing an eInk reader with some LCD-based tablet? Or is there some new eInk-based reader called "paperwhite"?

[2012-09-11 09:46] tigran123 commented on #273
This is a PDF file (because the error comes from mupdf), so would it be possible to have a copy of it, please? I tried to reproduce it on my PDF files and cannot. Also, which page do you open the book on? And will the problem persist if you delete the history entry for this book?

[2012-09-11 09:47] tigran123 commented on #269
@houqp  Thank you, yes, even two of them, but the youngest is too young to go to the swimming pool yet :)

[2012-09-11 09:50] tigran123 commented on #248
Ah, ok, found it! Oh, it seems for US-only at the moment :(

I see that it has a higher resolution (212dpi), but, unfortunately, it has a touch-screen and (more importantly) a guiding layer for the light. This latter causes very substantial degradation to the contrast. I own a Nook Touch Glowlight and when I put it side by side with Kindle 3 (eInk Pearl) and Hanlin V3 (ancient first generation eIn

[2012-09-11 10:47] tigran123 opened #274 "Suggestion: kpdfdjview = lightweight version of kindlepdfviewer with only PDF/DjVu support."
I have various ideas which are not only unlikely to be accepted into the main kindlepdfviewer source tree, but I would not even desire for [some of] them to be accepted, because they imply removing some features which are, no doubt, useful to some people.

Therefore, I suggest to add a lightweight version of kindlepdfviewer which is stripped of crengine and any other features not strictly necessar

[2012-09-11 11:22] eLiNK2gl commented on #273
@tigran123 I cannot reproduce the problem either.
I can certainly provide you with the file but considering the crash is not reproducible it is probably not very helpful.
I'll try further.
Should you still need the book, let me know.

[2012-09-11 21:52] tigran123 opened #275 "Manual bbox values lost in two-column (F or Shift-F) modes on Next page."
Here is how to reproduce the problem.
1. Take a real 2-column book with big margins (test/2col.pdf is no good because the margins are so small that the bug is almost unnoticeable).
2. Open a typical page and do "A" to reset to "fit to page" zoom.
3. Press Shift-X and position the bbox boundaries appropriately, i.e. getting rid of all the white margins around the text.
   Then turn to the next page

[2012-09-12 00:51] houqp commented on #274
I am OK with this. Since it is a freesoftware, do what ever you think that can improve the user experience :)

My question is are you proposing adding the kpdfdjview branch to HW's repo?

[2012-09-12 01:23] Aaron2Ti commented on #190
+1

sometimes the font of the origin pdf is so tiny, and I have to rotate 90 degree on my DX.

after rotating, the PageDown would go to the beginning of next page instead of the next half of current page,
the 5ways key could only move one line down for the current page

[2012-09-12 01:29] dracodoc commented on #190
An immediately improvement can be made about the page down key. In fit width or fit content width mode, the page down button should move screen to the next part of same page, instead of next page. Why would anybody page down to next page without seeing full content?

There should be something to mark the edge of first screen and second screen, probably like the epub end of screen gray shade.

Afte

[2012-09-12 08:59] dpavlin commented on #274
I do have gripes with crengine (mobi support is inferior to epub), but to be honest, I spend half of my reader usage reading some of crengine formats. I guess that first step might be to update crengine to current upstream and try to persuade @tigran123 that it's useful :-)

[2012-09-12 09:02] eLiNK2gl commented on #275
just checked one of my books.
When I press 'F', the page is placed to the BOTTOM left corner.
Pressing 'Right' on the 5-way controller selects the BOTTOM right corner.

A bit off-topic, on at least one of the pages the bbox is grossly off.
Do I understand correctly that if I deleted the history (using 'Del' in the list of last documents opened) there is no lua file left, which could have contained

[2012-09-12 09:35] tigran123 commented on #190
@dracodoc I totally agree with you on the behaviour of the "page down" key. And I suggested exactly the same in issue #236 "Next-page stops working after panning in fit page width and fit content modes." (see the discussion there)

I should perhaps emphasize that the skipping to the next page only happens if you do some scrolling (with FW-selector) just before. But if you don't do it, then "page d

[2012-09-12 09:37] tigran123 commented on #275
On the "scrambled picture" problem --- are you sure you exited in portrait mode? I always get "scrambled picture" when I exit in Landscape mode.

[2012-09-12 09:42] tigran123 commented on #190
@Aaron2Ti  In the case you describe the continuous scroll mode wouldn't really help as much as correctly tuning the bounding box (bbox) with Shift-X function. So, if you adjust the bbox with Shift-X and then press "Shift-S" then pressing "Page Down" (I meant "Next Page") key will give you precisely the behaviour you seek, i.e. it will go one screen-full down on the current page, NOT jump to the ne

[2012-09-12 09:52] eLiNK2gl commented on #275
Yes, I am.
I almost never read in Landscape mode.

As far as I remember, this bug was associated with the auto-rotation feature of the KDXG.
But this time the device was on the table so I just leaned the reader very slightly to press the 'Home' button.

[2012-09-12 09:55] tigran123 commented on #274
@houqp Well, at the moment kpdfdjview exists as "experimental" branch in my local git repository. But this way you don't see what is going on there. I don't know how to create remote branches (like new_ui etc in HW's repository), but I found a tutorial on git-scm.com which may explain it. But if you prefer for this to stay in my local "experimental" branch, that is fine by me. I'll do what you thi

[2012-09-12 10:14] tigran123 commented on #275
@eLiNK2gl Yes, you understand correctly concerning bbox stored in the history file, so deleting it will make it disappear.

[2012-09-12 11:39] eLiNK2gl commented on #275
@dpavlin, sent you the file.

[2012-09-12 12:34] tigran123 commented on #274
I put the first build of kpdfdjview in my Downloads section.

[2012-09-12 12:36] dpavlin commented on #274
You can create remote branch with simple `git push upstream name_of_new_branch`. If you don't specify branch name, only existing branches in upstream will be updated.

[2012-09-12 12:43] eLiNK2gl commented on #115
just a small extension.
If the ratio of the height vs. width for the content is greater than that of the display, you automatically would get some margins horizontally. The only issue  is that the page is currently placed in the top left corner.
Centering it horizontally might be a better option.

[2012-09-12 13:01] tigran123 commented on #274
@dpavlin Thank you, it works! Now in my repository on github there is a branch experimental, so everyone can see what is going on there.

[2012-09-14 02:12] houqp commented on #274
I think it is better to have an official branch for kpdfdjview in @hwhw 's repo, so we can keep track of everything easier. So if you don't mind, I will push your branch to the official repo. But we should better rename that branch to something like `kpdfdjview`.

There is no harm as long as patches are sent back to upstream. And now user have one more choice, to run coolreader and kpdfdjview for

[2012-09-14 02:18] tigran123 commented on #274
@houqp Yes, I completely agree. I named it "experimental" simply because I didn't know how to rename a remote branch :)

Should I somehow rename the local branch "experimental" -> "kpdfdjview" and then push it to hwhw/kpdfdjview? I will try to find out how to rename a local branch.

[2012-09-14 02:23] houqp commented on #274
Just create an other branch when you are in the "experimental" branch, the new branch will be based on the  "experimental" branch and you can start to work on that.

Did @hwhw add you as a collaborator for his repo?

[2012-09-14 02:29] tigran123 commented on #274
@houqp Yes, I do have Read+Write access now. (so whenever I do pull request I see a new green button "this request can be merged automatically" but, of course, I defer it to you and @dpavlin as senior architects of this program to decide what should be "merged automatically" and what shouldn't :)

[2012-09-14 02:36] tigran123 commented on #274
Strange, I did this:

[code]

and I did execute in the "distant past" this:

[code]

so I do have "upstream" defined (and that is where I do "git fetch upstream" and "git merge upstream/master").

Do you have an idea what the problem might be?

[2012-09-14 02:38] tigran123 commented on #274
The way I pushed experimental to my origin was:

[code]

so I don't see why a similar `git push upstream kpdfdjview` refuses to work...

[2012-09-14 02:41] houqp commented on #274
Oh, that's because you use the https repo URL. Try adding the upstream repo like this:

`git remote add upstream git@github.com:hwhw/kindlepdfviewer.git (fetch)`

[2012-09-14 02:43] tigran123 commented on #274
Btw, a bit offtopic, but I would like to mention that I have just upgraded by Kindle 3 from firmware 3.3 to 3.4 and everything seems to work still, i.e. it is still jailbroken and launchpad works and executes all applications fine (though I haven't tested every possible program in every possible way of course :)

[2012-09-14 02:45] houqp commented on #274
great news. Are there any new features coming with 3.4?

[2012-09-14 02:45] tigran123 commented on #274
Hmmm, now it tries to do the ssh keys thingy and dies again:

[code]

[2012-09-14 02:47] tigran123 commented on #274
They claim that they improved the default font that is used in the main (mobi/azw) viewer to make it "higher contrast and more crisp", that is all :) (the other so-called "improvements" I totally ignore, such as "parental controls" and "comic books" and other such commercial or/and "politically correct" nonsense).

[2012-09-14 02:48] tigran123 commented on #274
Btw, I see no difference with the font, to be honest...

[2012-09-14 02:49] houqp commented on #274
LOL

Try `git push upstream kpdfdjview:kpdfdjview`  ?

[2012-09-14 02:51] tigran123 commented on #274
dies again:

[code]

I named it upstream2 to keep my old upstream as I know fetch/merge work fine from it (I am very careful :) i.e. I executed your advice as:

[code]

[2012-09-14 03:00] houqp commented on #274
That's strange... I just try creating a test branch in @hwhw 's repo without any problem.

So now you can push to your own repo, but cannot push to HW's repo? Can you troubleshoot according to the instructions from this [page](https://help.github.com/articles/error-permission-denied-publickey)?

[2012-09-14 03:03] houqp commented on #274
OH, there should not be a `(fetch)`, try add the remote repo again with:

[code]

[2012-09-14 06:23] tigran123 commented on #274
Ok, thank you, succeeded now! In fact, I succeeded with my original command:

[code]

The reason it was failing originally is because I had to execute "remote add" again:

[code]

because when I test building from clean state I completely remove my local repository and clone a new one from github and do the whole process (make fetchthirdparty, make thirdparty etc) from scratch. So, the list of rem

[2012-09-14 06:55] aliabbasjp commented on #220
Zotero's plugin zotfile allows to fetch pdf annotations from pdf seamlessly but it can be tweaked for kindle pdfs too

[2012-09-14 06:57] aliabbasjp commented on #220
zotfile author replied as follows:

You should start by writing a function that takes the path to the pdf file as an argument and returns an array of annotation objects as defined by zotfile (see below). I can take care of integrating this function in zotfile so that you actually don't have to spend your time understanding the zotfile code.

function getLuaAnnotations(filepath) {
    // replace pd

[2012-09-14 12:42] houqp commented on #220
That will be great, I use zotero too :)

I am not sure what an annotation ID is. And does markup means the content of highlighted text?

Do they have a document for this? I failed to find one on their official website...

[2012-09-14 16:46] tigran123 commented on #241
The fix for this problem is in my pull request #279

[2012-09-14 19:00] tigran123 commented on #241
Closing the issue because the pull request was merged into the master tree.

[2012-09-14 19:00] #241 closed, assigned to tigran123

[2012-09-14 22:36] tigran123 commented on #68
In the pull request #256 I have replaced "Del" shortcut with "/"

[2012-09-15 02:53] houqp commented on #68
OK, thanks. Close for now.

[2012-09-15 02:53] #68 closed, assigned to nobody

[2012-09-15 20:41] houqp opened #282 "new release 2012.09"
Lots of changes have been introduced since last release. Is it stable enough for a new release now?

[2012-09-16 03:04] houqp opened #284 "More line space from crengine"
Current Crengine only support 200% line space. However, one user reports to me that for one of his book, 200% is still not large enough. So it will be better if we can make the line space more adjustable.

This is somehow a upstream issue.

[2012-09-16 21:58] houqp commented on #274
I think this can be closed now. @tigran123 , would you mind adding kpdfdjview to the official wiki? (a link or some introduction or something else)

[2012-09-16 21:58] #249 closed, assigned to nobody

[2012-09-16 21:59] #207 closed, assigned to nobody

[2012-09-17 05:39] tigran123 commented on #274
@houqp Ok, will do.

[2012-09-17 05:39] #274 closed, assigned to nobody

[2012-09-17 16:30] kkzxak47 commented on #284
Thanks houqp. I am the "one user"...and here I am.

And yet I got another problem with the latest release: partial refresh.
By default it will now go through 5 pages before a full refresh is done. But I'm too picky for this. I got to do full refresh on every single page.

As a non-programmer, I have to check wiki ("partial_refresh_count" won't work anymore) and search for this problem in "Issues",

[2012-09-17 16:47] tigran123 commented on #284
@kkzxak47 Yes, you just press Shift-R and set the value to 0. You don't need to edit any files manually.

Btw, in kpdfdjview the value is 0 and is not changeable (because I believe that should be the normal behaviour of ebook readers --- no ghosts, please!)

[2012-09-17 16:53] tigran123 opened #287 "Is tile cache really needed for DjVu?"
Since djvulibre has its own internal cache I suspect that application-level caching ("tile cache") should not be necessary. Of course I will first make exact measurements to prove or disprove this, before deciding to rip it out of kpdfdjview. But I thought I should ask here first --- maybe someone has already done the measurements and proved one way or another. I am talking about comparing the tim

[2012-09-17 18:32] tigran123 opened #289 "disabling debug messages for production release?"
In kpdfdjview branch I disabled all debug messages by assigning

[code]

and also commenting out the unconditional printf() to the terminal in pdf.c. Shouldn't we do the same in the master branch for the final release? The rationale is that all these writes to a 38kbps terminal are slowing down the program unnecessary.

I think debug messages should be enabled as and when necessary by the develope

[2012-09-17 18:46] tigran123 commented on #289
Oh, I forgot that it is Lua, not C, so we can make it even shorter:

[code]

[2012-09-17 19:16] tigran123 commented on #287
My very preliminary opinion is that for DjVu files it is probably not needed (but not 100% certain), however it would be too much work to disable it, because all bitblit operations go via cache.bb, so I'll leave it as it is for now, until I know the program's internals enough to have another go at it.

[2012-09-17 19:20] kkzxak47 commented on #284
@tigran123 Got it. Thanks for the tip. I should have checked the help page more carefully...

Thank you for your work! This project is great!

[2012-09-17 19:53] dracodoc commented on #261
It seemed that there used to be some configuration file, according to the wiki
https://github.com/hwhw/kindlepdfviewer/wiki/Userguide

There used to be .reader.kpdfview.lua, then I believe it changed to settings.reader.lua, then it was eliminated all together.

[2012-09-17 19:56] tigran123 commented on #261
It is not eliminated, it still exists and is in fact the very first thing that the reader loads on startup.

[2012-09-17 20:01] dracodoc commented on #261
Sorry I didn't make my point clear. settings.reader.lua still exist but it was generated by kpv, right? So this file is not supposed to be edited by user to customize parameters, right?

[2012-09-17 20:06] tigran123 commented on #261
One of the values in the file (namely the fontmap table) is accessible to the user from within KPV.
The other two values are either constant (version) or automatically updated to point to the last file opened (lastfile).

[2012-09-17 20:11] dracodoc commented on #261
By "customize parameters", I mean user can download a new build, edit the configuration file or just copy his old configuration file to keep his favorite settings, like these entries list in wiki before:
    ["partial_refresh_count"] = 5,
    ["pan_overlap_vertical"] = 30
      and even more like the patch file I posted.

The point of configuration file is to collect most possible user customizati

[2012-09-17 20:23] tigran123 commented on #261
Currently, many of the parameters are specific to a book and so they are stored in the history files for each book. The generic settings are stored in settings.reader.lua. To keep the favourite settings the user has to keep the content of his history directory and also the file settings.reader.lua. So, I still didn't understand what part of the existing functionality you consider insufficient and

[2012-09-17 20:28] dracodoc commented on #261
All the settings I'm talking are global settings, they are not likely specific to a book.
Like these:
      global refresh
      pdf margin color
      popup dialog box time delay

Actually they can only be modified by user manually editing lua files, which are spread out in 2 lua files in multiple places, and have to be done for every new build.

[2012-09-17 20:38] dpavlin commented on #289
I would love to leave debug output (at least until we are sure that everything works), but missing peace is a easy way for users to submit debug log together with bug report.

[2012-09-17 20:57] tigran123 commented on #289
Ok, understand. Closing the issue.

[2012-09-17 20:57] #289 closed, assigned to nobody

[2012-09-17 22:53] houqp commented on #287
if it also applies for mupdf, then we can just remove the internal cache system so the work can be much cleaner. That will be great :)

[2012-09-17 23:27] houqp commented on #261
Is .reader.kpdfview.lua is affecting the behavior of your kpdfview? I think it is already replaced with `settings.reader.lua`. So there is only one setting file.

[2012-09-17 23:43] dracodoc commented on #261
Yes, it's also my findings. Modifying current configuration file will not achieve all the result I want, so I've been manually modifying lua files for each build, just like the patch file I posted above.

[2012-09-18 00:15] houqp commented on #261
Still dont quite get what you mean. ;P

So you are saying that modifying settings.reader.lua does not work for some of the settings?

[2012-09-18 01:20] dracodoc commented on #261
You can check the patch file I posted on first post in this issue. I modified several places in unireader.lua and creadler.lua, which are not covered in settings.reader.lua.

[2012-09-18 01:51] houqp commented on #261
OK, I think I get what you mean. You are suggesting adding more configurable entries in settings.reader.lua, right?

[2012-09-18 02:07] dracodoc commented on #261
Yes! And I also want the bookmark jumping feature you wrote per my request, but that is not a simple parameter value so it'll be more difficult to config. Maybe with a switch to turn it on or off?

Sorry just closed the issue by mistake

[2012-09-18 07:27] dpavlin commented on #287
I like internal caching. It's especially useful when reading pdf files with huge bitmap images since we are pre-rendering next page, so next page flip is instant.

Having said that, rendering indicator (small boxes on top of screen) show that we are re-rendering pages much more often that we optimally should (especially in two column mode), but I still see benefit of caching.

Am I wrong? ;-)

[2012-09-18 07:41] tigran123 commented on #287
@dpavlin
No, I am not saying that you are necessarily wrong. I am saying that one must check to make sure that what you are saying is the case, i.e. perhaps the next page flip will still be instant without internal caching, but WITH pre-faulting the next page? By "pre-faulting" I mean (in DjVu case) forcing the page decoding, this loop in djvu.c:openDocument():

[code]

And there may be similar mu

[2012-09-18 09:50] tigran123 commented on #287
Some more findings:

For most PDF files rendering directly (i.e. using mupdf cache) is 2-3 times faster than serving from cache:

[code]

The exception is PDF files with large images on the page. (the above values are obtained on the emulator, but what is important is not their absolute values but the ratio of "rendering/serving from cache" which ought to be the same regardless of processor speed

[2012-09-18 10:16] tigran123 commented on #287
Ok, I have some very important good news --- our internal cache is needed. My previous conclusion on DjVu was WRONG because I didn't measure correctly the time spent on decoding the page, which is the crucial element for this whole problem.

Now, the proper times for DjVu look like this:

rendering the page for the first time: 80ms
re-rendering the page previously decoded (i.e. serving from djvuli

[2012-09-18 10:16] #287 closed, assigned to nobody

[2012-09-18 13:14] tigran123 commented on #261
What is a bookmark jumping feature?

[2012-09-18 13:52] dracodoc commented on #261
Basically I make bookmark in places I would have note when I read a book. After I finished the book, I'll review each bookmark position and make note in pc. So I need to be able to jump from one bookmark position to next bookmark position directly, and it don't have to start from a bookmark page, just a shift+page down will bring me to next bookmarked page.

It's a feature I used very often but wi

[2012-09-19 03:06] houqp commented on #261
Ok, I cannot promise, but I will see if I can managed to get some free time working on it this weekend.

[2012-09-19 03:14] dracodoc commented on #261
Thanks houqp, take you time!

[2012-09-19 03:21] houqp commented on #287
Great job @tigran123 !

I still have a question, how did you managed to measure the situation when only MuPDF's cache is used? Using internal cache is just some kind of hash table look up and bitmap copy, it should be fast enough. How can MuPDF's do 2 times faster than it?

[2012-09-19 03:26] houqp commented on #287
OMG! You just reminds me that when I was writing the djvulibre lua module for kpdfv, I learned a lot from libjdvu! And I didn't notice that you are the author until you mentioned the djvu viewer for Hanlin V3. This is incredible... And for me, this one of the reasons why coding for freesoftware is fun :) I have to thank you here for making your djvuviewer source code available!

[2012-09-19 08:42] eLiNK2gl opened #294 "imposition of text in info box"
The text from the info box (press 'menu') is overlaid over the book's text (epub), which makes it hardly readable.
Calling up the info box for the second time helps.

[2012-09-19 09:21] eLiNK2gl opened #295 "polishing highlighting feature"
it is possible to highlight a text (press 'n'), which I personally use quite a bit.

1) but after a part of text has been highlighted, the highlight mode is automatically deactivated, so if one intends to highlight another part of text on the same page, you'd need to move the cursor all way down again.
2) highlights cannot be comfortably removed. (You need to move the cursor to your highlight and

[2012-09-19 09:40] tigran123 commented on #294
@eLiNK2gl Are you sure that you tested it on a real Kindle and not in the emulator? In the emulator this is just a quirk of SDL (press Menu a couple of times to make it go away) but if you reproduced this behaviour on a real Kindle (or DXG) then it is a bug.

[2012-09-19 09:41] eLiNK2gl commented on #72
After the shift + 'X' mode, this feature might be another enrichment, which would make kpdfview stand head and shoulders above alternatives.

Any chance to see it implemented in the short-run?

[2012-09-19 10:06] tigran123 commented on #295
I agree with your P.S. comment. However, it is not hard to workaround because Page Next/Prev keys work in the file manager as well and they allow you to quickly jump to the required location. I.e. you don't need to move there in small one-line steps with FW-selector.

[2012-09-19 10:21] tigran123 commented on #295
On the removal of highlights --- it should be very similar to removal of bookmarks, so leave it with me, I'll have a look.

[2012-09-19 10:47] tigran123 commented on #295
It (removal of highlights) is actually slightly more complicated than deleting bookmarks, but still should be doable, consider me assigned to this (item 2) on your list).

As for item 1) I can also have a look, but I don't promise.

BtwI have to go somewhere in a few minutes and will be back in the late afternoon, so I may not have a chance to look at any of this until tomorrow.

[2012-09-19 12:58] eLiNK2gl commented on #294
@tigran123 yes, sir

P.S.: mine is a DXG.

[2012-09-19 13:11] eLiNK2gl commented on #295
@tigran123  That would be great. Thanks.

I suppose it would be pretty straightforward to use highlighting coordinates, so we might at some time make use of the following project -> http://code.google.com/p/kindle-annotations/ (at least, for pdf files)

[2012-09-19 14:44] tigran123 commented on #294
I am back. I see what is happening here: it is not a SDL quirk, but a side effect of retrieving TOC on the first press of Menu because the info at the bottom wants to show which section the current page belongs to and this involves generating TOC which then causes a refresh of the current page. Ok, leave this one with me also, I'll see how to fix it...

[2012-09-19 14:51] tigran123 commented on #295
That program would be wonderful if it was not written in Java and didn't require some massive Java library for PDF manipulation.

The sort of thing you are asking is even beyond the capabilities of Adobe Acrobat Reader but on par with those of Adobe Acrobat Professional. You don't expect one to be able to embed "Acrobat Professional" in a Kindle, do you? :)

[2012-09-19 15:07] tigran123 commented on #294
Ok, I have fixed this bug, so it will be in my next pull request which will also include the highlight deletion from the list.

I also fixed another bug: if the file has external links in the TOC then Menu info shows the wrong section. This will also be in the same pull request.

Now, I am focusing on the highlight deletion from the list feature which you raised in another issue.

[2012-09-19 15:40] tigran123 commented on #295
@eLiNK2gl You use highlighting quite a bit --- have you not noticed a very serious bug with deleting highlights already present? If there is more than one highlight on a page, say, three highlights, and you delete the second highlight then not only the second but also the third one will be deleted. This is because one cannot use # operator on tables containing nil entries between non-nil ones, and

[2012-09-19 16:23] eLiNK2gl commented on #294
fantastic, thanks

[2012-09-19 16:28] eLiNK2gl commented on #295
@tigran123  I have deleted one or two highlights for testing purposes only. And as luck has it, I had no more than one highlight on a test page.
Other than that they are almost holy to me. That's why I prefer the deletion of files from history with confirmation only.

[2012-09-19 16:32] tigran123 commented on #295
Ok, the fixes are in pull request #296 now.

[2012-09-19 16:33] tigran123 commented on #294
All fixes are in the pull request #296 now, so I am closing this issue.

[2012-09-19 16:33] #294 closed, assigned to tigran123

[2012-09-19 16:42] tigran123 commented on #72
@eLiNK2gl I would be very happy with it as almost all the books I typeset use this feature (e.g. all the page numbers in my TOC are hyperlinks to the actual pages and cross-references jump to the appropriate location within a book). Interesting, @hwhw says it is not very hard... Maybe I'll have a look at some point, but I don't know anything about muPDF internals --- I only know djvulibre :)

[2012-09-19 17:28] tigran123 commented on #295
Just to clarify that only the fix for item 2) is in the pull request. The item 1) I did not fix.

[2012-09-19 20:01] tigran123 opened #297 "Deleting a directory does not refresh the filechooser list"
When one deletes a file the list is immediately updated, but if you do the same with a directory then it stays in the list and attempting to enter it causes an error and then the list is refreshed and it disappears.
Looking at the code for KEY_DEL handling in FileChooser:addAllCommands() I see no obvious reason why this happens.

[2012-09-19 21:08] tigran123 commented on #295
@eLiNK2gl  Actually, with my fixes I have broken your "holy of holies", i.e. the highlights. I am sorry about it.
But don't worry, I'll fix them tomorrow! :)

[2012-09-19 21:28] eLiNK2gl commented on #295
@tigran123 Oops, I overlooked your question regarding the software provided in the link above. Sorry.

Actually, I do not expect it to be integrated in kpdfviewer.
The purpose of the program is different.
As the native pdf viewer in Kindle cannot embed highlights and annotations to pdf files, the kindle annotator merges the highlights and annotations made in a pdf file to this file on a pc. After

[2012-09-19 21:36] tigran123 commented on #295
Btw, I have just now fixed the crash I mentioned above and pushed it my origin tree (not upstream!)
I will test it more thoroughly tomorrow before doing a pull request.

[2012-09-20 14:35] houqp commented on #230
Yes binding `/usr/java/lib/fonts` is just for extending font selection. And you are right, `Dingbats` should not be included...

[2012-09-20 18:08] ghost commented on #261
One can change the only parameter msec in the only function showInfoMsgWithDelay(text, msec, refresh_mode) in dialog.lua. Inspecting this code could also help you to understand that no need to do it at all - simple pressing 'anykey' closes the help window

Two suggestions able to solve the problem:
1. introduce the global parameter read_speed (reasonable values 50-100ms/character) and define the d

[2012-09-20 18:13] dracodoc commented on #261
I was not referring time delay itself are spread out, it's all the 4,5 changes in different aspects that are spread out in multiple places.

[2012-09-20 18:59] tigran123 commented on #261
@NuPogodi Thanks for the tip about pressing any key to close the info window.

[2012-09-21 09:38] dpavlin commented on #297
thanks, pull request merged to master

[2012-09-21 09:38] #297 closed, assigned to nobody

[2012-09-21 11:34] dpavlin commented on #72
I just pushed first naive implementation of mupdf bindings to get links on pdf page.

I'm not submitting pull request because there is no user-visible functionality (yet), but I would appreciate if you can take a look at code to make sure that I didn't do something wrong.

[2012-09-21 12:14] tigran123 commented on #72
Very interesting, thank you. I will test it this evening and will let you know how it went.

[2012-09-21 12:22] tigran123 commented on #72
I couldn't resist testing it quickly in the emulator --- yes, it works very nicely! I tested it on the pdf file of the Urantia Study Edition (see "urantia-study-edition" project on github). The TOC there contains links (visually unnoticeable to not distract attention).

[2012-09-21 12:45] eLiNK2gl opened #301 "performance issues with the bookmarking feature"
I have a feeling it became slower.

1) when you select a bookmark from the bookmarks' list, the page you were on, before pressing 'B', shows up and only then the page corresponding to your bookmark. This was not the case in '25edd31'.
2) as I used the bookmarking feature yesterday, my dxg froze for at least 30 sec. Could be something else at play, but somehow I believe this freezing is related to

[2012-09-21 18:22] dpavlin commented on #301
Did screen had small black box visible on top at the moment it was frozen?

I added to provide some kind of visual indication when page is rendering in attempt to better troubleshoot frozen moments, so I'm wondering did you noticed it while kindle was frozen? (was it pdf file or some other format?)

[2012-09-22 05:44] eLiNK2gl commented on #301
It was a pdf book.

I don't remember seeing a small black box but on the other hand I was not paying attention.

[2012-09-22 08:35] tigran123 opened #302 "pressing C in Menu crashes crereader"
Because CREReader does not have its own showMenu() method the generic UniReader:showMenu() is invoked if you press Menu while viewing any of crereader-handled files (like fb2, epub, etc). And UniReader:showMenu() invokes the cleanCache() method if you press C, which is also non-existent for CREReader object, thus causing this crash:

[code]

(ignore the line number as it corresponds to my tree wit

[2012-09-22 08:43] tigran123 commented on #302
The fix is in my tree, see commit SHA: de96f30efffb1c4cb4f2c34536a43b983c763392

I can't send a pull request right now because there is in my tree another commit which is half of the fix for broken TOC handling in crereader. When I completed that fix I will send a pull request which will include this fix also.

[2012-09-22 08:43] tigran123 commented on #302
The commit comment should say "Provide..." not "Prove...", a typo!

[2012-09-22 18:48] tigran123 commented on #302
the pull reques with the fix was merged to master, so I am closing this issue.

[2012-09-22 18:48] #302 closed, assigned to tigran123

[2012-09-24 08:35] tigran123 commented on #72
Btw, I only tested that all the links are present, but did not verify the actual page destinations. In fact, this should be verified in two cases: a) simple arabic numerals from the beginning and b) roman numerals for front matter and then arabic for main matter, i.e. so-called "logical page numbering". In all of my recent editions I switched to simple arabic numerals from the very beginning (btw,

[2012-09-24 19:42] ghost opened #311 "Reproducible TOC-crashes in crereader"
File 1: http://rghost.net/40557914
File 2: http://rghost.net/40558165
The above files are quite readable, but any call of expandable TOC crashes the reader. The old non-expandable TOC with the same books works properly.

[2012-09-24 19:45] tigran123 commented on #311
Yes, I have discovered this on Plutarch's "Lives" as well (from lib.rus.ec), a few days ago. This is because there are plenty of fb2 files with very broken structure, i.e. presenting their TOC as a tree does not work. I was going to either move the expandable TOC code into PDF and DjVu (i.e. return crereader TOC handling to the simple "linear" state that works) OR try to workaround within the TOC

[2012-09-24 19:50] tigran123 commented on #311
What is interesting is that the standalone CoolReader3 (under Linux) presents the TOC for Plutarch "Sravnitelnye zhizneopisanija" as a tree correctly, i.e. internally workarounds the broken structure. So, there is a good chance that we shall workaround this as well, in the existing expandable TOC code.

[2012-09-24 19:57] tigran123 commented on #311
Between the "Retrieving TOC..." and the final crash there are plenty of messages from crengine about "node w/o final parent":

[code]

In the function UniReader:fillToc() at line 1652 it is impossible to get nil as long as the depths array is really a valid depths array, i.e. represents a tree. In this instance it is NOT, so we have to workaround it somehow...

[2012-09-24 20:28] tigran123 commented on #311
Ah, I see, there are nodes of depth>1 but with NO PARENT, that is what it is!

[2012-09-24 20:37] tigran123 commented on #311
@NuPogodi I expected the problem to be a lot more complex (as I have dealt with the broken n-ary trees before), but you forced me to attack the issue "on the head" and solve it. And I thank you for it.

[2012-09-24 21:47] tigran123 commented on #311
Fixed by the pull request #310, closing the issue.

[2012-09-24 21:47] #311 closed, assigned to tigran123

[2012-09-25 08:12] tigran123 opened #314 "Crashing crengine on corrupt .zip files."
CREReader:ZipContentExt() or (more likely) the caller thereof should be strengthened to handle corrupted zip files, i.e. not crash the whole application but print an error message and go back to filechooser.

[2012-09-25 08:53] dpavlin commented on #72
I'm closing this issue since implementation of pdf links is discussed in #309 together with code

[2012-09-25 08:53] #72 closed, assigned to nobody

[2012-09-25 09:50] ghost commented on #314
My previous version of CREReader:ZipContentExt() you recently modified was successfully tested on zips with not crengine-related file entries and non-zip files with zip extention. I've never observed crashes of the reader, the proper error -- either about improper zip content or unzipping error -- was displayed instead.

Please, provide, the corrupted zip file that causes kpdf to crash so that I c

[2012-09-25 10:02] eLiNK2gl opened #316 "kpdfviewer made an epub book corrupt (?)"
while opening an epub book, kpdfviewer crashes with the following error 'Segmentation fault'.
Before it worked just fine. I read more than half a book. But yesterday, kpdfviewer did not go into screensaver.
As I wanted to proceed with reading, I noticed the message 'Going into screensaver ...' and no screensaver.
I managed to get in and closed the book and cannot open it anymore. Removing the corr

[2012-09-25 10:33] tigran123 commented on #314
There are actually two problems there: 1) my fix broke the code path leading to "Error unzipping file." and 2) the io.popen() was used not in the best manner. As I broke it, I'll fix it, please wait.

[2012-09-25 10:37] tigran123 commented on #314
Actually, in your old version there was another bug as well, it would crash crengine on certain invalid zip files. Anyway, please wait, I'll cater for all these instances and then we can test out the result.

CORRECTION: the above comment is incorrect --- it was crashing because of my added debug code and not the original. I will restore the original plus a couple of necessary changes in a minute.

[2012-09-25 11:01] tigran123 commented on #314
Closing the issue as the fix is in the pull request #315.

[2012-09-25 11:01] #314 closed, assigned to tigran123

[2012-09-25 11:36] tigran123 opened #317 "Question: FileChooser:choose() and callback() return to reader.lua?"
In reader.lua we currently expect two return values from FileChooser:choose() like this:

[code]

However, looking at the code of FileChooser:choose() I see it never returns this callback, so shouldn't we modify reader.lua to do this instead:

[code]

[2012-09-25 11:46] dpavlin commented on #316
Does removing cache file from cr3cache helps?

Can you rename book and try it again, just to figure out if it's epub specific problem or more general crengine bug?

[2012-09-25 14:09] eLiNK2gl commented on #316
@dpavlin  Yes, renaming the book helps.

[2012-09-25 15:23] houqp commented on #316
@eLiNK2gl , did you try removing the cache file before renaming the book?

[2012-09-25 15:28] houqp commented on #317
Yes, go ahead, this was a dirty workaround I added when there is no `command.lua` module in KPV ;p

[2012-09-25 15:56] tigran123 commented on #317
Ok, thank you, added to pull request #318

[2012-09-25 15:56] #317 closed, assigned to nobody

[2012-09-25 16:00] eLiNK2gl commented on #316
@houqp  removing the cache helps as well

[2012-09-25 20:05] dpavlin commented on #284
I added it to it to changelog at download page, so I'm closing this issue.

[2012-09-25 20:12] houqp commented on #284
@dpavlin , are you closing this because of the `Shift-R` feature?

[2012-09-25 20:21] tigran123 opened #320 "CoolReader3 vs kindlepdfviewer+crengine"
I have tried using builtin crengine today [seriously] for the first time. On the good side, I was pleased to find that integrating external fonts (Minion Pro and Garamond) was trivial. But, alas, the bad sides were very serious:
1. No footnotes. I.e. they are not displayed where they should be (at the bottom of the page).
2. No hyphenation. This makes the page look very unprofessional.
3. Much slo

[2012-09-25 20:41] tigran123 opened #321 "Missing self:redrawCurrentPage() again..."
Before I start inserting some more calls to self:redrawCurrentPage() again let me explain the bug:
1. Open a DjVu or PDF file with no jump history (delete history/\* files to make sure)
2. Press Back. You will briefly see "Retrieving TOC..." message overlayed by "Already first jump!" message.
3. After "Already first jump!" disappears you will see the "Retrieving TOC..." message which is restored f

[2012-09-25 20:41] #316 closed, assigned to nobody

[2012-09-25 21:05] dpavlin commented on #284
@houqp yes :-) I got carried away by last @kkzxak47 comment...

Changing minimum and maximum line spacing is easy, list modify `self.line_space_percent = math.max(self.line_space_percent, something)` lines in `crereader.lua`.

What would sane minimum and maximum be? (currently they are 80 - 200)

[2012-09-25 21:28] eLiNK2gl opened #322 "SHIFT + left / right broken"
if you press 'SHIFT + left / right', it is supposed to take you 10 pages backwards / forward (epub).
And it obviously does, but the page does not get refreshed.

[2012-09-26 03:20] wwdz99 commented on #113
hi,houqp,could you please help me to resolve the Kindle 4NT Reading PDF  in Full-Screen mode.i have been searched this issue for 2 days but i didnt find any solution. Kindle Touch and all old model have a solution for full screen pdf(without black border) but Kindle 4NT hasnt got any patch to eliminate this black borders. I hope you can help me to solve this issue.thx very much.

[2012-09-26 04:31] ghost commented on #322
1. Make sure that you have updated your unireader,lua after https://github.com/hwhw/kindlepdfviewer/pull/313 - generally, it should help
2. Please, test whether the any jumps (like Shift-Up/Down = prev/next chapter, Alt-Q..P = 0%.99% , etc) are accompanied by the same problem (not refresh)

[2012-09-26 08:00] tigran123 commented on #321
The big problem with my suggestion above is that it will cause an unnecessary redraw on _every_ press of Back whereas we only need it under two conditions:

a) TOC has not yet been retrieved by some other means
b) we are at the top of the history list

So, I'll improve my fix to be more specific and optimal.

[2012-09-26 08:27] tigran123 commented on #321
Actually, before I start optimizing the suggested fix I wish to understand why Back function must differ between PDF/DjVu and crereader implementations, i.e. why do we need this code in unireader but not in crereader:

[code]

If this code did not exist then the problem would disappear as there would be no call to addJump() method.

[2012-09-26 08:48] tigran123 commented on #321
Ah, I see the reason now. The functionality of unireader and crereader jump history is different: crereader's is more deficient, i.e. one last jump is actually lost, try this:
1. open a fresh fb2 book (no history file), obviously you end up at the beginning
2.  now jump to 10% (G and enter 10)
3. now jump to 20% (G and enter 20)
4. now keep going Back to the beginning.
5. press Shift-B to observe

[2012-09-26 08:53] tigran123 opened #323 "Files beginning with a single dot not visible."
Before I forget, here is the bug I observed a long time ago (fixed in my local kpdfdjview branch, I just need to bring it over). We can see the files beginning with two dots e.g. "..djvu" but not with a single dot like ".djvu". So, the directory info (even in advanced file manager mode) will show more "files" than "books" whereas in advanced mode these two should logically always coincide.

The fi

[2012-09-26 09:13] tigran123 commented on #323
Just a slight correction: the dir info discrepancy is not to do with files beginning with single dot but to do with files with no extension. But the files beginning with single dot are not visible to filemanager (but accounted for by dir info correctly) --- so there are two bugs here, not one.

[2012-09-26 09:23] tigran123 opened #324 "Font used for TOC entries is missing lots of glyphs."
We may need to choose a better default font used for TOC entries as it is missing a lot of common glyphs. E.g. dictionaries often use a special character • before entries (both in the text and TOC) and both evince and acroread display them correctly, but not KPV. Also, Armenian glyphs are missing (just noticed on one of my editions of Armenian Bible), though admittedly those cannot be called "comm

[2012-09-26 09:27] eLiNK2gl commented on #322
@NuPogodi
tested https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-c4b04d9.zip
All's fine now. Thanks.

[2012-09-26 10:21] tigran123 commented on #322
Closing as you confirm it was fixed.

[2012-09-26 10:21] #322 closed, assigned to nobody

[2012-09-26 15:10] tigran123 commented on #321
Closing, the fix is in the pull request #325

[2012-09-26 15:10] #321 closed, assigned to nobody

[2012-09-26 22:40] dpavlin commented on #236
During testing of this change I found bug when we are on bottom of the page and press fiveway up, part of page becomes centered on screen instead of flushed to top. This sill has to be fixed.

[2012-09-27 05:00] houqp commented on #321
Thanks for the detailed analysis :)

Just some more comments:
- Will it be better if we move `InfoMessage:show("Retrieving TOC...", 1)` call from `UniReader:fillToc()` to `UniReader:showToc()` method? Because I think `fillToc()` is looks more like a data processing function, so it's better not use it to do GUI update.
- I see no reason why key event `KEY_BACK` should be handled differently in crer

[2012-09-27 09:20] tigran123 commented on #321
@houqp  I thought about the first thing you mention, but decided against it --- the whole point of the "Retrieving TOC..." message is to not give the user impression that KPV hang while it retrieves TOC from those files which have a massive number of entries in it, such as my morphologically-tagged editions of the Bible where we need a TOC entry for each individual verse (not chapter, as usual) be

[2012-09-27 09:34] ghost commented on #321
I've basically finished the tools to separate messages on importance level -- so user may decide by himself how the reader should inform him about various events. This evening I'll probably submit the proof of concept and test files (say, crereader.lua or any other that is ATM not under heavy development) to illustrate how it works.

It should help us not to pay too much attention to unimportant p

[2012-09-27 10:02] tigran123 commented on #321
@NuPogodi The decision where to show the message "Retrieving TOC..." does not depend on the user's ability to change the overall verbosity level. It is a completely separate issue. On each verbosity level that the user will be able to set we will still have to make such decisions and do this carefully, analyzing every possible situation and asking ourselves "why do we need to do it?", as @houqp ju

[2012-09-27 12:02] tigran123 opened #331 "Jump history in crereader loses the last position."
The Jump History works differently between PDF/DjVu (unireader) and ebooks (crereader). I mentioned this in the issue #321 but it deserves a separate issue for proper tracking of the fix. Here is the scenario:
1. open a fresh fb2 book (no history file), obviously you start at the beginning of the book
2. now jump to 10% (G and enter 10)
3. now jump to 20% (G and enter 20)
4. now keep going Back to

[2012-09-27 12:05] tigran123 commented on #331
Ah, I got it, all we need is:

[code]

I'll test it and submit a pull request in a minute...

[2012-09-27 12:06] ghost commented on #321
Our task will be restricted by simple estimation of the message importance. The rest (namely, how the events with a certain importance will be informed about -- i) ignoring, ii) showing the popup window with the message text, iii) TTS-voice message or (iv) popup & TTS -- the user will adjust for his own taste.

Concerning the importance... ATM, I've made 3 levels -- a) auxiliary messages, b) impor

[2012-09-27 12:19] tigran123 commented on #331
I fixed this in both my local and github master branch, but because it had @dpavlin twocolumn fixes merged in, I can't send a pull request until his pull request #327 is merged (otherwise I'll create a conflict), so this fix will have to wait until then.

[2012-09-27 12:23] tigran123 commented on #321
Yes, your design sounds very good and well thought through. But this change will involve changing a lot of code everywhere and (what is more important) deciding where the page redraw is needed and where it is not (i.e. it will then depend on the verbosity level, so this is not a trivial matter at all). Therefore, I suggest that this change is merged only _after_ the release, i.e. into the next dev

[2012-09-27 12:34] tigran123 commented on #321
Actually, concerning the redraw issue, if we assume the _worst_ case (i.e. most verbose level) then there is no issue and so there is no reason why your proposal can't be merged now. And, at some later (after-release) point, we can consider optimizing page redraws depending on the verbosity level, i.e. to not redraw the page if the potential message was not actually displayed.

[2012-09-27 13:03] ghost commented on #321
To say the truth, I made these functions available in the only mode introduced for developers & beta-testers as some of them -- say, voice-related tasks -- may properly work on K3 (tested) and not work on other Kindle devices and emulator (or even crash the reader). For evident reasons I could not test it by myself. So, I'd like to have some feedback from lucky K2- & KDX-owners or, even better, no

[2012-09-27 13:36] tigran123 commented on #321
Ok, wonderful! In that case, here is how I suggest that you proceed (i.e. to make things convenient both for you and others who will wish to test your changes --- e.g. I will gladly do that, I am very curious how you implemented TTS stuff). Do the same thing that @dpavlin does, namely create a separate branch in your github tree (I called it "msg-levels" below but you choose whatever name you feel

[2012-09-27 13:41] tigran123 commented on #321
Ah, I just saw in your github tree "nupogodi-inputbox" branch which means you already know all of the above. Ok, great --- maybe someone else (who is new to git) who reads these posts will benefit then :)

[2012-09-27 20:58] tigran123 commented on #331
Pull request #332 with the fix was merged in, so closing the issue.

[2012-09-27 20:58] #331 closed, assigned to tigran123

[2012-09-27 20:58] tigran123 commented on #236
Pull request with the fix #329 was merged in, so closing the issue.

[2012-09-27 20:58] #236 closed, assigned to nobody

[2012-09-27 20:59] tigran123 commented on #275
Pull request with the fix was merged in, so closing the issue.

[2012-09-27 20:59] #275 closed, assigned to dpavlin

[2012-09-27 21:07] tigran123 commented on #282
How about a code freeze for a few days (so we test everything thoroughly) and then have an official release? The current state of the program seems very good and stable to me. Or do we still have anything critical?

[2012-09-27 21:08] tigran123 commented on #215
Is it the consensus of everyone that the way screenshots are done currently (in Lua) is the best way, so we can safely close this issue?

[2012-09-27 21:10] tigran123 commented on #323
I think this is a purely cosmetic issue (when was the last time you named your book .PDF or .DjVu ? :) so I am closing this issue.

[2012-09-27 21:10] #323 closed, assigned to nobody

[2012-09-27 21:11] tigran123 commented on #273
I am inclined to close this issue as it is non-reproducible. Labelling it as "Unclear" for now, in case someone thinks it is worth keeping open.

[2012-09-27 21:13] #206 closed, assigned to nobody

[2012-09-27 21:17] tigran123 commented on #324
It is very hard to find a good font that is unencumbered wrt licenses and contains all the glyphs, so if the user is unhappy that some of the glyphs are not displayed in TOC (e.g. Armenian characters) then he should press "h" and learn how to substitute the fonts and install appropriate fonts himself, so I am closing the issue --- it is not something we can or should solve in a way that would sati

[2012-09-27 21:17] #324 closed, assigned to nobody

[2012-09-27 21:20] tigran123 commented on #301
@eLiNK2gl Do you still experience performance issues with PDF bookmarks? If so, email me the PDF file -> tigran@bibles.org.uk (if it is less than 25MB) or put it somewhere where I can download. If not, please close the issue.

[2012-09-27 21:21] tigran123 commented on #265
Something not likely that we'll tackle in the near future, so closing the issue for now...

[2012-09-27 21:23] tigran123 commented on #148
We are already using LuaJIT, so this can be safely closed, I think.

[2012-09-27 21:23] #148 closed, assigned to nobody

[2012-09-27 21:33] tigran123 commented on #29
We already compile with -O3, so it seems sensible to close this issue.

[2012-09-27 21:33] #29 closed, assigned to nobody

[2012-09-27 21:46] eLiNK2gl commented on #301
as it seems the issue 1 has been surreptitiously fixed.
has not experienced a problem with issue 2 either.

[2012-09-27 21:46] #301 closed, assigned to nobody

[2012-09-27 21:54] dpavlin commented on #215
+1 for close

[2012-09-27 21:54] #215 closed, assigned to nobody

[2012-09-27 21:58] dpavlin commented on #265
I would leave it open. If frequent request on MR and I would love to prevent opening another issue. We can use this one as placeholder (since github doesn't have WONTFIX flag ;-)

[2012-09-27 22:19] houqp commented on #282
Yes, I agree. After five months, finally come the new release :)

[2012-09-27 22:29] tigran123 commented on #282
Good, and I am working on my local branch called "auto-upgrade" and you can guess what that means --- certainly not for the current stable release :)

[2012-09-27 23:04] dpavlin commented on #282
I was thinking about read-only rsync repository for wifi or correctly configured usbnetwork, what are your ides for auto-update?

Another idea was to pack whole update into pdf file and extract it using mupdf. This would enable download over 3G (and possibly provide some documentation to really be useful as document) and at the same time provide update if opened with kindlepdfviewer.

[2012-09-28 00:08] ghost opened #333 "New InfoMessage-concept"
CONCEPT: I've just finished first attempts to make InfoMessages user-configurable. In other words, new concept requires developers just to set the importance level for a certain message, while the user is suggested to tune the method to inform him about the reader events by his own hands.

ATM, messages are separated on 4 various classes enumerated in the order of importance
        a) "Auxiliary

[2012-09-28 05:49] houqp commented on #282
The pdf packing approach looks cool :)

But why not just the customupdate from github and extract it locally?

[2012-09-28 10:01] tigran123 commented on #282
Yes, I was thinking along the lines of @houqp suggestion, i.e. wget the downloads page from github, parse it to see if there is a latest zip with git-rev other than currently installed and then either unzip it (dealing with ETXTBUSY issue on the executable) or just put it to customupdates and advice the user to do "Shift-Shift-I" after the application exits.

But packing the update into pdf is an

[2012-09-28 10:16] tigran123 commented on #333
@NuPogodi Amongst your changes there is a commit which replaces the "/" shortcut with "Del" which may break "deletable" menus on a DXG. Is it really needed for the new InfoMessage implementation?

Also, among your changes there is a fix for proper scfont initialization (which will probably fix the bug I reported whereby the font used by selectmenu is not persistent (if modified by user) across exi

[2012-09-28 10:27] tigran123 commented on #333
Another suggestion: please don't use explicit numbers (0,1,etc) as parameter values but rather something that at least looks like symbolic defines (I know that Lua doesn't have them) i.e. like MSG_WARN etc (like we have for keys KEY_ENTER etc). This is so that looking at the particular invokation of :inform() method one doesn't need to always go to the source code of implementation to remember whi

[2012-09-28 10:33] ghost commented on #333
No, it's not. I've written above that all you need to test the concept is only 3 files -- dialog.lua, filechooser.lua & reader.lua. Most of changes are made in dialog.lua, filechooser contains the hotkeys (KEY_I, Vol-/+ and Shift+Vol-/+) to run new functions and presents many examples how the new concept works with various events - auxiliary message ("Searching..."), important messages ("Unstable.

[2012-09-28 10:35] tigran123 commented on #333
Ok, great :)

[2012-09-28 10:38] tigran123 opened #334 "KPV auto-upgrade via WiFi and possibly 3G"
Creating this issue as a proper place for discussion rather than the existing issue #282 which should strictly be about the current release, not some future enhancements....

[2012-09-28 11:02] tigran123 commented on #333
Am I right to understand that the user can't do anything while the message is being spoken? Or is "say" command intelligent enough to return immediately and simply queue the message to be spoken thus allowing the user to continue working? If it is not asynchronous (i.e. one has to wait until the message is spoken to the end before doing anything) then it would seriously irritate the end-user who w

[2012-09-28 11:08] ghost commented on #333
No, user can do evethyng what he wants -- navigate between files & folders, scroll pages, etc -- when TTS-engine tells him smth. That was the reason I tried to implement TTS-feature.

[2012-09-28 11:14] tigran123 commented on #333
Excellent! That is really good, now I am very impressed with TTS. I was sceptical initially because I assumed it was going to slow everything down and force the user to wait patiently for those messages to be spoken aloud :)

Well done!

[2012-09-28 11:26] tigran123 commented on #282
Back to the release topic: should someone write some kind of ChangeLog describing the features (only the major ones, not every single commit, obviously) between the last release and the current one.

I think the most important changes are @dpavlin 's yesterday's fixes to zoom modes/position handling, so these should definitely be mentioned as many people on the forum(s) complained about this (and

[2012-09-28 11:31] tigran123 commented on #282
By "code freeze" I meant allowing bugfixes only, not an "absolute code freeze", of course.

[2012-09-28 12:04] dpavlin commented on #334
Main reason why I suggested packing update inside pdf is to be able to use 3G (only connection on DXG) and built-in browser to get it from Internet. I don't have any idea how hard would it be to extract update from pdf using mupdf.

[2012-09-28 12:25] eLiNK2gl commented on #333
@NuPogodi   items from history get still deleted w/o confirmation.

(In 'confirmations', 'show popup window' is selected.)

P.S.: KDXG

[2012-09-28 13:01] ghost commented on #333
@eLiNK2gl , Thanks, I certainly remember about it... It's easy to fix, but I can not submit pull request with this fix as my repo now contains mostly files -- either already adjusted or waiting for it -- with not properly tested sound-related functions. So, please, ask other developers -- it should not take too much time

PS. KDXG? May you hear just implemented TTS-warnings on DXG? May you adjust

[2012-09-28 13:22] eLiNK2gl commented on #333
@NuPogodi no problem with the TSS related features.
But I've got firmware v.3.2.1.

[2012-09-28 13:32] ghost commented on #333
@eLiNK2gl , just added the confirmation you asked for to my repo https://github.com/NuPogodi/kindlepdfviewer/blob/master/filehistory.lua

If you properly and quickly test how it works, this fix might be included in the release. It looks like (line 215-...)

self.commands:add({KEY_DEL}, nil, "Del",
"delete history entry",
function(self)
file_entry = self.result[self.perpage*(self.page-1)+self.curre

[2012-09-28 13:55] eLiNK2gl commented on #333
@NuPogodi
Hmm...
I'm afraid it just works :)
Thanks

just one observation
in the file chooser, pressing 'I' envokes the list with the event types.
in the lists of 'search results' and 'last documents', pressing 'I' envokes the information on the file selected.

[2012-09-28 14:11] eLiNK2gl commented on #333
@NuPogodi
no TTS for 'already first jump'
Actully, the popup window is shown, irrespective of what I choose.

'Registering fonts...' does not belong to the group of auxiliary messages, whereas imho it should.

[2012-09-28 14:30] ghost commented on #333
@eLiNK2gl , I must confess that I did not have enough time to check every warning (I hope that "already first jump" was attributed to this class). I can do it later, as this feature will not be included to the september release anyway.
PS. Could you please be a bit more presice in your reports and specify what type of reader -- crereader or unireader -- you are writing about?

[2012-09-28 14:51] eLiNK2gl commented on #333
@NuPogodi
Sorry, I will.

unireader (pdf)

[2012-09-28 15:10] tigran123 commented on #333
Let us think logically and then the following will be quite clear:

The confirmation for deleting history entry is not needed --- it is not done by any standard ereader like CoolReader or Amazon's built-in mobi viewer. I thought we already discussed this and agreed that such data as bookmarks, highlights, etc are "ethemeral", i.e. user-defined custom data and if the user chooses to delete them he

[2012-09-28 15:31] eLiNK2gl commented on #333
well, thinking logically, i tend to agree more with @NuPogodi.
You can easily get a copy of your book but not of your bookmarks and highlights.

I bet most users don't even know that while deleting an entry from the history they delete everything that belongs to the file, which should in my view be addressed and, as long as the issue not solved, properly communicated.
But it is just my opinion.

R

[2012-09-28 16:07] tigran123 commented on #333
Let us also recall to mind the fact that Amazon Kindle framework does not prompt even when deleting a file as long as the file is known to be stored in the Amazon storage ("Archived Items"). Why? Because the book can be easily retrieved via WiFi or 3G (for free, btw, despite their claims that they would charge the fees it actually works via 3G for free, must be a bug or maybe there is some limit a

[2012-09-28 16:16] tigran123 commented on #333
Ah, I see what you mean: to have two files in history directory for each book -- one which contains short-lived stuff like last page read, render_mode, globalzoom, jump_history, bbox etc (which can be set up with each reading session if need be) and another file which contains precious long-lived data like bookmarks, highlights and (in the future) notes. To this I would gladly agree and help to im

[2012-09-28 16:23] tigran123 opened #336 "Need to undo the previous commit by NuPogodi to crereader.lua"
The commit (persumably done by mistake, not intentionally of course) by @NuPogodi to crereader.lua broke the current crereader functionality because it relies on the future :inform() method of InfoMessage(), so we need to undo it for the current release. I don't know how to revert commits, @dpavlin can you do this?

I checked, it certainly did not come with my pull request #335, i.e. @NuPogodi pus

[2012-09-28 16:31] tigran123 commented on #336
The commit to be reverted is SHA1: f872473604

[2012-09-28 16:41] ghost commented on #333
We have already discussed this task on the Russian forum. I wrote my arguments Pro (just saving 2 page refreshes that could also in future be avoided in TTS-regime) and Contra (loosing results of the whole work performed at reading -- bookmarks, stored fragments, bounding boxes, etc) NOT to ask user before deleting the history file. I also wrote that each reasonable user (including you and me) has

[2012-09-28 16:59] tigran123 commented on #333
My argument against prompting the user is not about saving two page refreshes, but saving several minutes of user's time who is deleting a thousand entries from the history --- without prompt it can be done quickly by just keeping the finger on the "Del" key. Otherwise it take minutes...

[2012-09-28 17:02] ghost commented on #336
Hmmm... I have no idea how it happens. I guess I've gradually committed the changes to my own repo and not ask anyone about any pull requests.

[2012-09-28 17:03] tigran123 commented on #336
No problem, I think you just accidentally typed "upstream" instead of "origin" once, so the change went to upstream instead of origin. I sent a pull request which reverts it, so all should be fine.

[2012-09-28 17:15] ghost commented on #336
No, I don't... Am I really allowed to commit  to the other's repo in any other way than commiting to my own fork, then sending pull request and finally accepting it?

[UPDATED] I've looked in my repo -- the crereader.lua is 3 days old. But i thought i did refresh it today. It seems that  I'm somehow allowed to commit directly to hwhw / kindlepdfviewer  Never knew about it...

[2012-09-28 17:22] tigran123 commented on #336
Yes, you have WRITE access now and you can push changes directly to the master tree. However, it is a "custom" not to do that, but submit a pull request and let your fellow collaborators review the code (and even test it if it is critical) and then merge the pull request.

Once (recently, infofont change, remember?) you submitted a pull request and then instantly merged it yourself, this is essent

[2012-09-28 17:33] tigran123 commented on #336
A separate long-term branch is a different issue. For example, I had a branch called "kpdfdjview" (in hwhw tree, not just in my own fork) and to that one I was committing changes without bothering to open pull request for each change. But that was because I was essentially the sole maintainer of kpdfdjview branch and so it was ok.

Btw, my advice on having a separate branch for your InfoMessage:in

[2012-09-28 17:35] ghost commented on #333
Well, I have already thought to implement selecting and processing multiple files in filechooser.lua - imho, it's the right way to solve this task, but not the silent deleting that could happen even accidentally if I'll be so stupid to carry my K3 not protected by а rigid cover somewhere in the bag.

[2012-09-28 17:39] tigran123 commented on #336
And, btw in my above comment one could add "or @NuPogodi" to "... then @dpavlin or @houqp review it and then merge it". I.e. reviewing and merging the code is the peer to peer thing and not "senior to junior" thing. You and I are peers, @dpavlin and @houqp are our seniors, but I see nothing wrong with each of us reviewing/testing/merging the other's pull requests. Problems would arise only if some

[2012-09-28 17:41] tigran123 commented on #333
Yes, selecting multiple files (btw, how do I press INS key in myts to get selection in mc?) is a good idea.

[2012-09-28 17:43] ghost commented on #336
Ok, now I understood that having a possibility to commit directly to hwhw / kindlepdfviewer I should be at least twice more careful. Till now I just always followed the 3 steps procedure, albeit once accepted my own pull request to correct an evident typo...

[2012-09-28 17:44] tigran123 commented on #336
Yes, that is why I said nothing at that instance (infofont) as it was an obvious thing and you fixed it several times already :)

[2012-09-28 17:57] ghost commented on #333
I don't know how to select one file, I always used for multiple selections mostly the key "*" (Back+I) as well as "+" (Back+S), "-" (Back+F)
PS For multiple selection in filechooser I was going to use Space (as in totalcmd), but left this task till better times

[2012-09-28 18:14] tigran123 opened #338 "PDF Antialiasing not turned on?"
I was examining the mudraw.c sample program from mupdf distribution and noticed that it sets antialiasing with 8 bits by default by calling `fz_set_aa_level()` function. Shouldn't we do the same in pdf.c:openDocument()?

I am going to test this change to see if it makes any difference.

[2012-09-28 18:23] tigran123 commented on #338
No, the default is 8 bits, so we are ok. Closing the issue, false alarm!
But still, relying on the default (which may change) is a bit dangerous, so it may still make sense to set it explicitly, but I am closing this issue for now as there is no pressing need for any change at this time.

[2012-09-28 18:23] #338 closed, assigned to nobody

[2012-09-28 18:53] ghost commented on #333
BTW, if looking for easiest implementation of multiple file deleting... One may add Shift+Del to filesearcher that would delete ALL found items. If one needs to erase few thousands of history files, he just has to set filechooser in the Advanced mode (that searches among files with any extentions), then enter folder ./history, run filesearcher with the pattern " " (or "lua" or any other) and final

[2012-09-28 18:59] tigran123 commented on #333
Actually, that would be a very good idea, except there is one problem --- the horrible long filename of the lua file in history. I.e. one would still need to press fiveway Right to ascertain what book this file corresponds to and then delete it.

[2012-09-28 20:56] houqp commented on #282
@NuPogodi , you mean a `changelog` file included in the release zip file?

[2012-09-28 21:00] tigran123 commented on #336
Closing the issue as the corresponding pull request was merged into the master.

[2012-09-28 21:00] #336 closed, assigned to nobody

[2012-09-28 21:06] houqp commented on #334
If we pack the file into pdf and want to download it via 3G, we have to manually send the pdf file to our kindle mail, right?

[2012-09-28 21:10] tigran123 commented on #334
@houqp This is what I wanted @dpavlin to clarify, i.e. I was wondering whether @dpavlin implies that we can wget a pdf file directly via 3G? I know that we can't download it via browser (only txt/prc/mobi files are downloadable, sadly). So, how do we get that PDF file to the device via 3G?

[2012-09-29 06:32] ghost commented on #282
@houqp , changelog is a good idea, but I am not qualified enough to make it properly (I missed 2 weeks when a plenty of commits & pull requests were made)

[2012-09-29 08:25] tigran123 commented on #282
I think someone can start writing it and others can contribute items if something was missed. The hardest thing is to start, then it will grow like a snowball :)

[2012-09-29 11:01] tigran123 commented on #282
For the actual release candidate I suggest to perform the following simple optimizations:
1. Remove "-d" switch to reader.lua to disable debugging output. We will still get exactly the same data in crash.log as we do now, i.e. the crash message with the indication as to where it occurred.
2. Disable warning/log messages coming out of crengine. I don't know which switch controls them. We need to fi

[2012-09-29 11:14] tigran123 commented on #282
For item 1. I included the change in my current pull request (as it is obvious), but the other items require discussion.

[2012-09-29 14:01] ghost commented on #282
I've just noticed two places where minor cosmetic corrections could be applied, namely
1. ATM, the footers in selectmenu.lua & helppage.lua are left-adjusted, these also contain the prompt for users how to call help (selectmenu.lua) and how to go back (helppage.lua). By minor correction to function DrawFooter() in filechooser.lua, one may readily make the rest footers to look in a similar way.
2.

[2012-09-29 14:38] eLiNK2gl commented on #333
Actually, what I suggested is to have one file (which I called an index file) to contain either short-lived info (like whether a file is to be shown in the 'last read' list) or info which would be common to all files (but settings could be a more proper place). It can also be used later when collections would be supported (one of the issues on @houp's priorities' list). The info peculiar to each f

[2012-09-29 16:55] dpavlin commented on #334
3G network connectivity requires inserting HTTP headers which are generated when web browser does it's authentication with Amazon's proxy see #221. To be honest, I never managed to get wget working so simplest solution would be to download pdf file using Amazon's web browser.

[2012-09-29 16:56] dpavlin commented on #334
@houqp I don't think we need to e-mail document, we can download .mobi and .pdf files directly from web sites (at least on DXG and K3)

[2012-09-29 17:54] tigran123 commented on #334
@dpavlin .mobi yes, but .pdf not. I.e. not via browser. You can only download txt/prc/mobi files via browser (without FreeDownload hack which I wouldn't recommend anyone to use as it is dangerous and unstable)

[2012-09-29 17:58] tigran123 commented on #282
Ok, I'll try to do this.

[2012-09-29 18:06] tigran123 commented on #282
Done, see pull request #340.

[2012-09-29 18:08] tigran123 commented on #282
Actually, I could have done it in a neater way by a little bit of extra overhead (creating remote branch, cherry-pick a commit from it, merge back to master, etc) and this would have given you proper attribution for the fixes.... I hesitated for a second whether to go through all these and then decided that for the sake of two small fixes it is not worth it (hope you don't mind).

[2012-09-29 18:28] ghost commented on #282
Thanks... Although everyone knows that one shouldn't judge a book by its cover, but there always exists a black sheep who may consider a bit different footers as a bug.

[2012-09-29 19:46] houqp commented on #334
Does amazon just check the extension or the content of the file?

[2012-09-29 19:48] tigran123 commented on #334
Their email service definitely checks the content --- I tried sending fb2 and djvu masquerading as pdf and it didn't work, even though it shouldn't look inside my pdf files unless I specified "convert" in the Subject. But the website --- I don't know, we have to check.

[2012-09-29 19:54] houqp commented on #282
As for changelog file, we can just copy the content  from wiki. I think everyone should add their own contributions to the wiki changelog to make sure no important update is missed :)

For this one, I am not sure yet. I have no idea why mupdf ships with these two fonts. Anyone want to take a look at `mupdf/pdf/pdf_fontfile.c` ?

[2012-09-29 20:35] tigran123 commented on #282
Yes, the answer was right there --- we cannot remove these two fonts because they are used for substituting the builtin fonts "ZapfDingbats" and "Symbol" which PDF specification demands that the implementation must support. Ok, let them stay...

[2012-09-29 21:56] houqp commented on #282
But we can indeed exclude these two files from crengine's font loading list to make it boot faster.

[2012-09-29 22:39] dpavlin commented on #334
We can then probably pack update inside mobi to deliver it as download from web. It would probably require to embed zip as image and then extract it to disk. I seem to remember methods for that while reading through crengine source a few weeks ago while trying to figure out how to extract links (for which I still don't have solution).

[2012-09-29 23:44] dpavlin commented on #282
@tigran123 you can commit changes with different author using `git commit --author=nupogodi` which is smart enough to track you as commiter and original author.

[2012-09-30 10:46] tigran123 commented on #334
So you are suggesting the user to download it manually and then point KPV to the file? I thought it would be more conventional and convenient if KPV internally went (but ONLY if the user permitted this, not like some nasty software that does things behind the user's back) and checked and downloaded it if necessary. But presumably this (via wget or curl) wouldn't work via 3G because of Amazon hands

[2012-09-30 11:57] tigran123 commented on #282
I suggest that for the release we change the default value of rcountmax to 0. This is the more sensible value (and used by default by Amazon and other viewers) and many users may not know that they can use `Shift-R` command to set it and instead will complain that KPV has "bad quality rendering, the page is too dark sometimes". But those who wish to set it explicitly to a higher value can still do

[2012-10-01 12:46] tigran123 opened #346 "Pressing fiveway in Shift-S mode makes A mode unattainable."
There seems to be a side-effect of the recent fixes to zoom mode handling. Namely, now if open a fresh djvu or pdf book (no history) and go through its pages (by default in A mode, i.e. fit to page) everything is fine. Now, if you switch to Shift-S (fit content width) and turn a few pages and then press A to switch back to "fit to page" again, everything is fine, the mode stays "A".

However, if d

[2012-10-01 12:50] tigran123 commented on #346
Correction: delete "or pdf" in the above description, i.e. this is observable only with djvu files, not pdf.

[2012-10-01 14:20] dpavlin commented on #346
When I was implementing it I wondered if I need to invalidate last_globalzoom_mode and It seems that I do need it. It's invalidated on each call to setglobalzoom_mode which are all user-visible shortcuts.

[2012-10-01 15:48] tigran123 commented on #346
pull request with the fix tested and merged into master.

[2012-10-01 15:48] #346 closed, assigned to nobody

[2012-10-02 03:12] houqp commented on #282
I agree with the default rcountmax to 0 settings. Usually when some one use eink for the first time, they would want to use higher partial refresh because it is insanely slow compared to liquid crystal screen. But the longer they use, at least for me, the more they would want to do full screen refresh...

[2012-10-02 03:13] houqp commented on #282
Ready for the release now? We have many great patches waiting for merge ;P

[2012-10-02 06:07] tigran123 commented on #282
@houqp In that case, could you please change it (rcountmax) yourself? I didn't check rcount/rcountmax logic and so I am not sure if _both_ rcount and rcountmax initial values should be zero (I think they are, aren't they?) for this to work.

Yes, I agree that the release is now due. Well, @NiLuJe 's patches look interesting (the part about zombies, NOT about Makefile which I think he wisely revert

[2012-10-02 06:18] tigran123 commented on #282
Btw, I assume that for the release we make some sort of git branch (for critical fixes if need be) for easy reference to the exact state of code that went into release?

[2012-10-02 10:35] dpavlin commented on #282
Git relase is simply a git tag. I will tag 3bd8c5c9f47ea2d83eb537ef6584ffce3ea9645f as v2012.09 and upload build to hwhw download page, so we can continue development...

[2012-10-02 10:40] tigran123 commented on #282
Ok, but maybe the name v2012.10 is more appropriate as it is the 10th month now, not 9th :)

[2012-10-02 10:57] dpavlin commented on #282
We'll cheat a bit and hope that 2012.10 will be new release with bugfixes :-)

[2012-10-02 11:03] tigran123 commented on #282
Ah, I see, ok :)

[2012-10-02 11:08] dpavlin commented on #282
taged, uploaded to hwhw's download so we can continue working in master branch.

Thanks for all your hard work, it was a privilege to be part of this release with you all!

[2012-10-02 11:08] #282 closed, assigned to nobody

[2012-10-02 11:24] tigran123 commented on #282
and how do I switch from master branch to the state tagged by v2012.09? Create a local branch "v2012.09" and then what? How do I connect it to the remote tag "v2012.09"?

[2012-10-02 11:25] tigran123 commented on #282
Also, shouldn't @NuPogodi announce it on the-ebook.org?

[2012-10-02 13:45] dpavlin commented on #282
tag isn't a branch. It's just a name for one commit which you can use in log, diff etc so you don't have to switch anything

[2012-10-02 13:48] tigran123 commented on #282
Ah, ok, so it is like an alias for the sha1 number.

[2012-10-02 17:02] dpavlin commented on #282
In it's simplest form. Nowadays we also have annotated git tags which are proper commits -- if you wanted to understand how git works http://marakana.com/s/advanced_git_graphs__hashes__compression_matthew_mccullough_github,1280/index.html is probably best video I found so far...

[2012-10-02 18:37] kai771 commented on #282
@dpavlin Sorry if this has been discussed before, but... page turning in two-column mode is way slower than it was in 2012.05. Have you by any chance removed caching of the next page? I noticed this on pdf document, that consists of scanned pages, if it's of any help.

[2012-10-02 19:14] tigran123 commented on #282
@kai771 Pre-caching in two-column mode was disabled by @dpavlin in SHA1:  69e43d1c4d. I don't know why. The pull request with this change is #343. Try undoing the change (in lines 1533-34 of unireader.lua) and see if it makes a difference.

[2012-10-02 19:16] tigran123 commented on #282
I assume the reason it was disabled is that precaching would obtain the data for the next page in the zoom mode other than the current one, i.e. useless for us. But if I am wrong @dpavlin would surely correct me.

[2012-10-02 19:30] hwhw commented on #282
Thank you all so much for the vast amount of work you put into this. It truly became a community approach and it saddens me a bit that I got so distracted lately. Still planning to get back into matters, but "real life" did not permit this lately. However, the last two weeks I was on vacation and that put some things back into perspective somewhat. So, this should be a thank-you note to you all, I

[2012-10-02 19:42] tigran123 commented on #282
@hwhw We ought to thank you for starting it up --- starting up from scratch is always the hardest bit. Just as without Linus Torvalds I wouldn't have become a Linux kernel hacker, likewise without you I would hardly bother to start hacking the Kindle now (don't look at the photo on the left --- it shows me in the somewhat "younger days" ) :)

@kai771 the same applies not only to two-column mode bu

[2012-10-02 19:47] tigran123 commented on #282
@dpavlin I just measured the times and it seems @kai771 is right --- even though in two-column mode we call precache far too many times (i.e. on each fiveway move down the column and right to switch to the next column), still the time saved on the next page :show() far far outweighs (especially if it is a DjVu file with 4000x7000 resolution) the time lost...

I will re-check the timings again to m

[2012-10-02 19:52] kai771 commented on #282
Reverting the changes in #343 worked. It's back to normal now. Thanks. If it's of any help, I just opened pdf file, and immediately pressed Shift-F. I didn't set bbox.

[2012-10-02 19:55] tigran123 commented on #282
Here are the actual numbers. With no pre-caching the times spent in the call to drawOrCache() from show() are:

[code]

And with pre-caching enabled, they are:

[code]

So, turning from page 93 to page 94 without precaching takes 138217 microseconds whereas with precaching it is only 2103 microseconds, i.e. 65 times faster!

[2012-10-02 20:05] tigran123 commented on #282
I have just discovered something interesting: the behaviour on PDF and DjVu file is different. I.e. for PDF files (I mean typeset PDF files of course, not like your scanned one --- if you have a scanned PDF that means it is in the wrong format and should be converted to DjVu) enabling precaching in two-column mode has no benefit, i.e. the time spent on turning to the next page is exactly the same

[2012-10-02 20:12] tigran123 opened #349 "Disabling precaching in two-column mode slows down DjVu enormously."
The change that went in the pull request #343 slowed down viewing scanned books (i.e. DjVu files and also some legacy "scanned PDF" files) greatly. Depending on the resolution it can be up to 65 times, see the timings below (on a book scanned at 600dpi with 3677x6418 resolution):

With no pre-caching the times spent in the call to drawOrCache() from show() are:

[code]

And with pre-caching enable

[2012-10-02 20:13] tigran123 commented on #282
I created the issue #349 to track this properly, so let us go yonder and deal with it.

[2012-10-02 20:29] tigran123 commented on #349
Ah, I suspect I know what is going on here.... The probable reason why pre-cache was disabled was because the actual page rendering done by precache would be useless for us (in those modes where it was disabled). However, page pre-rendering is NOT (for DjVu) the benefit of precaching --- the main time saved is not due to pre-rendering but due to pre-decoding the page, i.e. the work done by :openPa

[2012-10-02 20:44] kai771 commented on #349
This might be for another issue, but I'll write it here anyway - cbz files open slower on 2012.09 than on 2012.05. Same goes for turning pages of cbz files. I still have #343 reverted - it doesn't help in this case.

[2012-10-02 20:48] tigran123 commented on #349
Btw, the code in unireader.lua which is supposed to disable precaching if manual bbox is defined does not seem to work:

[code]

I never get this Debug() message even when I page through the book having defined bbox (and history file shows there is a bbox with entries in it).

[2012-10-02 20:49] kai771 commented on #349
Oh, and btw, before I start digging for it... is there a way to disable that little square on top of the screen? It stays for some time even after a page is rendered... without it it would seem much snappier.

[2012-10-02 20:50] tigran123 commented on #349
This is the local function page_render() in UniReader:drawOrCache() in unireader.lua. Just remove it and three calls to it and it will disappear.

[2012-10-02 20:55] kai771 commented on #349
There is no page_render(), but there is page_indicator()... I suppose that's it :)

[2012-10-02 20:57] tigran123 commented on #349
Oops, yes, that is what I meant. I actually edited my comment and replaced it with page_indicator() but my internet provider dropped adsl link and so the change wasn't saved. And by the time the link was up I already forgot about it :)

[2012-10-02 21:00] tigran123 commented on #349
Oh, it dropped it again and SN margin is about 5 (instead of 20 on my line), so looks like they are doing some repairs on the exchange which means I may be off the internet for a couple of days... The cheapest (practically free) providers (TalkTalk in my case) are wonderful when all is fine, but a nightmare when something does go wrong....

[2012-10-02 21:04] dpavlin commented on #349
page_indicator shouldn't get stuck. If you see it on screen, kpdf is busy rendering page and won't respond to keypresses until it's finished.

[2012-10-02 21:07] tigran123 commented on #349
@dpavlin I am glad you are back. I am really curious to know your opinion on the main issue (before my internet completely goes off :)

I.e. with the fact that page pre-decoding is extremely beneficial (for DjVu files) would you agree that we should re-enable pre-caching for two-column mode?

And the second question is why #self.bbox always zero, even when our custom bbox definitely has entries (a

[2012-10-02 21:08] kai771 commented on #349
No, I didn't mean that it's causing the problem...
What I ment, page is already shown. I get it that it's still busy rendering parts that are not on the screen... but the mere presence of it invokes a feeling that it's slow... I don't know if I explained this properly. It just "feels" snappier without it.

On the other hand, cbz files do open and change pages a lot slower than on 2012.05... with o

[2012-10-02 21:14] dpavlin commented on #349
pre-caching in to column mode might help for files which have same margins on all pages and if you don't hit any margin while reading page.

Difference is speed between 2012.05 and 2012.09 version is hard to explain. On one hand we switch to luajit, and I don't really know if that might have negative impact (I suspect not). However, this is first release compiled with older toolchain `x-tools-glib

[2012-10-02 21:18] kai771 commented on #349
I don't think it's TC related... Reverting changes in #343 gave back the speed of 2012.05 for scanned pages in pdf files. Cbz should also be handled by muPDF, right? I can't be sure, of course, but I do think it's not TC's fault.

I can always compile it with CS 2012.03 and see, but it's kinda late now... will have to wait till tomorrow.

[2012-10-02 21:21] dpavlin commented on #349
I will revert #343 4d187aad4ee49a20254048ca301119176b54039b until we understand this better.

[2012-10-02 21:35] tigran123 commented on #349
@dpavlin Thank you.

[2012-10-02 21:37] kai771 commented on #349
It's definitely not TC. I didn't try it with CS 2012.03, but I had a copy of tigrans build of 09.09.2012, v2. It's normal there too. I know he also uses x-tools, so it's definitely not TC.

[2012-10-02 21:47] tigran123 commented on #349
@kai771 Yes, we understand that, thank you. Looking at the timings I have shown at the very top of this issue makes it clear too. However, what @dpavlin is saying is that we need to understand deeper the underlying code and the safest and wisest first step is to revert it to the working state and then try to understand what is going on. I totally agree with him.

Also, I have explained (admittedly

[2012-10-02 21:52] tigran123 commented on #349
@kai771 btw, you have not yet confirmed explicitly whether reverting the "don't precache in two-column mode" change solves the cbz issue too.

[2012-10-02 22:05] kai771 commented on #349
@tigran123 I totally agree with dpavlin too. Since he suggested that it might be because of the TC, I wanted to make sure it's not the problem. And, since I tried it with your build of 09.09.2012., it's clearly not luajit either.

In response to your previous post:
"This might be for another issue, but I'll write it here anyway - cbz files open slower on 2012.09 than on 2012.05. Same goes for turn

[2012-10-02 22:21] dpavlin commented on #349
This makes a lot of sense. eink refresh twice for each page has significant impact. In my defense, I usually use DXG with huge documents so it's slow always and I spent most of my time developing and not reading so I didn't noticed difference. Thanks @kai771 for bisecting this one.

[2012-10-02 22:30] eLiNK2gl opened #351 "hotkeys for pdf links are 'out of focus' in some modes"
take https://github.com/downloads/tigran123/russian-synodal-bible/Russian-Synodal-Bible-USletter-twocolumn.pdf
change to 'Shift +A'
Press 'L'
Observe that hotkeys are not at proper positions

I am almost sure this was not an issue after the first implementation of the feature.

P.S.: Release 2012.09

[2012-10-03 00:22] houqp commented on #282
@tigran123 , sorry that I didn't response to your post. I had a really busy day today, and probably next two weeks. :( I send the change in my pull request, hope it works ;P

@hwhw , good to see you again, I know you are watching us :)

BTW: I just received my paper white today, the reading experience sucks as always :P Hopefully I will have a one week thanksgiving vocation, I can then sit down an

[2012-10-03 08:32] tigran123 commented on #351
Reproduced and labeled as bug.

[2012-10-03 08:40] tigran123 opened #357 "make cleanthirdparty broken on the emulator"
With the recent changes to Makefile we now have to type this to do cleanthirdparty even on emulator:

[code]

because if we type the usual `make cleanthirdparty` then we'll get error from luajit's Makefile:

[code]

[2012-10-03 08:46] tigran123 opened #358 "Misuse of Lua local scoping in our command handlers?"
Let us look at any command handler in unireader.lua, for example "goto page" (search for KEY_G). It should refer to `unireader.pageno` and not `self.pageno`. The latter would also work because of the local scoping of local functions in Lua (i.e. `self` is also visible), but logically it should be the former. And the same applies to all other handlers in that same list that refer to `self` instead

[2012-10-03 09:04] tigran123 opened #359 "Can't open any PDF files"
With the current build using x-tools we cannot open any PDF files. (this has nothing to do with TTS enabled, I just happened to have it enabled at the time, but reproducible with it disabled too. The same issue as I mentioned before "invalid page size in page 1" errors from mupdf and then lockup, so I have to hard-reset the Kindle).

So we need either:

a) clear instructions on upgrading TC to a m

[2012-10-03 09:08] NiLuJe commented on #357
The cross TC isn't in your PATH?

I can fallback to the previous ugly fix of simply unsetting CFLAGS, but I thought this was slightly less ugly ;).

(The issue being if you happen to have CFLAGS set in your env with a -march set, all hell breaks loose).

I'll look into it, see if I can come up with something that doesn't require the cross-tc on clean ;).

[2012-10-03 09:09] tigran123 commented on #357
Of course it is in my PATH. Otherwise how I would have been compiling KPV for the past three months :)
But cross TC should be _irrelevant_  for `make cleanthirdparty` in the emulator mode.

[2012-10-03 09:11] tigran123 commented on #357
Btw, we need clear instructions on upgrading TC to the one that works with your recent changes, because x-tools no longer does, see issue #359 I have just opened.

[2012-10-03 09:31] NiLuJe commented on #357
Have a few errands to run, will fix when I get back.

basically,

make -C luajit-2.0 CC=$(HOSTCC) CFLAGS=$(BASE_CFLAGS) clean

should do the trick (and fix both issues).

[2012-10-03 09:32] NiLuJe commented on #359
I'll add some more explicit flags when I get back, see if it helps.

But, yes, will also provide TC instructions, because I'm pretty sure the one you're using generates binaries that won't work on a K2.

[2012-10-03 09:32] tigran123 commented on #357
Oh, it will fix #359 as well? Cool, I will test it, thank you! (though I can't imagine how the change to luajit's compile fixes PDF opening problem, but I believe you!)

[2012-10-03 09:35] tigran123 commented on #359
Ok, excellent, thank you very much! :)

[2012-10-03 09:36] tigran123 commented on #357
Yes, cleanthirdparty is fixed by the above (and ignore my reference to #359, I didn't notice "clean" at the end, I thought you are changing the actual luajit compile)

[2012-10-03 09:46] tigran123 commented on #359
Just for completeness let me mention the exact messages in the crash.log I get when compiling the current state of KPV with x-tools:

[code]

And then total lockup: can't go to screensaver or connect via usb --- only hard reset of device will help.

These are exactly the same symptoms as what I got when blindly (apart from a typo fix) applying @NiLuJe 's makefile-mangling patch a couple of days ag

[2012-10-03 10:01] houqp commented on #358
I have pointed this out when @traycold first implement the command module. i.e. we can use closure to get access to self thus pass unireader to the handler is some what redundant. But maybe it might make the code harder to understand, so I am not sure whether it is a good idea.

[2012-10-03 10:02] houqp commented on #358
For now, maybe we should just change that self to unireader since it requires much less work ;P

[2012-10-03 10:09] tigran123 commented on #358
Well, what about the instances where we have `function(unireader,keydef)` --- in those cases presumably one has to leave `self` alone, as it must refer to UniReader object, right?

[2012-10-03 10:37] houqp commented on #358
Um.. I don't quite get what you mean ;P

`unireader` and `self` should all refer to UniReader object I guess. So using either one should be fine.

[2012-10-03 10:46] tigran123 commented on #358
At line 2269 in unireader.lua we have this:

[code]

The above mixes references to `self.step_manual_zoom` and `unireader.step_manual_zoom`. What should be the correct references?

[2012-10-03 11:20] NiLuJe commented on #357
Great!

I'll push a PR with this (among other things) after testing a few things, hopefully fixing this, #341 & #359

[2012-10-03 11:31] tigran123 commented on #357
Ok, thanks. My 2012.03 TC is still downloading... I am hoping that using it will fix #359.

[2012-10-03 12:17] NiLuJe commented on #359
Huh. Surprisingly enough, it does work on a K2. It shouldn't, though: 2.6.26 > 2.6.22.

[2012-10-03 12:24] tigran123 commented on #359
Well, I get this when building with 2012.03:

[code]

This is without your `-mfloat-abi=softfp -marm` change. trying with it now...

Even though I added -DGNU_SOURCE (as per @kai771 recommendation) and also passing all the stuff to djuvulibre build as per one of your commits in your fork).

[2012-10-03 12:26] tigran123 commented on #359
I meant `-D_GNU_SOURCE` of course. Btw, without it I would get GLIBC_2.17 error as well.

[2012-10-03 12:28] NiLuJe commented on #359
@tigran123 : I'll go get 2012.03 (and whatever the latest one might be) to check it out myself ;).

[2012-10-03 12:28] tigran123 commented on #359
That is the latest, I'll test your softabi change right now.

[2012-10-03 12:29] NiLuJe commented on #359
Indeed! Downloading right now ;). ... and building thirdparty...

[2012-10-03 12:35] tigran123 commented on #359
No, I still get the same:

[code]

My changes to Makefile are:

[code]

[2012-10-03 12:36] NiLuJe commented on #359
@tigran123 : Confirmed. I'll look into it. (It's also about 1MB larger than with my own TC, so, yeah, I'll hunt that down).

[2012-10-03 12:43] tigran123 commented on #359
@NiLuJe  Great, thank you!

[2012-10-03 12:48] NiLuJe commented on #359
Yup, got it. libm pulls some finite math functions, because MG asks for it with -ffinite-math-only because of -ffast-math.

(Did I mention how much I love readelf & gcc -Q -v? because I do ^^)

I'll try to neuter it (hopefully without getting rid of ffast-math entirely) ;).

[2012-10-03 12:52] tigran123 commented on #359
Wonderful, you caught it incredibly fast! :)

[2012-10-03 12:58] tigran123 commented on #359
I love readelf too --- without it I woudn't have written /proc/kcore in Linux :)
(and much of iBCS stuff too :)

Btw, when installing FC17 I looked at some modern web page that talks about optimizing FC17 boot and noticed it recommended using "rootfstype=" boot parameter for forcing the filesystem type. It brought back nostalgic memories and I thought "interesting, I did something for some purpose

[2012-10-03 13:03] NiLuJe commented on #359
Okay! That was it! readelf now looks okay. Will check if it actually doesn't blow up on my K2....

It's still roughly 800KB larger than what I end up with my TC, so I have some more stuff to check before sending the PR...

EDIT: Seems to be okay on my K2, yay. Now to see why it's been eating ALL THE COOKIES! ...

[2012-10-03 13:05] tigran123 commented on #359
Excellent. And if it reads PDF files too --- that would be a very nice bonus! :)

[2012-10-03 13:27] NiLuJe commented on #359
Hmm. Definitely still 800KB larger... Let's hear it for GCC 4.7?

I'm doing one final build/emu build to check, and then it's PR time!

(Also, I ran into (the usual) parallel build issues with MG, so, err if fails with strange errors, try again with a single job: make -j1 thirdparty instead) [that's of course if you were running make with multiple jobs before, as I was ^^].

[2012-10-03 13:29] tigran123 commented on #359
I wouldn't worry about the size too much --- can we actually read PDF/DjVu files on K3 with your fixes?

[2012-10-03 13:37] tigran123 commented on #359
No, I was running a single job (except Linux kernel I wouldn't trust other software to handle parallel builds correctly :)

[2012-10-03 13:40] NiLuJe commented on #359
@tigran123 : Yup, works fine on my K2/K3 & in EMU mode. I'll prepare the PR ;).

Yeah, the parallel build issues are usually pretty recognizable, I was just mentioning it since I switched make to $(MAKE) to actually be able to use it, and I had a streak of luck with my own TC and -j2 that didn't last ;).

[2012-10-03 13:45] tigran123 commented on #359
Thank you! Btw, your PRs are exemplary in that they contain multiple commits with each one containing one logically autonomous change. Even if some patches then revert the changes made by previous patches --- still it is much easier to review than bundling tons of changes into a single commit. I wish everyone was as meticulous :)

[2012-10-03 13:49] NiLuJe commented on #359
@tigran123 : Everyone has his own style, and I tend to go on the extreme side of 'a lot of small commits with more comments than code'... ^^

I actually like to commit (heh) to memory (nearly) every attempts, and the commit logs usually provide me with the reasoning behind the changes when I review the stuff later on. That helps me avoid wondering why the hell I did something when looking at the c

[2012-10-03 14:08] tigran123 commented on #351
Strangely, in other zoom modes it works correctly.

[2012-10-03 16:25] houqp commented on #358
I think both of them are correct in that case. We might want to stick to `unireader` for the command handler because: 1) it involves less changes. 2) someone who does not know closure can still understand the code.

[2012-10-03 16:43] #357 closed, assigned to nobody

[2012-10-03 16:43] #359 closed, assigned to nobody

[2012-10-03 16:47] tigran123 commented on #349
This fix was merged already, so closing the issue.

[2012-10-03 16:47] #349 closed, assigned to nobody

[2012-10-03 16:48] tigran123 commented on #273
Closing as it hasn't been reproduced in a long time and now we have a sufficiently different application to have correspondingly different bugs :)

[2012-10-03 16:48] #273 closed, assigned to nobody

[2012-10-03 16:55] tigran123 commented on #358
OK, closing for now as it is clear to me but is too "cosmetic" to bother to do anything about it....

[2012-10-03 16:55] #358 closed, assigned to nobody

[2012-10-03 17:27] tigran123 commented on #351
@eLiNK2gl  No, the bug is also present in the initial implementation. I have just tested with 27 Sep 2012 build:

https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-cc1ab45.zip

[2012-10-03 18:15] dpavlin commented on #351
`screenOffset` seem to return different values when showing link indication (underline) and when drawing link shortcuts.

[2012-10-03 21:29] dracodoc opened #367 "Minor problem with kindlepdfviewer-v2012.09-64-g6ea40b4.zip"
The new release is great, now the crengine cache works correctly, the opening time for epub book is fast enough after the first time.

One minor problem I found is:
When pressed menu button for status, there will be a "retrieving TOC" message, but it will not appear after the first time. No matter if there is a TOC or not, this message always pop up in first time and no further updates. It's a lit

[2012-10-03 21:36] tigran123 commented on #367
@dracodoc Thank you, yes, we know about this, but it is not a bug really. When you press Menu to get the status you are going to press it again before you continue reading, right? And when you do that then the message will disappear, so nothing is obstructing your reading. Only while you are reading the status (for the first time) you can't see the text behind the "Retrieving TOC..." window.

I co

[2012-10-03 21:47] dracodoc commented on #367
That's all right, I don't think it is a bug, just it confused me. With the message, I expect there will be some update when the retrieving is done, but there is no change and the message is kept on, which may lead user to think kpv is still retrieving TOC and wait some time to see the change, while in fact it probably already done that.

If I remember correctly, the previous version kpv can also s

[2012-10-03 21:52] tigran123 commented on #367
Ah, you see the reason the message must be shown on retrieving the physical TOC from disk is that for some files it can literally take _minutes_ and if there is no indication as to what is going on then the user will think that KPV is dead/locked up and will start resetting the Kindle.

On the other hand, soon you will be able to disable such messages altogether. And here is how:
1. In file manage

[2012-10-03 22:02] tigran123 commented on #367
Actually, I am thinking... maybe we should kill that message, as you suggest. This will simplify some other code which was specifically written to deal with this situation...

And as for those huge files with massive TOC --- well, two things:
1. they are very rare (the only ones I know of are my own editions of ancient texts morphologically parsed with TOC entries for each individual verse, i.e. e

[2012-10-03 22:09] tigran123 commented on #367
Done, see my PR #368

[2012-10-03 23:17] dracodoc commented on #367
Just removing that message could be simpler.

To make the message really tell user what kpv is doing, it at least need to update when there is no TOC or the retrieving has been finished, otherwise user always see the message before he press any key, but there are at least 3 possibilities with same message:
1. There is no TOC
2. There is a TOC, and the retrieving has been done after a while.
3. The

[2012-10-04 07:00] tigran123 commented on #367
Fixed by the PR #368 so closing the issue.

PS. Btw, there is no way to predict if the TOC is going to be massive or not short of actually retrieving it.

[2012-10-04 07:00] #367 closed, assigned to tigran123

[2012-10-04 07:41] tigran123 commented on #367
@dracodoc Try the latest build from:

https://github.com/tigran123/kindlepdfviewer/downloads

It will make you happy --- not only "Retrieving TOC..." is gone, but also writing crengine's warning/debug messages to Kindle's slow terminal (thousands of them!) has been disabled and so the handling of epub, fb2, etc ebook files is a bit faster.

[2012-10-04 12:13] dpavlin commented on #351
There is another nice example: go to page 1 of document and show bounding box with `x`. You will see box shifted right. I guess that we have similar problems with highlighting because they all use `zoomedRectCoordTransform` which is affected by it.

Still nothing to merge, BTW

[2012-10-04 15:23] dracodoc commented on #367
Thanks, I tried this version, it worked great. All previous opened epub will be opened quickly, except in a new kpv session the first time of opening an epub may take several seconds, it looks like it's the time needed to load crengine, after that all is quite fast.

[2012-10-04 15:28] dracodoc opened #370 "History out of sync with file moved by third party"
If some books were deleted or moved outside of kpv, the kpv history will not match the actual file location. If user tried to open a book from "L-recent opened book history" and that book has been moved, kpv will quit abnormally.

This behavior is understandable, but it can be done better. I suggest that:
1. If opening a book from recent history failed, kpv should not crash, instead should give a

[2012-10-04 16:39] tigran123 commented on #370
Interesting, when I just now tried to reproduce what you describe I get an error message "cannot open PDF file" and KPV does NOT quit abnormally, i.e. it is behaving exactly as you are suggesting. Tell me exactly the steps you perform, so I can duplicate them. What I did was:
1. Open a PDF file.
2. Close it.
3. Exit KPV
4. Rename the PDF file to a different name.
5. Start KPV again
6. Press L
7. T

[2012-10-04 16:48] dracodoc commented on #370
I should be more specific. The book I tried to open is an epub file. I tried again, opening a nonexisting pdf will have the message then back to list, but opening an epub will crash kpv.

So it could be some problem with crengine or crengine related code.

Besides, I think some sync function is still needed even opening epub will not crash kpv. Of course this is not a critical bug, so it don't hav

[2012-10-04 16:56] tigran123 commented on #370
Yes, you are absolutely right --- with epub files it actually coredumps ("Segmentation fault"). I can have a look at this. Labeled as bug now. Thanks for the report! :)

[2012-10-04 17:00] tigran123 commented on #370
Ok, I have fixed this now. Wait for my PR in a minute...

[2012-10-04 17:01] dracodoc commented on #370
That was quick!
Thanks!

[2012-10-04 17:05] tigran123 commented on #370
Actually, although I have the fix already, I have just cancelled the commit, because I must investigate to find out the real cause of the segmentation violation (I suspect it is a crengine bug) instead of masking it by my fix (my fix is simply preventing the user from opening a file from history entry if the file no longer exists).

The reason I wish to get to the bottom of this is that there is a

[2012-10-04 17:08] dracodoc commented on #370
That's all right, this problem is not critical.
How do you think the idea that sync with history when kpv is loading? At that time kpv will recognize any outside file changes, it may be a good time to sync with history too.

[2012-10-04 17:12] tigran123 commented on #370
concerning sync: how exactly do you suggest that KPV should discover the new filename if the old one does not exist? Surely only the human knows what the new filename of the file is or whether it was completely deleted?

[2012-10-04 17:15] tigran123 commented on #370
Ah, you mean to prompt the user to enter new filename for each stale history entry?

[2012-10-04 17:19] tigran123 commented on #370
Ok, investigation finished --- I confirm that it is not our problem, but a bug in crengine --- when one passes non-existent filename to `doc->text_view->LoadDocument()` function it coredumps. So, my fix for preventing this from happening on the history entry level is perfectly valid, I'll submit it in a minute.

[2012-10-04 17:23] dracodoc commented on #370
There are several cases:
1. file deleted. Then the history entry should just be removed.
2. file moved but didn't change file name. Then the history entry should be updated with the new path. This method do have a potential problem if there is multiple file in different directory have same file name. However that case is not very good method to organize books, so I would suggest user not to do tha

[2012-10-04 17:29] tigran123 commented on #370
Ok, for now I think the adequate enough solution is to warn the user about the entry being stale (i.e. saying "File does not exist", as in my commit) and let him decide what to do, i.e. either to delete the entry or to manually edit it (outside kpv) to point to the new location of the file IF the data in the history entry (bookmarks, highlights, etc) are too precious to just throw them away. I thi

[2012-10-04 17:32] tigran123 commented on #370
I decided to let the user make the final decision on whether to remove the history entry or not, instead of doing it automatically within KPV. I agree with you that in the majority of cases that would be the right thing, but in those few cases when the history entry contains very valuable data (bookmarks, highlights, in the future maybe even notes, when we support this) the user will be very upset

[2012-10-04 17:32] dracodoc commented on #370
I'm not suggesting an extra user interface, but that kpv already recognize outside changes when loading, then it can try to match if any deleted file existing in history then remove it. However this method do seemed too aggressive and could lost data user still wanted.

So current solution is good, user can remove the stale entry with del key by himself if he want.

[2012-10-04 17:33] tigran123 commented on #370
Yes, agreed :)

[2012-10-04 17:37] dracodoc commented on #370
Another method is still remove the entry from the history list, but just move the actual history file to a backup folder instead of deleting them. This way there will be automatic cleaning up, no need to remove entry manually, and user still have the data if he want. Of course with this there will be more and more history file build up with time. There will not be a problem with space or performan

[2012-10-04 17:42] tigran123 commented on #370
Yes, that is another valid possibility. But let's keep it simple for now i.e. prevent the crash, inform the user of the problem and let him decide what he wants to do next.

[2012-10-04 20:13] tigran123 commented on #370
Closing the issue as the fix was merged into master.

[2012-10-04 20:13] #370 closed, assigned to tigran123

[2012-10-04 20:29] tigran123 opened #373 "Wrong order of decoding and error checking in djvu.c?"
In `djvu.c` we have the following code for both document and page decoding:

[code]

and

[code]

I think that the checks `if (! doc->doc_ref)` and `if (! page->page_ref)` should be done immediately after their return by the corresponding `ddjvu_..._create_...` functions and NOT after passing their values (possibly `NULL`) to the decoding functions.

[2012-10-04 21:00] eLiNK2gl commented on #273
I did it again.
This time pressing 'H' to close a pdf book
Crash.log: "warning: ignoring transfer function
warning: ... repeated 44 times ...
kpdfview: fitz/base_context.c:23: fz_free_context: Assertion `ctx->error->top == -1' failed.
Aborted"

P.S.:2012-09

[2012-10-04 21:04] tigran123 commented on #273
H? But H calls Help, not quit. Did you really mean H or maybe Home?

[2012-10-04 21:04] tigran123 commented on #273
Is it easily reproducible?

[2012-10-04 21:32] eLiNK2gl commented on #273
Oops, yes I meant 'Home'.
Cannot reproduce it.

[2012-10-04 22:06] houqp commented on #373
Good catch :)  Closing for now.

[2012-10-04 22:06] #373 closed, assigned to nobody

[2012-10-05 16:27] tigran123 opened #378 "Wrong output of `git describe HEAD` on the master branch?"
I have just done a clean "git clone" followed by "make fetchthirdparty" etc etc all the way to "make customupdate" and the resulting package had a very strange filename:

`kindlepdfviewer-v2012.04.2-501-gf7040b3.zip`

so I checked `git describe HEAD` and indeed it says `v2012.04.2-501-gf7040b3` but in the old tree it said things like `v2012.09-90-g89dbe7a`. So, what should I do to have the correct

[2012-10-06 10:08] dpavlin commented on #378
`git describe` uses annotated tags (added with `git tag -a` as opposed to just `git tag`. Would `git fetch upstream  -tags` help ?

[2012-10-06 10:11] tigran123 commented on #378
@dpavlin Yes, thank you, running `git fetch upstream --tags` did the trick, now `git describe` output is good! :)

[2012-10-06 10:11] #378 closed, assigned to nobody

[2012-10-06 23:51] tigran123 opened #382 "Wrong Lua `if` in rendertext.lua?"
In the functions `sizeUtf8Text`, `renderUtf8Text` and `renderUtf8TextWidth` there is a piece of code like this:

[code]

But since the variable `prevcharcode` is already initialized it can never be `nil` or `false` and so the boolean `if` is meaningless here. Maybe what was meant (in all three instances) is something completely different, namely `if kerning and prevcharcode ~= 0` ? I assume the co

[2012-10-07 08:31] tigran123 commented on #382
Well, strictly speaking, an initialized variable can become `nil` if it is destroyed by the explicit assignment to `nil`. And in our case it is assigned to the value of `charcode` which can become `nil` if the function `util.utf8charcode()` returns `nil`, which it does if the UTF-8 character is a multi-byte one with 4 or 5 or 6 bytes length. But surely this is not what is intended here? I.e. this

[2012-10-07 08:34] tigran123 commented on #382
Hmmm, instead of analyzing it purely theoretically I decided to actually make the above change and test it. No, it doesn't work --- the first character is rendered incorrectly. Hmmm, I am stumped, as @NiLuJe says :)

[2012-10-07 08:48] tigran123 commented on #382
There are wrong users of `renderUtf8text()` passing non-boolean values of `kerning` --- e.g. the value 0 from inputbox.lua and also value 15.

[2012-10-07 09:13] tigran123 commented on #382
Ok, I see there are plenty of bugs here, both in the function and in the callers thereof (and the buggy callers compensate the bug in the function)... I'll try to sort it out, carefully.

And totally useless commit comments like "Update rendertext.lua" are making things harder to analyze, as if someone intentionally made the code unreadable to make himself "indispensable". Stalin used to say "indi

[2012-10-07 09:33] tigran123 commented on #382
Ok, the kerning=15 was coming from `widget.lua`:

[code]

Presumably at some point the function had colour as the last argument, so that's okay.

[2012-10-07 10:07] tigran123 commented on #382
... and the else part of `if kerning...` in renderUtf8\* functions is also incorrect, it paints with the wrong background (currently it was never executed, so we didn't notice, but if all the bugs in these functions are fixed then it comes up to the surface).

[2012-10-07 11:09] tigran123 commented on #382
... thread continues in PR #383

[2012-10-07 12:31] eLiNK2gl opened #385 "font size for hotkeys' labels (pdf hyperlinks) dependent on the font size of the first hyperlink"
If your page is typeset as follows:
font size of the first row (contains a hyperlink): 20 pt
the rest of the page: 10 pt.

pressing 'L' overlays the hotkeys' labels in size 20 pt, making the text unreadable.

[2012-10-07 12:35] tigran123 commented on #385
Hmmm, do you mean to say that pressing 'L' makes it unclear which shortcut belongs to which link? If so, then yes, this would be a bug. But if you merely mean that pressing 'L' makes the _other_ text unreadable (i.e. text irrelevant for selecting the shortcut) then this is expected behaviour, as you are not expected to read the main text in 'L' mode --- you are only expected to select the shortcut

[2012-10-07 12:42] eLiNK2gl commented on #385
@tigran123 in some cases it could be not clear.
The problem would typically come up on an index page, which contains many hyperlinks close to each other.

As usual, I'm ready to provide a link.

[2012-10-07 12:55] dpavlin commented on #385
That's true. I'm calculating font size based on first link to make sure that shortcut will overwrite just link and not content around it. I wondered if better solution would be to calculate font size for each link, but decided against it because of font init overhead for each link (without benchmarking, so I might be wrong). I will probably re-visit font sizing issue, but I don't have good solutio

[2012-10-07 13:10] tigran123 commented on #385
I think the best way forward is to examine the worst case scenario, i.e. the actual file. @eLiNK2gl can you please provide this file? Thanks.

[2012-10-07 13:25] tigran123 commented on #351
The fix merged into master, closing the issue.

[2012-10-07 13:25] #351 closed, assigned to dpavlin

[2012-10-07 14:49] tigran123 commented on #382
The PR with the fix merged into master, so we can close this for now.

[2012-10-07 14:49] #382 closed, assigned to nobody

[2012-10-07 14:54] tigran123 commented on #333
The code for InfoMessage:inform() API (aka "InfoMessage New Concept") is already merged into the master, so we can close this issue now. Separate issues should be opened for each bug discovered.

[2012-10-07 14:54] #333 closed, assigned to nobody

[2012-10-07 15:15] eLiNK2gl commented on #385
@tigran123 you've got an email (at MR).

[2012-10-07 15:23] tigran123 commented on #385
Oh yes, you are right, it is a bug. @dpavlin I'll forward the pdf file to your email now.

[2012-10-07 19:02] dracodoc opened #388 "status font should use document font in crereader"
I'm using kpv to read a Chinese epub book. kpv can select any user customized font, but the status screen was using fixed font which cannot display Chinese characters, so the Chapter name will not be displayed.

It'll be better to let the status screen use the document font, so it can display chapter name in any language. Or if that have difficulties, as least use some droid font that support CJK.

[2012-10-08 00:15] dracodoc opened #389 "Can crereader just discard the bottom half line?"
For zoom and pan in scanned pdf, a gray shade is helpful to tell the edges. But for text based epub, the bottom half line is not so right. None of any other epub/mobi reader will have this effect.

Is it possible to just discard the last half line if the space is not enough for a whole line? There is really no need for a half line to remind what the last sentence of last page is, we have been read

[2012-10-08 00:39] dracodoc opened #390 "adding bookmark in crereader cause refresh first"
When reading an epub, adding bookmark will cause a global refresh first, then pop up the "bookmark added" dialog, then the dialog disappears with no refresh. The first refresh seemed meaningless. If the page is already bookmarked, there is no this refresh, the dialog just pop up then disappear.

This behavior doesn't appear in pdf.

[2012-10-08 05:03] kaysin opened #391 "How make kpdfv on DXG partial refresh ?"
I try to add 'partial_refresh_count' into .reader.setting.lua .but it doesn't work..

My setting file is following ........... Please HELP ~~

-- we can read Lua syntax here!
return {
    ["lastfile"] = "/mnt/us/documents/Prentice Hall.-.The C Programming Language(2nd Edition).pdf",
    ["version"] = 2012.05,
    ["pan_overlap_vertical"] = 30,
    ["fontmap"] = {
        ["hfont"] = "host/CJK.ttf"

[2012-10-08 07:13] tigran123 commented on #391
In a good application (like KPV) there is no need to edit any settings files manually.
When you open a file please press `H` to get the help and then read the help page. You will discover that the answer to your question is in the hotkey `Shift-R`. Oh, I just checked it myself and see that it doesn't actually explain `Shift-R` properly --- I will fix the help page now, thanks for bringing this up!

[2012-10-08 07:13] #391 closed, assigned to nobody

[2012-10-08 07:15] tigran123 commented on #388
When you are in filemanager press `F` and then `E` to select the font for `rifont` (reading position info). Then select the font which has CJK support from the list. If no such font appears then you have to copy it manually to your Kindle, remember to put it into kindlepdfviewer/fonts directory and observe the same naming convention (for Italic, Bold etc) as the fonts already there. Then it will w

[2012-10-08 07:19] tigran123 commented on #389
During the normal course of reading there is no such line at the bottom. It is only if you press page `Prev` then it appears to show that that bit of text was already shown on the previous page i.e. to show the overlap between screens.

And in normal course of reading (i.e. pressing page `Next`) you get the grey line at the top to show the overlap. It may not seem needed to you if you read a conti

[2012-10-08 07:41] tigran123 commented on #390
Interesting, thank you, I will have a look.

[2012-10-08 07:54] tigran123 commented on #390
Thank you, it was a bug indeed and the fix is in the PR #393

And thanks again to you --- your findings and comments are most helpful and productive! :)

[2012-10-08 11:08] dpavlin commented on #390
#393 merged into master

[2012-10-08 11:08] #390 closed, assigned to tigran123

[2012-10-08 11:24] tigran123 commented on #389
Well, if you really want this feature I can implement it as a configurable.

I see that @kai771 also provided this (as a hack), so presumably many people want it. And it is very easy to implement both for books (PDF/DjVu) and ebooks (MOBI/ePub/fb2/etc).

[2012-10-08 11:51] tigran123 commented on #389
Ok, this feature is in the PR #395

[2012-10-08 14:40] dracodoc commented on #388
Sorry I don't know this exist! It works, no problem.

[2012-10-08 14:40] #388 closed, assigned to nobody

[2012-10-08 14:49] dracodoc commented on #389
Thanks a lot!
I believe many people will feel this more natural, and make it configurable is certainly the best method.

[2012-10-08 14:49] #389 closed, assigned to tigran123

[2012-10-09 09:36] tigran123 opened #401 "Djvulibre stack corruption --- TC issues?"
I am seeing some serious problems (independent of my recent DjVu optimizations) with viewing DjVu files. Consistent crashes with core files pointing to stack corruption. Not reproducible in the emulator at all, only the ARM binary is bad. I am suspecting the TC and now am building on 32bit to see if it makes a difference and also will try building with the old good arm-kindle TC (but I'll have to

[2012-10-09 09:48] tigran123 commented on #401
The binary generated on 64 bit shows this stacktrace:

[code]

The binary generated on 32 bit shows a different stracktrace:

[code]

However, there is no guarantee that they both crashed in the same place (though what I was doing was exactly identical). You can reproduce the crash easily, just download this binary:

https://github.com/downloads/tigran123/libdjvu/libdjvu-test.djvu

and then goto p

[2012-10-09 10:06] tigran123 commented on #401
Update, the 28th September version works fine --- that was the time just before we switched to the new TC:

https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-496fcc0.zip

I'll try to narrow down to see which is the first build that introduced these crashes.

[2012-10-09 10:44] tigran123 commented on #401
Update: all the builds that I have made available work fine:

https://github.com/tigran123/kindlepdfviewer/downloads

The last build is dated 7th October and by then we have already switched to the new TC, so it doesn't look like a TC issue. We just need to check carefully what went into the master between the build `v2012.09-114-gcb25029` and now that broke DjVu.

Looks like a good idea to have r

[2012-10-09 10:49] tigran123 opened #402 "How to use git-rev content to generate a source diff?"
Presumably we store the output of `git describe HEAD` in git-rev file so we can easily see the state of the sources the distribution was built from? But how do we actually do this? I.e. how to generate `git diff` output between the current master and git-rev value of `v2012.09-114-gcb25029`?

[2012-10-09 11:07] kaysin opened #403 "links in crengine not implemented"
i cant open the links in mobi on dxg. ..  i can see underlines with those links .. but ,when i use hotkey _L .. kpv said no link on the page .

[2012-10-09 11:13] tigran123 commented on #403
local links are only supported for PDF files. Those underlines you see are not coming from KPV but from the mobi file itself (which is a bit confusing, I agree).

[2012-10-09 11:14] tigran123 opened #404 "Page redraw missing when setting file manager's mode in the readers"
This function was added recently and has an obvious bug as described in the subject.

[2012-10-09 11:20] tigran123 commented on #401
I didn't realize that Kindle has gdb installed :)
Using it I see yet another stacktrace (manually copied, as I don't know to do screendumps in myts):

[code]

[2012-10-09 11:25] dpavlin commented on #402
`git diff upstream/master v2012.09-114-gcb25029` should be enough. You can also add path as last argument. Does this help or did I misunderstand your question?

[2012-10-09 11:29] dpavlin commented on #403
I will re-open this issue to have placeholder for this improvement.

I did try to add links for crengine while I was implementing it for mupdf, but crengine doesn't have built-in way to return links, but can return link under some point on screen. I wouldn't want to implement some kind of cursor for crengine, so I have to understand crengine DOM manipulation a bit more before I can submit code to

[2012-10-09 11:34] dpavlin commented on #401
FWIW, screenshots can be made using `dd if=/dev/fb0 of=/tmp/screen.fb0` and than use lua code which we have in KPV or https://github.com/dpavlin/k3libre/blob/master/fb2pgm.pl to convert it to image.

[2012-10-09 11:46] tigran123 commented on #402
Yes, thanks. I thought I tried it, but obviously I did something different because it didn't work :)

[2012-10-09 11:46] #402 closed, assigned to nobody

[2012-10-09 11:53] tigran123 commented on #401
Update: it can still be a TC issue. The 114 release (7 October kindlepdfviewer-v2012.09-114-gcb25029.zip from my Downloads) crashes in exactly the same way (I just didn't try hard enough, i.e. you have to press `Next` as well, not just `Shift-X` and `Shift-S`). So, now I am going back from 7 October into the past, testing each release thoroughly to see when the problem started to appear.

[2012-10-09 12:05] tigran123 commented on #401
Ok, the last build that I cannot break (and I tried very hard) is 99, i.e. this one:

https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-v2012.09-99-gea92f8c.zip

So, something went into master between `v2012.09-99-gea92f8c` and `v2012.09-114-gcb25029` that broke DjVu. Now `git diff` is our friend...

[2012-10-09 12:11] tigran123 commented on #401
Hmmm, the most serious thing that went into that release is #372. But I'll narrow down the commits one by one to be absolutely certain now.

[2012-10-09 13:03] tigran123 commented on #401
It is getting more interesting... I managed to cause the build 99 to crash as well, doing the same thing (only "more of it"). But the crash is very intriguing (@NiLuJe are you there?), look:

[code]

So, definitely looks like a TC issue, i.e. the ARM binary we generated contained instructions illegal for this particular processor. That is why there is no way to reproduce it on the emulator.

[2012-10-09 13:12] tigran123 commented on #401
The key question is whether I will be able to crash the build kindlepdfviewer-b6936f9.zip (1 Oct), i.e. the last build made with the old TC....

[2012-10-09 13:33] tigran123 commented on #401
No, I can't break the one built with the old TC, so it does look like TC issue as I originally suspected. To prove it I need to cause it to crash with the very first build that used the new TC. And then we'll need to figure out how to downgrade back to arm-kindle-linux-gnueabi --- it is going to be tricky as there were some useful changes to the Makefile that should still be kept even with the old

[2012-10-09 13:36] tigran123 commented on #401
Btw, Kindle 3 is running Linux 2.6.26 and comparing kpdfview binary built with x-tools and the latest CS/MG I see:

[code]

So, according to `file(1)` the xtools binary is more closely matching the Kindle's kernel, i.e. 2.6.26.

[2012-10-09 14:10] hwhw commented on #401
I'm slowly getting back into things and maybe, it would be worthwhile to update luajit. It had lots of bug fixes and the latest beta release is - according to Mike Pall - about what will be finally the stable 2.0 release. I'll have a try.

Other than that, the error messages do look a bit as if a Lua string gets tampered with in C land.

[2012-10-09 14:16] tigran123 commented on #401
@hwhw interesting, because I've just reproduced one (only one!) of the "ARM-specific" crashes on the emulator, i.e. where on the ARM binary we get "signal 4, Illegal instruction" --- on the emulator we get the usual sig11 and backtrace looks like this:

[code]

But this still leaves the potential TC issue, i.e. it is not proven yet one way or the other than the new TC is not responsible for some o

[2012-10-09 14:22] tigran123 commented on #404
The same broken behaviour when pressing `I` in the reader. The code is:

[code]

so, looks like the save/restore BB functions don't really work in that context.

[2012-10-09 14:24] tigran123 commented on #404
Replacing the above with the old-fashioned:

[code]

makes it work fine, but I'll leave it for someone who knows about saving/restoring the bitblit buffer stuff more...

[2012-10-09 14:25] tigran123 commented on #401
@hwhw also, I would definitely recommend to get to the bottom of these crashes _before_ upgrading luajit (but this is probably obvious anyway :)

[2012-10-09 14:31] hwhw commented on #401
I have a feeling the recursive nature of walkTableOfContent() is blowing the available space on the Lua stack (which is limited!). There is an API to check available space on the Lua stack, but if handled carefully, that should not be needed. I'll dig into it now.

[2012-10-09 14:33] tigran123 commented on #401
Also, I should warn that the above stacktrace was obtained when running the emulator on 64bit Linux (and compiled also on the same) which is known to produce wrong stacktraces.

I am going to recompile it now on 32bit to make sure the stacktrace is accurate, i.e. we are not chasing a red herring :)
(although `T` command does suggest that the above stacktrace is accurate)

[2012-10-09 14:33] hwhw commented on #401
hm, also, ignore my feeling mentioned above. stack usage seems to be fine in a first test.

[2012-10-09 14:43] tigran123 commented on #401
I get the same stacktrace on 32bit EMU:

[code]

[2012-10-09 14:44] hwhw commented on #401
Also, switching to newest luajit doesn't change this error.

[2012-10-09 14:46] tigran123 commented on #401
Ok, so we have a nice plain bug --- all that is left is just to fix it :)

[2012-10-09 14:56] hwhw commented on #401
It's the strcpy. Unbounded strcpy is problematic, replacing it by a strncpy(...,6) works for me. However, there is no guarantee then that the last byte in page_number will be a '\0' anymore, so I guess it will need more space in general and a proper initialization with memset.

[2012-10-09 14:59] tigran123 commented on #401
I have just extracted djvu outline for the problematic book with `djvused -e print-outline book.djvu > book.outline` and I see that it has a lot of entries that are NOT numbers (and so using `lua_pushnumber()` would probably crash), look:

[code]

All those things starting with `#` should be target page numbers.

[2012-10-09 15:01] tigran123 commented on #401
I wonder how `djview4` copes with this --- somehow it jumps to the correct place when you click on those TOC entries...

[2012-10-09 15:04] hwhw commented on #401
I'm not into what makes a proper "bookmark" in djvus, but strtol will in any case return a number. It's a wrong number in these cases, that's for sure. An option I could think of would be to return the string as-is to lualand, but this would not match the API presented by e.g. pdf.c and cre.cpp. However, cre.cpp already extends this by another field, "xpointer". Maybe we should do the same for pag

[2012-10-09 15:10] tigran123 commented on #401
The stacktrace pointed to line 140 of `djvu.c`:

[code]

So, I was thinking that the crash is related to the above call to `lua_pushnumber()` and not to the subsequent call dealing with `page_number`.

But yes, the `page_number` according to stacktrace is `0all_4` which is not a number, but this shouldn't crash because, as you rightly say, `strtol()` would only return a number.

[2012-10-09 15:12] tigran123 commented on #401
Ok, instead of much talking "in theory" I'll now put some debug `printf()` to understand what is going on :)

[2012-10-09 15:16] hwhw commented on #401
or rather use "break djvu.c:146" or similar in gdb, and output what's interesting via "print <expression>". worked for me. as for the theory: strcpy will happily copy up to as many bytes as there are until the '\0' is seen. As you dumped above via djvused, the string is much longer than just "0all_4" -- so strcpy will overwrite memory following page_number.

segfaults are often caused at other poi

[2012-10-09 15:21] tigran123 commented on #401
Ah, yes, that makes perfect sense. Let me see if that fixes it (i.e. prevents the crash). And then we'll think how to deal with these strange entries. Maybe we should just convert them to proper page numbers without leaving djvu.c. Also, if you view the file with djview4 and go to "Information" you will see that the real page numbers are also available, so we should be able to get at them properly

[2012-10-09 15:24] hwhw commented on #401
I'll prepare a fix shortly, completely getting rid with the strcpy and page_number alltogether. Also, miniexp_to_str might return NULL, which isn't cared for currently either. Will take about another ten minutes here.

strtol will set errno when it couldn't parse the string at hand, so we should catch that case and do "the right thing" then, as you commented. I'll look into how djview4 does this.

[2012-10-09 15:25] tigran123 commented on #401
@hwhw Yes, I confirm that your analysis is correct, thank you --- with strncpy(...,6) we get the correct TOC tree but of course we can't jump anywhere because all the targets are invalid.

[2012-10-09 15:26] tigran123 commented on #401
Thank you, then I'll go to lunch now --- can't keep four females (inc a 4-months old one) waiting at the table for me for too long now :)

[2012-10-09 15:34] hwhw commented on #401
Oh dear: http://djvu.git.sourceforge.net/git/gitweb.cgi?p=djvu/djview.git;a=blob;f=src/qdjview.cpp;h=545df52541ec5ab97f5e1adf3bc10f4cddfc5f5e;hb=HEAD#l3224

It's page names, not page numbers what we see. They have a complex syntax, in principle, they are hyperlinks and might also be relative (probably a seldom case in a TOC, if not even forbidden)....

[2012-10-09 15:50] tigran123 commented on #401
Hmmm, doing all those searches will probably slow down TOC retrieval (by a few milliseconds ;)
Fortunately, it is only initialized once.

[2012-10-09 16:00] tigran123 commented on #401
Btw, if you can get at page title (i, ii, iii, .... in the above djvu file) then it would be nice to show them in djvu-specific menu status at the bottom, i.e. in addition to "22/264 (4)" and also two flavours of goto: one for physical and and another logical numbers, e.g. `G` command to go to physical page number (as it is now) and new `Shift-G` to accept logical, i.e. page title like `viii`.

[2012-10-09 16:04] hwhw commented on #401
I created a preliminary fix, as I now have to leave the keyboard again for today. It will still restrict everything to numerical references, will look into names in the coming days if nobody beats me to it. Feel free to test and merge.

[2012-10-09 16:05] tigran123 commented on #401
Ok, thank you!

[2012-10-09 16:13] tigran123 commented on #401
Ok, with this fix merged I will now retest everything to see if I still get mysterious crashes on ARM which I suspected to be related to using the latest CS/MG toolchain.

[2012-10-09 16:30] tigran123 commented on #401
Alas, the crash is still there (but totally unrelated to the above TOC crash, obviously). I will try to track this one down...

[2012-10-09 16:59] tigran123 commented on #401
The stacktrace does point to luajit:

[code]

but I know of no easy way of upgrading to the latest luajit to see if this problem was fixed. But I can dig some more to see what is the cause of it...

Besides, it wouldn't explain why the problem didn't occur until we switched to the new TC. But we did change the way luajit is compiled...

Ah, I recall seeing `-Wl,-E` (or something like that) in one

[2012-10-09 17:22] hwhw commented on #401
I'll send a pull request soon. It's as simpel as doing a "git pull -f" in
the luajit-2.0 directory if you want to do it yourself. Also, in the main
Makefile the "distclean" for luajit must be changed to "clean". When this
has been done, you can commit this change with a "git commit luajit-2.0
Makefile" if everything works.

[2012-10-09 17:28] tigran123 commented on #401
Thanks, I will definitely try that!

Currently, I am backtracking to the state when we built with x-tools to make 100% sure that it worked there.

[2012-10-09 17:49] hwhw commented on #401
On the other hand, it points to the memory management of LuaJIT, which could be indicating that it's just another case of memory corruption. Is it also happening when pressing "T" for that file?

[2012-10-09 17:52] tigran123 commented on #401
No, pressing `T` on that file is fine now. You think it is a memory corruption. I think it is the CS/MG TC generating invalid binary. My reason is --- I can't reproduce these crashes in the emulator, only on the real ARM.

The `T` crash was reproduced immediately in the emulator and it turned out to be a memory corruption bug.

[2012-10-09 18:24] tigran123 commented on #401
This is a very complex problem, so we have to be methodical. Let's see what we know:
1. The 1 Oct build seems to work fine: https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-b6936f9.zip
2. The current master crashes and so does 7 Oct build: https://github.com/downloads/tigran123/kindlepdfviewer/kindlepdfviewer-v2012.09-114-gcb25029.zip
3. The first build that uses the new TC i

[2012-10-09 19:17] tigran123 commented on #401
@hwhw Concerning LuaJIT I am a little bit confused...
Namely, what is it that controls which version of LuaJIT is picked up by "make fetchthirdparty"? According to .gitmodules it would just do `git clone http://luajit.org/git/luajit-2.0.git` which according to the instructions at http://luajit.org/download.html would pick up the latest code.

On the other hand, if I create a new directory and do `

[2012-10-09 19:19] tigran123 commented on #401
Also, running `git pull -f` doesn't work:

[code]

[2012-10-09 19:39] tigran123 commented on #401
Update: with the latest LuaJIT (just manually cloned and then replaced the luajit-2.0 directory) it still crashes but with a different stacktrace:

[code]

Again, only on the ARM, not reproducible in the emulator. And on the ARM one has to turn a few pages (with `Shift-S` and back to `A`) and press `Menu` and `Vol+/-` a few times. I still don't have the minimal sequence of actions that causes the

[2012-10-09 20:24] tigran123 commented on #401
Ok, @hwhw may be right, it does look more and more like a memory corruption issue, because I can't force either 64 (3 Oct) or 73 (4 Oct) builds to crash and these were definitely built with the new TC. So, I need to bisect it problem to find which commit(s) introduced the bug.

[2012-10-09 20:45] tigran123 commented on #401
Ok, we are back to where we were 9 hours ago, i.e. the last non-crashing build is 99 (the reason it crashed before was due to TOC memory corruption which is a separate issue fixed by @hwhw today). So, something between builds 99 and 114 is causing the crashes, i.e. between the labels `v2012.09-99-gea92f8c` and `v2012.09-114-gcb25029`.

[2012-10-09 21:47] houqp commented on #403
@dpavlin , just a side note. If I remember correctly, cregine comes with its own cursor implement, which might save you some work. But I might be completely wrong. ;p

[2012-10-09 21:48] tigran123 commented on #401
It appears that my changes to `rendertext.lua` are causing these mysterious ARM-only crashes, but I will double-check to make 100% sure. The crashes are sometimes hard to reproduce so I may have marked some commit on my list as "good" when really it is "bad". But I will definitely get to the bottom of this...

[2012-10-09 21:52] houqp commented on #404
In deed, I don't recommend using save and restore BB methods to update screen. Because it does not check the content of the BB, which means it might restore a wrong BB (and it often does). The reason I add these two calls is just to help with screen saver hack. So call self:redrawCurrentPage is a better practice.

[2012-10-09 22:00] tigran123 commented on #401
Ah, I forgot the local in front of `buffer_width = buffer:getWidth()` in `renderUtf8Text()`, so it overwrote whatever global `buffer_width` there may be! Hmm, this is just a guess from looking at the code. I will test it now.

[2012-10-09 22:08] tigran123 commented on #404
Ok, thank you, I will do a PR then.

[2012-10-09 22:09] tigran123 commented on #401
Yes, that seems to be it --- I can't break it anymore... I can't believe that such a tiny thing like missing `local` can waste one's whole day chasing the wild geese and catching red herrings :)

[2012-10-09 22:14] tigran123 commented on #401
Hmmm, but we don't have any global variable called `buffer_width` and yet adding that local does make a huge difference --- I can't break DjVu anymore! :)

[2012-10-09 22:24] tigran123 commented on #401
I am leaving this open in case if tomorrow I manage to reproduce the crash (or another crash? :) with this fix as well.

[2012-10-09 22:28] tigran123 commented on #401
Btw, when breaking DjVu I would always have to press `Menu` and `Vol+/-` which does call `renderUtf8Text()`

[2012-10-09 22:38] dpavlin commented on #403
I gave my code another go, and it seems that I understand enough of crengine API to wrap up something https://github.com/dpavlin/kindlepdfviewer/tree/cre-links

I'm not using cursor support because I want to have multiple shortcuts selectable at the same time, just like we do for mupdf. For touch-based devices there is much nicer API in crengine which allows to get link under cursor.

It's very ro

[2012-10-09 22:41] tigran123 commented on #404
Fix was merged into master, closing the issue.

[2012-10-09 22:41] #404 closed, assigned to nobody

[2012-10-09 22:53] tigran123 commented on #401
No, bad news, even with this fix (which is still valid, of course) we do get a crash. Only now I seem to need to press `T` to force it (but it is on files with NO TOC, so the fix by @hwhw should not matter here).

Anyway, the PR #408 is still a valid bugfix, but it seems we still have a serious bug here somewhere. I'll work on it tomorrow, now it is time to sleep :)

[2012-10-09 23:09] tigran123 commented on #385
Fix merged into master.

[2012-10-09 23:09] #385 closed, assigned to nobody

[2012-10-10 01:36] dracodoc commented on #389
I checked the newest build, the configuration method is good, but it just turn off the gray shade while I was suggesting remove the half line from the view all together... I think user reading a text book should not see any half cut line in page top or bottom, which is not seen in any other reading apps.

However to detect if there is a half line in top or bottom may not be easy, and it involves t

[2012-10-10 07:44] tigran123 commented on #389
@dracodoc Yes, your understanding is correct. What you originally suggested is not only too complex but also a bad idea in terms of performance, i.e. it would require shifting the WHOLE TEXT (i.e. the remainder of it from the current point to the end) up and down (which may take a minute for a huge book) on every page turn which obviously is unacceptable, i.e. too slow.

[2012-10-10 08:12] tigran123 commented on #401
Now, the current master tree crashes on ARM with a stacktrace identical to what is shown on the emulator when run via `valgrind`:

[code]

So, on the emulator it is something that valgrind detects and on the ARM it causes a SIGSEGV.

[2012-10-10 08:51] tigran123 commented on #401
Ignore the previous comment. I have narrowed down the actual cause of the crash but I am trying to understand WHY such innocent and looking-right changes (namely my recent changes to rendertext.lua) would cause memory corruption. I suspect that they just triggered the problem that was already there...

[2012-10-10 09:42] hwhw commented on #401
Yep, such changes will change memory layouts on stack and heap, thus
leading to situations where crashes either occur loudly or in silence,
without us noticing. My bet is still on memory corruption, probably not at
the places we are looking at currently. These would just be the places
where the error manifest in the end. That's the culprit with memory
corruption and it's what C programmers still e

[2012-10-10 09:46] tigran123 commented on #401
Yes, now I definitely agree with you that it is a memory corruption. The only question is whether my changes actually _cause_ it or whether they simply _trigger_ it. I am still investigating, will let you know what I find.

[2012-10-10 10:06] tigran123 commented on #401
Ok, this is the minimal set of changes to rendertex.lua that makes the corruption on ARM go away: SHA1:  edd347eb55

Please review these changes to answer the following question: is this really a fix or does it just hide the real problem?

[2012-10-10 10:27] tigran123 commented on #401
The reason behind my original changes was this: the `prevcharcode` local variable is created and can never become `nil` (ignoring the 4,5,6-byte UTF-8 case from `util.utf8chardore()`) so the check `if prevcharcode` is meaninless --- it is always true. The correct check for the presence of previous character would be `if prevcharcode ~= 0` because `prevcharcode` was initialized to 0 at the beginnin

[2012-10-10 15:01] hwhw commented on #401
addblitFrom does add the pixel values whereas simple blitting will overwrite them. I've added boundary checking to blitbuffer.c now (must be enabled by defining "DEBUG") in that pull request I have sent. Maybe I missed it, but is there a reproducable way to trigger the error on ARM? For which documents does it happen, and under what circumstances?

[2012-10-10 15:34] tigran123 commented on #401
Yes, it is easy to reproduce. You need this DjVu file:

https://github.com/downloads/tigran123/libdjvu/libdjvu-test.djvu
1. Go to page 15
2. Use `Shift-X` to define a reasonable bbox around the text
3. Press `Next` and do the same on the next page (to have a bbox for both odd and even pages)
4. Press `Prev` to go back to page 15
5. Press `Shift-S` and page `Next` several (5-10) times
6. Sometimes

[2012-10-10 15:46] hwhw commented on #401
Thank you. That was fast: my new constraints checking errored out on step 2. Investigating...

[2012-10-10 15:53] tigran123 commented on #401
Yes:

[code]

that's coming from addblitFrom() and the only users thereof are renderUtf8Text() and renderUtf8TextWidth()

[2012-10-10 16:03] hwhw commented on #401
the addBlitFrom() was missing some boundary checks. Since they are identical between the BlitFrom()s, I've factored them out into another function.

[2012-10-10 16:05] tigran123 commented on #401
Ok, I will test your PR now, thank you very much for looking into this! :)

[2012-10-10 16:30] tigran123 commented on #401
This issue can be closed because @hwhw has fixed the real cause of the corruption.

[2012-10-10 16:30] #401 closed, assigned to nobody

[2012-10-10 18:31] tigran123 commented on #403
Oh, is it supposed to work with chm files as well? I have some interesting Encyclopedias and other books in chm format which are unusable because of the links, but if your code will give them life then it would be great! :)

[2012-10-10 18:39] tigran123 commented on #403
Pressing `L` on the Lua 5.1 Reference I get

[code]

[2012-10-10 18:55] tigran123 opened #417 "Recognize DjVu generic `page name` items in the TOC"
This is just to remind us that we still need to implement the code to recognize DjVu `page names` (and convert to page numbers) in the `walkTableOfContent()` function in `djvu.c` according to the specification below:

http://djvu.git.sourceforge.net/git/gitweb.cgi?p=djvu/djview.git;a=blob;f=src/qdjview.cpp;h=545df52541ec5ab97f5e1adf3bc10f4cddfc5f5e;hb=HEAD#l3224

[2012-10-11 10:47] tigran123 opened #419 "Very funny bug in filechooser."
If you have two directories, one called `00-test` and another `test` and you enter the directory `00-test` and then come out of it by pressing on `..` entry you will get positioned on the `test` directory instead of `00-test`. If you do the same with any other directory, e.g. `Books` (and there is no directory containing the string "Books" in it) then coming out via `..` positions you on `Books` o

[2012-10-11 10:49] tigran123 opened #420 "Moving the last file to clipboard leaves cursor in the wrong position."
If you have just one file in the current directory and you pres `Shift-X` then the cursor is positioned on an empty "phantom" entry just below `..`

[2012-10-11 11:13] tigran123 commented on #419
I think it is due to the use of `string.find()` at line 175 in filechooser.lua, i.e. in the function `FileChooser:setPath(newPath)` --- we need _exact_ match, not just any match. I'll look at Lua string manipulation functions to see how to do exact matching in Lua.

Update: ... or maybe not. Anyway, I'll look at it since I already assigned myself to it :)

[2012-10-11 12:17] tigran123 commented on #419
That function is actually full of bugs --- the one mentioned above is the most innocent. E.g. if you enter a directory `mupdf` it positions you to the subdirectory `pdf` because the string "mupdf" happens to match "pdf". Anyway, I'll try to fix all these bugs by re-writing it in a more readable Lua fashion.

[2012-10-11 13:51] dracodoc opened #422 "epub status screen should display page number"
When reading epub with kpv, the status screen only display the percentage of current reading location. It's understandable because epub don't have a fixed "page" concept, the page number may change with different font size.

However, the bookmarks in epub only showed some page number. Thus when user check the bookmark list, it's impossible to relate current reading location with bookmark pages.

I

[2012-10-11 14:14] houqp commented on #422
Good point, I would suggest using percentage in bookmark list and all other lists.

[2012-10-11 17:58] dpavlin commented on #403
Yes, it should work for all crengine formats. I rebased it on top of current muster, and removed few commits at beginning which where my experiments with code. New branch is at: https://github.com/dpavlin/kindlepdfviewer/tree/cre-links-cleanup

Shortcuts are shifted to the left, and I couldn't find any reference to page margins in crengine expect getting style of element which might have margins,

[2012-10-11 19:18] tigran123 commented on #420
The fix for #419 will address this bug as well, hopefully...

[2012-10-11 19:23] tigran123 commented on #420
Btw, this is not a cosmetic bug --- if you press `Shift-X` on that phantom position again then KPV will crash, like this:

[code]

[2012-10-11 19:42] houqp commented on #403
um.. I also took a quick look on the get link method and seems that it does not involve any margin calculation at all. I think it kind of make sense as CREngine fetches the absolute/original link coordinates inside document without any margin calculation involved. This makes the link data structure static, so when user changes the style of the document, we don't need to fetch all the link informat

[2012-10-11 22:22] tigran123 opened #427 "How to override some UniReader defaults in PICViewer module?"
I thought that to override the default values of UniReader object all I have to do is this:

[code]

But it doesn't work. So, then I tried to define an :init() function like this:

[code]

Still doesn't work, i.e. when I press `Shift-L` it actually turns OFF `show_links_enable` instead of turning them ON. So, how do I change the UniReader's defaults in a specific reader, in this case PICViewer?

[2012-10-12 05:17] houqp commented on #427
Actually, both way will work. You can verify it by printing `self.show_links_enable` in the init method. The real cause of this bug is the code that reads setting in `unireader`:

[code]

`self.settings:readSetting("show_links_enable")` will always return true and overwrite the variable. The problem here is why it always return `true`... I have too go to bed now ;p see if we can figure this out to

[2012-10-12 08:47] eLiNK2gl opened #429 "copying files to clipboard not possible"
Procedure:
1) select a directory with a long list
2) go to the second page
3) select the first or the second file
4) press shift + X
5) watch the message 'Unsupported function!'

[2012-10-12 08:51] tigran123 commented on #429
Bug confirmed, I'll deal with it, as I have been looking at this code just yesterday.

[2012-10-12 08:56] eLiNK2gl commented on #385
I do not know if it a bug.
So I am not opening a separate issue.
But the selection of the content (press 'X') is wrong on most of the pages in Stephens.pdf

[2012-10-12 09:01] tigran123 commented on #385
Each PDF can define its own BoundingBox (it came from PostScript actually) internally, so it is not a bug. You can always override it with `Shift-X` and define your own bbox.

[2012-10-12 09:04] tigran123 commented on #429
Btw, the bug is present before my yesterday's changes as well.

[2012-10-12 09:10] tigran123 commented on #429
Ok, fixed. It was introduced recently, but, fortunately, this particular code is readable and so the fix is straightforward. I'll test it thoroughly and put out a PR. Thanks for finding this bug.

[2012-10-12 12:03] tigran123 commented on #427
The `self.settings:readSetting("show_links_enable")` will only return true if there is no value of `show_links_enable` in the history file. But if there is a value and it is false, then this function will return false.

[2012-10-12 12:07] tigran123 commented on #427
I think the `self.settings:readSetting("show_links_enable")` should return `nil` if there is no value in the history file. And the code to load the setting should be modified to check for this:

[code]

But this is a dangerous change because it would require checking all the callers of `self.settings:readSetting()`. For example, the `show_overlap_enable` should also be updated to:

[code]

[2012-10-12 12:22] eLiNK2gl opened #431 "stubborn rename function"
Scenario:
1) take a file, e.g. Test-rename.pdf
2) rename (Shift + R) it as follows -> eTest-rename.pdf
3) try to rename it again with the first letter replaced by the corresponding capital letter, i.e. ETest-rename.pdf
4) the case gets ignored. The name remains eTest-rename.pdf.
5) the same is true, if you try to replace a capital letter by the corresponding small letter.

Is there any reason why

[2012-10-12 12:46] tigran123 commented on #431
The first thing is a  bug, I shall have a look when I come back in the
evening. The second thing casesensitivity is not a bug.

[2012-10-12 13:00] eLiNK2gl commented on #431
I know it is made by design.
I just wonder if it is of any use.
Looks like a nuisance to me.

[2012-10-12 13:15] tigran123 commented on #431
Oh, I completely forgot that we are on vfat, so the kind of
rename you describe is not valid, so the first thibg is not a bug
either. its a limitation of vfat filesystem.

[2012-10-12 13:28] eLiNK2gl commented on #431
not much of a problem, anyway.

[2012-10-12 13:38] dpavlin commented on #429
merged into master

[2012-10-12 13:38] #429 closed, assigned to tigran123

[2012-10-12 15:30] houqp commented on #427
Yes `nil` is what it is supposed (and it did before) to return when no value in the hist file, we do all these kind of checks for previous `self.settings:readSetting()` calls. I just have no idea when it started to return `true`...

[2012-10-12 15:41] tigran123 commented on #431
As a closing remark I would like to point out that messing with case-sensitivity in an application that is expected to work on a VFAT filesystem is a very bad idea, because it may lead to subtle bugs. For example, VFAT would treat two existing files `file.txt` and `FILE.TXT` as different, but if only one of them existed, say `file.txt` then it would refuse to rename it to `FILE.TXT` because it wou

[2012-10-12 15:41] #431 closed, assigned to nobody

[2012-10-12 15:43] tigran123 commented on #427
Interestingly, for integer-valued configurables (like rcountmax) that is exactly what it does, i.e. returns `nil` if there is no value in the history file. So we need to find out why for boolean configurables it has a different behaviour.

[2012-10-12 15:57] tigran123 commented on #427
Hmmm, wait... Now I have rested it and it seems to work! :)

[2012-10-12 15:59] tigran123 commented on #427
Ah, no, it would work for letting PICViewer override them correctly, but it would break because the wrong value for non-pic items (PDF, DjVu) would be loaded. So there is still a problem.

[2012-10-12 16:00] tigran123 commented on #427
I have to go now, so I'll have a look at this later (or tomorrow) unless someone beats me to it.

[2012-10-12 18:19] tigran123 commented on #427
Actually, maybe it still returns `nil` but we are just doing the wrong check. I.e. instead of saying:

[code]

we should be explicitly checking for `nil`, i.e. like this:

[code]

I will test this idea now and see if it was the right guess or not.

[2012-10-12 18:25] tigran123 commented on #427
Yes, it works. I will test it a abit and then will send a PR.

[2012-10-12 18:37] tigran123 commented on #427
Actually, there is another bug there, in the inputLoop() we have to reset the values to defaults, otherwise the previous value is kept (for a given object, i.e. for all DjVu files or all PDF or all cre-files) between close/open of the document. So, my PR will fix two bugs.

[2012-10-13 03:54] houqp commented on #427
This is very strange, I also tested with `self.rcountmax`.

I don't understand why assigning `nil` to an entry in `self` table won't turn that entry into `nil`. Instead, `self.rcountmax` is changed to `0` and `self.show_link_enable` is changed to `true`. While assigning `nil` to local var works....

[2012-10-13 09:52] tigran123 commented on #427
Just for the record, the PRs to address what was discussed here are #432 and #434

[2012-10-13 13:29] tigran123 commented on #420
The fix was merged to master, closing.

[2012-10-13 13:29] #420 closed, assigned to tigran123

[2012-10-13 13:29] tigran123 commented on #419
The fix was merged into master, closing.

[2012-10-13 13:29] #419 closed, assigned to tigran123

[2012-10-13 13:37] dpavlin commented on #427
merged into master, so closing

[2012-10-13 13:37] #427 closed, assigned to nobody

[2012-10-14 01:30] dracodoc opened #438 "add bookmark jumping feature"
This is a feature @houqp wrote according to my request. Because it replaced some keyboard short cut in use, I used to think it can exist as a personal hack instead of being merged into master branch. Today I reviewed the keyboard short cut and realized it can coexist with others with minor changes.

So I suggest this feature to be merged into master branch.

The feature work as follows:
When bookm

[2012-10-14 04:09] houqp commented on #438
Sorry for holding this feature from merging into master for so long... I promise I will get it done tonight :(

In order to keep user interface consistent, I will use `alt + up/down` for bookmark jumping, is that OK?

[2012-10-14 13:23] eLiNK2gl opened #442 "add color options for highlights"
I came across a booklet (http://www.licht.de/fileadmin/shop-downloads/lichtwissen14_Licht_Wohnen.pdf), which has many grey text boxes. So, the current highlight color is not adequate, as the highlight is not visible in this case.

One could set the highlight color to black, which would solve the problem for the file
but I believe a better option would be to add an option to select another highligh

[2012-10-14 15:10] dracodoc commented on #438
No problem, thanks! :)

[2012-10-14 16:51] dracodoc commented on #334
I think to upgrade through 3G is not realistic, how long will a 3G connection take to download new kpv package? Personally I never use 3G in my DXG except to set the clock.

So I suggest you can just consider wifi only. Although I think the current upgrade method is easy too.

[2012-10-14 22:04] tigran123 commented on #442
Actually, I would suggest also (in addition to what you are suggesting) using (optionally, user-selectable via menu) solid grey block as a marker, like the one Amazon PDF reader uses for selections. But for mobi they use underlines which is inconsistent. I like blocks better because they are more visible and they more closely approximate doing highlighting with a highlighter on a real paper book :

[2012-10-14 22:08] tigran123 commented on #403
Implemented now, so we can close this.

[2012-10-14 22:08] #403 closed, assigned to nobody

[2012-10-15 12:02] kaysin opened #446 "I want to know why kpfv just set 10 or less pages before full refresh .. I want 100 pages before full refresh. ..."
I want to know why kpfv just set 10 or less pages before full refresh .. I want 100 pages before full refresh. ... ....

and ...the 'H' for  HELP page is not including M for zoom mode ..~~~~

[2012-10-15 12:07] eLiNK2gl commented on #273
once again, while closing a book (press 'Home') (http://www.licht.de/fileadmin/shop-downloads/lichtwissen14_Licht_Wohnen.pdf), the kpdfviewer crashed.
This time with the following error 'warning: not building glyph bbox table for font 'DKACFN+Cambria' with 4722 glyphs'.

P.S.: kindlepdfviewer-v2012.09-200-gfd7eaf3.zip

[2012-10-15 12:13] eLiNK2gl commented on #446
A somewhat arbitrary decision (re. 1-10) but
I do not think you would be happy with the result for 100.

[2012-10-15 12:18] kaysin commented on #446
@eLiNK2gl  before this limit ...I  use  150 pages before full refresh ...because I need dxg to turn page quickly ..and  I'm not very particular about contrast .....

[2012-10-15 12:19] tigran123 commented on #446
@kaysin Help page does show `M` for setting the zoom mode for those formats where it is applicable (PDF, DjVu, JPEG). I assume you are reading some kind of ebook format (like FB2 or mobi or epub) and for these the `M` command would be meaningless.

As for the limit, ok, we can increase it, if you really need it. Would 200 be sufficient?

[2012-10-15 12:22] kaysin commented on #446
@tigran123   ... Er. ... i think 200 is sufficient .~ I like this app very much ... maybe .Er.. .I want to translate it into Chinese ...

[2012-10-15 12:23] kaysin commented on #446
@houqp   Are u in China ?

[2012-10-15 12:26] tigran123 commented on #446
Ok, done, see PR #447

[2012-10-15 12:33] tigran123 commented on #273
This is because mupdf has a limit of 4096 for the maximum number of entries in bbox glyph table which it builds. And this PDF file has a font with 4722 glyphs (>4096), so it fails...

I wonder what would happen if we increase the `MAX_BBOX_TABLE_SIZE` to a bigger value and recompile mupdf...

[2012-10-15 13:23] #446 closed, assigned to nobody

[2012-10-15 13:44] tigran123 commented on #438
closing, merged into master.

[2012-10-15 13:44] #438 closed, assigned to nobody

[2012-10-15 13:51] dracodoc commented on #261
@houqp and @tigran123 has helped to add the bookmark jumping feature to master build, and the global fresh is already default, so the remaining changes I requested should be very easy to be configurable now.
1. Default font for epub. There could be a option to assign default font in the epub font selection screen, once it was set, the information should be saved in reader.settings.lua
2. The color

[2012-10-15 19:44] dracodoc commented on #438
I noticed the newest build of v2012.09-258-gcd5324c.zip is using alt + up/down in crengine, but alt + K/L in pdf. Is this intended? Shouldn't we use the same key if possible?

Besides, it seemed that the alt + up/down doesn't really work. Pressing alt + up/down only move the screen a little bit like just pressing up/down.

[2012-10-15 20:06] tigran123 commented on #438
@dracodoc Alt-up/down/left/right keys do not work on Kindle, so we had to use Alt-H/J (for TOC cycling) and Alt-K/L (for bookmarks cycling).

[2012-10-15 20:08] tigran123 commented on #438
@dracodoc Oh, also, on crengine I think I've deleted the Alt-K/L group instead of deleting Alt-H/J :)

Let me double-check and if I really did that then I'll fix it quickly.

[2012-10-15 20:10] dracodoc commented on #438
In the build 09-258, crereader.lua is still using alt + up/down.

[2012-10-15 20:12] tigran123 commented on #438
Ok, done, see PR #451.

[2012-10-15 20:18] tigran123 commented on #438
@dracodoc Btw, I only tested bookmarks cycling feature with PDF files, not crengine (it wasn't me who wrote it --- it was @houqp so I assumed he tested it with crengine). When trying to use it with crengine I get crashes... I will have a look now.

[2012-10-15 20:23] tigran123 commented on #438
Ah, I see, it is my fault --- I changed the keys to Alt-K/L for PDF/DjVu but forgot to do the same for crengine.
I will fix it now.

[2012-10-15 20:28] tigran123 commented on #438
Ok, the commit with the fix added to the same PR #451

I'll throw away the build 258 and put a new build now.

[2012-10-15 20:38] tigran123 commented on #438
@dracodoc Ok, try the build 264 now --- all the fixes are there:

https://github.com/tigran123/kindlepdfviewer/downloads

[2012-10-15 20:54] dracodoc commented on #438
It works now. 2 of other things I found:
1. "I" change the way of inform of events, but pressing "I" only get a pop up said it's unstable, then what? I didn't see any change or in which way of inform of event I'm using.
2. The font zoom operation dialog stayed about full 4 seconds before refresh, it was too long. I checked the code, it is
InfoMessage:inform(change.." font size to "..self.font_zoom

[2012-10-15 21:02] tigran123 commented on #438
1. You have to raise the privilege level as changing the info methods requires top-level clearance. To give yourself this high privilege level you have to use `Alt-M` command (it works both within reader and file manager)
2. There is no concept of "zoom" for ebooks. When you increase or decrease the font size the engine (in this case crengine) has to retypeset (i.e. collect text into lines, lines

[2012-10-15 21:50] dracodoc commented on #438
OK, got it. I suggest to change the message a little bit for "I', because the message didn't hint that it is limited by the privilege level, instead user would only know that the function is unstable then don't know how to try it even he would like to take some risk.

[2012-10-15 21:59] tigran123 commented on #438
Yes, I was going to change it when I changed the "set file manager mode" to "set user privilege level" (because it was not just limited to file manager's operations). But I couldn't think of any better alternative. Can you suggest one?

[2012-10-15 22:20] dracodoc commented on #438
I noticed the code is like this
InfoMessage:inform("Unstable... For experts only ", -1, 1, MSG_WARN,
                    "This function is still under development and available only for experts and beta testers.")

while when the privilege level is set for beginner, I only saw the first message "Unstable... For experts only". The second message seemed never appear even in the expert level so it se

[2012-10-15 22:25] tigran123 commented on #438
The second message is for voice (TTS) output only. If you enable TTS (via `I` command) you will get the voice say the "long" version of he message.

[2012-10-16 03:29] houqp commented on #446
@kaysin, I am in US now ;P

[2012-10-16 03:39] melib opened #453 "Request : column zooming function for manga"
Could you enhance "zoom to first column function ('F' and 'shift+F' keys)" in reader mode to be able to start at "a top right corner" or "a top left corner"?

So that I can choose "start at top right corner" when reading two-page manga and "start at top left corner" when reading two-column journal.

Two-page manga, for example, http://www.mangaforkids.com/images/howto-spread.jpg

Thank you.;)

and

[2012-10-16 06:37] kaysin opened #454 "~A suggestion~~ Can we make kpfv use keyboard to choose books ,,just as choose TOC"
~A suggestion~~ Can we make kpfv use keyboard to select books ,,just as choose TOC ..five-way is slow for selecting ...

[2012-10-16 07:26] tigran123 commented on #454
If we cut a huge chunk of horizontal space for a keyboard shortcut then the amount of space left for the filename will be diminished. And there are plenty of books with very long filenames, so...

Btw, I assume you realize that there is now a new command "Goto" (bound to `G` key) which helps you to quickly jump to any desired page in a long list of files.

[2012-10-16 09:45] dpavlin commented on #453
Do you have any manga document with more than one page? From my limited knowledge about Japanese I would also assume that you start reading on last page and move toward first one (from my western point of view, that is ;-)

Current code have some corner cases where margins won't work well (pdf files from Linux Journal are example for me) so I was thinking about fixing that, so I will also have in

[2012-10-16 09:52] tigran123 commented on #453
@dpavlin Yes, that would be syntactically correct for Hebrew (and other semitic languages like Syriac, Aramaic, Arabic, etc) but I wouldn't advise to mix this in with the right-to-left column switching mode. The reason is because many books have right-to-left columns but when they are provided in PDF or DjVu formats they actually start from the physical page=1 and not from page=lastpage. This is f

[2012-10-16 09:56] tigran123 commented on #453
I would also like to add that PDF specification provides an object which tells which direction (R2L or normal) it is typeset in. My typesetting system actually makes use of it (for right-to-left semitic languages), but most viewers ignore it anyway...

[2012-10-16 10:35] melib commented on #453
@dpavlin This is a sample. http://www.mediafire.com/download.php?vwcw3d3gy59mhfl
Each page is merged from two pages and Texts is too small for reading even reads in landscape mode.

Page ordering is not problem for reading manga in kindle because It reads normally from the first page to the last page.
But it reads from right to left in each page so if  the zoom function can start at the top right

[2012-10-16 11:10] tigran123 commented on #454
@kaysin Also, do you realize that you can also use page `Next/Prev` keys for navigating the file manager's list as well, not just the fiveway keys?

And also you can press `S` and search for the file by pattern (special pattern consisting of single space ' ' finds ALL files --- we need to document this somewhere).

Also, you should organize your files into directories (you know, the thing invented

[2012-10-16 12:24] kaysin commented on #454
@tigran123  thanks for your reply  in patience.. I have realized  some troubles before i asked .. ..  and  when we read pdf ..we use vol-/+ to decrease/increase gamma .. can we use shift + vol -/+ let decrease or increase quickly ..?? i know shift + vol -/+ is TTS speed ... ..

[2012-10-16 13:26] tigran123 commented on #454
Hmmm, I thought 10% increment for gamma was big enough...

[2012-10-16 14:05] houqp commented on #454
@kaysin , if you want to in crease the step of gamma adjustment, find following code in unireader.lua (around line 2430):

[code]

change  (`1.1` and `0.9`) to (`1.2` and `0.8`) will increase the step to 20%. Or you can set it higher. But I think you need to only adjust the gamma for one book once, so you need use that feature very often right?

[2012-10-17 00:00] dracodoc opened #456 "epub table of contents not recognized"
Epub don't have a page number so it will be difficult to locate certain location without table of content support.

Some epub's table of content is not recognized by kpv but can be used in pc software or calibre viewer, is it some compatibility problem?

https://www.box.com/s/7ibfr8uyo7l7ts7vf13r

[2012-10-17 00:07] dracodoc opened #457 "pdf fit width mode and page down button"
The fit content width mode have been improved that page down button will move to the remaining part of the page, instead of the old behavior which jump to next page directly.

However, the fit width mode is still showing the old behavior, i.e. user can only use five way to move bit by bit for one page. Most of time fit content width can replace fit width mode, but sometime kpv have some difficulty

[2012-10-17 00:45] houqp commented on #456
You  mean you can see the TOC menu after pressed `t`? Which version are you using?

[2012-10-17 01:04] dracodoc commented on #456
I'm using the latest build kindlepdfviewer-v2012.09-264-gffaa770 from @tigran123. After pressed "t", the pop up message said "no table of contents" while that epub do have table of contents.

The epub is generated from calibre, its table of contents is stored in toc.ncx inside the epub package.

[2012-10-17 08:42] tigran123 commented on #457
@dracodoc There is no real problem here because you can (and should) ONLY use `Shift-S` mode in conjunction with `Shift-X` mode twice, i.e. for one page and the next, thus defining bbox for both odd and even pages. With this in mind, the "fit width mode" (`S`) is actually irrelevant and could be removed altogether. We just didn't bother removing it because... well, I suppose we just didn't bother,

[2012-10-17 09:14] tigran123 commented on #457
@dracodoc Just to clarify further than I don't disagree with you that page `Next/Prev` should behave in `S` mode exactly the same as they do in `Shift-S` mode. I totally agree with you on this. I am simply saying that there is no need to use `S` mode at all --- with the properly configured bboxes via `Shift-X` the only two modes that you need are `Shift-S` (for single column books) and `Shift-F` (

[2012-10-17 14:00] dracodoc commented on #457
Thanks, now I know how to use shift-X and shift - S... I didn't know the "content" is defined by the shift- X, because when I use shift - S before most time kpv can get the content box right, so I thought it was all automatic, don't need user interaction. I just saved this page. Can you add your description to the wiki? I bet many user don't know how to properly use shfit-x...

That being said, I

[2012-10-18 02:23] houqp commented on #456
That's strange, can you get the TOC of that epub with previous version before? Is TOC support not working for all of your epubs or just that one?

[2012-10-18 02:33] dracodoc commented on #456
My first post is not clear so I updated it a little bit. I have epub that can't show TOC before so I thought they all don't work, but I double checked, some do work, so it's book specific.

I looked at the epub but didn't find specific difference. This epub is converted from html by calibre, and I can't see table of contents in kpv:

https://www.box.com/s/7ibfr8uyo7l7ts7vf13r

[2012-10-18 03:42] houqp commented on #456
I just checked the book, very likely to be an upstream bug. Anyone want to give it a try? I am on my way of porting KPV to paperwhite now, so won't have time recently...

BTW, the typesetting of this book in KPV is some how sucks..... everything sentence is centered. sigh...

[2012-10-18 03:47] dracodoc commented on #456
Calibre convertion have some problem so the preface part is not right, though after the preface the major part is ok :)
The book is a pdf first converted to html by mobipocket then converted to epub by calibre. I consider this kind of result good already for converting pdf to epub...

So it is book specific and not a easy to solve problem, you can just put this request on shelf, no big deal, I'll

[2012-10-18 07:53] tigran123 commented on #456
@dracodoc is the original PDF not readable on KPV even with the knowledge of how to use `Shift-S`/`Shift-F` modes properly? Maybe it will be readable with the new reflow feature we are working on?

Converting a book (i.e. PDF or DjVu file) to an ebook format (i.e. one of fb2, epub, mobi, etc) is, strictly speaking, a fundamentally IMPOSSIBLE task. Well, DjVu files are out of the question entirely

[2012-10-18 13:31] dracodoc commented on #456
The orginal pdf have too small font and too wide page width, so even with shift-S it is still not practical to read directly.

I knew converting pdf to other format is very difficult so I usually rely on cropping and landscape mode. That being said, I used to find that English text based pdf can be converted to html relatively well by mobipocket, the end result will at least comparable to reflow r

[2012-10-18 13:33] tigran123 commented on #456
Ok, thanks for the suggestion, I will try mobipocket creator at some point.

[2012-10-19 16:20] dracodoc commented on #457
Just thought about another usable feature: 2 screen for 1 page mode.
With kindle DX, even the pdf with smallest font should be able to be read comfortably in landscape view. However, the fit width mode currently will jump to next page directly with page down, and fit content width mode need to manually define crop box with shift x -- one reason I never use crop in kpv before is that I've cropped t

[2012-10-19 18:47] tigran123 opened #464 "Bug: menu shortcuts broken on Kindle 3"
I remember that when I added "deletable" flag to SelectMenu I ensured that all shortcuts work correctly on both Kindle 3 and Kindle DXG. But now the Kindle 3 shortcuts are broken, the last item is not accessible. The actual key shown is "/" which of course does not exist on Kindle 3 --- it is DXG-specific.

I will have a look at this.

[2012-10-19 19:23] tigran123 opened #465 "Switching between STANDARD and KOPTReader."
As this seems to be a complex topic I am creating a separate discussion issue for it (with a new label too :)

To start off the discussion here is a very simple implementation of the toggle on filechooser.lua level that is currently in my kopt-switch branch:

https://github.com/tigran123/kindlepdfviewer/compare/master...kopt-switch

Now, I am not proposing to merge this into master --- this is jus

[2012-10-19 20:46] eLiNK2gl opened #469 "strange cursor behavior"
following observations in the highlighting mode (press 'N')
1) in some cases, some parts of text are not accessible. E.g. while in 'A' mode I can highlight every line on a page. In a Shift + 'A' mode some lines are not accessible and by moving the cursor down (five way) one jumps to the next page
2) with some texts (noticed on a page with three columns) while moving cursor down you can select ever

[2012-10-20 01:00] houqp commented on #457
@dracodoc , do you mind moving your 2 screen for 1 page mode to a new issue?

[2012-10-20 01:02] dracodoc commented on #457
No problem, but I thought it will only be suitable for limited cases. The perfect solution is still the scroll mode, so maybe you can just ignore this feature suggestion.

[2012-10-20 01:13] houqp commented on #465
Will be better if we can automatically reopen the file with the new reader when user pressed `R`. I have heard that the typesetting of kpdfopt is good enough for most of the cases. But there will still be the cases when kpdfopt does not work. Then the user will want to quickly switch back to the original reader, checkout the original page and switch back.

[2012-10-20 01:45] houqp commented on #469
So far highlight indeed is not supported in other modes except `fit to content width mode`. If it happened to work in other mode, then it's just lucky... But the second one should be a bug. I am sorry that the highlight code is so badly written that I don't even have the faith to fix it ;p I am considering rewrite it in the new ui code base...

[2012-10-20 08:39] tigran123 commented on #457
Yes, I agree with @dracodoc that this feature suggestion should be ignored. Let's just do that --- and it requires no change to the code :)

[2012-10-20 08:49] tigran123 commented on #465
@houqp First of all, it is certainly NOT "good enough for most of the cases". Namely, as I said before, for most cases it is not appropriate (I estimate to be 95% but this estimate is specific to my set of about 1,000,000 books to do with Bible, Philosophy, History, Fiction, Physics, Mathematics, Programming that I have either published myself or collected in the past 25 years --- why I mention th

[2012-10-20 09:09] tigran123 commented on #464
The fix is merged to master, closing.

[2012-10-20 09:09] #464 closed, assigned to tigran123

[2012-10-20 09:19] dpavlin commented on #469
@houqp highlight should work in all zoom modes, because I did some work on coordinate transformation for links, so at least coordinates on screen should be sane.

Having said that, I did notice that some pdf files do have strange order of lines when moving on page, but I assumed that this is partially a fault of pdf layout.

[2012-10-20 09:24] tigran123 commented on #469
@dpavlin I know that in some PDF files you cannot correctly go from one word to the next because the kind of space used in between them (as you know there are about 40 kinds of "space" characters) is not recognized as space, i.e. moving to the right would skip a whole sentence or some such block. This is, btw, precisely the reason why instant dictionary lookup does not work reliably in PDF files,

[2012-10-20 09:46] tigran123 opened #473 "koptreader cuts the bottom of the page off"
On some djvu files a part of the bottom of the page is not visible and there is no way to get at it. Changing zoom either makes it worse or makes no difference. See pages 6 and 8 in this test file:

https://github.com/downloads/tigran123/libdjvu/koptreader-test.djvu

[2012-10-20 10:35] tigran123 commented on #465
I will play with closing/re-opening file and see if it can be done comfortably in the current framework...

[2012-10-20 10:59] tigran123 commented on #465
Btw, currently `Home` is described in the help as `Exit application` (from within a reader), but it behaves in exactly the same way as `Alt-Back` (close the document) because changing the global variable `keep_running` has no effect --- the inputLoop() uses a `local keep_running` anyway (and it is useless there as it is never changed).

So, how about we remove the `Home` key from the reader and us

[2012-10-20 11:08] tigran123 commented on #473
The bug is also present on PDF files, see page 8 of this file:

https://github.com/downloads/tigran123/libdjvu/koptreader-test.pdf

[2012-10-20 12:59] tigran123 commented on #465
A sample implementation of the switch is in the PR #474.

I had to use `Alt-R` rather than `R` because the latter is already used for setting DjVu rendering mode. Besides, `Alt-R` is more suitable because it reads like "alternative reader" which matches the command's function.

[2012-10-20 16:46] dracodoc commented on #190
I found that ebookdroid have the scroll mode and it is using mupdf, maybe you can have a look at it.
http://code.google.com/p/ebookdroid/

[2012-10-20 17:28] tigran123 commented on #190
Thank you, @dracodoc , you are very helpful. But the problem with implementing the continuous scroll mode is not to do with the usage of mupdf library, but to do with how to manage the page data inside KPV's internal implementation, e.g. interacting with tile cache, etc.

[2012-10-20 17:30] dracodoc commented on #190
Yes, I understand that kpv's special implementation method is different from other reader apps, and that's why kpv is fast. Just want to provide a reference. :)

[2012-10-20 19:48] dracodoc commented on #456
I found a book could be the best sample for this bug: the table of contents is recognized by KPV, but only from Chapter 2, the chapter 1 is ignored. I looked at the epub file but didn't find any difference between chapter one and the other chapters, maybe you can find something in debug information.

https://www.box.com/s/t8r2ty09pvjzdnueyin3

[2012-10-21 09:44] eLiNK2gl opened #477 "option 'Bugs' crashes kpdfviewer"
steps:
1) press 'I' in the file chooser
2) press 'T' ('Bugs')
3) crash results (nothing is written to the crash.log)

[2012-10-21 09:50] tigran123 commented on #477
I can't reproduce it. I assume you did this:
1. `rm settings.reader.lua history/*`
2. Startup KPV
3. `Alt-M` to set Expert privilege level
4.  `I` and select Bugs

If you did anything else in addition to the above minimal sequence then you must provide that info. Thanks!1

[2012-10-21 10:05] eLiNK2gl commented on #477
@tigran123
all except for the item 1

[2012-10-21 11:04] tigran123 commented on #477
@eLiNK2gl Ok, then try re-producing it with step 1 included. I have just tried on Kindle as well as on emulator and I can't reproduce it. If you have settings files then it is possible that some of the values point to TTS functions and that is why it crashes, so we'll have to check all combinations. But if you reproduce it with a clean state (no settings files) then it is a different matter.

[2012-10-21 12:23] eLiNK2gl commented on #477
@tigran123
removing both settings.reader.lua and history/\* solves it

[2012-10-21 17:05] houqp commented on #469
yeah, there are many pdfs that have wrong line/word coordinates. :(

But for the wired behavior like `KPV jumps to the next page automatically` should be a bug in our highlight feature. The native system does not support auto page turn when doing highlight, so if the line cross screen view, user have to manually press pagedown. That's a lot simpler to implement, but for some reasons, I decided tha

[2012-10-22 19:02] tigran123 commented on #477
Ok, closing the issue until you can reproduce it with a clear sequence of steps.