[2012-10-22 19:02] #477 closed, assigned to nobody

[2012-10-22 19:04] tigran123 commented on #465
The current preferred implementation is in the PR #480 so one should look there for the relevant discussion. Closing this issue now.

[2012-10-22 19:04] #465 closed, assigned to nobody

[2012-10-22 19:05] tigran123 commented on #454
closing this as it seems to be explained and resolved now.

[2012-10-22 19:05] #454 closed, assigned to nobody

[2012-10-23 06:47] eLiNK2gl commented on #469
neither does it work in the fit to content width mode (Shift + S).

[2012-10-23 10:05] chrox opened #486 "koptreader has memory leak when reflowing pdf/djvu pages"
The memory leak bug is found on reading almost all pdf/djvu documents. Usually 10MB of memory is leaked out when reading 100 pages. A quick solution for this bug right now is restarting KPV after reading  a lot with `koptreaders`, namely the `PDFReflow` and `DJVUReflow` in reader choosing dialog.

[2012-10-23 11:16] tigran123 commented on #486
Yes, and obviously we shall leave it up to the users to restart KPV when needed.

[2012-10-23 11:23] hwhw commented on #486
Well, although I tend to agree - the web browser folks have nowadays all
given up and create a new process context for a "tab"...

But after all, it shouldn't be too hard to track the memory leak down.

[2012-10-23 11:49] chrox commented on #473
@tigran123 In test file koptreader-test.djvu both page 6 and page 8 display all right when zoom value is set above 1.2 while both display abnormally when zoom value is below 1.2 . And in koptreader-test.pdf page 8 increasing zoom value above 0.70 just makes things worse but setting zoom value below 0.70 is just fine. They are quite interesting test cases.

[2012-10-23 11:57] hwhw commented on #486
And it's quite easy, I think after a short first glimpse on how the
reflow is implemented. The bitmap created by k2pdfopt is just never
freed.

Another note: I don't like the way how it is fitted into pdf.c and
something is fishy about the state information, I'm not sure if it's
properly isolated. But that could probably be done later.

[2012-10-23 12:10] chrox commented on #486
@hwhw The master bitmap is freed as `bmp_free(&masterinfo->bmp);` at Line 431. If the main bitmap image were not freed the leak would not be 10MB/100 pages, virtually you just cannot read more than 20 pages before Kindle runs out of memory. I used mtrace to trace the memory allocate and free calls and found that the leak comes at the dynamic expansion of master bitmap. At the beginning of a reflow

[2012-10-23 12:16] chrox commented on #486
@hwhw The author of K2pdfopt has already said sorry in his page for those blocks of global states. But I think it just works fine at most cases right now.

[2012-10-23 12:36] hwhw commented on #486
Oh, I missed the freeing, sorry. And yes, I agree that it's a matter that
can be dealt with later. k2pdfopt is coming from being a standalone tool,
bringing it into proper shape for being a library might well be a matter
for later.

[2012-10-23 12:50] tigran123 opened #487 "Can we extract attachments from a PDF?"
Does anyone know if mupdf can extract attachments from a PDF file?

[2012-10-23 13:07] tigran123 commented on #487
Ok, pdftk can do it, but one still has to build it for Kindle. That is a very nice cross-compile project for me....
(or maybe I'll look at its source and just extract the attachment extraction code into a separate utility, or even try to build it into KPV itself :)

[2012-10-23 13:49] chrox commented on #487
@tigran123 I disagree with you that converting Djvu to PDF will grow file size by 200-500%. I know a tiny program called DjvuToy which can make nearly loss-less conversion from DJVU to PDF and keep nearly the same file size for most DJVU files. Believe me, I have tested it dozens of times and converted all my DJVU files to PDF files. And I said it works for most DJVU files just because the author

[2012-10-23 13:59] tigran123 commented on #487
Yes, I heard about this program but I did not believe what I heard because it seemed impossible even in theory. But I would be MOST HAPPY to be proven wrong. The reason I think it is impossible is because the JBIG2 format used by DjVu is not really supported by any PDF readers, so the PDF files created using JBIG2 won't be readable anywhere. However, this was the situation 5-10 years ago. Maybe th

[2012-10-23 14:12] chrox commented on #487
@tigran123 Yes. The PDF files converted from Djvu by DjvuToy is readable on Adobe reader X on Windows and Ocular on Ubuntu and of course KPV `PDFReader` and `PDFReflow` on Kindle3.

[2012-10-23 14:28] tigran123 commented on #487
Ok, I converted a 70M DjVu file and the PDF file is 88M in size, i.e. has grown by 21%. But still this is much better than the original PDF file which was 103M in size (I still kept it). And the good thing about DjVuToy is that it preserved the embedded outline and converted it to PDF bookmarks (TOC) correctly.

Thank you very much, I will experiment some more and if, indeed, the average overhead

[2012-10-23 14:40] chrox commented on #487
@tigran123 It would be the worst case I have heard. Just now I tested a djvu file of 6.5 MB, and the converted pdf file is 5.7 MB with no visible degeneration of visual quality. And at most times the size of converted PDF files grows by less than 10%. You should try more conversions.

[2012-10-23 14:44] tigran123 commented on #487
Also, I noticed that it doesn't work on readonly mounted filesystems because it tries to create the output in the same directory as the source file. Setting the target directory is overwritten when the source is specified.

[2012-10-23 14:46] tigran123 commented on #487
Maybe you are using some of options like reducing dpi to a fixed one?

[2012-10-23 14:46] chrox commented on #487
@tigran123 Or you could move the djvu file to be converted to tmp directory and convert it there.

[2012-10-23 14:48] chrox commented on #487
@tigran123 It also seems to lack the ability of batch process and a command line interface.

[2012-10-23 14:49] tigran123 commented on #487
Well, it seems to support multiple file conversions. I haven't tried it yet. I'll do it now.

[2012-10-23 14:50] chrox commented on #487
@tigran123 Oh yes. I set the fixed DPI to 96.

[2012-10-23 14:51] tigran123 commented on #487
Ah, and I leave it as "document setting" and most of my DjVu files are either 600dpi or 1600dpi.

Btw, 96dpi files would be unreadable on Kindle. You should set it to at least 300dpi. (I know that Kindle's screen is 170dpi but one normally reads document by zooming in using Shift-X/Shift-S and so the effective expected resolution is about 300dpi)

A few days ago we had a denial of service attack o

[2012-10-23 15:00] chrox commented on #487
@tigran123 But the DPI setting doesn't affect the converted file size much. After I set DPI to 300 the generated PDF file is still 5.7MB exactly the same as converting using 96 DPI.

[2012-10-23 15:13] chrox commented on #487
@tigran123 According to the article of the author the file size doesn't change much after conversions if original divu pages are 1-layer or 3-layers, but if it happens to be 2-layers (with color text) the size of converted pdf file will grow a lot because there is no 2-layers model in PDF document structure it has to be converted to 3-layes. Maybe that's the reason of the size growth. And the auth

[2012-10-23 15:20] tigran123 commented on #487
My DjVu files are always BITONAL with no colour (or any other) text layer. I don't believe in adding an OCRed "hidden text" for search purposes because it is always of terrible quality, so I like pure single layer images, nothing else. So, no, that is not the reason of growth in my case, as you can see if you download the djvu file I pointed to.

[2012-10-23 15:26] tigran123 commented on #487
Also, I disabled the option "convert hidden text" anyway, this is for converting DjVu files created by other people (there are plenty such in my archive --- not all the good books in the world are created by myself, of course :)

[2012-10-23 15:30] tigran123 commented on #487
Ok, I converted another randomly chosen file and the size ratio is  `47867896/64474285 = .74243391764639189096`

So, that is about 26% increase...

I'll try another totally different (and created by someone else) file and see if this 20-25% increase is the same for all files.

[2012-10-23 15:55] tigran123 commented on #487
Actually,  for other files it is even worse --- about 30% size increase, look:

[code]

I'll try a few more, but my current conclusion is that the result of conversion by DjVuToy is about 25-30% bigger than the original DjVu file. So, it still makes sense to implement an attachment extraction facility and embed DjVu directly in PDF as attachment (this has 0.003% size increase).

And here is anothe

[2012-10-23 16:01] chrox commented on #487
@tigran123 I have deleted most of the DJVU files after converted them to PDF. But there are remaining 5 DJVUs for test.

<table>
    <tr>
        <td>DJVU size</td> <td>PDF size</td><td>Increase ratio</td>
    </tr>
    <tr>
        <td>14972100</td> <td>13691001</td><td>-0.094</td>
    </tr>
    <tr>
        <td>11152495</td> <td>10269955</td><td>-0.086</td>
    </tr>
    <tr>
        <td>9245902

[2012-10-23 16:03] tigran123 commented on #487
Yes, looks like it. (I updated previous message just before seeing this latest message of yours :)

[2012-10-23 16:07] tigran123 commented on #487
Ok, I'll now dig into `mupdfshow.c` source code and try to extract the bits we need to save the attachment.

[2012-10-23 16:54] tigran123 commented on #487
@chrox I did some minor editing to our conversation for obvious reasons. I hope you understand and don't mind :)
(if not, email to me at tigran@bibles.org.uk and I'll clarify)

[2012-10-23 17:30] tigran123 commented on #487
To avoid bloating KPV (and also risk instabilities like interfering with the mupdf context we maintain in pdf.c) I'll implement it as a separate utility which we can simply os.execute() to get the job done. This would be much safer than actually embedding it in KPV because otherwise we would need to slightly change the way we compile pdf.c and I don't want to risk this.

[2012-10-23 17:46] eLiNK2gl commented on #487
speaking about high quality djvu (>=600 dpi). The preferred approach would to convert from djvu to pdf and apply Acrobat's ClearScan.
The result (the hidden layer produced) is not perfect but you would get a nicer looking text and pdf's file size < djvu's file size.

[2012-10-23 17:57] tigran123 commented on #487
Yes, I agree that for those books which deserve such level of attention and care, passing through some sort of "specks filter" would be appropriate. But the same could be done while staying with DjVu format (see `cjb2 -clean` option), no need to convert to PDF for this (unless Acrobat ClearScan can do a better job than `cjb2` command on Linux).

In practice, those few books which would deserve suc

[2012-10-23 18:00] eLiNK2gl commented on #487
The essence of the ClearScan is creating a customized font specific to your book.
Hence, the decrease in size.

[2012-10-23 18:06] tigran123 commented on #487
Ah, I see. I thought it was just clearing the specks of dust that got in the way during the scanning process, like `cjb2`.
What you are describing is FAR more dangerous, i.e. it implies OCR and I don't think we have any reliable OCR technology on this planet yet. I would never trust a text that has been produced by OCR process.

[2012-10-23 18:10] eLiNK2gl commented on #487
I admitted up front the process is not free of errors.
Still, the end result is not bad.

[2012-10-23 18:14] tigran123 commented on #487
Ok, thank you. ClearScan... I must remember to try it sometime :)

[2012-10-23 21:49] tigran123 commented on #487
My little `extr` tool is ready. It extracts all attachments and saves them with the correct filenames which are also embedded in the PDF file. It only processes attachment on the first page of the document, so that shall be our convention. Of course it can walk through all the pages but that would be extremely slow as it needs to load the page and examine attachments (if any). Actually, I can add

[2012-10-24 22:10] tigran123 commented on #487
closing the issue as the PR with this feature is already in the master.

[2012-10-24 22:10] #487 closed, assigned to nobody

[2012-10-28 15:46] dracodoc opened #503 "pdf zoom mode messed up sometimes"
I used shift-X to define page box for pdf A and read it in shift-S mode. If I quit that book and switch to pdf B (which don't have any page box, it was opened with default settings), then switch back to pdf A, the zoom mode seemed to be messed up. It is not the shift-S mode, nor any normal mode like fit height, fit width. The screen is located at top left of the page, with some contents of right s

[2012-10-28 16:13] tigran123 commented on #503
Yes, that is well known and the solution is simply to press `Shift-S` when you re-open the pdf file.

[2012-10-29 12:03] tigran123 opened #506 "Time for the new 2012.10 release?"
Shall we do a release now? KPV is nice and stable at the moment. Have we got any urgent stuff planned to go in?

[2012-10-29 12:34] dpavlin commented on #506
I don't have anything ready, so if there are no objections I will push v2012.10 tag later today.

[2012-10-29 14:53] houqp commented on #506
+1 for the release, so many cool features added wow! And it's great that we have two more active developers :)

[2012-10-29 16:13] dpavlin commented on #506
added tag, build release, updated wiki, wrote MR announcement.

[2012-10-29 16:13] #506 closed, assigned to nobody

[2012-10-29 21:07] dpavlin commented on #503
We are not storing zoom mode in file data, so we can't restore it on next document load. We _could_ invoke some  sensible zoom mode (`a` or `shift+a`) on document open. In current version we are using offsets from last document which are wrong as you noticed.

[2012-10-29 21:13] dracodoc commented on #503
I checked the history file of that pdf, there are some data of zoom mode and some offsets.

I think at least the customized pagebox is saved for each file in history file, otherwise user need to use shift-X every time when he open the pdf, right? So if the pagebox is saved, why not save the zoom mode too?

[2012-10-30 14:59] dpavlin commented on #503
Yes, we are restoring `self.globalzoom_mode` on document open (ignore my previous comment), and it does work for some zoom modes, but `shift+s` is somehow special.

[2012-10-30 15:04] dracodoc commented on #503
OK, I think it's acceptable to just press shift+s again if this is not that easy to solve. And I agree with you that maybe "a" mode should be used on document open instead, at least user will not think something wrong happened.

[2012-10-30 19:59] dracodoc opened #508 "jump to items by keyboard shortcut in last read history, maybe even in everywhere"
One advantage of kindle keyboard is we can use keyboard to jump to certain item in a list directly. This feature has been implemented in many places in kpv, can we make it a universal feature available for every possible list?

Right now the last read history don't have keyboard shortcut, so it could be rather cumbersome to select one item in a list, which compromised the purpose of the list itsel

[2012-10-30 20:21] tigran123 commented on #508
I have already explained in the past why this is a bad idea.

The history list is part of the filemanager, i.e. it has the same functionality (e.g. running a program, pressing `Right` to get info, etc), so it should have the same look and feel as the normal file list. And the latter certainly should NOT have any keyboard shortcuts because that would waste valuable horizontal space that is used for

[2012-10-30 20:33] dracodoc commented on #508
Sorry I didn't realize this is a part of file manager. Then I understand it's not a good idea to use keyboard shortcut to jump in this list.

Though I would suggest to modify the help page a little bit, because in other places when user are told to press number he can press the key directly without using alt modifier, but he need to use alt modifier in this case which is understandable, though it'

[2012-10-30 20:33] #508 closed, assigned to nobody

[2012-10-30 21:00] dracodoc opened #509 "problems with koptreader on reflow"
I tried the refow feature on version v2012.09-389-g1f11513, this is very promising, one of pdf got pretty good result. However there are some problems.

Please look at these screenshots I made:
https://picasaweb.google.com/dracodoc/PdfReflow?authuser=0&authkey=Gv1sRgCMXkmL7-gIqPAQ&feat=directlink

pic 1 and 2, a single column pdf reflowed with small and medium font.
1. the edge of page is cut off

[2012-10-30 22:57] tigran123 commented on #508
I agree that we should have all the information recorded somewhere. If there is no space in those one-line descriptions in the Help page then we should write a good detailed KPV User's Guide. And this is not just to describe the existing functionality but also to get rid of superfluous functionality which sits there for historical reasons but nobody really knows what it does and why it is still ne

[2012-10-31 03:54] chrox commented on #509
@dracodoc Could you please send me a copy of the original document so that I could try to figure out what's wrong with the reflow mode?

[2012-10-31 14:09] dracodoc commented on #509
I uploaded the 3 pdf to a zip here

https://www.box.com/s/bm3m9kwel13fvxlfg3mt

[2012-10-31 16:44] kkzxak47 opened #512 "a BUG still exist in the latest released version"
on a Kindle DXG:
1. shift+p+d to enter KPV
2. open a pdf book
3. press 'k' to rotate screen 90° clockwise
4. alt+back to close the book

and your screen should froze...it's not the end though:
try your joypad, try 'L' or 'H' or 'F', they should work. But no matter what you try, the file browsing interface is not going to show again before you restart KPV.

-EOF-

[2012-10-31 16:58] kkzxak47 opened #513 "a suggestion on "KEY_SPACE""
I'm using a Kindle DXG. I read a lot of scanned books and I'm used to read them horizontally.('K' and 'Shift + S')
Wondering if "SPACE" could be defined as page forward in this situation. And 'V' or some other key could be defined as page backward. This is much more handy, don't you think?

In comparison with that, 'refreshing manually' is not that useful for me...

[2012-10-31 17:35] chrox commented on #509
@dracodoc All tests are done on my Kindle 3 with KPV2012.10 release and KPV emulator on Ubuntu with a resolution of 600x800.
1. I can repeat that the edge of page 3 of the bacteria article you provided is cut off as in pic1 and pic2. The reason is that the document was pre-cropped which confused K2pdfopt. I then downloaded the original article from ScienceDirect.com and feeded it to KPV. And every

[2012-10-31 17:52] dracodoc commented on #509
It do seem related to the crop. k2pdfopt may need to recognize the existing crop box.
I think pre-cropping is often useful because it's quicker to crop in pc than in kpv. And there is software like briss which can have a much more powerful crop feature than kpv.

k2pdfopt also could work better with pre-cropped pdf, for example the page header and footer can be cropped and make the page simpler.

[2012-10-31 18:06] chrox commented on #509
@dracodoc The reason for porting K2pdfopt to KPV is to simplify the process of reading. The ideal reading experience is that with one click in Amazon book store or in your mail box your device will receive the documents you want to read. And you can start reading immediately without caring much about the bboxes or crop boxes whatever, just like you are reading a web page. If one page is finished y

[2012-10-31 18:35] dracodoc commented on #509
I understand you want manual operation as less as possible and I total agree. Though I haven't find a method to remove a crop box in pdf... Some pdf have a crop box (or maybe trim box) from day 1.

Actually the DSL book which tested without problem also have a crop box. I uploaded that version and further cropped version here
https://www.box.com/s/k5hmh2tajf6eg4p24rol

You will find they both have

[2012-10-31 19:07] chrox commented on #509
@dracodoc I can repeat the glitch with the sixth font size but I failed to repeat it with the fifth font size. Probably you just set a too large font size.

[2012-10-31 19:27] dracodoc commented on #509
I tried with the 5th font size, it did come out much better, but I still find one wrong line wrapping (page 18, "with a superclass").  You may have different result because your screen resolution is different from mine.

Anyway, this wrong line wrappings must be a bug (it should not be changed by font size), though I understand it's quite difficult to deal with this for pdf, and this bug could be

[2012-10-31 19:34] dpavlin commented on #508
`Z` was useful before we had `X` user interface to select bounding boxes (it selects current view for bbox) but nowdays `X` is much better option. And we can get additional key for something else...

[2012-10-31 19:39] dracodoc commented on #513
There had always been a plan for user customization of keys in new framework. I don't know when that can be done (myself would change a lot of keys if possible), though you can change the key mappings in keys.lua right now as a hack. It will change the mapping globally so maybe not perfect for your need.

[2012-10-31 19:41] #457 closed, assigned to nobody

[2012-10-31 20:06] kai771 opened #514 "I can't push to github"
I tried pushing my local branch to github, the same as I did earlier, but it didn't work this time.

[code]

I tried deleting kindlepdfviewer folder, then doing the clone again, then changing files, commiting - thus far it works. Then, when I try to push, it reports the same error. Anyone has any idea what's wrong? I couldn't find anything with google.

UPDATE:
I'm officially an idiot. After I del

[2012-10-31 20:47] #514 closed, assigned to nobody

[2012-10-31 23:10] tigran123 commented on #514
Not a colon (a column?) but an extra "rtl_mode" on the second command line, i.e. all you need to do to push the branch is

[code]

no need for the second `rtl_mode` there.

[2012-10-31 23:29] tigran123 commented on #513
@kkzxak47 I think until we have user-customizable keys this suggestion is not going to be acceptable, because some people may not like your choice and we can't please everyone.

Closing this issue, and if you wish you can open another one with a more generic request to provide user-customizable keys as a new feature.

[2012-10-31 23:29] #513 closed, assigned to nobody

[2012-10-31 23:31] dracodoc commented on #508
@tigran123 Do you think it's easy to add sorting support in this "last documents" list?

KPV support folder based organization, if the "Last documents" list can be sorted by "recent read", "reading progress", that will be great. Thus it can provide a useful view for user even lots of books have been opened.

[2012-10-31 23:36] tigran123 commented on #508
@dracodoc Yes, it is done already. It is sorted by "the most recently opened" order.
The only "catch" is that you have to leave "Last Documents" dialog and re-open it to re-sort it.

Maybe we should make `SPACE` to force re-sorting. Or even simply returning to it from opening a document should re-sort it....

Or, maybe, the current behaviour is more convenient? Let's think about it...

Do you real

[2012-10-31 23:50] dracodoc commented on #508
@tigran123 Do you mean the order is not only based on "recently opened" but also on the frequency of opening?

Because I noticed that if book A, B are both in the list and in order of "A-B", opening B then close will not move B to the top of the list. So it seemed to me it is not sorted totally by "recently opened". The current order is fine to me, if the list changes for every new opened book, it

[2012-11-01 04:54] kai771 commented on #514
What do you mean a "column"? It was a colon (http://en.wikipedia.org/wiki/Colon_%28punctuation%29). The syntax I found and was using earlier was:

[code]

so, I should've used

[code]

Of course, using only one `rtl_mode` is probably a shortcut. The error reported by git was not helpful at all.

[2012-11-01 09:02] tigran123 commented on #514
Yes the single one is a shortcut. The colon is useful, for example, when the first part is empty, i.e. when you want to delete the remote branch.

[2012-11-01 09:54] kai771 commented on #514
And if you want your remote branch to have different name than the local one. :)

[2012-11-01 10:02] tigran123 commented on #514
Oh yes, I always keep those names the same which is why I never needed to use it...

[2012-11-01 11:10] kai771 commented on #453
Now I see this was discussed here, so I shouldn't have opened #515. I'm no expert (far from it), but I'd like to add a few comments about japanese "start reading on last page and move toward first one" and clarify a possible misunderstanding.

Instead of thinking that japanese "start reading on the last page", think like this. If you're a westerner, you'll bind your freshly printed stack of papers

[2012-11-01 14:44] tigran123 opened #520 "Crash in cre.cpp:getTableOfContents()"
If you open this file in KPV:

https://github.com/downloads/tigran123/libdjvu/toc-crash.chm

and press `T` or `Menu` then the application will coredump. The crash is somewhere in `getTableOfContents()` function in cre.cpp. The backtrace is:

[code]

[2012-11-01 16:32] chrox opened #522 "Should we create a nightly build system for KPV?"
For there are so many features added recently and many of them may have great improvements but the improvements cannot be incorporated into the latest release timely. If we have a nightly build system compiling the latest code from the master tree, we can release it as a development channel for the braves.

[2012-11-01 17:28] houqp commented on #522
Sure, that will be great. :)

[2012-11-01 17:38] tigran123 commented on #522
@chrox have you checked the wiki page? We already have the channel you are looking for, namely my and @dpavlin's development builds. E.g. if you look at my builds here:

https://github.com/tigran123/kindlepdfviewer/downloads

You will see that the latest build is only 5 hours old and there are releases almost every day. And people download them, as you can see from the counts shown on the right.

[2012-11-01 17:42] tigran123 commented on #522
I forgot to mention that I agree with @houqp that it will be great if you arrange it. I.e. have you got a spare machine that is switched on all the time that could serve as a build server?

Btw, apart from the scp issue we should find out if we have some kind of disk quota on github --- i.e. we don't want to cause hwhw's account to be suspended because we filled up the Downloads area with the nigh

[2012-11-01 18:19] houqp commented on #522
Github has API that supports file upload and people have written wrappers around it:
http://stackoverflow.com/questions/1431082/programmatically-add-files-to-a-github-download-page

But @tigran123 is right, if we want to do nightly build, we probably want to store the package in somewhere else ;p

[2012-11-02 05:38] chrox commented on #522
@tigran123 @houqp Yes, I have a spare machine running as a web server which is awake for 24*7. I think it might be capable to do the compilation work. And Github do have a Repo Downloads API with which we can list, upload and delete files in the Downloads section of a repo. See http://developer.github.com/v3/repos/downloads/ . But I prefer to use a python library called PyGithub which is a complet

[2012-11-02 05:46] chrox commented on #522
Oh I just cannot fork one repo twice.

[2012-11-02 14:16] dpavlin commented on #453
@kai771 thanks for implementation. I'm quote busy at the moment, so I really appreciate your effort on this issue.

[2012-11-02 15:40] chrox commented on #522
The nightly build server is working now. Source code of the server can be found here https://gist.github.com/4002028 . Latest KPV installable zip file will be automatically uploaded to https://github.com/chrox/kindlepdfviewer/downloads/ at 00:00 GMT+8 everyday.

[2012-11-02 16:00] dpavlin commented on #522
chrox++ Can you add that link to wiki page so users can find nightly builds, please?

[2012-11-02 16:20] tigran123 commented on #522
@chrox Thank you very much!

[2012-11-02 19:04] tigran123 commented on #522
Ok, since this is now implemented we can close this issue. Thanks to @chrox  again for doing this.

[2012-11-02 19:04] #522 closed, assigned to nobody

[2012-11-02 20:28] houqp commented on #522
Cool :) I added your script to wiki too

[2012-11-03 21:42] dpavlin commented on #522
@chrox would it be better if we have original name of file as produced by `git describe` ? This would be some indication which is last commit of nightly build without downloading it first.

[2012-11-04 05:12] chrox commented on #522
@dpavlin The latest git revision is extracted from the original name and is appended to the comment of the uploaded file.

[2012-11-04 12:32] kai771 opened #536 "kopt config"
@chrox Changing koptreader options is quite painful, because every change process the page again, and that alone takes quite some time (10 sec or so). Maybe it should be implemented in a way that changes are applied when the user presses fw_center/enter, instead of automatically?

Update: tigran123 suggests more or less the same in #547.

[2012-11-04 15:25] dracodoc opened #538 "[Done, please merge after review]Change bookmark dialog to a marker?"
Bookmaking a page in my DX need about 2 full seconds to wait the pop up dialog appear and disappear. Compare to other Eink reader app, this is rather long and breaks the reading flow.

Usually when a user bookmarking a page, I assume he already read some content of that page(otherwise how can he decide to make that bookmark?), so I think to put a small mark on top of page will not interfere with h

[2012-11-04 15:37] dracodoc commented on #538
There could be some other pop up dialogs that can also use this method. Like the gamma value , font size, zooming step etc. Instead pop up a dialog then disappear it, the page can be refreshed first then add a tiny area of text at right top corner, and it can be turned off by pressing "back".

This "marker style" can be an alternative to pop up dialog, and it can be user customizable. KPV can cust

[2012-11-04 15:51] dracodoc opened #539 "battery level log on wake up"
I found my DX battery level is dropping faster recently. Can KPV add a simple battery level log feature?

On every wake up from screen saver, the battery level and time can be logged to a text file. This should not have any harm since it only log when waked up, which is not very frequent. And the data will show how much battery level dropped in sleeping mode, which is useful and comparable.

[2012-11-04 19:04] tigran123 commented on #539
This is very simple to implement as the error output from `gasgaugeinfo -s` command shows the type of info you need. So, we can output that on the sleep/wake up events.

Btw, I personally always exit KPV back to Amazon's framework before putting Kindle to sleep.

[2012-11-04 19:09] tigran123 commented on #538
There are two things to remember here before rushing to implement this feature:
1. You do not really need to wait 2 seconds when you add a bookmark. Immediately after pressing `Alt-B` you can press `B` (or any other key) again (while your finger is still on it) and this would terminate the message "Page marked" instantly.
2. I thought about implementing a little triangle at the top right corner, l

[2012-11-04 19:11] dracodoc commented on #539
That will be great! And yes, it should log both on sleep and wake up.

[2012-11-04 19:12] tigran123 commented on #539
Ok, do you want it in crash.log or in a separate battery.log file?

[2012-11-04 19:26] dracodoc commented on #538
I'm talking about the time that the dialog need to appear and disappear, this doesn't include the delay set in program. Actually my delay time is set to 50ms(and I've been modify this value for a long time so I knew the delay timer can be reduced), but DX need 2 seconds to show and close the dialog even the delay time is set to 0.

I thought about the effort to maintain the marker, that's why I sa

[2012-11-04 19:31] dracodoc commented on #539
Maybe better in a separate file, and write it into some csv kind of format. Like this:

Date   Time  Battery level     Event
11.1     5:20  89%                  sleep
11.1     6:40  70%                  wake up

So user can even make graph from it if they want...

[2012-11-04 19:32] tigran123 commented on #538
Ah, I see what you mean now... Ok, that is very easy to implement of course. But it won't be as useful as Amazon's "folded tip of the page" triangle at the top right corner, i.e. when looking at a page you wouldn't know if it is already bookmarked or not and would have to press `B` to get the bookmarks list to find out. Are you sure that you would be happy with this? I thought you wanted a full-fe

[2012-11-04 19:34] tigran123 commented on #539
Ok, I will implement it tomorrow.

[2012-11-04 19:40] dracodoc commented on #538
A full featured tip will be more useful but it doesn't fit KPV's case. Because amazon format always have some corner space, the folded tip will not interfere with reading. With full screened display pdf in KPV (and I often crop the pdf as much as possible), it's very possible the folded tip can block a little bit of page. And there is the problem of maintaining that marker for pages which is more

[2012-11-04 19:45] dracodoc commented on #539
Thanks a lot!

[2012-11-04 19:47] dracodoc opened #540 "Wrong time on DST change"
Today is the day of DST change. My kindle DX have correct time in kindle system, but KPV have the time with 1 hour off. I restarted KPV and it's still the same.

[2012-11-04 19:48] eLiNK2gl commented on #539
@tigran123 I personally prefer not to exit the KPV at all.
Part of the reason is the 'bug' with firmware 3.2.1 on KDXG, which increases waiting time from the sleeping mode. Somehow, this waiting time, while the KPV is active, is noticeably shorter.

[2012-11-04 19:49] dracodoc commented on #539
Somebody mentioned that disable indexing will reduce the waiting time, did you try it? Though I didn't try it and I don't quite believe it.

;debugOn
~
disableIndexing
;debugOff

I didn't use the 3.2.1 on DX solely because of this bug.

And I almost never quit KPV too :)

[2012-11-05 00:26] dracodoc commented on #540
It's interesting, at 7 pm, after a restart of kindle, at first KPV still have the wrong time, but it corrected itself after some time. So this is not a bug, maybe it just updated later. Though it is not perfect.

[2012-11-05 10:14] tigran123 opened #542 "cannot register font <./fonts/droid/DroidSansFallbackFull.ttf>"
If you start reader.lua with "-d" flag you will see this error message. This is the font that made the distribution size grow to over 9MB. So, shall we get rid of it (i.e. not include in the distribution) or what?

[2012-11-05 11:21] tigran123 commented on #539
Ok, this feature is ready but it relies on PR #541 (because it changes LUA_FILES in Makefile as well) so I'll wait until it is merged before submitting the new PR (otherwise it would conflict with it)

[2012-11-05 15:03] elfring opened #543 "reserved identifier violation"
I would like to point out that identifiers like "[`_BLITBUFFER_H`](https://github.com/hwhw/kindlepdfviewer/blob/c9ab02084f3d5ca73955bc86450db03880f73cb4/blitbuffer.h#L18)" and "[`_PDF_INPUT_H`](https://github.com/hwhw/kindlepdfviewer/blob/896c4358405ff7653bfd25b8216039f4e8d20626/input.h#L18)" [do not fit](https://www.securecoding.cert.org/confluence/display/seccode/DCL37-C.+Do+not+declare+or+defin

[2012-11-05 15:23] tigran123 commented on #543
Thanks for letting us know. What is good enough for `stdio.h` is good enough for KPV, I think.

Btw, ironically, the example (from the URL you posted) of "compliant code" is itself using a "non-compliant" header `stddef.h` which has this type of guard against double-inclusion:

[code]

At least on half a dozen of commercial Unix versions that I cared to check...

[2012-11-05 15:47] houqp commented on #542
um, where can I get that `fonts/droid/DroidSansFallbackFull.ttf`? I cannot find it in my fonts directory.

[2012-11-05 15:49] tigran123 commented on #542
If you pull --rebase upstream master and clean everything and "make fetchthirdparty" you will get it. It came with the recent upgrade of MuPDF.

(or just clone a new copy of your "origin" tree, then pull --upstream master and "make fetchthirdparty")

[2012-11-05 16:13] hwhw commented on #543
In fact, I never bothered to look into these matters, though I'm always
interested in respecting standards.
If I get it right, we as application developers should keep away from
underscore-prefixed defines, since they are reserved. That might very well
not apply to stddef.h, since it is toolchain-delivered. The risk in
question is to clash with such pre-defined headers.

I'd be fine with a rename.

[2012-11-05 18:33] tigran123 commented on #539
The feature is merged into master now. (but I am going to make it optional and disabled by default)

[2012-11-05 18:33] #539 closed, assigned to tigran123

[2012-11-05 18:38] tigran123 commented on #543
Of course what @elfring said is absolutely true and right, but it is also ultra-super-maxi-pedantic :)

[2012-11-05 18:46] tigran123 opened #546 "Bottom of the text cut off by koptreader"
Here is the test file that illustrates the bug:

https://github.com/downloads/tigran123/libdjvu/Ideal-pdf-reflow-test.pdf

[2012-11-05 18:48] tigran123 opened #547 "Changing koptreader options (Aa dialog) too slow."
As discussed in other places it seems a good idea to not reflow the text immediately in response to user's choices via Aa dialog --- instead the application should collect the new settings and then reflow upon the user's confirmation of the choices by pressing Aa again.

Also, perhaps on the next invocation of Aa the focus should not be positioned to the last setting modified but on the top one. T

[2012-11-05 19:01] hwhw commented on #543
Maybe it's a trace of being grown up in Germany, but I have a soft spot for
pedantic approaches :-)
(Just joking, don't want to turn this into a stereotypes thing)

[2012-11-05 19:06] houqp commented on #542
Thanks, got it :)

Since mupdf define `NOBUILTINFONT` by default, I think we are safe to get rid of it.

[2012-11-05 19:08] tigran123 commented on #542
Ok, good, that will bring the size of distribution zip file down...

[2012-11-05 19:10] hwhw commented on #542
But it makes me thinking whether DroidSansFallbackFull should replace DroidSansFallback...

[2012-11-05 19:16] tigran123 commented on #542
Ok then we need to figure out why the registration fails.

[2012-11-05 21:08] houqp commented on #542
OK, it turns out that `DroidSansFallbackFull` and `DroidSansFallback` have dulplicate definition, so crengine's fontman fails at line 2516 of lvfntman.cpp:

[code]

So if we decide to use fallbackfull, then we will need to get rid of fallback. Um.. so far cant see any harm of replacing fallback with fallbackfull...

[2012-11-05 21:44] dracodoc opened #550 "Scanned pdf not as sharp in new build"
I just tested build kindlepdfviewer-v2012.10-50-gd2e176f. Compare to kindlepdfviewer-v2012.09-389-g1f11513, the new version rendered the scanned pdf much more softly, i.e. not as sharp as before.

I checked the global refresh state, it is global refresh be default. I also checked gamma value, it doesn't look like related to gamma.

I took screenshots on 2 pdf file on both version, you can see them

[2012-11-05 21:57] tigran123 commented on #550
Hmmm, is this by reflow or the standard reader? Please always specify which reader you are using.

[2012-11-05 21:59] dracodoc commented on #550
It's by standard reader, I didn't mention it because I think this is the "default" one. I never use reflow on scanned pdf since I already processed them with pdflrf.

[2012-11-05 22:03] hwhw commented on #550
I guess we have side effects from that MuPDF update. Will need a few days
to investigate. And, errm, then comes the hard part of deciding if and what
to change...

[2012-11-05 22:08] tigran123 commented on #550
Yes, _sigh_, that is indeed the hardest part --- deciding if it is a degradation or not, because a degradation in a less important feature (supporting scanned pdfs when all such should be in djvu format) could be simultaneous with some good feature or bugfix that we got from the MuPDF update...

[2012-11-05 22:13] dracodoc commented on #550
Sorry I don't agree this
"a less important feature (supporting scanned pdfs when all such should be in djvu format)".

Reading scanned pdf is the single biggest reason I bought my Kindle DX.

There are tons of scanned pdf and they are not in djvu format from the beginning. I knew djvu have advantages but I don't think people will convert their scanned pdf to djvu.

I think the difference probably

[2012-11-05 22:15] tigran123 commented on #550
@dracodoc yes, I agree that we should certainly find out what is causing this.

[2012-11-05 22:36] dracodoc commented on #550
@tigran123 , I just tested all recent builds, your second recent version kindlepdfviewer-v2012.10-6-gbef4065.zip is rendering scanned pdf all right just like before. Though it seemed this version haven't incorporate the mupdf update yet.

I looked at here
https://github.com/hwhw/kindlepdfviewer/commit/a04823528b7737a9742e1cb137d777c88cadee8f

the "dirty patch in MuPDF's thirdparty liby for CREngin

[2012-11-05 23:08] hwhw commented on #550
No, we need to see what changed inside MuPDF's code paths. It probably
changed anti-aliasing behaviour for _some_ graphics. These are image-based
scans, right? I guess they have a resolution higher than what gets
displayed? Will need to replicate this...

[2012-11-05 23:53] dracodoc commented on #550
These pdf are image based.  I know pdf with high resolution can have subpar rendering in Kindle DX, so I always use pdflrf to process them, and will resample pdf to the exact resolution of Kindle DX which is 1200x824.

I extracted the page that I took screenshot to a one page pdf here, you can use it as a test pdf. It's in Chinese but should still serve the purpose.

https://www.box.com/s/82t0tk3d

[2012-11-06 06:53] #536 closed, assigned to nobody

[2012-11-06 07:51] tigran123 commented on #550
Thank you for the test pdf file. We'll try to figure out what is going on...

[2012-11-06 09:26] tigran123 commented on #550
Ok, I have tested and made the screenshots and uploaded here:

Chinese text:
http://www.klib.8tar.com/screenshots/page183-pdfold.bmp
http://www.klib.8tar.com/screenshots/page183-pdfnew.bmp

English text:
http://www.klib.8tar.com/screenshots/foreword-pdfold.bmp
http://www.klib.8tar.com/screenshots/foreword-pdfnew.bmp

Now I don't think that there is a degradation here. In fact, looking at the round

[2012-11-06 10:23] kai771 commented on #550
To me, it just looks that the new rendering is one pixel wider, and that the extra smoothness is a consequence of this. Of course, it's just my impression, I could be wrong.

[2012-11-06 11:02] tigran123 commented on #487
I would like to make a few further comments in hope that these facts will be of use to someone else as well:
1. The latest version of MuPDF renders scanned PDF files considerably better than DjVu. This forced me to reconsider the use of DjVuToy application.
2. I found a rather large class of DjVu files for which DjVuToy not only does not increase but actually decreases the size by about 10-15% (e.

[2012-11-06 11:05] tigran123 commented on #487
I forgot to show the screenshots of djvu vs pdfold vs pdfnew, here they are:

http://www.klib.8tar.com/screenshots/foreword-djvu.bmp
http://www.klib.8tar.com/screenshots/foreword-pdfnew.bmp
http://www.klib.8tar.com/screenshots/foreword-pdfold.bmp

http://www.klib.8tar.com/screenshots/page183-djvu.bmp
http://www.klib.8tar.com/screenshots/page183-pdfnew.bmp
http://www.klib.8tar.com/screenshots/page1

[2012-11-06 12:31] hwhw commented on #550
In fact they fixed something they declared as a bug where alpha handling
did not cascade well. But I'll need to investigate carefully, won't get to
do it before next weekend, I think...

[2012-11-06 14:23] dracodoc commented on #550
I agree with @kai771 , @tigran123 's new version is just a little bit wider.

https://picasaweb.google.com/lh/photo/C9PV9qRz9eMlAeAtjOGMqzePsG--uXS8LmREKCWlvGk?feat=directlink

https://lh4.googleusercontent.com/-8cl6AngYnFw/UJkfYpTo_kI/AAAAAAAAB60/8rE_UEfJgfI/s800/comparsion.gif

You can download the original gif from the first link to view full screen, the difference is substantial.

I just found

[2012-11-06 15:02] tigran123 commented on #550
@dracodoc my "old" version corresponds to MuPDF prior to upgrade and the "new" version is after the upgrade. There are no other variables in my screenshots. The bmp files I provided are raw i.e. correspond exactly to the pixels you see on Kindle's eInk screen. In particular, this implies that there is NO WAY for "my new version to be like your old version", this is simply impossible, unless you ha

[2012-11-06 15:04] dracodoc commented on #550
@tigran123 I just updated my comments and I think I knew why you have different result with mine. I'm making a test pdf for 600x800 resolution, you should be able to see the difference in this test file.

The original gif I mentioned is to suggest downloading the gif file from picasa album instead of view it online, because the default view on picasa is not 100%, and the zoomed in view don't have

[2012-11-06 15:05] tigran123 commented on #550
Ah, perhaps yours are screenshots from Kindle DXG? Ok, then they may well differ of course.

[2012-11-06 15:16] dracodoc commented on #550
I made a 600x800 pdf following same method:

https://www.box.com/s/g79x9f3hn7splm4ywo5z

I don't have a 6" kindle so I can't test the result. This is the same book, so the 600x800 version will have smaller font size, and the difference could be not as substantial as the 824x1200 one.

So I made another one, this book have bigger font:

https://www.box.com/s/usj54asfn5v5ko6hj868

[2012-11-06 15:23] tigran123 commented on #547
The fix is in the master, so I am closing the issue now.

[2012-11-06 15:23] #547 closed, assigned to nobody

[2012-11-06 15:31] chrox opened #552 "unable to make fetchthirdparty in nightly build server"
I use the script below to nightly build against the latest code tree.

[code]

But I found there were errors when running make fetchthirdparty

[code]

After I removed `luajit-2.0` directory with the command `rm -rf luajit-2.0`. The error came to this:

[code]

And after I removed `mupdf` directory with the command `rm -rf mupdf`. The building script went on smoothly. I don't know what's wrong wit

[2012-11-06 15:38] chrox commented on #546
This bug is likely to be fixed when I implement scroll mode reading for koptreader.

[2012-11-06 15:39] houqp commented on #552
For the luajit submodule, same thing happened to me yesterday, I also did the `rm` dirty hack ;p So probably it's not your script is wrong, but the way we keep up with upstream is not complete? Maybe we need to do something else except from `pull` when there is submodule update? No idea...

[2012-11-06 15:45] dracodoc commented on #550
I generated some pdf with higher resolution to test. The good news is, with resolution higher than screen, the new mupdf can render it right, almost same like before. So it seemed the new mupdf has problem with exact screen resolution image, but can process higher resolution image correctly.

The bad news is, I have to generate all my pdf again if I have to use this method to solve the problem, an

[2012-11-06 15:51] tigran123 commented on #552
why not simply "git clone" the kindlepdfviewer repository from scratch on each build?

[2012-11-06 16:00] tigran123 commented on #550
Well, the problem was that you had the assumption that generating a scanned PDF with images matching the screen's resolution exactly is somehow "optimal". It is not. I always view images with resolutions like 4000x6000 on Kindle's 600x800 screen and this is never a problem (i.e. no performance impact _whatsoever_). Actually, the real problem would happen if I try to down-sample the images to match

[2012-11-06 16:03] chrox commented on #552
The "git clone" is a good idea for my case. But probably there is also something wrong in `make fetchthirdparty` script that prevent one fetching the latest third parties.

[2012-11-06 16:05] tigran123 commented on #550
Actually, to tell the truth, when I tried to view 1600dpi scanned books (i.e. 8206x14323 pixels resolution) on Kindle 3 I noticed very slight (about 10% maybe) performance degradation compared to viewing the same book at 600dpi (3677x6418 pixels) resolution. But 1600dpi resolutions books are very rare (only 3 in my whole collection! :) so as long as you stick to 600dpi or below you will never noti

[2012-11-06 16:07] tigran123 commented on #552
make fetchthirdparty is "non-idempotent", i.e. cannot be run twice in the same tree.

[2012-11-06 16:10] chrox commented on #552
That should make sense. And I would close this issue. Thanks.

[2012-11-06 16:10] #552 closed, assigned to nobody

[2012-11-06 16:11] tigran123 commented on #550
interestingly, I say that there is no good down-sampling algorithm (as I tried the myriad of those available in ImageMagick and faulted all of them) but somehow djvulibre (and mupdf) must manage to downsample the raw image to the pixmap that gets blitted to eInk's screen. Well, I don't know, I treat djvulibre (and now mupdf, seeing its superb rendering) with some trepidation as "black box" i.e. th

[2012-11-06 16:15] dracodoc commented on #550
That is not an assumption, that is tried and true experience on kindle original software.

No matter the original resolution, if you resample the pdf to kindle screen resolution on pc, this is all the details you can get in that resolution. However, kindle original software will show high resolution pdf with a much worse effect than pc software resampling. If you resample the pdf in pc first, kind

[2012-11-06 16:30] kai771 commented on #550
@dracodoc This probably won't help anything, but I'm curious. If you have time, can you please try to resample the pdf to 1199x824 pixels and compare it to the 1200x824 of the old rendering?

[2012-11-06 17:08] dracodoc commented on #550
You think the new version have 1 pixel less usable screen?
I used komic (in hi-pda thread mentioned above) to generate some test pdf. They are designed to test the actual pdf display resolution. If the screen resolution matched pdf resolution, the pdf shoule be even gray, otherwise there will be artifacts.

I generated test pdf with following resolutions:
https://www.box.com/s/cmajk8pvoiww1jtj9u44

[2012-11-06 17:39] kai771 commented on #550
Actually, I thought that new version of mupdf somehow doesn't mach your 824x1200 resolution pdf pixel for pixel, but that it upscales width a little bit. I made a mistake in my previous post, asking for 824x1199 - you rightly guessed that I wanted you do test decrease of width. As expected, it didn't help at all, but at least my curiosity is satisfied :).

[2012-11-07 05:12] chrox commented on #509
This bug has been fixed in PR #544 with a no trimming option in koptconfig. And a more generic manual trimming procedure will be added in koptreader. So this issue should be closed.

[2012-11-07 14:11] #509 closed, assigned to nobody

[2012-11-11 08:05] #453 closed, assigned to nobody

[2012-11-11 08:10] melib commented on #453
Thank you kai771 for your hard effort, however, I couldn't test your work because I have broken my kindle.

[2012-11-11 08:45] kai771 commented on #453
@melib Sorry to hear it. I hope you get it fixed/replaced soon, so you can enjoy reading manga :)

[2012-11-11 17:00] #540 closed, assigned to nobody

[2012-11-11 17:02] #503 closed, assigned to nobody

[2012-11-13 00:54] dracodoc opened #569 "configuable epub styles"
KPV use its own css for epub, which have lots of advantages and I actually like it. However that also means I need to adjust font size and line spacing manually. This is not a problem in many times because I will simply use same settings for all my English books, but I need to select font, line spacing for every new Chinese epub, because I cannot make the font selection default, that will break fo

[2012-11-13 16:30] dracodoc opened #572 "Rotating view should change zoom to fit mode too"
When I rotate screen for 90 degree, the default zoom mode is still fit page which is almost never wanted by the user.

So I suggest that when user rotate screen for 90 degree, the zoom mode should also change:
1. the default mode should be fit width. Nobody will rotate and read in fit page mode.
2. If user already used shift-X, the zoom mode should be fit content width.

When user rotate screen ba

[2012-11-13 16:42] tigran123 commented on #572
No, that is a bad idea, because: a) we should not make any assumptions about the aspect ratio of the page vs screen and b) software should implement mechanism but not policy, which should be left entirely up to the user. The least surprizing and most logical thing to do when rotating a page is to keep everything else intact. Making a simultaneous adjustment to the zoom mode is a policy, not a mech

[2012-11-13 17:35] dracodoc opened #573 "making rotate screen mode a saved configuration specific to book"
I found that when I rotate screen 90 degree for a book, pressing home will actually close book but the display is not updated correctly. Five way button will move a long landscape orientation selection line above the current book page, but not really usable. Another pressing Home will quit KPV.

So it seemed pressing home in rotated mode is not processed correctly. I think KPV should rotate screen

[2012-11-13 17:38] dracodoc commented on #572
I don't agree with your points but there is little to argue here. I just submit another suggestion about this from another angle, and I believe that is much better than the solution I suggested here, so I'm closing this issue as it is not needed.

[2012-11-13 17:38] #572 closed, assigned to nobody

[2012-11-13 21:10] dracodoc opened #575 "one page away jump to link in pdf should work with Back key"
UPDATE: It's the problem of the pdf, not KPV. But for the special case of jump to link in next/previous page, Back key should bring user to previous page, currently it only works on links to several pages away.

I found some random underlines were showed in one pdf.

The pdf is here
https://www.box.com/s/sohk5dih04gsmg2tyw7j

screenshot
https://www.box.com/s/f7j9b5zzz8fob0h5fuc5
https://www.box.co

[2012-11-13 21:17] tigran123 commented on #575
This is not a bug, it is a feature. Those locations with underlines actually have local links. E.g. the one under the word "selected" in your screenshot has a jump to page 27 (which is in References). If you press `L` then you will see the shortcuts corresponding to each link and pressing that shortcut key will bring you to the target destination of that local link.

Now, if you don't want to see

[2012-11-13 21:20] tigran123 commented on #573
I think we should fix the bug reported earlier: filechooser does not work in landscape mode. After this bug is fixed we could implement some of the useful suggestions you are making here.

And I don't think that landscape mode is useless for filechooser. Some may prefer it because it has a bigger chance of showing the full filename (some people give very long filenames to their books :)

[2012-11-13 21:26] tigran123 opened #576 "koptconfig dialog should exit after the user confirmed change."
Normally user would call koptconfig to make a single change, not many. And having confirmed that change with fiveway select he would expect the configuration dialog to disappear. This is the normal behaviour in Amazon's framework's reader. But in KPV the user has to press Aa to get rid of the dialog. Can we change it to do the same as Amazon's "Aa" dialog, i.e. exit upon the user's confirmation of

[2012-11-13 21:26] dracodoc commented on #573
Yes, there are two methods to solve these problems:
1. make filechooser work in landscape mode. And it need additional efforts to save screen orientation.
2. Just save screen orientation and always operation filechooser in landscape mode. So one step will solve two problems.

Will anybody really operate filechooser in landscape mode? How can he use the keyboard in landscape mode? Sony 505 have a l

[2012-11-13 21:34] tigran123 commented on #573
Yes, I personally prefer the info shown by Right key when I need to see the full filename.

Also, I personally prefer forcing filechooser into portrait mode as well. But to be consistent this should also be done with Last Documents dialog. But Last Documents is sensitive to orientation and works in landscape mode.

[2012-11-13 21:38] dracodoc commented on #575
I realized these lines are for the links in pdf. But they are not in the position they should be. The underline should appear under the link text, i.e. the one under "selected" is actually the link of [21-26] two lines above it. All these lines are from the links but in a shifted position.

One interesting thing is I cannot click these links in acrobat, so it seemed the pdf have something wrong so

[2012-11-13 21:41] tigran123 commented on #575
Concerning the location --- I have just re-checked --- the correct location (i.e. the current one in the physical PDF you provided) is under the word "selected" and NOT the "[21-26]" reference above it. I.e. during the conversion you have shifted the location and there is no way to put it back. Also, I click on them in Adobe Acrobat Reader and in evince and they work fine.

However, concerning the

[2012-11-13 21:46] dracodoc commented on #575
OK, it's the pdf's problem. I double checked, the link was supposed to be for [21-26], not for "selected" which doesn't make any sense. But the pdf creator somehow make the link attached to "selected". So this is the fault of pdf creator, KPV is doing nothing wrong here.

As for the jump, the link I tested is one page away and I tested the other links, the back key worked. However, I do think the

[2012-11-13 21:47] tigran123 commented on #575
I have just double-checked --- the jump works fine.

(when I said "correct location is 'selected'" I meant "correct" in the sense of the information encoded in the PDF file, and certainly not "correct" in the logical sense of the paper's text, of course. Btw, a very interesting paper! :)

[2012-11-13 21:52] tigran123 commented on #575
Btw, it is not too hard to make Back work when returning from a target one page away from the link's location. I too found it annoying that it didn't work.... Maybe you should open a bug issue on this and it will probably get fixed. I guess we just need to either provide an extra goto() function or add an optional argument to it which forces the jump to be added to the list regardless of the dista

[2012-11-13 21:55] dracodoc commented on #575
I just modified the title and changed the first post a little bit. No need to open yet another issue, and the discussion here can provide some background. I guess other user can meet the pdf with wrong links too, because there are so many non-compatible pdf created by all kinds of tools....

[2012-11-13 21:55] tigran123 commented on #575
Yes, thank you.

[2012-11-13 22:07] dracodoc commented on #573
This Last Document is really special! This is my test with kindle DX:
1. The gravity sensor used to interfere with KPV when quitting, this has been solved. KPV now just ignore the gravity sensor, this is all right to me, I personally always turn it off.
2. As I said before, with screen rotated, pressing home will quit current book but the display is messed up, another pressing home will quit KPV.

[2012-11-13 22:15] tigran123 commented on #573
I agree with all these suggestions. But obviously I can't speak for other KPV developers.

[2012-11-13 22:39] tigran123 commented on #512
There is a suggestion (being discussed in issue #573) to disable landscape mode for file browsing interface (including Last Documents) and force the portrait mode upon return from the book. But when re-opening the book it would restore landscape mode if that is what it was read with before it was closed.

[2012-11-14 03:29] kkzxak47 commented on #573
That's the right thing to do. At least andscape mode in filechooser is not an exciting feature to me.

[2012-11-14 03:56] chrox commented on #576
No, not exiting the dialog after users confirmed change is a feature not a bug. The biggest difference between Koptreader and Amazon's reader is that parameter setting in Amazon's reader is predictable. You ask for less line space it will be less. And you ask for smaller font size it will do that. But the case in koptreader is totally different. Sometimes you confirm to select a larger font size b

[2012-11-14 09:15] kai771 commented on #573
If it's any help, I also agree with dracodoc's suggestions.

[2012-11-14 09:19] kai771 commented on #576
I agree with chrox on this issue. I can't check now, but doesn't pressing "Aa" when config dialog is open do confirm&close?

[2012-11-14 09:36] tigran123 commented on #576
@chrox In theory, your arguments are valid. In practice, however, they are not, for the following reasons:
1. The koptconfig dialog is quite big and in order to preview the changes (which, I agree, may often be not quite what the user expected due to heuristic nature of koptreader) the user has to press "Aa" to quit the dialog anyway. Otherwise the koptconfig dialog obscures most of the screen.
2.

[2012-11-14 09:36] #576 closed, assigned to nobody

[2012-11-14 11:02] tigran123 commented on #575
The fix is merged into master, closing the issue.

[2012-11-14 11:02] #575 closed, assigned to tigran123

[2012-11-14 11:40] tigran123 commented on #573
The only tricky part about implementing all these suggestions is that they cannot be tested on the emulator, i.e. the entire development/testing cycle has to be done on the Kindle hardware...

[2012-11-14 12:24] kai771 commented on #573
Or we could change UniReader:screenRotate() to check if the emulator is running, and simulate the behaviour for the emulator if it does (I guess disposing and making a new fb would be needed?). And no, don't look at me... I don't know how to do that.

Update: Actually, maybe the check should be in Screen:screenRotate()... or maybe the check isn't needed, just some code that's missing in einkSetOri

[2012-11-14 14:51] dracodoc commented on #573
Sorry I don't understand, which part have to be tested on hardware?
1. KPV just ignore kindle's gravity sensor, which is already done.
2. all the operations in rotated screen in reading mode are done too, no need to change.
3. The changes will be:

A. Remove Last Document's landscape mode, just make it as regular portrait.
B. When closing books in landscape mode, always rotate screen back to portr

[2012-11-14 15:18] tigran123 commented on #573
Unfortunately, not. It is a lot more complex than that, because of the ties to Amazon's "native screen mode" which is controlled from outside KPV. So, yes, we will need to throw away lots of code from KPV but we need to understand what is going on carefully before we start throwing code away (so as not to throw away that which is needed :)

And none of this stuff works on the emulator, so we'll ha

[2012-11-14 15:25] dracodoc commented on #573
OK, I got it.

There is a simpler method but with big flaws: when rotating screens, don't use the native screen mode, just rotate the displayed image itself, and keep other things in portrait mode.

All the keyboard shortcut still work naturally except the five way rocker, but any pop up dialog will be displayed in portrait mode.

Of course the zoom mode need to be remapped in this mode too. A pos

[2012-11-14 15:30] tigran123 commented on #573
Hmmm, I think we should do things properly. The worst mistake during programming is changing code one doesn't fully understand. So, if/when I learn enough about orientation support in KPV to implement these changes I'll do it. But this does not preclude others (@houqp @dpavlin @hwhw ) who probably understand it already (as they wrote this stuff) from doing it if they agree with the basic idea of f

[2012-11-15 13:42] tigran123 opened #592 "KOPTReader crashing with multi-thread precache enabled."
Open the ideal file for testing KPV reflow (as it shows bugs, e.g. #546)

https://github.com/downloads/tigran123/libdjvu/Ideal-pdf-reflow-test.pdf

Enable multi-threading and then start paging quickly. After 5-10 seconds or so it coredumps with segmentation violation.

[2012-11-15 13:59] tigran123 commented on #592
Here is the stack trace:

[code]

[2012-11-15 14:25] chrox commented on #592
Yes. I can repeat this bug in the emulator by keep pressing on Page_Down without a key release. Then core will be dumped in several seconds. I will look into this more carefully. Thanks.

[2012-11-15 22:13] houqp commented on #573
I have no objection to disable landscape mode in filechooser. But it is not a easy task (at least for me) in the old code base ;p

Because after we physically rotated the screen (native screen mode), the framebuffer will interpret the bitmap differently, thus we need to tweak the bitmap when drawing filechooser before sending it to framebuffer. Well, I think with proper abstraction on KPV's eink c

[2012-11-15 22:15] houqp commented on #573
And yes, I definitely agree with @dracodoc that rotate screen mode configuration should be saved for each book.

[2012-11-15 22:16] dracodoc commented on #573
Then maybe just rotate the screen image instead of using native screen mode will be easier? Because the rotation will basically just introduce a new zoom mode, and nothing else will be changed.

Of course, the pop up dialog will still be in portrait mode, but I can live with that, because user may have to rotate the kindle to portrait to use the keyboard anyway, then it's actually very natural to

[2012-11-15 22:47] houqp commented on #573
@dracodoc the rotate screen image approach is better in the sense that it can avoid interacting with the native amazon system when rotating the screen, thus eliminating all these race and glitch screen bugs (which is really annoying and looks scary for users).

But it still have the problem I mentioned above, i.e. now the native screen mode will always be portrait mode, but when we want to display

[2012-11-15 22:52] dracodoc commented on #573
Yes it could involve more subtle changes but they are in a good direction. Because this method is future proof, KPV will not need to handle possible new native screen problems from newer models.

And the reasoning that user could actually prefer operating keyboard under portrait mode is another plus.

[2012-11-15 22:55] houqp commented on #573
Yes, totally agree with you.

So if someone make it I will be very happy :) I am just not a graphic guy. I didn't even know what bitmap is before hacking on KPV ;p

[2012-11-16 18:53] tigran123 commented on #573
As a conservative voice I suggest that we should not rush with implementing it, but explore all the options first.

In any case, we should make a stable release first, I think, before doing something as potentially destablizing as the changes described above. At the moment KPV is so nice and stable that I fear to destabilize it...

[2012-11-16 21:34] houqp commented on #573
Yeah, so let's do it in the new code base before it goes stable in the future ;p

[2012-11-16 22:02] kai771 commented on #573
@tigran123 and @houqp Too late, I already did it ;). Now go and test :P.

[2012-11-16 22:57] dracodoc opened #597 "shift S mode grayed out effect was not cleared later"
I'm testing the new test build of @kai771 : kindlepdfviewer-v2012.10-169-g3f6bea1. I found the implementation on Shift-S with Shift-X is much better than previous one but have bugs.

https://picasaweb.google.com/dracodoc/PdfRendering?authkey=Gv1sRgCPy6qpm2vtG1igE#5811545847241937922

The first pic is the first screen of one page on shift-S mode, there are some area left in this page. So in next pi

[2012-11-16 23:19] dracodoc opened #598 "Pressing Home should also quit Last Document view"
Right now user can only press back to quit Last Document view. However after pressing Home to quit current books, I always reach to home button to quit again then only to found I have to use back.

I suggest that pressing Home should also quit Last Document to filechooser view.

[2012-11-16 23:20] kai771 commented on #597
Ah, I knew I missed something... I'll fix it. Sorry. Fixed in #599.

[2012-11-16 23:31] kai771 commented on #598
I'm not 100% sure, but I think that if you ask tigran, Home should only quit KPV. Closing documents with Home is actually a bug :).

[2012-11-16 23:32] dracodoc commented on #598
OK, I can live with that.

[2012-11-16 23:32] #598 closed, assigned to nobody

[2012-11-16 23:35] kai771 commented on #598
Personally, I think Alt-Home should be used for closing KPV, and that Home should be used to go to FileChooser, and if on n-th page of filechooser list to go to the first one (similar how Amazon does it), but it's just my opinion.

[2012-11-17 00:09] dracodoc commented on #597
Thanks, that is quick!

[2012-11-17 00:09] #597 closed, assigned to nobody

[2012-11-17 06:43] eLiNK2gl commented on #598
I once made a similar suggestion.
Except that I suggested closing the KPV with Alt-Back (or was it Shift-Back? actually it does not matter).
I'd love to see Home used for some KPV relevant actions, like switching into 'home' directory in the FileChooser.
For me , Home is no longer the kindle framework :)

[2012-11-17 19:03] tigran123 commented on #592
The fix is in master, so closing the issue.

[2012-11-17 19:03] #592 closed, assigned to nobody

[2012-11-18 06:19] chrox commented on #473
The fix is already in master, so this issue should be closed.

[2012-11-18 06:19] chrox commented on #546
The fix is already in master, so this issue should be closed.

[2012-11-18 08:37] #473 closed, assigned to nobody

[2012-11-18 08:37] #546 closed, assigned to nobody

[2012-11-18 08:48] tigran123 commented on #512
The fix for this bug is in the master --- on closing a book the orientation is reset to portrait.

[2012-11-18 08:48] #512 closed, assigned to nobody

[2012-11-18 09:26] son5 opened #606 "unknown document format error"
I am using kindlepdfviewer-v2012.09-176-gf2c17ed on a Kindle3, and getting an "error: unknown document format" for some text files. The Kindle framework can open these files without any problem. When I open these files in Word, I can see that there are some manual line brakes at the end of some lines. When I save those files with Word (txt format) then Word replaces these manual line brakes with t

[2012-11-18 16:26] kai771 opened #609 "bug: history,screenshots,clipboard dirs not existant in emu"
Don't you think we should either include them in Git or make them with make? Without history dir, emulator won't save settings per book. As it is now, they're only made in customupdate target.

[2012-11-18 18:13] tigran123 commented on #609
screenshots is not need in the emulator because this function doesn't work there. But the other two, yes, we should create them in make, just as we create libs-emu during the build.

[2012-11-18 18:14] tigran123 commented on #542
Have you measured the time it takes for registering the full version? If it slows down KPV startup and brings no tangible benefits then it is not obvious that we should switch to it. I'll try to measure the timings now.

[2012-11-18 18:21] tigran123 opened #611 "KPV won't build on emulator because of libk2pdfopt"
Even though I did a "make clean ; make cleanthirdparty" on the emulator I get this error:

[code]

Presumably I would need to run "make clean ; make cleanthirdparty" with no EMU\* variables set as well (I haven't tried this, just a guess), but this should not be needed, so I am raising this as a bug.

[2012-11-18 18:26] tigran123 commented on #611
No, running "make clean ; make cleanthirdparty" in non-emu mode doesn't help either, so it is a real bug.

I think the fix is simply to add "rm *.o" to the clean target in the Makefile. For now I'll just delete those files manually.

[2012-11-18 18:27] houqp commented on #606
where did you get all these TXT files?

[2012-11-18 18:39] tigran123 commented on #542
Ok, the timings are exactly the same for "Fallback" and "FallbackFull". And it takes the same amount of time to register the font as it takes to fail to register it, so we should definitely get rid of one of these.

[2012-11-18 18:52] houqp commented on #542
thanks for the testing, I prefer to try using FallbackFull for the development code base then ;p

[2012-11-18 19:01] tigran123 commented on #542
Ok, I'll submit a PR that switches to it now.

[2012-11-18 20:50] kai771 commented on #609
@tigran123 Please fix it, since my fix probably wouldn't be elegant at all :).

[2012-11-18 20:59] tigran123 commented on #609
Ok, I added a commit to my PR #612 with the fix.

[2012-11-18 21:17] #609 closed, assigned to nobody

[2012-11-19 07:45] son5 commented on #606
Hi,most of them are converted from PDF format. I have attached an example.If you open it in Word, you will see some of these characters at end of line:  ˿instead of &para;I have a lot of these files so it takes a lot of time to open them in Word, then save them again (this is the workaround)  "{Qingping,Dave} Hou" notifications@github.com írta:

TAL?LKOZ?SAIM TEV?KKEL
H?romszor volt dolgom tev?kk

[2012-11-19 07:54] chrox commented on #606
Why not read the original PDF document with Kindlepdfviewer?

[2012-11-19 08:27] tigran123 commented on #542
The fix is in the master, closing the issue.

[2012-11-19 08:27] #542 closed, assigned to nobody

[2012-11-19 08:27] tigran123 commented on #611
The fix is in the master, closing the issue.

[2012-11-19 08:27] #611 closed, assigned to nobody

[2012-11-19 08:36] son5 commented on #606
I dont have the originals anymore, only the text files. If its not possible to change Kindlepdfviewer so that it can open those files, then I will use my workaround with Word to re-save them. I just thought, it would not be too difficult to avoid this error message and handle any kind of "end of line" characters.
 Huang Xin notifications@github.com írta:

[2012-11-19 15:19] dracodoc commented on #538
I think it will be easier to use text as mark instead of a graphical mark. When a page is bookmarked, just display "Page Marked" at top, use the same method of show info box by pressing menu key. Similarly, just display "Page Already Marked!" at top when current page is already bookmarked.

This is very easy to do, I tested a little bit in the simulator. Though I'm not familiar with the other deta

[2012-11-19 16:02] dracodoc opened #615 "cannot delete bookmark in epub"
We can delete bookmark in pdf but cannot do the same in epub. I expect this should also be implemented in epub.

[2012-11-19 16:04] dracodoc commented on #538
I believe some other pop up dialog could use this method too, like the gamma value. User often need to adjust multiple steps of gamma value before satisfied, change the pop up to a one time overlay will make the procedures much quicker.

[2012-11-19 19:12] tigran123 commented on #538
First of all, your drawTopmsg() function (aside from the non-compliance with the existing KPV naming convention) is really a generic utility function and should not be any object's method.

Second, why would one need it anyway? What's wrong with the existing method of displaying a pop-up window? Your post only mentions the time delay (2 seconds on DXG), but this has nothing to do with the display

[2012-11-19 19:25] dracodoc commented on #538
My modifications is just a temporary hack, I don't know much about the lua so I'm just messing around here.

As for the need, I think I never said the time wasted is because of the delay or whether or not abort the dialog by pressing any key, I knew it's simply because DX need this much time to do this.  Then what's the difference between dialog and the marker on top? The dialog will block the cen

[2012-11-19 19:31] tigran123 commented on #538
So, if I understood you correctly you are suggesting to overwrite some part of the page (top right corner) with the message "Bookmark added" (the error message "Bookmark already exists" should remain as a popup) and if the user doesn't like the fact that some text was overwritten then he can press Space to refresh the page. Right? I have no objection to such change, as long as the message "Bookmar

[2012-11-19 19:33] dracodoc commented on #538
You can try it in simulator. I believe it is clearly visible. I used a gray background for the marker area.

Both "page marked" and "page already marked" messages are changed to top marks, I don't see why the latter need to be kept as popup. Space will refresh the page though it take two refreshes in my DX, I guess it could be related to the fb:refresh(1).

[2012-11-19 19:37] tigran123 commented on #538
Ok, I'll try it. There are a couple of bugs in your implementation --- I'll submit a PR soon.

[2012-11-19 20:17] tigran123 commented on #538
done in the PR #617

[2012-11-19 20:17] #538 closed, assigned to nobody

[2012-11-19 20:29] dracodoc commented on #538
Thanks! I knew my hacks are just temporary and must have problems. Though the manual refresh with space still cause 2 refreshes, I think there is no real need to change that since I expect the need to refresh is rare.

[2012-11-19 20:40] tigran123 commented on #538
Hmmm, does Space really cause two refreshes? I will look into this and try to fix it if it really does... It shouldn't do that.

[2012-11-19 20:44] dracodoc commented on #538
Yes it does. According to here

[code]

I'm guessing the faked changed add up with the bookmark change so there are duplicate refreshes. To fix it seemed easy enough but that will need the space command check if the drawTopMsg had been called and use different procedures if it was really called.

[2012-11-19 21:22] tigran123 commented on #538
That's ok then.

[2012-11-20 04:28] humorlife opened #619 "can not search dictionary"
can not search dictionary，suggest add function of dictionary。

[2012-11-20 09:24] tigran123 commented on #619
Good idea. crengine already has this function, but we'll need to write Lua glue to make use of it (and also provide dictionaries in the format that crengine understands).

[2012-11-20 09:25] tigran123 commented on #615
When I wrote the code for deleting bookmarks I only supported PDF and DjVu. But you are right --- there is no reason why we shouldn't do the same for crengine-supported ebooks like epub, mobi, fb2, etc. I'll look into it.

[2012-11-20 13:15] tigran123 commented on #265
Do we still need to keep it open now that KOPTReader has been integral part of KPV for ages?

[2012-11-20 13:18] tigran123 commented on #606
Btw, I also get this "ERROR: Unknown document format" from crengine if I try to open a file with no \n linebreaks e.g. with just a single line "Hello, world". This is just a bug of crengine, not KPV.

[2012-11-20 14:28] dpavlin commented on #265
no, we don't

[2012-11-20 14:28] #265 closed, assigned to nobody

[2012-11-20 14:36] houqp commented on #538
Wow, @dracodoc  finally see your commit lands in master :)

Just a quick question:

I don't quite get this. Why bookmark change will add up with facke changes? Is there any relation between bookmark change and manual screen refresh?

[2012-11-20 14:41] tigran123 commented on #538
I think he referred to the change in Space command handler which fakes a change on the screen. Plus there is a fb:refresh(1) coming from adding bookmark.

[2012-11-20 14:46] houqp commented on #615
closed as code lands in master

[2012-11-20 14:46] #615 closed, assigned to tigran123

[2012-11-20 14:55] dracodoc commented on #538
Normally the manual screen refresh will clear the screen then display the content again. When a bookmark is added in current method, manual screen refresh will first refresh the screen with bookmark then refresh the screen again without bookmark, so there will be 2 refreshes. I was guessing the reason for this behavior, but I think it's ok to just leave it as is because the scenario will be rare a

[2012-11-20 15:05] houqp commented on #538
oh, yes. There is actually 3 refresh. The first two (including the fake one) is needed to do a full refresh, the third is used to restore the original document page content. Yeah, but I can l live with it. let's leave it as is...

[2012-11-20 15:14] houqp commented on #606
I still cannot reproduce this bug after manually removed the \n linebreak from one of my txt file. Can any of you provide the file to me?

@son5 you have to give me the original file, paste it on web will lose the original binary structure.

[2012-11-20 15:45] tigran123 commented on #606
@houqp Here are the steps to reproduce it:

[code]

[2012-11-20 15:48] dracodoc opened #623 "Run multiple versions of KPV through launchpad"
Because the new muPDF update changed the rendering effect for some scanned pdf, I was thinking if it is possible to keep 2 versions of KPV in different directories, then launch them by launchpad.

I copied the old version KPV to a directory called kindlepdfviewer-stable, then modified a kpv.ini in launchpad, but the key sequence still launch the newer version. It seemed that launchpad only run the

[2012-11-20 15:55] tigran123 commented on #623
You can change kpdf.sh to go to the proper directory to do this.

[2012-11-20 15:55] dracodoc commented on #623
I replaced the folder name in kpdf.sh, now it seemed working fine. So if anybody need to do this, he only need:
1. copy another version of kpv to a different directory name.
2. replace the directory name in kpdf.sh under kpv directory.
3. place a new ini in launchpad to launch this version, also use a different key combination.

[2012-11-20 15:56] dracodoc commented on #623
Yes, @tigran123 , I just found out by myself too, thanks!

[2012-11-20 15:56] #623 closed, assigned to nobody

[2012-11-21 00:17] tigran123 opened #625 "Deleting highlights doesn't quite work."
I wrote this function and now I have discovered a serious bug in it. When deleting multiple highlights, if they are on different pages, then the function will only delete those highlights which happen to be on the same page.

I will look into this as it definitely needs to be fixed (otherwise one has to delete highlights in multiple steps, i.e. one page at a time which is quite annoying).

[2012-11-21 07:45] son5 commented on #606
I have attached a sample in a ZIP file.Regarding the battery problem it looks like its solved. I have downloaded the newest version of Kindlepdfviewer, and now I have normal battery consumption, even if Kindleframework is runnig.I am not sure, if the new version was the solution or disabling the Indexing task. I usually disable the Indexer, because I hav 880 books on the Kindle, and the indexer ne

[2012-11-21 09:14] tigran123 commented on #606
@son5 you cannot send attachments to github discussions. Either email @houqp directly (find his email address on his github.com home page) or upload it to some website and post the URL here.

But I hope that a simple "Hello, world" text file is sufficient.

[2012-11-21 09:55] tigran123 commented on #625
Ok, I figured out why this happens --- the concept of static tables with pointers to highlight page and highlight number (on that page) is not applicable to our highlights implementation because after deleting a highlight on a page (containing more than one highlight) the indexes of elements of that table are all changed and so the solution is to rewrite the function `UniReader:showHighLight()` wi

[2012-11-21 21:27] houqp commented on #606
Yes, @son5 has CC the mail to me so I got the attachement. Thank you for both of you providing the test file, I will look into it in following days :)

[2012-11-21 22:35] houqp commented on #606
For the hello world example, it turns out that crengine only accepts TXT file that contains more than 16 characters. No idea why it sets up this restriction yet. Will look into @son5 's test file later.

[2012-11-21 22:54] houqp commented on #606
OK, for @son5 's test file, it's because that file contains 134 vertical tab characters (ascii code 11), which crengine treats as illegal character.

According to following posts:
http://stackoverflow.com/questions/3380538/what-is-a-vertical-tab
http://prog21.dadgum.com/76.html

Can someone please confirm that vertical tab exists only for historical uses now? If so, I will prefer to suggest @son5

[2012-11-21 23:27] tigran123 commented on #606
I would recommend against patching crengine to support something as useless and braindead as a vertical tab. @son5 shouldn't have converted PDF files to plain TXT files in the first place. But having made that mistake he should not have made the second mistake of throwing away the original PDF files (because every action we make in this life is a [relative] mistake and so we should always provide

[2012-11-22 01:28] houqp commented on #606
It's not @son5 's fault. If amazon does provide good PDF support in Kindle, I bet he won't convert all the PDFs to TXT files. And I think he come here mainly to fire a bug and hope to make KPV better. After, all of us thought it is a real bug before (i.e. not handling newline properly).

Anyway, I will close this issue tomorrow if there is no objection until then. If @son5 need any help to fix the

[2012-11-22 09:49] chrox commented on #486
Since fix of this bug is already in master this issue is closed. See #627 for more info.

[2012-11-22 09:50] #486 closed, assigned to nobody

[2012-11-22 09:53] tigran123 commented on #606
I agree that it is not @son5 's fault, because there is a difference between fault (or "sin") and mistake (or "error"). Error is any deviation from absolute perfection and, this side of Paradise, it is ever attendant upon all actions of lowly animal-origin creatures like humans or even some of the lower classes of higher beings. Sin, on the other hand, is a deliberate, knowing and willing embrace

[2012-11-22 22:24] houqp commented on #606
OK.....  closing for now since no objection so far.

[2012-11-22 22:24] #606 closed, assigned to nobody

[2012-11-23 01:24] ahxxm opened #632 "add paperwhite support please....."
just sold my dxg, and planning to buy a paperwhite..

[2012-11-23 09:06] tigran123 commented on #632
Very bad idea to sell DXG in favour of paperwhite. You should buy Kindle 3 and DXG and forget about paperwhite, because these two models (Kindle 3 Keyboard and DXG) are far more superior technically to the primitive dumb-marketroid-driven paperwhite thing. The main advantages of Kindle 3 and DXG compared to paperwhite are:
1. No touch screen support meaning [slightly] better quality output on the

[2012-11-23 09:26] tigran123 opened #633 "Time for the new 2012.11 release?"
At the moment KPV is very stable and fast --- how about making a 2012.11 release?

The only bug I am aware of is that attaching the USB power (but not data) causes it to display "Going into USB mode..." and the message stays on the screen so you have to manually press Space to refresh the screen. But everything continues to work correctly while charging, so it is hardly worth fixing (because this

[2012-11-23 09:57] ahxxm commented on #632
LOL
i'm (gonna) trying to port the KPV to paperwhite
thanks anyway

On Fri, Nov 23, 2012 at 5:06 PM, Tigran Aivazian
notifications@github.comwrote:

[2012-11-23 12:50] chrox commented on #632
@ahxxm That will be great. @houqp is already doing the porting thing with a bland new UI framework. It's much easier to start there. You can checkout the new_ui_code branch with this command `git checkout new_ui_code` after you clone hwhw's KPV repo.

[2012-11-23 13:00] tigran123 commented on #632
@ahxxm You are welcome. I was going to mention the `new_ui_code` branch but I see @chrox already did that. Anyway, you can compile it in the emulator mode to run under x86 or x86_64 architectures (under Linux of course) to see how much of it is working already.

[2012-11-23 18:10] tigran123 commented on #625
the fix was merged into master, closing the issue.

[2012-11-23 18:10] #625 closed, assigned to tigran123

[2012-11-24 02:49] houqp commented on #633
Yes, no objection :)

[2012-11-24 10:12] aliabbasjp commented on #181
Hi, folks ,any work going on this must have feature??

[2012-11-24 10:16] aliabbasjp commented on #220
annotation id seems to be unique # assigned to an annotation

[2012-11-24 10:18] aliabbasjp commented on #633
also please include the logical page number issue feature

[2012-11-24 18:49] mayabtlaloc commented on #569
I also join this function is implemented

[2012-11-24 19:07] mayabtlaloc opened #635 ""mp3 support""
"mp3 support" is this very difficult? is to listen a soft music while reading

[2012-11-24 19:41] tigran123 commented on #635
The built-in Amazon's mp3 player works fine --- just copy your mp3 files to "music" directory and press Alt-Space key before starting up KPV.

[2012-11-24 19:43] tigran123 commented on #181
I wouldn't call it "must have", not even "very nice to have". It is just a "nice to have, maybe" type of feature. And certainly not for the November release because even IF it is ever implemented it has to be done very carefully to not impact the existing plain physical page numbers as for many books it is the only one anyway and everyone relies on being able to quickly jump to the _physical_ page

[2012-11-24 19:49] tigran123 commented on #550
I have been reading a lot of scanned PDF files in the past week or so and I am very pleased with the way the latest mupdf handles them --- slightly better than before and MUCH better than the equivalent (same images, same resolution) DjVu files are handled by djvulibre. So much so that when the size increased by DjVuToy is within 10-15% I prefer to use the PDF file. The only problem is that PDF fi

[2012-11-24 19:49] #550 closed, assigned to nobody

[2012-11-24 20:00] tigran123 commented on #633
@dpavlin are you going to tag it or shall I do it? Is it just `git tag 2012.11` in the master and then push upstream or do you pass any extra options?

[2012-11-24 20:59] houqp commented on #633
@aliabbasjp sorry that we might not be able to include it in this release because a new feature needs some time for testing to make sure it does not break other features.

@tigran123 , should be `git tag v2012.11`  ;p

[2012-11-24 23:46] mayabtlaloc commented on #635
thank you. but only plays one song and stops, there is not a continuous player . I do not know why it does that.

[2012-11-25 10:38] tigran123 commented on #635
Is that so? Ok, this is something we can look into _after_ the stable v2012.11 release which is imminent.

[2012-11-25 10:39] tigran123 commented on #633
Ok, I am doing it now.

[2012-11-25 10:50] tigran123 commented on #633
I did `git tag v2012.11` and then `git push --tags origin` and also `git push --tags upstream`, but `git describe HEAD` still returns the number relative to the previous tag, i.e. `v2012.10-241-ga4fa231`. Any ideas what have I missed?

[2012-11-25 10:54] tigran123 commented on #633
Ah, `git describe HEAD` only looks among annotated tags and the one created by default is _not_ annotated. So I'll delete it and create a new one annotated as "Release 2012.11". So, the correct command sequence is:

[code]

[2012-11-25 11:30] tigran123 commented on #633
I have uploaded the release, updated Wiki and announced it on mobilread.com and the-ebook.org forums.

[2012-11-25 11:30] #633 closed, assigned to nobody

[2012-11-25 12:00] tigran123 commented on #635
I have just replied to your post on the-ebook.org, explaining that if you control mplayer outside of KPV (instead of using Amazon's built-in mp3 player) then it works fine, i.e. plays all files in music directory even if you start KPV in "kill Amazon framework" mode via Shift-P-K. And works in Shift-P-D mode too. So, download mplayer for Kindle from here and enjoy:

http://www.mobileread.com/forum

[2012-11-25 12:00] #635 closed, assigned to nobody

[2012-11-25 20:34] houqp commented on #633
Thanks @tigran123 :)

[2012-11-26 07:10] mayabtlaloc commented on #635
tigran123 thanks, it works!

[2012-11-26 11:08] dpavlin commented on #633
@tigran123 sorry for not replying earlier to your question, but I have quite busy few weeks ahead of me, and you correctly figured how to add tag. Congratulations on your first release, keep up the good work!

[2012-11-29 09:24] tigran123 opened #645 "Problem with nightly builds of master?"
I would like to know if there is a problem with the nightly builds of master. There are only two files there and their date stamps are separates by several days. The main advantage of having nightly builds is so that we have a wide selection of "check-points" which we can test very quickly to narrow down where some bug was introduced. So, that means having at least 60-70 previous builds.

[2012-11-29 09:37] chrox commented on #645
No. Because nightly builds will overwrite existing builds with the same SHA string and only keep builds of the recent week. So it means that only two new commits or tags are on the tip of master tree in this week. I can change the time span to the recent month so that there will be more install/test options.

[2012-11-29 09:41] tigran123 commented on #645
@chrox That is a very good idea (overwriting identical SHA builds) --- I am glad you did it that way.

As for one week --- yes, I think it would be nicer if you change it to one month at least. Sometimes bugs are not noticed until at least a few weeks have passed since it was introduced (especially memory corruptions, like the one we had with djvulibre some time ago).

[2012-11-29 09:45] chrox commented on #645
OK. I have changed the expiration of builds to one month as in https://gist.github.com/4002028

[2012-11-29 09:50] tigran123 commented on #645
Thank you very much, closing the issue.

[2012-11-29 09:50] #645 closed, assigned to nobody

[2012-12-03 07:18] chrox opened #648 "Just another KPV launcher for KPW (Deprecated)"
I have implemented a prototype of KPV launcher for Kindle touch and Kindle Paperwhite. The launcher runs as a [JBPatch](http://wiki.mobileread.com/wiki/JBPatch) which overrides native Kindle ReaderBooklet class on handling PDF documents in runtime. The source code can be found at https://gist.github.com/4193209

With this patch when opening certain types of documents in Kindle's home screen KPV is

[2012-12-03 17:01] chrox commented on #648
The "Application Error" bug has been fixed by bypassing the timeout checking code in another class. See the changes at gist https://gist.github.com/4193209 .

[2012-12-03 17:27] houqp commented on #648
Wow, that's awesome! I will try it out tonight :)

Do you plan to include it into KPV tree or create a separate project for it?

[2012-12-03 17:33] chrox commented on #648
Yes you can. I am informed that the 5.3 jailbreak is out just now.

[2012-12-03 17:52] chrox commented on #648
Compiling `jbpatch.jar` relies on many proprietary libraries from Amazon such as Reader.jar and ReaderSDK.jar and so on. I'm afraid it's not proper to incorporate it into pure free KPV. If it's really desirable I will be glad to include it.

[2012-12-03 18:30] houqp commented on #648
OMG.... Finally second life for my PW :)

Yep, good point. We need to find a good way to deliver it to users, they are going to like it.

[2012-12-03 18:36] chrox commented on #648
And I am waiting for the downloading of 5.3 update now. :)

[2012-12-03 19:06] tigran123 commented on #648
Hmmm, with all these exciting events happening I might be tempted to buy a paperwhite myself :)

[2012-12-03 19:59] houqp commented on #648
@tigran123 join us and free more kindle devices :)

[2012-12-04 02:56] chrox commented on #648
@tigran123 Yes. You could give it a try. The resulting display turns out to be pretty good especially in low light condition.

[2012-12-04 06:44] chrox commented on #648
Now this KPVLauncher supports opening up to 15 types of documents in kindle native framework. Complete support list is as follows: "pdf',"djvu","epub","cbz","chm","doc","fb2","htm","html","pdb","prc","rtf","tcr","xps","zip".

[2012-12-04 08:01] houqp commented on #648
LOL, now my PW is bricked after installed JBPatch.

[2012-12-04 08:09] chrox commented on #648
Oh, That's so bad. Is the JBPatch from ixtab's binary or from your building? I only use the jbpatch.jar from ixtab's dist as other patches are not fully tested in PW. But it seems pretty safe to only use the jbpatch.jar for it does extensive md5 check of the class object before performing any patch.

[2012-12-04 08:55] houqp commented on #648
I used the binary from your repo. It turns out that it's caused by my typo in init.xargs. I modified the usbnetwork script to patch that file back on start up but it still gives me "Repair Needed" screen. (given from the output, init.xargs has been correctly patched). So I can now execute command on start up by modifying usbnetwork script, but I have no idea what else can I do to get rid of that s

[2012-12-04 09:28] chrox commented on #648
Probably it's my fault. I checked the md5sum of `jbpatch.jar` and found it's different from the one I am using. But I don't understand why it should change as I didn't change a single line of code in jbpatch.jar. The one I unloaded yesterday runs well on 5.2.0 firmware. I thought it would not change at all so I didn't update the binary in my repo. But it turns out that the binary indeed is changed

[2012-12-04 09:33] chrox commented on #648
Wait a minute. Oh SHOT! One just cannot download binary file from the URL https://github.com/chrox/misc/blob/master/kindleviewerpatch/jbpatch.jar no matter with the browser downloader or wget. The downloaded file is not intact. But using https://github.com/chrox/misc/raw/master/kindleviewerpatch/jbpatch.jar will be OK.

[2012-12-04 09:49] chrox commented on #648
I re-upload the two files in https://github.com/chrox/misc/downloads and I will delete the bins in repo right now as it's so misleading. I'm so sorry for the trouble.

[2012-12-04 09:56] houqp commented on #648
Yeah, will try it later, no worry, I will get that fixed :)

[2012-12-05 04:22] houqp commented on #648
OK, PW debricked ;P Trying to test your launcher again

[2012-12-05 04:48] houqp commented on #648
Cool, it works now ! But sometimes I still get "application Error", is it fixed in your latest binary?

[2012-12-05 09:46] ghost opened #651 "Cache doesn't work correctly for some fb2 books"
I have a book in fb2 which is opened for very long time. Even in CoolReader it's opened for 22 seconds. There it's opened for 39-38 seconds. What is more strange, that it is opened 38-39 seconds always - in first session, second...tenth. And it has never been opened for less time. Seems, cr3cache should "help" to open files faster next times. But it doesn't work.
http://narod.ru/disk/64288901001.d

[2012-12-05 09:58] chrox commented on #648
Thank god you fixed your bricked pw. I seldom meet the "application error" after using the current Kpvlauncher binary in the https://github.com/chrox/misc/downloads. Probably it's another bug. I will look into this later. And I found it's possible to change the last_access time and complete_percentage for the opened book in Kindle ContentCatalog so that KPV could share these info with Kindle home

[2012-12-05 10:03] tigran123 commented on #648
@houqp Out of curiosity, did you have to do soldering or messing with the serial port pins directly or was debricking a "pure software level" operation?

[2012-12-05 11:11] bhaak commented on #648
@chrox Have you seen this booklet I did for HackedUpReader? https://github.com/bhaak/HackedUpReaderBooklet

It starts HUR as an external process similar to kpv without any jbpatch trickeries.

[2012-12-05 11:37] chrox commented on #648
@bhaak No. It seems a much cleaner and cleverer solution. So can HackedUpReaderBooklet be associated with Epub docs the way like

[code]

in the `appreg.db`?

[2012-12-05 11:57] bhaak commented on #648
@chrox No, it's not quite as easy. If you read the mobileread thread that is linked from the HackedUpReaderBooklet, you see that you also have to add some data to the properties table:

[code]

Then it should work AFAIK. But I haven't tried this yet as I just used the testbooklet that is already defined.

Everything on the KT is already in place for a jar at /opt/amazon/ebook/booklet/testBook.jar

[2012-12-05 12:01] chrox commented on #648
@bhaak Yes. I will try it that way so that KPV plugin could be integrated with native kindle framework as much as possible.

[2012-12-05 17:50] houqp commented on #648
@tigran123 pure software operations. Just remove the corrupted file that I created before ;p

[2012-12-05 20:35] dracodoc commented on #648
Sorry I've to ask here because I didn't find the information in other place:
How do you use KPV in touch screen? Is it based on the new UI, or there is some keyboard simulation method?

[2012-12-05 21:04] houqp commented on #648
@dracodoc , it's based on the new UI, an experimental demo can be found in here:
https://github.com/hwhw/kindlepdfviewer/blob/new_ui_code/frontend/ui/reader/readerpaging.lua

I am very interested in how @bhaak implemented the touch support for HUR. Don' t have time to look into their code yet ;p

[2012-12-05 21:12] houqp commented on #651
Thanks for the report :)

@dpavlin is the cache expert here. I will also take a look at it when I have time.

[2012-12-05 21:12] dracodoc commented on #648
Thanks, it looks like KPV in KPW can be used in a experimental stage now, it's really good news.

Though I do like the convenience of keyboard shortcut. I think to implement all the features in touch UI in a convenient way could be not so easy....

[2012-12-05 21:13] chrox commented on #648
@houqp I have tested @bhaak's implementation and it works. But sadly I bricked my kindle as I removed the jbpatch.jar but I forgot to modify /opt/amazon/ebook/bin/init.xargs and remove the -istart jbpatch.jar line. Now the screen just displays "Repair Needed" shortly after each reboot. I tried to add a "ENABLE_DIAGS" file but without luck.

[2012-12-05 21:15] bhaak commented on #648
@houqp The Kindle Touch and PW are running an X11 server as UI framework. The HUR UI is just a X11 window and so it gets the UI events for free. I just mapped the touch and click events to the internal coolreader engine keys.

[2012-12-05 21:17] bhaak commented on #648
@chrox I guess you have ssh enabled? Then you probably can already login while it is starting up and fix the file.

[2012-12-05 21:33] houqp commented on #648
@bhaak cool, that makes life much easier :)

@chrox no worry, you got the same error as I did (corrupted init.xargs). Probably, you now can mount your kindle as USB mode for 3-4 seconds before you see the YKNP screen. Upon that time frame, you can put usbnetwork into auto start mode, then you can add commands in "usbnetwork/bin/usbnetwork" script and do the recovery. But even though you recovered

[2012-12-05 21:34] mayabtlaloc opened #652 ""pdf dictionary support""
pdf dictionary support, this is a very important and indispensable function for our readers. I think everyone would like to be implemented. but I dont know if is this posible.

[2012-12-05 21:34] chrox commented on #648
@bhaak Yes I tried. And put a `auto` file in the usbnet directory. But I cannot login. BTW I installed the kindle-usbnet-0.6.N version from NiLuJe's thread http://www.mobileread.com/forums/showthread.php?t=186645 . I installed ixtab's jailbreak for 5.2.0 and 5.3.0 when my kindle was on firmware 5.2.0. Then I updated my kindle to 5.3.0. But I forgot to install the jailbreak again. Probably it's why

[2012-12-05 21:37] houqp commented on #648
@chrox , yes, you will not be able to login because usbnetwork script will not be able to setup the ip. But the script will be executed, so you can still execute any commands

[2012-12-05 21:37] chrox commented on #648
@houqp I will try it right now. thx.

[2012-12-05 21:37] houqp commented on #648
If you did not install the new JB from ixtab, then you won't get ENABLE_DIAGS by default

[2012-12-05 21:38] houqp commented on #648
Good luck, create files in /mnt/us to make sure your command runs successfully.

[2012-12-05 21:41] chrox commented on #648
@houqp I remember the `-istart jbpatch.jar` line was on line 10. I just want to make sure of that in case that I mess up more. So how did you fix the init.xargs file?

[2012-12-05 21:47] houqp commented on #648
safest way is to copy it to your /mnt/us and modify it on your os, then copy it back

[2012-12-05 21:57] houqp commented on #648
@dracodoc, shortcuts are still supported. The new KPV will detect the model of the kindle device and enable/disable the shortcut/touch feature according to the model

[2012-12-05 22:01] houqp commented on #652
It is not difficult in theory, but it is difficult when we lack of developers ;p

[2012-12-05 22:06] chrox commented on #648
Finally it's alive again. Thank you @houqp @bhaak.

[2012-12-05 22:10] houqp commented on #648
cool, that's fast. remember to install Rescue Pack this time ;p

[2012-12-05 22:14] chrox commented on #648
@houqp Yes. I won't make this mistake twice.
This issue will be closed as I will open a new issue with a better solution provided by @bhaak .

[2012-12-05 22:14] #648 closed, assigned to nobody

[2012-12-05 22:14] dracodoc commented on #648
@houqp I was mention the speed of launch certain functions in KPV in KPW. Using a keyboard shortcut can do lots of things in one step. While in touch UI, some most used operations can be implemented easily, but to squeeze more recognizable actions into touch UI could be not easy.

One method is to use menu, like sony T1. But I think all kinds of pop up menu in eink is slow and not efficient. Gestu

[2012-12-05 22:31] hwhw commented on #648
I now own a KPW as well and hope to get back into action pretty soon. The
holiday season is coming and I expect to have some spare time for the
viewer again.

As for the UI concept, I envisioned something like a mixed gesture/menu
thing. E-Ink is in fact quite fast when we use full black and white only
(see e.g. my gnuboy implementation). I think I like to have something like
an "action bar" appea

[2012-12-06 02:03] dracodoc commented on #648
I should be more specific about the menu. I think one step menu is fast enough, i.e. call menu(either by press and hold, or click certain area, or a gesture), then select one button to click. Some operations in Sony T1 involved multiple level menu which could be rather slow.

The letter gesture in palm probably will not fit in kindle, I'm thinking certain gesture + certain menus. For example, use

[2012-12-06 04:30] houqp commented on #648
@dracodoc , gesture will definitely make selection faster and I would really like to have that feature. It is not easy to recognize gesture accurately and efficiently though.

as for blitDithered, yo, I remembered that @hwhw mentioned it in mobileread before, it should be a killing feature :)

[2012-12-06 04:37] dracodoc commented on #648
Firefox have lots of gesture extensions, I'd guess they will not be too complex if you limit the gesture to certain stroke combinations, i.e. only UP, Down, Left, Right are available, thus the gesture recognition should be relatively easy and it will be more tolerant of errors.

Of course the possible short stroke combinations of Left Right UP Down is limited, though combined with menu it should c

[2012-12-06 04:53] houqp commented on #648
Yeah, I think eventually we will make it. just not sure when ;p

[2012-12-06 13:57] chrox opened #653 "Integrate KPV into Kindle framework with KPVBooklet"
The idea of implementing a booklet to startup external application is originated from @bhaak with an example booklet called [HackedUpReaderBooklet](https://github.com/bhaak/HackedUpReaderBooklet) which is used to launch CoolReader for Kindle. I modified the code to accommodate with KPV. And I add an interface to  synchronize the last access and reading progress between KPV and Kindle's content cat

[2012-12-06 14:12] chrox commented on #653
@bhaak Hi, I would like to know if there is also a ChromeBar issue mentioned above in HackedUpReaderBooklet. When I run the command `lipc-set-prop com.lab126.pillow displayChrome true` after KPV exits, winmgr says `no chrome to raise`. And chrome bar will not show up even after a framework restart. But after I start a native booklet as opening a mobi file, the chrome bar will be raised correctly.

[2012-12-06 14:39] bhaak commented on #653
@chrox No, although I don't have a PW to test, I've only got a Touch. I don't see anything in KPVBooklet that would cause this from my understanding of the framework and then that this persists even after a framework restart is quite odd.

[2012-12-06 15:39] otichy opened #654 "page down skips portion of text in fit-to-width mode with some PDFs"
With some PDFs when I SHIFT+S and page down, all works fine - the rest of the current page is displayed. With some however, I jump to the next page directly, missing half of the previous page.
I tried to set the box by SHIFT+X to the whole page, toggled the P option, nothing helps.
But as I say, only some PDFs behave this way. One that behaves in the way described is here: http://www.sendspace.com

[2012-12-06 16:16] houqp commented on #654
Thanks for the report. I tried several pages but still cannot reproduce the bug. Could give a more detail steps on bug reproduction? For instance go to which page and do what operation blabla...

[2012-12-06 16:26] otichy commented on #654
Funny, I tried to wipe the file from my Kindle and replace it. Now it works as expected. At least in the SHIFT+S mode, not in the S mode, but that's probably intended behaviour. Anyway, thanks for nudging me to a simple solution :)

[2012-12-06 16:48] chrox commented on #653
@bhaak That's really strange. Now I extend KPVBooklet from ReaderBooklet directly which mimics exactly the patching approach in https://gist.github.com/4193209. But the patching approach works fine while the extending approach still has the chromebar issue.

[2012-12-06 20:22] houqp commented on #654
Yeah, some wired bugs are difficult to reproduce ;P I am closing the issue now. Please report back when you find new bugs.

[2012-12-06 20:22] #654 closed, assigned to nobody

[2012-12-06 21:56] bhaak commented on #653
@chrox I had a look into /usr/lib/libpillow.so and noticed the next to displayChrome there was a dismissChrome.

The last parameter isn't a boolean apparently and just needed as the system needs any value. Try this to remove the ChromeBar:
    lipc-set-prop com.lab126.pillow dismissChrome 1

[2012-12-07 13:01] chrox commented on #653
Now ChromeHeaderBar is working after exiting KPV by adding the following entries into appreg.db:

[code]

But this issue is only partially solved. The ChromeTitleBar which displays device name, or book title when reading a book is still not working. I guess its because some part of the booklet cannot extract book title from epub file. Missing the book title the titlebar just dies. I will check tha

[2012-12-07 15:52] chrox commented on #653
Now KPVBooklet is at https://github.com/chrox/KPVBooklet.

[2012-12-07 16:47] houqp commented on #653
awesome! I am installing it now :)

[2012-12-07 17:09] houqp commented on #653
I just downloaded the binary from your repo. It works like a charm :+1:

Now l think we need an auto install script :)

[2012-12-08 09:03] chrox commented on #653
And probably we need an update_kpvbooklet_5.30_install.bin. I will figure out how to pack these things up.

[2012-12-08 21:15] houqp commented on #183
close as it's already implemented by @tigran123

[2012-12-08 21:15] #183 closed, assigned to nobody

[2012-12-12 02:13] houqp opened #660 "PDF files rendered as blank page when missing DroidSansFallback.ttf font"
So in one of our previous issue #542, we decided to kick `DroidSansFallback.ttf` out of KPV distribution. It turns out that mupdf don't buy this and one of my test book is rendered in blank pages ;p

file link:
https://www.dropbox.com/sh/1w3ow4v4t47ioqf/A0j2Etwdso/%E6%95%B0%E5%AD%A6%EF%BC%9A%E7%A1%AE%E5%AE%9A%E6%80%A7%E7%9A%84%E4%B8%A7%E5%A4%B1.pdf

(before you test on emulator, remember to rename

[2012-12-12 02:45] houqp opened #661 "freetype error on nightly build"
`# #! Font cfont (./fonts/droid/DroidSansFallbackFull.ttf) not supported: freetype error`

kind of weird, all of a sudden, DroidSansFallbackFull.ttf is not supported?

[2012-12-12 08:24] tigran123 commented on #660
Confirmed. Ok, let's restore DroidSansFallback.ttf into our distribution.

[2012-12-12 10:03] hwhw commented on #660
I guess that's my fault, I didn't reflect the change to the ...Full font in
the muPDF patch. The muPDF patch essentially makes muPDF use files instead
of compiling the fonts into the library (which we don't want since the
fonts are used in other places, too). But going back is fine for me, too -
I still didn't get to actually check what the ...Full fonts adds.

[2012-12-12 10:12] tigran123 commented on #660
Going back is safer because we don't know exactly what the "Full" version adds. Maybe when/if we find that out, we'll make a decision to switch to it. Ok? Shall I do a PR (I know @houqp is busy with paperwhite support)?

[2012-12-12 12:27] hwhw commented on #660
Of course this is OK. Maybe we should have waited for an issue that could
be fixed by going to the "Full" version before switching in the first
place. So just go on! I just wanted to add a bit of info where the problem
stems from.

[2012-12-12 15:07] chrox opened #663 "Uploads/downloads are deprecated on whole site of Github."
See the official blog: https://github.com/blog/1302-goodbye-uploads

I'm afraid it will be not as easy as before to release KPV binaries.

[2012-12-12 15:33] hwhw commented on #663
Too bad :-( Well, I'll think about alternatives. The obvious being
mobileread forum downloads, but as I've heard, mobileread has some things
in the queue, a different approach to downloads may be feasible there.
OTOH, I have a dedicated server that I could offer. Will need to calculate
needed bandwidth, though... 20.5k downloads for 2012.09 scares me a bit,
but it should be within my per-month lim

[2012-12-12 17:03] houqp commented on #663
Or do a repo mirror in bitbucket? Since they also have download feature.

[2012-12-12 17:05] houqp commented on #660
patch merged, thanks @tigran123 and @hwhw  :)

[2012-12-12 17:05] #660 closed, assigned to nobody

[2012-12-12 18:39] tigran123 commented on #661
I have just done a fresh build (including clone, fetchthirdparty etc) and it completed fine, both for the emulator and ARM.

[2012-12-12 19:10] #661 closed, assigned to nobody

[2012-12-12 19:25] tigran123 commented on #663
And what is to stop us from creating a `bin` directory in the source code and placing distribution .zip files in there? Currently we have pdf files in the `test` directory and I just tested that clicking on the "View Raw" link causes a direct download of the physical file. Presumably this is true not just for pdf but for zip files also?

[2012-12-13 04:28] houqp commented on #663
If we want to put bin in repo, we should create a gh-pages branch for that. It works, but will missed the fun of download counting ;)

[2012-12-13 06:18] chrox commented on #663
The tricky part of downloading binaries from source trees is clicking "View Raw" link. But if someone mistakenly downloads the "blob" one, he/she probably will get a broken zip file which will definitely complicate the installation process. And what's even worse is that the broken part of directly downloaded files is undefined which may brick devices in certain circumstances as @houqp was encounte

[2012-12-13 09:11] tigran123 commented on #663
Ok, then let's do it properly, i.e. by hosting it elsewhere. Let's not risk breaking user's devices or causing any inconvenience.

[2012-12-13 21:50] houqp opened #664 "Dirty widget redraw in new ui code base"
I was playing with the menu widget today and found a problem that I have no idea how to solve without changing part of the core ui code.

So menu widget itself is inherited from FocusManager, which listen on arrow key press and flag itself dirty for redraw.

The flag dirty mechanism is implemented as follow: a widget have to first register itself in the UIManager. Then in `UIManager:run`, UIManage

[2012-12-14 12:53] hwhw commented on #664
IIRC, I made this decision in order to do the repainting in the correct
order - last registered widget is painted last. So the window stack is
indeed a stack - painted from bottom to top.

Maybe the repaint logic must go into the widgets, so widgets keep track of
"dirty" child widgets and do repaint them. So top-level items are childs of
the UI manager, and below that each widget can have and do k

[2012-12-14 15:27] houqp commented on #664
I see, painting order is exactly what I missed ;)

If every registered widget keep track of its children, then probably we need to add a reference to its parent in every child? So children can register as dirty in their parent.

[2012-12-15 13:59] hwhw commented on #664
That's what I thought of. It might come handy in other places, too.
However, it probably means that we need to add childs via an "add" method,
not just as array elements.

I think I'll do a bit of testing and will report back.

[2012-12-15 14:47] houqp commented on #664
Just two quick thoughts regarding :)
- we are adding child via `new` method now, so probably, we can add parent references in that method
- if all children have parent reference, then I might not need to all parents keep track of "dirty" child. When a child called `setDirty`, we can set its parent as dirty instead, which will successfully trigger a redraw.

[2012-12-15 15:53] tigran123 opened #667 "How to enable crengine hyphenation?"
I note that the hyphenation dictionaries are present in KPV distribution in kindlepdfviewer/data/hyph subdirectory (3.8M in size) but are currently unused.

So, we need to figure out how to enable hyphenation in crengine.

[2012-12-18 05:27] chrox opened #668 "Bug in crereader after rotating screen"
After opening EPUB/MOBI files, pressing J/K keys will rotate screen clockwise/counterclockwise respectively. But in the most recent version(gea2bae5) when screen is rotated to landscape the screen is divided to two-columns too, which is an unexpected result. And one has to press PAGE_FORWARD key twice to scroll out one screen.

[2012-12-19 19:01] tigran123 commented on #668
Fix merged into master.

[2012-12-19 19:01] #668 closed, assigned to houqp

[2012-12-19 21:46] tigran123 commented on #667
Good news: I think I have figured it out. I'll test it a bit and will send a PR soon...

Update: it is done in PR #672

[2012-12-20 08:56] kkzxak47 opened #673 "can we change gamma value by input a number directly?"
press +/- more than 10 tims is exhausting...

If I pressed too many times and lost count of it, then it will flash on and on and on... In the precess I cannot do anything about it.

[2012-12-20 09:25] tigran123 commented on #673
What is the file on which you need to increase gamma by pressing Vol+ 10 times?

Besides, even if there was such a file (which I doubt, unless it was deliberately typeset with "light grey on white") you would only have to set gamma once. It is stored in the settings for this book and loaded on re-opening it.

[2012-12-20 10:27] kkzxak47 commented on #673
In Chinese scanned PDF world, such files are more than you could imagine...
Sometimes pages in one file are different in depth of color, I have to do it back and forth from page to page.

[2012-12-20 10:58] tigran123 commented on #673
Ah, I see. Ok, I suppose this feature can be easily implemented.

[2012-12-20 10:59] kai771 commented on #673
@kkzxak47
You can try my fork of KPV, called Librerator. You can get it here:
https://github.com/kai771/kindlepdfviewer/downloads
Although it doesn't have setting gamma by inputing a  number directly (yet), it has a different approach to calculating it than mainstream KPV - instead increasing it 10% to current value, it adds the predefined step. The value of the step can be set editing defaults.lu

[2012-12-21 18:29] tigran123 commented on #667
PR merged into master, closing the issue.

[2012-12-21 18:29] #667 closed, assigned to nobody

[2012-12-22 06:16] houqp opened #679 "page view mode sometimes jump multiple pages on page turn."
I just found out this bug. So far I cannot find a good way to reproduce it, but when you open a document, and keep doing page turn, you will sometimes see the page number on header is incremented by 2 instead of 1.

This is because we are still using position inside document for navigation in page view mode, which is wrong. In page view mode, we should use page number instead.

I fixed this bug in

[2013-01-04 21:49] mayabtlaloc commented on #679
not yet come back from vacation houqp, I can not read well with this bug!!

[2013-01-05 01:08] tigran123 commented on #679
@mayabtlaloc I thought it was just a cosmetic bug whereby the page number (which is meaningless for ebooks anyway) is sometimes shown incorrectly, but the actual text is rendered correctly, i.e. the text on the next "page" follows precisely the text on the current "page". Is this not the case? I.e. is the reader actually showing the WRONG text sometimes? If so, then, yes, it would be a real (not c

[2013-01-05 20:19] kai771 commented on #679
@mayabtlaloc In the meantime, you can try Librerator, my fork of KPV. This bug is corrected there. You can get it [here](http://www.mobileread.com/forums/showthread.php?t=198742).

@tigran123 it's not a "cosmetic" bug.

[2013-01-05 21:35] mayabtlaloc commented on #679
tigran123 It is not really a cosmetic error. the reader is also showing wrong text. I will try "Librerator" , Thanks kai771.

[2013-01-05 22:27] tigran123 commented on #679
@mayabtlaloc Ah, I see, I misunderstood the description. I thought it was only showing the wrong page number in the top right corner. But yes, if it is actually showing the wrong text then it is a critical bug that ought to be fixed.

[2013-01-06 00:11] houqp commented on #679
I will be back the day after tomorrow :)

ATM, I am guiding a new developer through the fixing so he can get familiar with the code base and we can get more developers ;p

For now, I would also recommend you use Liberator since it is fixed there.

[2013-01-06 08:49] mayabtlaloc commented on #679
I've installed liberator (It has very good modifications) and effectively this bug has been fixed. thanks for the efforts of all developers, and also welcome the new developer!

[2013-01-06 09:13] kai771 commented on #679
@mayabtlaloc I'm glad you like it :). And btw, it's Lib **re** rator, and not Lib **er** ator. :). It's on purpose ;)

[2013-01-06 09:53] mayabtlaloc commented on #679
sorry, kai771, you're right, Librerator is very good,  abusing a little, it would not be possible to include option to modify margins in crereader, and enable pdf reflow hyphenation?.  I would like to know your opinion about it

[2013-01-06 10:17] kai771 commented on #679
@mayabtlaloc Nothing to be sorry about :). Margins in crereader might be quite feasible, but I'm not really familiar with crengine api. As I stated a number of times before, I'm not really a developer. I'm just a noob. Some changes to the user interface is the best I can do. If someone finds the needed functions and documents them, I might be able to add it to Librerator. Otherwise, there's nothin

[2013-01-06 10:39] mayabtlaloc commented on #679
Thanks for your response, I think the developers need people like you too, I appreciate your work.

[2013-01-08 12:39] chrox opened #693 "Cannot do full refresh on paperwhite"
Even I use `Screen.fb:refresh(0)` on each page refresh.

[2013-01-08 21:13] houqp commented on #679
Yes, @kai771 is still with us ;p

We still share new fixes and features between kpv and libreator.

OK, fixes is merged to master branch now by #692, so this issue should be closed.

[2013-01-08 21:13] #679 closed, assigned to nobody

[2013-01-09 05:22] houqp commented on #693
Oh, yes, I forgot to add that in einkfb.c ;p

[2013-01-09 06:13] chrox opened #697 "KPV will crash when going into screensaver on paperwhite"
Crash message is like this:

[code]

It seems that pitch of `saved_bb` is not the same with pitch of `Screen.fb.bb`.

[2013-01-09 07:07] chrox commented on #693
Bug fixed in new_ui_code branch.

[2013-01-09 07:07] #693 closed, assigned to nobody

[2013-01-09 07:09] chrox commented on #653
KPVBooklet works fine on firmware 5.12, 5.20, 5.30 and 5.31. So this issue is closed.

[2013-01-09 07:09] #653 closed, assigned to nobody

[2013-01-09 21:28] desowin commented on #98
Run the command houqp posted on my DX and rotated the device a bit. Below is output which indicates that there is lipc-event on auto-rotation.

[01:09:53.511516] com.lab126.hal orientationLeft
[01:09:58.733880] com.lab126.hal orientationFaceUp
[01:09:59.544094] com.lab126.hal orientationUp
[01:10:00.775593] com.lab126.hal orientationFaceUp
[01:10:03.540572] com.lab126.hal orientationRight
[01:10:0

[2013-01-10 02:09] houqp commented on #98
Aha, thanks for reminding me this! This is all I need for detecting auto-rotate in KPV :)

[2013-01-10 06:29] houqp commented on #697
fix attached in #699

[2013-01-10 22:43] dracodoc opened #700 "crengine page mode is slow on opening some epubs"
I found the newest build v2012.11-45-ge183bce is very slow on opening a medium size epub, which is only 1.6M, converted from mobi, "Structure and Interpretation of Computer".

The previous version take about 1 min to open the book, then it will open the book in several seconds as long as kpv is not closed then launch again -- I'm not sure the crengine cache still works after kpv launch again, it w

[2013-01-11 06:04] houqp commented on #700
Could you help me test it in scroll mode also? I want to make sure it's just page mode slows it down.

By editing `default.lua`, you should be able to set default view mode back to scroll mode, that way you can test it in view mode.

Thanks a lot.

[2013-01-11 06:05] johnskiller opened #701 "pdf viewer cannot remember last read position"
when exit pdf viewer from document menu , it can save last read position, but when close cover/use power button to enter screen saver mode, then wake up again it did not back to last opened book, but return to file browser. When open last read pdf again, it show last saved position which was saved from last normal exit, not the position when left for screensaver

posible cause: KPV only save last

[2013-01-11 06:16] houqp commented on #700
Regarding the second bug, you are right, I have added the fix in RP

[2013-01-11 06:30] houqp commented on #701
Are you using the latest code? It should be fixed in this PR: https://github.com/hwhw/kindlepdfviewer/pull/699

[2013-01-11 06:55] johnskiller commented on #701
I'm using kindlepdfviewer-v2012.04.2-585-gc487bd6.zip d/l from https://github.com/chrox/misc/downloads

will check newest version and report back

[2013-01-11 07:21] #697 closed, assigned to nobody

[2013-01-11 08:21] johnskiller commented on #701
yes, it was fixed in kindlepdfviewer-v2012.04.2-593-g3793b97.zip — kindlepdfviewer-touch-nightly-20130110

[2013-01-11 09:16] kai771 commented on #700
@dracodoc Can you please give Librerator a try, too? In Librerator, in page mode go to percent is replaced with go to page. There are a lot of other changes too, and I'm interested to hear your opinion. You can get it [here](http://www.mobileread.com/forums/showthread.php?t=198742).

[2013-01-11 14:02] chrox commented on #701
Bug already fixed in new_ui_code branch. So this issue is closed.

[2013-01-11 14:02] #701 closed, assigned to nobody

[2013-01-11 15:14] dracodoc opened #703 "problem with DX gravity sensor"
With Kindle DX gravity sensor on, when kpv is launched then go to sleep, if I turn on the DX with it in landscape orientation, because there is a small time window of kindle original software in the wake up procedure, the DX will respond to the landscape orientation, i.e. rotate screen, then go back to kpv mode.

The kpv mode will still be in portrait without problem. However, once I quit kpv, the

[2013-01-11 15:20] dracodoc commented on #700
@houqp , I changed the mode to scroll mode after I opened that epub, so I can open it without editing default.lua. I found with newly started kpv (it seemed kpv cannot really use the cache after a new session), it took a long time to open that epub even in scroll mode. My estimate is:
1. old version of kpv: 20 seconds.
2. new version page mode: about 3 mins.
3. new version scroll mode: about 1.5 m

[2013-01-11 15:54] dracodoc commented on #700
@kai771 , I tried Librerator with that epub.
1. the opening speed is same with kpv, i.e. it took 3 mins to open the epub in new session (even it has been opened before and have a cache available). It doesn't matter for scroll mode or page mode. If the cache is working (the epub has been opened in same session), the epub could be opened very quickly again in both modes.
2. the go to page works in L

[2013-01-11 16:01] tigran123 commented on #700
@dracodoc the toc problem is fixed in KPV too, but not yet committed to the master tree.

Concerning the fonts problem --- it is possible that you simply named it incorrectly in the KPV's "fonts" directory but correctly in Librerator's "fonts" directory. Please check that the filenames are exactly identical.

The goto page was fixed in KPV too, it is already committed into master, but no nightly b

[2013-01-11 16:15] dracodoc commented on #700
It's not the problem of file name. When I first reported the problem in mobileread thread, I was comparing two font settings both in KPV. You can try this:
1. put some fonts under kpv fonts folder.
2. go to font setting, tfont, you can see all the droid fonts, host fonts and the custom fonts. Then if you go to rifont, you can only see host fonts.
So there are two kinds of behavior in font settings

[2013-01-11 16:16] kai771 commented on #700
@dracodoc As far as I know, there are no features present in KPV that are not present in Librerator. Some things are done differently, but I tried to make it as configurable as possible. (for example, I prefer old style of "bookmark added" dialog, so that one is the default. But you can have your style if you set DKPV_STYLE_BOOKMARKS to true in defaults.lua.
History files didn't change. You should

[2013-01-11 16:20] dracodoc commented on #700
Yes I noticed that. The first thing I did is to change the bookmark style to KPV style, since that was actually "my style" :PP. I also copied the history files and began to use Librerator.

What I worried is if there are lots of difference between KPV and Librerator, it could very cumbersome to introduce new features into Librerator, and there is only you to do all the work.

[2013-01-11 16:22] houqp commented on #703
No that I know of...

But we just find out a way to capture auto rotate events from framework, I will see what can we do about it.

[2013-01-11 16:26] kai771 commented on #700
@dracodoc Well, yeah, there are a lot of differences... and there will be much more when KPV releases touch support. Of course, there are no guarantees that I won't abandon it tomorrow... but it's open source, so...

Btw, have you tried screen rotation yet? ;)

[2013-01-11 16:32] dracodoc commented on #700
What screen rotation? I noticed there are some changes in the screen rotation key but I didn't try it.

[2013-01-11 16:35] kai771 commented on #700
You can now rotate to landscape and back to portrait using the same key :). Try it. Both J and K work. And if you're interested, do have a look at History on wiki. It is a bit long, but you might find it interesting.

[2013-01-11 16:42] houqp commented on #700
thanks @dracodoc , good to know that it's not page mode that slows everything down. I will take a look at it tonight and also the cache problem.

[2013-01-11 16:43] dracodoc commented on #700
Yeah I skimmed through the history in wiki but didn't really notice the same key rotation. It's great, I like that, because I usually will always use one direction to rotate, so using one key to handle all rotations is good for me. I don't even remember if I suggested this by myself some time ago.

[2013-01-11 16:56] kai771 commented on #700
@dracodoc Yeah, you did... I implemented it specially for you :P.

[2013-01-11 17:27] dracodoc commented on #700
Thanks, I'm honored...

This long discussion actually covered several problems, I'll list them here, maybe submit them separately after a while if they need more time to working on:
1. slow in open epub.
2. epub cache seemed not working between sessions. It could be it is still working but just need some time to read the cache, but I guess it's not the case because some epub cache are quite small

[2013-01-11 18:04] houqp opened #705 "Rename KPV for the new version?"
The new ui code base is gradually getting stable and usable now for Touch devices, which means we might do the first release in the near future. Since KPV is not only a pdf reader any more, I think it is a good opportunity to rename the new version of reader.

Several reasons for the renaming:
- avoid confusions among new users, so they won't think it is just a pdf reader
- avoid confusions among

[2013-01-11 18:09] chrox commented on #705
There seems to be a Unireader project already on Symbian platform. http://www.vladest.org/pdfreader.html

[2013-01-11 18:15] houqp commented on #700
OK, I just did a quick check on font setting. I cannot reproduce it in my DXG, So far I cannot think of a reason why it does not work for you. Very likely this can be fixed by wipe out and re-install KPV from scratch. Or if you really want to help us fix that bug, please pack your whole KPV folder and put the link here.

[2013-01-11 18:31] dracodoc commented on #700
I found the deeper cause of the problem:
1. I replaced one kindle font with Chinese font so that I can see Chinese file name in kindle original software. It was the Serif_Bold.ttf.
2. Once I choose this font as one font setting, this font setting will only recognize host fonts later. Actually it apply to all host fonts. So you can try this: select any host font in one font setting, quit then open

[2013-01-11 18:41] kai771 commented on #705
@houqp
_Currently, the old version is still the best reader for Keyboard devices._
I beg to differ :P

[2013-01-11 18:50] houqp commented on #700
@dracodoc , you should go to bed at this time ;p

Nice found, but I still cannot reproduce it. Following is what I did:
- press `f` to invoke font menu
- press `u` to select font for cfont
- select one of the font
- exit KPV
- start KPV again and try to choose font for cfont

I can still see all the fonts in the font list, did I missed anything?

EDIT: I am going out now, will check back tonight.

[2013-01-11 18:53] houqp commented on #705
@chrox , um... let's come up with another name then...

@kai771 , I mean the old code base. But I won't say librerator is the best either ;p KPV and libre both has its strengths.

[2013-01-11 19:15] kai771 commented on #705
There is no strength that KPV has and Librerator doesn't :P.

But joking aside, Librerator is KPV. Just a tiny bit different.
And if I may join you in brainstorming... what do you think about "TheReader"? Too plain?

[2013-01-11 20:00] mayabtlaloc commented on #705
"Teamreader" or "Unionreader" , maybe ?

[2013-01-11 20:09] dracodoc commented on #700
I'm in U.S. now so it was noon for me :)

First, did you have fonthack? I installed fonthack to show Chinese file name, but I only changed one font to Chinese font.

I tested again, at least host/serif_bold, host/serif_Regular, host/Mono_Regular all have this effect.(I expect more have same result, but every attempt will trap one font into host mode so I didn't try all fonts). You don't even need

[2013-01-11 20:35] kai771 commented on #700
@dracodoc host folder is where KPV mount binds system fonts on start, and unmounts them on exit. That's why it's empty if KPV is not running. If they're not mounted there, KPV would not be able to see system fonts, I think. In that case you would have to copy fonts to fonts folder in order for KPV to find them.

I'm not using fonthack, so I don't know what changes it does to the system.

[2013-01-11 21:44] tigran123 commented on #705
What does @hwhw think about the new name? It is his baby we are thinking about renaming after all..

How about Kindlereader abbreviated as KR?
Or Kreader, again abbreviated as KR?

[2013-01-11 21:49] hwhw commented on #705
It long outgrew my parental sphere, thanks to you all! It started as a
proof-of-concept, mupdf plus a bit of glue code, and look what it has
become! And it really needs a new name - the old one is misleading now.

I'm quite fond of KReader - it would leave out citing the full "Kindle"
name (trademark?), is short (forum post topics!) and very versatile.

[2013-01-11 21:53] dracodoc commented on #700
If the font setting problem is not obvious to solve, I think it's ok to leave it as is. It should only affect fonthack user, and once user know the trap he can avoid using host fonts. If he already selected some host fonts, it can be modified in settings.lua. And the problem about pdf table of content font also can be avoided.

The major problem now is the slow opening of epub, and the cache probl

[2013-01-11 21:54] tigran123 commented on #705
Yes, I forgot that "Kindle" might be a trademark. So, yes, KReader is much safer :)

[2013-01-11 21:58] tigran123 commented on #705
There is a program called kreader but it doesn't matter because it is just some commercial ($500!) stuff for windoz, so it lives in a "different namespace universe" so to speak.

[2013-01-11 22:07] hwhw commented on #705
Not an easy decision, we should definitely sleep one or two nights over
this. I'm not that comfortable with that name clash... Hm. In most cases,
my creative ideas come in the morning, typically when I'm in the shower :-)

[2013-01-11 22:07] kai771 commented on #700
@dracodoc
I downloaded the epub you attached, but can't reproduce your results on my K3 and Librerator R1. It took about 55-57 sec on first opening, if cr3cache was empty. If I close the file and open it immediately after, it takes around 35 seconds. If I close Librerator, and open it again, opening that epub takes a bit less than 50 sec. I measured all this a few times, and got consistent results

[2013-01-11 22:10] tigran123 commented on #705
Ok, let's all think about a good name and Google for it to make sure there is no clash before suggesting.

[2013-01-11 22:26] dracodoc commented on #700
OK, I tested with stopwatch again.
In Kindel DXG, newest nightly build
1.open with cache exists in first time of same kpv session: 64 seconds.
2. close document and open it again in same kpv session: 4 seconds. Your result for cache have something wrong, I always can open cached epub in less than 10 seconds in same session, from the previous version till this version.
3. I deleted the cache, open

[2013-01-11 22:55] kai771 commented on #700
@dracodoc
I tried last official release of KPV (2012.11). Same file, on first opening - 39 sec!
If closed, then opened again immediatelly - less than 2 sec!
If KPV is closed, then started again, and then immediatelly opened your epub - 35 sec.

Now, this is the good part:
If KPV is closed, then started again, and we open some other epub (not the one you attached) and then close it, and then open y

[2013-01-11 22:58] houqp commented on #705
or maybe kimtar for "kimtar is more than a reader" ;p

[2013-01-11 23:12] tigran123 commented on #705
How about GNU Reader = GNUReader? There is nothing called that at the moment and it reflects both the license it is released under and more generally the spirit of freedom and cooperation, like GNU Linux.

(there is a "greader" = unofficial Google Reader for Android, so the abbreviated form "greader" is not available, but I don't see why "GNUReader" should not be considered)

[2013-01-12 00:25] dracodoc commented on #700
Yes I forgot the part of open other epub can "warm up" crengine and make the opening big epub much quicker, I found this behavior before and thought maybe crengine need some time to be loaded into RAM, since at that time the opening time was always less than 1 min, I didn't think there is a problem.

[2013-01-12 03:55] mayabtlaloc commented on #705
I like that, but maybe if we add "k" no problem, "KGNUreader" will shorten as "kgr" , I searched google and there is only something like KGNU that is an independent, non-commercial community radio. It is nothing that relates to readers.!

[2013-01-12 04:50] chrox commented on #705
How about Koreader for Kindle optimized reader?

[2013-01-12 05:53] mayabtlaloc commented on #705
very good too

[2013-01-12 07:03] houqp commented on #700
Aha, I found out the culprit ;p It turns out that most of the time is wasted on loading fonts. Currently, we open a document without setting default font, so crengine will choose one for us, most of the time, it's not what we want. Then latter we read the document config and update the font. Now we load font two times and the first time is useless.

Crengine warm up is also related to font loading

[2013-01-12 07:40] houqp commented on #705
GNUReader, KGNUReader and KOReader all sound good to me :)

For that KGNUReader, we can also use GNUKReader.

[2013-01-12 09:47] eLiNK2gl commented on #705
omnireader?

[2013-01-12 10:22] tigran123 commented on #705
So far I like GNUKReader (gkr) most.

Also, GNUKRF (GNU Kindle Reading Framework) is a possible candidate, dignifying this software with the notion of being "more than just a reader", i.e. it is a whole self-contained "framework" that one can stay in and forget about the original Amazon's framework, like many users do (on DXG I do it myself).

[2013-01-12 10:37] tigran123 opened #707 "Time for a 2013.1 release of KPV?"
Is this a good time for 2013.1 release? Are there any critical fixes still outstanding?

Or should we wait a bit and make both KPV and the new yet to be named version for touch/paperwhite available simultaneously?

Btw, with no upload facility I guess we'll need to wait for the first nightly build of the new release to appear and then point to it from the Wiki page.

[2013-01-12 12:09] milekpl opened #708 "epub file cannot be read"
Some epub files are not supported properly. Try for example the one here:

http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3153846/epub/

[2013-01-12 13:52] tigran123 commented on #708
The standalone CoolReader can't open that file either. And neither can calibre convert it to anything. The only thing I haven't tried is sending to Amazon for conversion to mobi and delivery to Kindle.

[2013-01-12 14:32] houqp commented on #708
Hi @milekpl , as @tigran123 said, I would suggest you fire a bug report for coolreader:
http://sourceforge.net/tracker/?group_id=191284&source=navbar

[2013-01-12 14:33] houqp commented on #705
GNUKRF is a good name for the framework, I like it :)

[2013-01-12 14:39] houqp commented on #651
This is fixed in https://github.com/hwhw/kindlepdfviewer/pull/706

First open required 25s. When the cache is generated, only 2-3s on open. Thanks for report :)

[2013-01-12 14:39] #651 closed, assigned to nobody

[2013-01-12 14:43] houqp commented on #230
I think it won't fail on clean build anymore, can we close it now?

[2013-01-12 14:43] houqp commented on #193
closed since we have moved to `settings.reader.lua`

[2013-01-12 14:43] #193 closed, assigned to nobody

[2013-01-12 14:51] houqp commented on #707
Yes, but maybe wait for a couple of more days? I am not sure whether the page mode is stable enough and we have new commits just landed in master.

As for the new version, it's just working right now and we need some time to stabilize it, so no need to wait for it :)

For upload, we can use bitbucket as a temporary download site, I just created my own ;p
https://bitbucket.org/houqp/kindlepdfviewer

[2013-01-12 16:03] dracodoc commented on #700
@houqp , this is great news! Now the performance is very good! I'll try the patched version now.

I tried it, it took about 1 min (I didn't measue with stopwatch) to open that epub without cache, and about 6 seconds with cache but no warm up. It's very good.

One problem is, when I navigated to some place in page mode, if I switch to scroll mode it will jump to the beginning of the book instead of

[2013-01-12 16:09] tigran123 commented on #707
Ok, let's test it for a few more days. The gamma support in crengine doesn't seem to work properly, i.e. the difference between two values is negligible and even after pressing it 30 times or so (to get to the maximum) it is only very slightly different from the minimum value (or maybe even that is optical illusion?). Maybe we should increase the maximum or increase the step or both?

[2013-01-12 16:16] houqp commented on #707
Maximum seems to be bounded by crengine, but we could change the step to 2 or even higher. I changed the step to 2 in new ui branch for testing purpose, so haven't applied it to master yet. You can try with different value and see which is the best :)

[2013-01-12 16:24] dracodoc commented on #708
My calibre 0.9.9 can open it with ebook viewer and convert it to epub format again. Then my KPV can open the converted epub. The format is not perfect, there are always page break between sections, but it's viewable.

I'm not sure what's the difference before and after the calibre conversion.

[2013-01-12 16:28] tigran123 commented on #708
I must have the older version of calibre (it doesn't even show which version it is in the Help)

[2013-01-12 16:33] houqp commented on #700
Got it. I will fix that bug tonight.

BTW, why your DXG is a lot slower than mine? Did you have other hack running at the same time?

[2013-01-12 16:40] dracodoc commented on #700
I tested again with stopwatch, it's 27 seconds, so my first estimation is way off :PP

Another question, does crengine have to hyphenate? I found Chinese epub with english text will have bad effect with crengine, for example, English text inside parentheses would break early and left a very short line, probably because it cannot recognize English, Chinese and parentheses properly to hyphenate corr

[2013-01-12 17:25] milekpl commented on #708
OK, I filed the bug to CR:

https://sourceforge.net/tracker/?func=detail&aid=3600606&group_id=191284&atid=936756

Adobe Digital Editions opens the file just fine. Also, I converted such .epub files to .mobi somewhere online, but I'd like to use them directly.

[2013-01-12 17:49] milekpl commented on #663
The downloads may go to code.google.com

[2013-01-12 21:07] dracodoc commented on #225
The current build still have a little problem with wall charger. There will be a message "go into usb mode" when kindle is plugged in charger, then the screen changed a little bit. Then it actually can respond to operations and can work normally, but it need a manual refresh to clear the message "go into usb mode".

So it seemed that when kpv decided it is in charging instead of connecting to pc,

[2013-01-13 00:06] mayabtlaloc commented on #707
wish you could fix the gamma. I would be very grateful!

[2013-01-13 04:45] houqp opened #710 "add hyphenation toggle for crereader"

[2013-01-13 04:46] houqp opened #711 "add css selection menu for crereader"

[2013-01-13 04:46] houqp opened #712 "add full screen toggle in crereader"

[2013-01-13 04:52] houqp commented on #700
wow, so many stuffs added to TODO list ;p

I created #710, #711 and #712 to keep track of the feature requests. All of them will be possible. But for the full screen page mode, you might only want to see the native KPV status bar because toggling full screen mode is actually re-typsetting the document and thus is time consuming.

Since we are waiting for the Jan release now, I would prefer to free

[2013-01-13 04:53] houqp commented on #700
closing for now since patch is merged to master.

[2013-01-13 04:53] #700 closed, assigned to nobody

[2013-01-13 04:55] houqp commented on #708
Thanks, does any one know how to subscribe to a issue in sourceforge BTW?

[2013-01-13 04:57] houqp commented on #663
Yeah, code.google.com is also a good place for file hosting. I actually prefer google code, how about others?

[2013-01-13 04:57] dracodoc commented on #710
I think maybe just modify the css to disable hyphenation will be a more general method. I modified my epub.css and saw the difference. So this request is not needed anymore if the css selection is implemented.

[2013-01-13 05:05] houqp commented on #710
Yes, BTW, how did you managed to disable hyphenation in CSS?

[2013-01-13 05:06] houqp commented on #225
I think DXG has a charging event that I can capture. Will look into that tomorrow, don't feel like coding tonight :(

[2013-01-13 05:07] houqp commented on #707
@mayabtlaloc you mean increasing the step?

[2013-01-13 10:49] milekpl commented on #708
There's a Monitor / Unmonitor button on the upper right corner in the bug tracker over there.

[2013-01-13 14:58] dracodoc commented on #710
The original epub.css

---

[code]

---

My modified epub.css

---

[code]

---

[2013-01-13 15:11] dracodoc commented on #700
If the font setting problem will not be solved (since it only affect fonthack user and not many people reported this problem), I'll note this problem in the wiki to tell people who did meet this problem how to avoid it.

It's here
https://github.com/hwhw/kindlepdfviewer/wiki/Usage-Tips
font setting trap for fonthack users

[2013-01-13 15:24] tigran123 commented on #663
I used sourceforge and github and github is definitely better. But I haven't use code.google.com...

[2013-01-13 15:34] tigran123 commented on #710
Implementing a simple toggle for hyphenation is easier than requiring the users to edit their css files or having to supply a bunch of different css files to suit every possible user's wish.

[2013-01-13 15:46] dracodoc commented on #710
I don't understand why you would call adding a toggle in KPV easier than adding one line in css.

The css already defined hyphenation, use an application toggle break css definitions, this is definitely not the right way.

Besides, what if user want to toggle justify, indent and every possible user preference for every different made ebook? Do you have enough time to do all those in toggles? Even

[2013-01-13 15:58] tigran123 commented on #710
I completely agree that loading a custom css file (and remembering the choice in the settings) is a very useful feature.

What I meant was that users shouldn't expect the KPV distribution to ship all different combinations of possible css styles.

[2013-01-13 16:03] houqp commented on #700
Thanks for the tip :)

[2013-01-13 16:03] dracodoc commented on #710
Of course, I didn't suggest KPV to provide all kinds of css, that will be an impossible task. Every user have different preferences, and there are many ebooks made by all kinds of people. The current css can be a very good starting point, user can modify them or learn from other css files.  And current KPV always use its own css to replace the css in ebook, I personally like this approach, but may

[2013-01-13 16:06] houqp commented on #663
It's definitely not as good as github, but if we just want to use it for file hosting, it's fine. @hwhw also has a project hosted on googlecode:
http://code.google.com/p/droidreader/downloads/list

[2013-01-13 16:11] tigran123 commented on #663
I would like to understand how @chrox manages to make nightly builds if the official upload api is gone? What I am saying is that if @chrox way works and will continue to work indefinitely then we have no real problem, i.e. we just wait for the next nightly build to appear (corresponding to a tagged release) and point to it from the Wiki Downloads page.

[2013-01-13 16:12] dracodoc commented on #705
KRF may reminds people KIRF...
This is my suggestions:
1. KReader for original KPV, here K also means Keyboard
2. KReader Touch for the new version, stress the new Touch UI, working for Kindle Touch and Paperwhite, and it's based on Keyboard version KReader.
3. KReader Framework for the framework, and the framework is shared by keyboard version and touch version.

I think it's both ok whether to c

[2013-01-13 18:28] tigran123 commented on #705
Actually the "Touch" suffix is a very good idea, like "Vim" and "Vim Touch" for Android version of Vim. So, why don't we use minimalistic approach and keep "KPV" for the old version and call the new version "KPV Touch"? Here "P" does not have to stand for "PDF" --- in fact, the whole "KPV" doesn't have to stand for anything but just be a proper name.

PS. E.g. in the early 1990s I used to work for

[2013-01-13 19:04] dracodoc commented on #705
I agree, just keep the KPV name and add touch suffix is good enough.

[2013-01-13 22:52] mayabtlaloc commented on #707
houqp : no, I mean the maximum increase much more, because even with the maximum (30) dark tone is very clear

[2013-01-14 01:02] houqp commented on #663
If I remember correctly, the api will be closed after about two months.

[2013-01-14 18:18] mayabtlaloc commented on #705
I do not like, it has to be something more "original", previous seemed better

[2013-01-14 18:27] dracodoc commented on #456
The new build of KPV (@houqp 's epub cache patch build) still have some problem recognizing epub table of contents.
The epub from here have 6 entries in table of contents, but KPV can only see 5 of them, ignoring the first one. Sony T1 can find all 6 without problem.
http://readlists.com/998e160a/
http://readlists.com/998e160a/download/epub

[2013-01-14 19:42] houqp commented on #707
Oh, that won't be a easy task then because we have to dig through coolreader's code. Did you find it unreadable in all your documents or just some?

[2013-01-14 20:09] houqp commented on #456
Thanks again for reminding me this! I previously thought it was a bug from upstream ;p

[2013-01-14 21:04] houqp commented on #705
Yes, the name can be combined with initials that does not mean anything. But wouldn't it be better if they actually mean something? So when someone see GKReader, they instantly know it's a reader :P

[2013-01-14 23:53] mayabtlaloc commented on #707
I do not think it's a code problem, because the gamma coolreader3 works well with the same books

[2013-01-15 01:28] houqp commented on #707
Oh, really? That's strange, because I saw that the maximum gamma value is hard coded in crengine. So you mean coolreader3 can display darker font than KPV?

[2013-01-15 09:23] tigran123 commented on #707
Yes, it does actually. I wanted to show you screenshots to compare, but  I don't know how to make one in coolreader3. Does anyone know?

[2013-01-15 19:58] houqp opened #717 "restore cursor position on highlights"
When user press `N` and there is previous highlights in current page, cursor jumps the end of last highlight so they don't need to always start from the beginning.

[2013-01-15 21:16] houqp opened #718 "Increase maximum font gamma setting for crereader"
As discussed in #707

[2013-01-15 21:17] houqp commented on #707
Ah, no need to do the screenshots, I believe what you guys said ;p

Now we need to figure out how coolreader did this..

A quick grep through the android reader gives me no hint, sigh..

[2013-01-15 21:22] tigran123 commented on #707
I must warn you that it may not be a simple issue of gamma setting, so we may be chasing a wild goose (or red herring) here... Namely, there is only one very "special" version of CoolReader3 (very precious to me due to this fact) that has _ideal_ rendering of very complex fonts like Adobe Garamond Premier Pro. Only this version (i.e. compared to many previous and later versions I tested) has rende

[2013-01-15 21:33] houqp commented on #718
quote from @tigran123

[2013-01-15 21:34] houqp commented on #707
wow, that's very interesting :) Even though I haven't check the full code, I am quite sure that we can patch crengine to render darker font with freetype. But I think this is not the right way to do.

where can we get that "lucky" version of CR3? (would be better if you reply to #718 ;p)

[2013-01-15 21:50] tigran123 commented on #718
Here is this version I am referring to (it is straight from my Kindle, I only deleted Arial and Garamond fonts before uploading):

http://klib.8tar.com/cr3-best-version.zip

File size is 19,619,810 bytes.

[2013-01-15 21:54] houqp commented on #718
Thanks a lot, I will look into that when I am free :)

[2013-01-16 08:28] kfix commented on #705
Just throwing ideas some out here:
FreeK Reader
BookPager
RePager
InkReader
ThinkReader
ReflowReader
MagnaReader
Magnifiche

I would not use GNU in the name unless you want to associate the development with the FSF, who historically demands some say in various license-unrelated matters.

[2013-01-16 11:13] chrox commented on #705
Koreader [kəˈriːdə]
<i>abbreviation for</i> <b>K</b>indle <b>O</b>pen source Reader <i>or</i> <b>K</b>indle <b>O</b>ptimized Reader
An open source reader optimized for Kindle devices, supporting PDF, DjVu, EPUB, MOBI and other major e-book document formats.

Update:
I agree with @kfix. The GNU prefix could make people associate this project with the FSF. Actually I always believe that software nam

[2013-01-16 12:26] kai771 commented on #712
If anyone is interested, this feature is present in Librerator.

[2013-01-16 12:26] kai771 commented on #711
If anyone is interested, this feature is present in Librerator.

[2013-01-16 12:29] kai771 commented on #710
If anyone is interested, you can choose if you want hyphenation on or off by editing defaults.lua in Librerator. You can also specify which style sheet to use with each book, so that trick would work too.

[2013-01-16 12:30] kai771 commented on #673
If anyone is interested, you can change gamma value by inputting a number in Librerator now.

[2013-01-16 12:31] tigran123 commented on #711
If this feature is really worth having then someone would bother porting it to KPV. I, for one, don't think it is worth spending time on it as CoolReader3 for reading fb2 files is still superior to KPV, even with the latest addition of hyphenation and page mode to the latter... The real strength and value of KPV is in the PDF and DjVu area, not in crereader.

But there is no harm in porting it, if

[2013-01-16 12:33] kai771 commented on #573
If anyone is interested, rotation mode is saved per book in Librerator. Opening a book will open it exactly as you left it when you closed it. Portrait is forced in FileChooser by default, but that can be changed editing defaults.lua too.

[2013-01-16 12:34] kai771 commented on #569
If anyone is interested, you can choose a style sheet to use per book in Librerator.

[2013-01-16 12:39] kai771 commented on #181
If anyone's interested, this feature is present in Librerator.

[2013-01-16 12:40] tigran123 commented on #710
Editing defaults.lua is not a solution because it is not easier than editing the css file.

[2013-01-16 12:43] tigran123 commented on #181
The way it is implemented in Librerator is not a feature but a bug. The proper way to implement it is how it is done by Adobe Acrobat Reader for PDF or in djview4 for DjVu files, but that is not trivial. In fact, for DjVu files it is a complete nightmare, whereas for PDF files it can be done, but too much coding to make it worth it...

[2013-01-16 12:46] kai771 commented on #710
It might be a simpler solution for people that don't want hyphenation at all (simpler as in all settings in one file). For those that don't want hyphenation on some books, the solution is to make a copy of epub.css called e.g. epub-no-hyph.css and edit that file as suggested above. Then they can select that css for the books that they don't want to be hyphenated.

[2013-01-16 12:47] kai771 commented on #181
And why is it a bug?

[2013-01-16 12:50] tigran123 commented on #181
Because it is not a support for logical page numbers as I just explained in the previous message. Try Adobe Acrobat Reader (with the pdf files containing logical page numbers) and see how it should work.

[2013-01-16 12:54] kai771 commented on #181
I will, but it still doesn't mean that this implementation is a bug just because there are better ones. I still think that existing working solution is better than non existing perfect solution. The goal was to allow the user to just use Go to 58 when she sees "see page 58" in the text she reads, without needing to calculate it every time.

[2013-01-16 16:11] hwhw commented on #705
I like it (KoReader)!

[2013-01-16 17:46] houqp commented on #705
Same felling, LOL

I would also vote for KoReader :)

[2013-01-16 17:52] tigran123 commented on #705
I disagree about GNU prefix and what comes to mind is Linus Torvalds' words (my paraphrase, probably not accurate) "if you got something out of a free software project and give nothing in return, then you are a pig!" We all got so much out of GNU (not just RMS personally, but the entire concept or "ecosphere" as is now fashionable to call it) that it seems only fair to give back a recognition that

[2013-01-16 20:10] mayabtlaloc commented on #705
It could also give the impression of referring to kobo reader.
But what about if we reverse the order and call: optimized kindle reader, then it would be called "OKreader", it sounds nice, friendly. "OKR".
or also "KUreader" universal Kindle reader, so do not give the impression of something else. "KUR"
Its Just an opinion, if not so, I sympathize with what is agreed.

[2013-01-16 20:24] tigran123 commented on #705
Actually, that is very good! I like OKReader or OKR in abbreviated form. It sounds both nice, friendly and even a little bit funny --- I think we all need a bit of fun sometimes, not to take both ourselves and everything else too seriously...

And it can stand for "Open Kindle Reader", i.e. "open" in the sense of "opensource". Really, so far, imho, OKReader is the best.

[2013-01-16 23:30] otichy commented on #705
What about KindReader or Kinder?

[2013-01-17 09:42] tigran123 commented on #705
I don't like KindReader and Kinder is even worse.

Ok, the "OKReader" may not be the most serious of all names, but it is simple, friendly and funny, doesn't conflict with anything and has a nice abbreviation OKR (close to "OCR" so it will stay in humans' memory once it gets there).

[2013-01-17 15:07] houqp commented on #705
OKR looks good to me too

[2013-01-17 15:12] houqp commented on #707
BTW, @tigran123 , feel free to do the release if you think it's ready. I think I am done with the bugs that I can fix for this release.

[2013-01-17 15:48] tigran123 commented on #707
ok

[2013-01-17 19:26] mayabtlaloc commented on #705
I also agree "Open Kindle Reader" or "Optimized Kindle Reader" it is very good, "OKReader" sounds great!

[2013-01-18 06:05] pkb commented on #708
This epub file has no xml declaration in the epb.opf file this is the reason CR fails to open it.

[2013-01-18 09:13] tigran123 commented on #707
I tagged the release as "v2013.1", so now it is a matter of nightly builds picking it up and we can update the Wiki to point to it.

Update: updated Wiki and announced on mobileread.com and the-ebook.org forums.

[2013-01-18 18:46] houqp commented on #708
nice find @pkb :)

[2013-01-18 21:22] #707 closed, assigned to nobody

[2013-01-18 22:42] th0mass opened #723 "zoom mode and reflow"
I think zoom mode disturbes the reflow process. For example when I try to use reflow when it is on [contentwidth] zoom  mode output will be a mess. How can I set the KPV so that zoom mode of the original view format will not have any effect on the reflow format?
[Touch with the nightly builds ]

[2013-01-21 05:39] cold755 opened #724 "how to back to reflow?"
I open pdf by redear model,and remenber it. but, I want back to reflow modle now.How to do?
(my english is very poor. Hope you can understand what i said.)
thank you

[2013-01-21 08:58] tigran123 commented on #724
You can press `Alt-C` to clear the reader association with this document.

[2013-01-21 08:58] #724 closed, assigned to nobody

[2013-01-21 09:23] johnskiller opened #725 "new_ui crash"
after install newest version from chrox download(kindlepdfviewer-v2013.1.zip), the kpv could not started. crash.log shows:

`lua config error: ./reader.lua:107 error opening input device </dev/input/event1>: 2`

what's wrong?

I'm using kindle paperwhite with firmware 5.3.1

[2013-01-21 09:40] chrox commented on #725
The newest version kindlepdfviewer-v2013.1.zip is for keyboard Kindle not for touch. While you can find the secret build channel for touch at https://github.com/chrox/misc/downloads in which the latest build is kindlepdfviewer-v2012.04.2-621-gf99cea8.zip as for Jan 21.

[2013-01-21 09:57] johnskiller commented on #725
oops, how stupid am I

[2013-01-21 10:06] johnskiller commented on #725
it works. thanks.

[2013-01-21 10:06] #725 closed, assigned to nobody

[2013-01-21 10:15] johnskiller opened #726 "rotate issue for new_ui"
use backdoor to open a pdf with native view, rotate screen then close.
open same pdf with kpv and it was in rotated mode to which is fine.

To show document menu, I have to touch the top of screen, not the left side. the document menu shows at left side which is right but I have to use original position to close it( touch some where near the top of screen)

[2013-01-21 22:39] houqp commented on #726
The touch version cannot handle screen rotate yet, sorry ;p

[2013-01-22 04:16] houqp commented on #663
Just saw it yesterday in a local LUG maillist that github is block by China's GFW. @chrox , can you verify this? I guess the GFW in Beijing blocks more sites than other cities in China....

[2013-01-22 04:47] chrox commented on #663
Yes. The whole site of github.com is blocked in most part of China. I will migrate the nightly builds to google code tonight.

[2013-01-22 14:06] chrox commented on #663
Migration done. Now nightly builds are at https://code.google.com/p/kindlepdfviewer-package/downloads/.

[2013-01-22 14:30] houqp commented on #663
Thanks, I think we can close this now?

[2013-01-22 14:58] chrox commented on #663
Yes. And we will wait to see if the build robot could upload new packages to Google code.

[2013-01-22 14:58] #663 closed, assigned to nobody

[2013-01-22 22:31] houqp commented on #569
closed since feature implemented in master

[2013-01-22 22:31] #569 closed, assigned to houqp

[2013-01-22 22:32] houqp commented on #711
closed since feature implemented in master

[2013-01-22 22:32] #711 closed, assigned to nobody

[2013-01-30 21:30] neharon commented on #632
Add my voice to paperwhite support please.
Thanks.

[2013-01-30 22:04] houqp commented on #632
hi all, PW is in progress, 70% done I think: https://github.com/hwhw/kindlepdfviewer/tree/new_ui_code

I would say reflow and epub is actually usable now, but other features are still under development.

I am working on the screen rotate feature. It's almost done and I will clean up the code in following days.

[2013-01-30 22:10] neharon commented on #632
wait&hope :^)

[2013-02-01 18:29] th0mass opened #731 "return to native system on Touch"
I want to use KPV with the new launcher instead of KPVBooklet. This launcher extension seem to work fine: http://www.mobileread.com/forums/showpost.php?p=2406316&postcount=5  .  However  I need an option to return to the native system

like this item on redaermenu.lua:
table.insert(self.item_table, {
        text = "Return to file browser",
        callback = function()
            UIManager:close

[2013-02-02 17:49] houqp commented on #731
Yep, I am working on it since Kobo also needs this :)

[2013-02-03 06:20] kfix commented on #705
OKReader reminds me of the album "OK, Computer". Catchy

[2013-02-03 15:09] houqp commented on #731
closed as fix merged into master

[2013-02-03 15:09] #731 closed, assigned to nobody

[2013-02-04 22:01] iamscott commented on #181
Perhaps it can be a separate shortcut to jump to a logical page number so that the physical page number functionality is not affected? It looks like iText has logical page number support if that would be helpful as a guide.

This would be extremely helpful for me in using kindlepdfviewer for academic readings, since these are usually journal articles that start on page 1083 or some other nonstanda

[2013-02-05 07:22] th0mass commented on #731
thanks :+1:

[2013-02-07 14:12] houqp commented on #726
close for now since it's fixed in new ui branch

[2013-02-07 14:12] #726 closed, assigned to nobody

[2013-02-07 14:14] houqp commented on #723
um... I am not the reflow expert here, @chrox should have the answer. But I am quite sure he is on vacation right now ;p

[2013-02-17 10:12] chrox commented on #723
For now when switched to reflow mode the zoom mode is set to 'page' but the original zoom mode cannot be restored yet. I will send a PR to restore the original zoom mode after switching from reflow mode to ordinary mode.

[2013-02-17 10:46] chrox opened #744 "Screen getSize returns wrong width on Paperwhite"
Now Screen:getSize() returns

[code]

It ought to be 1024*758. This bug was introduced in #732.

[2013-02-17 16:21] houqp commented on #744
Um, this is very strange, because screen width is calculated as `buf.pitch * 2`, which should be the real line_length for the framebuffer. If I remember correctly, this should be 758. I don't have the device with me right now, will have a look tonight.

[2013-02-18 07:06] houqp commented on #744
Damn, I finally figure out what's happening now... So I have to create a 1024_758 blitbuffer but before updating screen, it needs to be padded with 10px dummy pixels each line in order to fit into kindle's 1024_768 framebuffer.

Why does amazon come up with this strange design ...

[2013-02-18 07:07] th0mass opened #749 "file manager menu on Touch"
when I return from a file to file manager the menu doesn't appear anymore (no problem on the first launch)
since now I can use the home button no problem for me; but it could be problem for the paperwhite users.

used Kindle Touch 5.3.2. and the latest nighly build available(gdb8872c) and launched the app via KUAL

[2013-02-18 08:14] #744 closed, assigned to nobody

[2013-02-18 10:02] chrox commented on #749
This bug is confirmed. As `lipc-set-prop com.lab126.pillow displayChrome true` is not valid when KPV is launched by KUAL, one way to restore the chromeBar is to stop the pillowd process before running kpdf.sh with this command `killall -stop pillowd` and continue pillowd after exiting kpdf with `killall -cont pillowd`. One problem with this workaround is that KPV cannot resume from screensaver aut

[2013-02-18 10:09] chrox commented on #749
@houqp Did you try to save the screensaver by running `killall -cont pillowd` just before the reader resuming from the SS. And did it work?

[2013-02-18 17:33] houqp commented on #749
Hopefully I can test it tonight when I get home. So can we still capture power button events after killed pillowd?

[2013-02-18 18:25] twobob commented on #749
erk... if there is anything we can do "our end" just say the word.

updated the "known issues" to reflect this for now.
http://www.mobileread.com/forums/showthread.php?p=2414040#post2414040

[2013-02-19 02:47] xeonxu commented on #289
How can I get debug messeges on emulator?

[2013-02-19 02:52] chrox commented on #289
You can run reader.lua with debug option like this `./reader.lua -d test`.

[2013-02-19 02:59] houqp commented on #749
Hey, I tried this on my PW, and stop pillowd works fine for me. I am able to switch back and forth between KPV and SS.

[2013-02-19 03:31] xeonxu commented on #289
Perfect. Thank you!

[2013-02-19 04:28] houqp opened #756 "propose on adjusting directory tree structure (new UI branch)"
Currently, I think files inside `frontend` directory is a little bit messy.

The main problem is that all the files are put into `ui` folder.

We now have ui widgets like `menu.lua`, `config.lua`, `botton.lua`, etc. We also have core ui modules like `screen.lua`, `device.lua`, `event.lua`, `inputevent.lua` and `gesturedetector.lua`. Besides these two main categories, we have helper modules like `g

[2013-02-19 05:17] chrox commented on #756
It's a good idea. And the filenames of readerui.lua and ui.lua is confusing. Each time when I want to add a widget controller I have a good chance to open the wrong file. Should we rename ui.lua to uimanager.lua so that the function  of this module can be easily identified?

[2013-02-19 06:29] th0mass commented on #749
Can I propose an extra item for the file manager menu:  return to the current file (ie like a back button)

[2013-02-19 07:15] th0mass opened #759 "hide the technical folders in documents folder."
It would be a good idea to hide the folders  which has a name ends with ".sdr" .  This way navigation through files could be easier.

[2013-02-19 09:16] hwhw commented on #756
I think that's a very good approach. When I started the new branch, I
thought of something like this, a bit Java-style...

[2013-02-19 09:18] hwhw commented on #756
+1 to this, too. The ui.lua file started as a kind of pool, when the
structure wasn't clear yet.

[2013-02-19 11:48] chrox commented on #759
The "sidecar" (sdr) folders are generated by the native system to hold metadata of the documents. So it has nothing to do with KPV. See http://www.blog.asafewebsite.com/2011/06/amazon-kindle-forensics.html

[2013-02-19 12:36] th0mass commented on #759
I know this. what i mean is different: when I use KPV I see this folders on the file manager list. they can be not listed.

[2013-02-19 13:15] tigran123 commented on #759
I would say it is a bad idea to enforce such a policy, at the very least in the Unrestricted mode all directories and files should be visible.

[2013-02-19 13:44] chrox commented on #759
On firmware 5.\* each amazon document (mobi and azw files) will have a "sidecar" folder in the documents directory. One may need to skip several pages of "sidecars" in order to find certain document in KPV's Filemanager. So I think it can be justified to set that policy. Anyway in the future the exclude file pattern should be editable by the users. It will become a filtering mechanism.

[2013-02-19 13:45] chrox commented on #759
And PR is sent in #761.

[2013-02-19 14:55] houqp commented on #749
how about adding a read history page so you can back to more files?

[2013-02-19 15:02] houqp commented on #756
yeah also +1 for uimanager.lua.

[2013-02-19 15:14] houqp commented on #759
I would prefer to add a config entry in `settings.reader.lua` so users themselves can decide what to filter.

[2013-02-19 15:22] chrox commented on #759
Close this issue since PR is merged.

[2013-02-19 15:22] #759 closed, assigned to nobody

[2013-02-19 15:31] chrox commented on #759
We should not expect that all users could edit the src code in a proper way to config the behavior of KPV. Some even don't have a decent text editor to do the job. The ultimate way is to provide a unified interface inside the KPV reader for configuration.

[2013-02-19 15:36] chrox commented on #723
Close this issue since the fix is already merged.

[2013-02-19 15:36] #723 closed, assigned to nobody

[2013-02-19 15:43] houqp commented on #759
yeah, but that has a long way to go. ;p

[2013-02-19 17:04] th0mass commented on #749
that's better :+1:

[2013-02-19 17:33] th0mass commented on #759
Sorry for the misleading title and thanks for your responses.

[2013-02-19 21:58] houqp commented on #749
Can anyone else confirm about the `stop pillowd` hack?

[2013-02-19 22:17] th0mass commented on #749
Adding the "Exit" into "Document menu" could be a temp soln for the paperwhite users.

(these lines into 67th line of the readermenu.lua )

[code]

[2013-02-20 03:28] chrox opened #762 "emulator crashes occasionally when setting up tap timer"
Error info is like this:

[code]

This bug is hard to repeat on emulator. Probably it's even harder on real Kindle.

[2013-02-21 14:23] houqp commented on #762
I saw that crash once a few days ago, probably caused by my recent rewrite of gesturedetector. Will take a look on weekends.

[2013-02-21 14:50] houqp commented on #749
Yes, add "exit" into document menu is a good idea.

Still don't know why chromeBar will prevent file manager from reacting from user tap though, this menu should have no difference compared to the document menu....

[2013-02-21 19:40] twobob commented on #749
I am no expert.

but as I noted here: http://www.mobileread.com/forums/showpost.php?p=2429582&postcount=940

QUOTE:

Noted that the status bar keeps "peeping through" and that the area assigned to the click is also the area assigned to the status bar...

Dropped the **killall -stop cvm** back into my kpdf.sh
(clearly a bit risky but meh I'm testing and I can use ssh access to restart it in the eve

[2013-02-22 11:43] fadrian opened #764 "Nagios alert inquiry (for pc-lvc01 and pc-lvc02)"
Please advise on the following Nagios alerts:

pc-lvc02 11h 26m 26s CRITICAL - 11.3.8.76: rta nan, lost 100%
pc-lvc01 11h 26m 30s CRITICAL - 11.3.8.75: rta nan, lost 100%

[2013-02-22 11:49] hwhw commented on #764
nope, sorry. Try to find the right site to report this, I - and I guess the other developers - don't have the slightest idea what you are talking about.

[2013-02-22 11:49] #764 closed, assigned to nobody

[2013-02-22 12:34] fadrian commented on #764
Thanks, and sorry about the confusion.

Favio Adrian
Computer Operations

International Securities Exchange
60 Broad St., New York, NY 10004
Computer Operations: 212-897-0288  Option 1
Network Operations: 212-897-0284 Option 2

Market Operations: 877-473-9989

Technology Member Services: 212-897-0244

computeroperations@ise.commailto:computeroperations@ise.com
[cid:image001.png@01CA57AF.636D9620]

[2013-02-24 06:50] houqp commented on #749
@twobob thanks for the test. I guess stop pillow is enough to prevent status bar from peeping? Is it necessary to stop the cvm?

[2013-02-24 13:58] chrox opened #769 "Multi-touch gestures needed in new UI branch"
I intend to implement a multi-pages turning function in new_ui_code as a necessary supplement to the standard tap-to-paging way. It's especially useful for browsing and referring certain distant location.

The operation should be as simple as possible. When a "hold" gesture is detected on the right part of the screen, ReaderPaging should remember the current page as the original page. While the ho

[2013-02-24 14:03] chrox commented on #769
As I tested the "hold" gesture I found a way to replicate the "set up tap timer" crash.
With a "hold" gesture not released, an additional "swipe" will make it crash immediately. Error message is as follows:

[code]

[2013-02-24 19:16] houqp commented on #769
This idea is great :) To implement multi-touch, we need to take into account of multiple input slots. Currently, gesturedetector only handles one input slot. I won't have time to play with multi-touch at least in following two weeks, so feel free to hack on it if you want ;p

BTW: I cannot reproduce the crash with my latest PR now. Hopefully, this bug is fixed.

[2013-02-24 19:16] houqp commented on #762
closing for now since I cannot reproduce it anymore.

[2013-02-24 19:16] #762 closed, assigned to nobody

[2013-02-25 20:31] iamscott commented on #181
In the absence of full logical page #s support, would it be possible to copy over the page offset functionality from librerator?

[2013-02-26 04:59] houqp commented on #181
Well, I can implement this feature if you can wait till March 11th. I will have a 1 week holiday at that time.

[2013-02-27 22:50] th0mass opened #775 "a full refresh after exit?"
When I exit it from KPV it doesn't refresh the screen. And even when I use home button once more upper part of the screen remains unchanged.

However [KindleExplorer](https://code.google.com/p/kindle-explorer/) exits smoothly. I think you may want to look at it. I'll try but I have very very little coding info hence it's a hopeless attempt.

using Kindle Touch+KUAL+latest nighly build

[2013-03-01 05:37] houqp commented on #775
That's interesting, will take a look on that next weekend. Thanks for the link :)

[2013-03-01 18:47] iamscott commented on #181
Yes, that sounds great. Let me know if I can help with speccing it out when you're ready to start.

[2013-03-10 09:33] th0mass commented on #749
on the current nightly build I can't use the home button to exit from KPV. file manager menu doesn't appear also. Hence no way to exit KPV on Kindle Touch, too

used Kindle Touch 5.3.2. and the latest nighly build available(20130308) and launched the app via KUAL

[2013-03-11 04:56] houqp commented on #190
scroll mode is added in #781 by @chrox , welcome to give it a try :)

[2013-03-11 05:21] houqp commented on #749
I cannot reproduce this in my KPW and emulator. @th0mass , can you try with the latest code? (you will like it since @chrox added scroll mode for pdf/djvu)

[2013-03-11 05:21] houqp opened #782 "new version release planning"
Um.. I think we are very close to the release now :)

I set up this issue as a check list to keep track of things that need to be done before the release. Feel free to edit it or comment below.
### Todo
- add `default.lua` so user can still use the old one from keyboard branch
### Done
- adapt source tree structure according to #756
- polish UI
  - more user friendly menu widget?
- make the final

[2013-03-11 05:25] houqp commented on #769
since the feature is already added to new ui branch, can we close it now?

[2013-03-11 05:27] chrox commented on #769
Yes. Things left should be detecting more gestures. :)

[2013-03-11 05:27] #769 closed, assigned to nobody

[2013-03-11 05:27] houqp commented on #456
closing for now since it's fixed in master

[2013-03-11 05:27] #456 closed, assigned to nobody

[2013-03-11 11:49] hwhw commented on #782
Hi,

yes, of course I could do a new posting.

I agree, the menu widget should become a bit more user friendly - mainly,
this means a bit more spacing between items and maybe lines in between to
better outline the active areas. This is also true for the file manager, I
think.

I'm still in favor of OKReader, BTW :-)

[2013-03-11 13:46] houqp commented on #782
I also like OKReader, let's leave that as candidate if there is no further objection.

[2013-03-11 17:19] mayabtlaloc commented on #782
I agree also, for me OKReader is the best option.

[2013-03-11 17:26] tigran123 commented on #782
No objections from me on OKReader

[2013-03-11 18:04] th0mass commented on #749
scroll mode is great however the problem still exist on Touch (via KUAL)

[2013-03-11 18:13] houqp commented on #749
That's strange, I will test it again tonight.

[2013-03-11 20:11] dracodoc commented on #190
@houqp , where is the scroll mode? I downloaded the newest nightly build kindlepdfviewer-v2013.1-20-g7ad2c7c, but I didn't find any scroll mode in the help page of kpv. I also didn't find any difference in fit content and fit content width mode.

I looked at the code in #781, it is not included in the latest nightly build I downloaded. Is it in the new UI branch?

[2013-03-11 20:47] houqp commented on #190
Yeah, sorry that the scroll mode is only added to new ui branch ;p

[2013-03-11 20:48] dracodoc commented on #190
Then will the new ui branch support kindle DX when it is released? I imagine there could be some complexities if it need to support both keyboard and touch devices.

[2013-03-11 22:54] houqp commented on #190
Technically, you can run the new version on all kindle devices. Practically, you won't want to do this ;p Because the new release only targets touch device for now. We haven't run it on any non-touch device so far and I suspect some of the features won't work properly as code for keyboard devices are not added yet.

I am afraid fully keyboard device support will probably have to wait for the secon

[2013-03-12 05:50] houqp commented on #749
@th0mass , I tried with the latest KUAL and KPV, still cannot reproduce the bug. I can tap on top to invoke the home menu both before and after I open a book.

What version of KUAL are you using?

[2013-03-12 06:05] houqp commented on #775
Cannot find any special cleanup code in KindleExplorer. My guess would be it's using GTK which does not conflict with the native UI framework. While KPV is using it's own UI framework which takes over framebuffer and all other stuffs from native system.

[2013-03-12 08:00] th0mass commented on #749
0.4 .
just to be sure downloaded and replaced the KUAL kindlet, result is the same.

did you disable the home button intentionally?

[2013-03-12 13:37] chrox opened #788 "cannot return to home screen on paperwhite"
To reproduce this bug you could open a PDF file either with KPVBooklet from the home screen or running directly from SSH. Then press the power button to let the kindle go into screensaver. There is no problem until you press the power button again. For native kindle reader it will prompt the user "swipe to unlock kindle", and for KPV it will return to KPV reader immediately which should be a good

[2013-03-12 15:33] houqp commented on #749
No I haven't touched the filechooser at all. Just checked out the source, strangely, the it wasn't listening to home key press at the beginning... I have no idea why pressing home key works for you before ;P

Anyway, I added the home key event listener now. Also @chrox 's new RP will fix your problem :)

[2013-03-12 17:25] houqp commented on #756
OK, #782 is sent to handle this. Changes included:
- move all widgets under `frontend/ui/widget` dir
- add `dbg.lua` for debug class and functions
- original `widget.lua` is split into:
  - `frontend/ui/widget/base.lua`
  - `frontend/ui/widget/span.lua`
  - `frontend/ui/widget/container.lua`
  - `frontend/ui/widget/text.lua`
  - `frontend/ui/widget/progress.lua`
  - `frontend/ui/widget/group.lua`

[2013-03-12 17:26] tigran123 commented on #782
Is the full TOC tree-navigation support included in the new-ui branch? If not, any reason why not?

[2013-03-12 17:52] houqp commented on #782
@tigran123 , sadly not yet :(

I really like to have it but I cannot think of an elegant way to implement it on current menu widget. Probably we have to write a dedicate tree widget for it. I would like to work on this for next release. But if anyone want to hack on it now, feel free to do so.

[2013-03-12 17:55] tigran123 commented on #782
Ah, I see. Yes, GUI programming is very unusual and difficult (esp. for a kernel hacker :)
I am now struggling with learning Android programming as I am trying to write a learning/testing tool for my School --- something like an interactive book...

[2013-03-12 18:43] houqp commented on #782
Yeah, especially you are writing your own ui framework

BTW, I also plan to learn android to develop an open source device tracking app. ;p

[2013-03-13 02:18] #756 closed, assigned to houqp

[2013-03-13 09:27] th0mass commented on #749
20130313: still the same problem is exist. (home key+file manager menu)

however full refresh is perfect :+1:
thanks for your efforts so far.

[2013-03-13 09:31] th0mass commented on #775
thanks fixed on 20130313 :+1:

[2013-03-13 09:39] th0mass opened #795 "a small problem on manual cropping."
while setting  the active area, the page should be displayed smaller to be able to set the area borders very close to one edge of a page. I personally can't set a border  too close to a screen border on Touch. (landscape mode helps me for now)

[2013-03-13 12:42] chrox commented on #782
I still prefer <i>Koreader</i> to <i>OKReader</i> as the official name of new release. Firstly, the shorter, the better. <i>Ko·read·er</i> is one syllable shorter than <i>O·kay·read·er</i>. And with only one capital letter, <i>Koreader</i> is easier to type than <i>OKReader</i> which will become less pretty in the forms of <i>OKreader</i> or <i>Okreader</i> or <i>okreader</i>. And the words "OK" a

[2013-03-13 12:59] chrox commented on #775
This issue is closed since patch is already merged.

[2013-03-13 12:59] #775 closed, assigned to nobody

[2013-03-13 13:08] chrox commented on #749
@th0mass Did you update your Kindle Touch to firmware version 5.3.2.1? It seems that in this version of firmware the Home key event is not emitted from `/dev/input/event2`. Since the event log of KPV didn't capture the `Home` event at all when one of KPV user pressed the Home button. Could you do me a favor to verify this?

[2013-03-13 13:20] tigran123 commented on #782
Also, OKReader leaves the impression that it is merely "okay" I.e. barely use able, whereas in actual fact it is the most advanced and excellent piece of software technology.

[2013-03-13 13:23] chrox commented on #782
Yes. I cannot agree with you more. And KOReader leaves this impression:
![KO](https://f.cloud.github.com/assets/751535/253787/1ba31986-8be1-11e2-902e-551592f1e81d.jpg)

[2013-03-13 13:32] hwhw commented on #782
I like the "companion" touch of "Koreader", too. And Tigran, you have a
point there. However, I get the impression we might be overthinking this.
Bikeshed coloring :-)

[2013-03-13 15:50] houqp commented on #782
LOL, nice pic @chrox

I am OK with both names. The only thing that bothers me is they are bounded with kindle, but our reader can run (and already is running) on other linux eink devices. But I can live with that ;p

[2013-03-13 15:53] houqp commented on #782
After mentioned linux and eink in the above comment, leviewer or lereader suddenly jumped into my mind. It also sounds like leetviewer/reader ;p

[2013-03-13 16:03] houqp commented on #749
@th0mass , it will also be very helpful if you can use `evtest` command to help us find out which file is emitting home key event :)

[2013-03-14 16:15] th0mass commented on #749
@chrox yes it is 5.3.2.1

@houqp is it sufficient to write evtest in kterm?

[2013-03-14 16:36] houqp commented on #749
@th0mass , yes, just type it in the terminal:

[code]

Then press home key to see if it gives any output

[2013-03-14 16:38] th0mass commented on #749
![Ads z](https://f.cloud.github.com/assets/1252713/259744/3aa505a8-8cc5-11e2-889a-2929b38a1320.png)

[2013-03-14 16:47] houqp commented on #749
So /dev/input/event2 does emit home key event... Could you also help us verify this bug does not exist in previous working version? I want to make sure this is a bug introduced by recent commits in KPV, not the update from amazon.

[2013-03-14 16:49] th0mass commented on #749
ok, will try now

[2013-03-14 16:54] th0mass commented on #749
home button works on gdb8872c (20130217)
works on 20130225
not works on 20130304  <<<
not works on 20130306
not works on 20130308

[2013-03-14 19:27] houqp commented on #749
Awesome, that information is very helpful!

Could you also check 20130228?

[2013-03-15 01:17] houqp commented on #749
OK, eureka at mobileread has found out which line causes the bug. Thanks a lot for your help @th0mass :)

[2013-03-15 02:58] houqp commented on #749
closing for now since patch is merged.

[2013-03-15 02:58] #749 closed, assigned to nobody

[2013-03-15 08:55] th0mass commented on #749
sorry I forgot to write it here, home button works on 20130228 also..
thanks for fixing it.

[2013-03-15 09:03] houqp commented on #795
you mean manual cropping?

[2013-03-15 09:21] th0mass commented on #795
yes.
(I fixed the title, sorry)

[2013-03-15 09:32] houqp commented on #795
Yeah, I also have the same problem.

@chrox , could you take a look at it? I really should go to sleep now ;p

[2013-03-15 17:55] houqp opened #801 "Add Image document backend"
Totally forgot to port Tigran's picviewer to new ui branch....

Since we are close to release now, will probably leave it to next release

[2013-03-15 18:21] houqp opened #802 "switch default branch on github to new ui branch"
master is some how under maintenance mode now, should we switch the default branch on github to new_ui_code?

I cannot see the project setting tab. So seems that only @hwhw can make the changes, it should be under the fork button BTW :)

[2013-03-16 12:48] clenton commented on #802
it is a good idea

[2013-03-17 02:02] houqp commented on #802
another choice will be we factor out the core backend part and split the project into three repos:
- kpv-core
- kpv
- koreader

For that, we should better create an organization page so we can also include all the other forks of KPV and @chrox 's KPVBooklet.

[2013-03-17 02:09] chrox commented on #795
Now fine tuning of bbox size is implemented with a swipe gesture around the four edges of the box. You can give it a try with the latest nightly build.

[2013-03-17 02:09] chrox commented on #795
Patch already merged, so this issue is closed.

[2013-03-17 02:09] #795 closed, assigned to nobody

[2013-03-17 02:12] chrox commented on #788
Anybody knows that if there is a lipc command that could wake up Kindle directly from screensaver without the "swipe to unlock" touch?

[2013-03-17 02:52] chrox commented on #802
I think the second choice is better to eliminate the confusion of these projects. And in this way we could resolve this matter once and for all.

[2013-03-17 03:02] houqp commented on #802
@hwhw , @dpavlin @tigran123 , what do you guys think about that? This idea come into me when I notice that it could be weird when some searching koread and google gives out the link: https://github.com/hwhw/kindlepdfviewer

If we take this approach, we should do it ASAP because release will likely be in next week and we need to have more time for testing.

[2013-03-17 03:15] houqp commented on #788
cannot reproduce this, do I need to stay in SS for long enough period of time?

[2013-03-17 03:21] chrox commented on #788
No, I press the power button in KPV reader to send the device to screensaver and press the power button again in the screensaver. It will switch back to KPV reader directly but now I cannot return to the home screen any more unless I touch the bottom of the screen.

p.s. Launching KPV from KPVBooklet and SSH both have this problem.

[2013-03-17 03:52] houqp commented on #788
strangely, i even cannot see the swipe to unlock screen in native system... I remember saw it once long time ago...

you should probably ask this in MR ;p

[2013-03-17 03:57] chrox commented on #788
Oh, I forgot to say that my Kindle includes special offers or ads.

[2013-03-17 04:06] houqp commented on #788
Aha, I see, I have never connected my PW to internet since I reset it...

[2013-03-17 06:32] chrox commented on #788
How about sending a fake touch event at the screen bottom when lipc-wait-event get a outOfScreenSaver event?

[2013-03-17 11:45] chrox commented on #788
The fake tap hack works on Paperwhite. But I didn't test it on KT. Hope it will also work. PR sent at #811.

[2013-03-17 12:45] hwhw commented on #802
So many great additions lately. Yes, I guess it's time to change. I'll need
to do a close look on how to do this repository maintenance - I'll only
have time for that in ~30 hours, sorry. But of course I'll look into it. I
agree that the release point is likely in the next week - all is very well
prepared for that. Thank you all so much.

[2013-03-17 15:57] houqp commented on #802
Thanks @hwhw, 30 hours should be enough :) I think it won't take too much work. Probably put all the document render related modules and dependencies into a core repo, then use that as a submodule in both old/new code base repo.

We probably don't want to put the input and eink module into core because it diverges too much in both branches.

[2013-03-17 15:59] houqp commented on #788
closing for now.

[2013-03-17 15:59] #788 closed, assigned to nobody

[2013-03-18 07:30] th0mass commented on #795
thanks for fixing this, not tried yet though

[2013-03-18 20:12] houqp commented on #802
we might not need this, but in case we do, following is a post on how to move subdirectories into repositories.
http://airbladesoftware.com/notes/moving-a-subdirectory-into-a-separate-git-repository

EDIT: also this link:
https://help.github.com/articles/splitting-a-subpath-out-into-a-new-repo

[2013-03-20 08:26] hwhw commented on #802
I'm still reading up on git-rebase and stuff.

Then I'll need to check what to split into which repository.

[2013-03-20 08:56] th0mass opened #814 "unable to return to the native system :("
the problems stated on #749 still valid :(
home button works but returns to file manager of KPV (not to the original system)
file manager menu still not appear except from the just after the launch of the app.

using 5.3.2.1 -KUAL- -20130320

[2013-03-20 16:32] houqp commented on #814
OK, let me test it again tonight ;p

So KT user can get around with home key right?

[2013-03-20 16:35] houqp commented on #802
Let us know if there is anything we can help with :)

ownClound community is recently splitting their repo now using the second link I posted above. Seems to work pretty well :)

[2013-03-20 17:09] th0mass commented on #814
unfortunately not. home button opens the "KPV  file manager " not the native one. only way is the hard reset. (like the home button in the reader menu)

[2013-03-21 07:36] hwhw commented on #802
A bit restructuring will be needed - specifically it's factoring out the
"core", i.e. the Lua-C-API that is shared between old and new UI. And I
guess that LuaJIT, muPDF, djvulibre and creengine might also be included by
that "core" part, but then it might be enough to only separate out our own
"core" and have the "old" KPV include those third-party libs as well as the
"new" Koreader.

If someone

[2013-03-21 15:17] houqp commented on #802
Will give it a try when I have time :)

I am trying to create an organization in github to hold all the repos. Unfortunately, KPV has already been taken, how name like `OpenEink`?

[2013-03-21 15:40] tigran123 commented on #802
Eink might be a trademark. And OpenInkpot is already taken.
On 21 Mar 2013 15:17, "{Qingping,Dave} Hou" notifications@github.com
wrote:

[2013-03-21 15:53] houqp commented on #814
Um... Could you help me this it by replacing the reader.lua(under KPV root dir) with following content?
https://raw.github.com/houqp/kindlepdfviewer/7f32b427ea27e360841d7d83a81795c862f6ac3f/reader.lua

It exit the reader, instead of invoking the menu on home key press.

What I have found out so far is after exit from a document and wait an unreasonably long time, the menu start to working again. S

[2013-03-21 15:59] houqp commented on #802
wow, just checked it out, openinkpot is a very interesting project :)

How about using the new name KOReader?

[2013-03-23 07:12] chrox opened #815 "readers crash when paging from TOC"
I didn't reproduce this bug in the emulator. But it happened in both pdf reader and epub reader on Kindle. Debug info says

[code]

or simply: `Segmentation fault`.

[2013-03-23 11:29] th0mass commented on #814
tried after resetting kindle to factory defaults in case some changes in Kindle cause this problem.
now it exits in both reader.lua but the existing one exits but not replaces the  chrome bar
the one you give the link above exits without any problem so far. ( but I guess we need some feedback from a different Kindle Touch )

edit:  both the home button stop responding and the upper menu in the fil

[2013-03-23 13:28] chrox commented on #815
And more tests show that it crashes much more often in landscape mode than portrait mode. You can reproduce it by opening any pdf documents with TOC information and just selecting several TOC entries. It will crash randomly with these info:

[code]

or

[code]

or

[code]

or

[code]